n8n/n8n_analyse_generator_workflow_v4.json
{
  "name": "Capitovo Analyse Generator v4 - Final",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 400]
    },
    {
      "parameters": {
        "jsCode": "// === EINGABE-DATEN ===\n// Hier die Aktie eintragen, die analysiert werden soll:\n\nreturn {\n  json: {\n    company: 'Apple',\n    ticker: 'AAPL',\n    exchange: 'NASDAQ',\n    sector: 'Technologie',\n    currency: 'USD',\n    slug: 'apple',\n    \n    // Optional: Infos zur letzten Analyse (für Serien-Logik)\n    lastAnalysisDate: null,  // z.B. '2025-12-15'\n    lastAnalysisHighlights: null  // z.B. 'Fokus auf iPhone 16 Launch'\n  }\n};"
      },
      "id": "input-data",
      "name": "1. Input Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// Validierung\nconst required = ['company', 'ticker', 'exchange', 'sector', 'currency'];\nconst missing = required.filter(f => !input[f]);\n\nif (missing.length > 0) {\n  throw new Error(`Fehlende Pflichtfelder: ${missing.join(', ')}`);\n}\n\nconst slug = input.slug || input.company.toLowerCase().replace(/[^a-z0-9]+/g, '-');\nconst date = new Date().toISOString().split('T')[0];\n\n// Serien-Kontext aufbauen\nlet seriesContext = '';\nif (input.lastAnalysisDate) {\n  seriesContext = `\\n\\n**SERIEN-KONTEXT:**\\nLetzte Analyse: ${input.lastAnalysisDate}\\n`;\n  if (input.lastAnalysisHighlights) {\n    seriesContext += `Schwerpunkte damals: ${input.lastAnalysisHighlights}\\n`;\n  }\n  seriesContext += `Vergleiche explizit mit dieser vorherigen Analyse und benenne Veränderungen.`;\n} else {\n  seriesContext = `\\n\\n**SERIEN-KONTEXT:**\\nDies ist die erste Analyse zu diesem Unternehmen in der Serie. Etabliere eine solide Basis für künftige Vergleiche.`;\n}\n\nreturn {\n  json: {\n    ...input,\n    slug,\n    date,\n    seriesContext,\n    isFirstAnalysis: !input.lastAnalysisDate\n  }\n};"
      },
      "id": "input-validator",
      "name": "2. Input Validator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [620, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// FINALER STEUER-PROMPT v6 - INSTITUTIONAL GRADE\n// =====================================================\n\nconst systemPrompt = `Du agierst als Senior Equity Research Analyst mit Fokus auf fundamentale Unternehmensanalyse.\nDein Output muss dem Qualitätsstandard institutioneller Sell-Side-Research entsprechen.\n\nANALYTISCHER ANSPRUCH\n\nNicht beschreiben, sondern analysieren. Jeder Absatz muss eine der folgenden Fragen beantworten:\n- Warum ist das so? (Ursache)\n- Was folgt daraus? (Wirkung)\n- Unter welchen Bedingungen ändert sich das? (Sensitivität)\n\nKeine Paraphrasierung bekannter Marktargumente. Eigenständige Hypothesen und Wirkzusammenhänge entwickeln.\n\nBEWERTUNGSMETHODIK\n\nKennzahlen allein sind keine Analyse. Bewertungseinordnung erfordert:\n- Klaren Bewertungsanker (z.B. normalisierte Ertragskraft, Kapitalrendite vs. Kapitalkosten)\n- Unterscheidung zwischen zyklischer und struktureller Bewertungskomponente\n- Einordnung der impliziten Markterwartung\n\nCOMPLIANCE (zwingend)\n\nVerboten:\n- Anleger sollten, eignet sich für, attraktiv, lohnend, interessant\n- Kauf, Verkauf, Einstieg, Ausstieg\n- Empfehlungen jeder Art, auch implizit\n- Journalistische Phrasen: Win-win, Hoffnungen ruhen auf, gibt Schub\n\nErlaubt:\n- wird typischerweise von langfristig orientierten Marktteilnehmern gehalten\n- historisch wurde die Aktie mit einem Premium/Discount gehandelt\n- die implizite Wachstumserwartung liegt bei X Prozent\n\nSPRACHE\n\nNüchtern, präzise, institutionell. Kein journalistischer Stil.\nKeine Leseransprache. Keine Metakommentare.\nFließtext ohne Aufzählungen im Hauptteil.`;\n\nconst userPrompt = `Erstelle eine institutionelle Unternehmensanalyse für ${input.company} (${input.ticker}), börsennotiert an der ${input.exchange}, Sektor: ${input.sector}.\n\nANALYTISCHER KERN\n\nFormuliere zu Beginn eine zentrale analytische These zum Unternehmen. Beispiele:\n- Transition von Hardware zu Services als Bewertungstreiber\n- Kapitalallokation und Aktienrückkäufe als Werttreiber\n- Regulatorisches Risiko als struktureller Bewertungsabschlag\n- Ökosystem-Lock-in als Quelle überdurchschnittlicher Kapitalrenditen\n\nDiese These zieht sich als roter Faden durch die gesamte Analyse.\n\nSTRUKTUR\n\n1. Einordnung und zentrale These\nMarktposition, Wettbewerbskontext, Branchenphase. Dann die zentrale analytische These formulieren und begründen.\n\n2. Geschäftsmodell\nUmsatzsegmente mit Anteilen, Wertschöpfungslogik, geografische Exposition. Fokus auf strukturelle Wettbewerbsvorteile und deren Dauerhaftigkeit. Ursache-Wirkung: Warum existiert der Moat? Unter welchen Bedingungen erodiert er?\n\n3. Fundamentale Entwicklung\nUmsatz, Margen (Brutto, EBIT, Netto), Free Cashflow, ROIC, Kapitalstruktur. Nicht nur Zahlen nennen, sondern Treiber analysieren. Was erklärt die Margenentwicklung? Wie nachhaltig ist die Kapitalrendite?\n\n4. Bewertungseinordnung\nMethodisch sauber, nicht nur Kennzahlen sammeln:\n- KGV, EV/EBITDA, FCF-Yield mit konkreten Zahlen\n- Historischer Vergleich: aktuelles Multiple vs. 5-Jahres-Durchschnitt\n- Peer-Vergleich: 2-3 Wettbewerber mit deren Multiples\n- Implizite Markterwartung: Welches Wachstum ist im aktuellen Kurs eingepreist?\n- Kapitalrendite vs. Kapitalkosten: Liegt ROIC über WACC? Was impliziert das?\n\nKeine Aussage zur Attraktivität. Nur: was der Markt erwartet vs. was fundamental plausibel erscheint.\n\n5. Wachstumstreiber und Risiken\nNicht auflisten, sondern gewichten und verknüpfen. Welche Faktoren haben den größten Hebel auf den Unternehmenswert? Symmetrische Darstellung von Chancen und Risiken.\n\n6. Strukturelle Einordnung\nCharakterisierung ohne Empfehlung:\n- Typisches Halter-Profil (nicht: eignet sich für)\n- Zyklizität und Marktsensitivität\n- Offene Fragen und Unsicherheiten\n\nAbschluss: Diese Analyse dient ausschließlich Informationszwecken und stellt keine Anlageberatung im Sinne des WpHG dar.\n\n7. Quellen\nPrimärquellen priorisieren:\n- Geschäftsbericht / Form 10-K / Annual Report (Jahr angeben)\n- Investor Relations Präsentationen\n- SEC Filings / regulatorische Dokumente\n- Statista, IDC, Counterpoint für Marktdaten\n\nSekundärquellen (Börsenportale, Nachrichtenseiten) nur ergänzend, nicht als Hauptquelle.\n\nOUTPUT\n\nReiner Text. Keine HTML-Tags, kein Markdown, keine Code-Blöcke.\nStruktur über nummerierte Überschriften im Klartext.\nMindestens 1.500 Wörter.\nJeder Abschnitt muss analytischen Mehrwert bieten, nicht nur beschreiben.`;\n\nreturn {\n  json: {\n    ...input,\n    systemPrompt,\n    userPrompt\n  }\n};"
      },
      "id": "prompt-builder",
      "name": "3. Prompt Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.2,\n  \"max_tokens\": 8000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": {{ JSON.stringify($json.systemPrompt) }}\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.userPrompt) }}\n    }\n  ],\n  \"return_citations\": true,\n  \"search_recency_filter\": \"week\"\n}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "perplexity-api",
      "name": "4. Perplexity API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1060, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $('3. Prompt Builder').item.json;\nconst response = $input.item.json;\n\n// API-Fehler abfangen\nif (response.error) {\n  throw new Error(`Perplexity API Fehler: ${response.error.message || JSON.stringify(response.error)}`);\n}\n\nconst content = response.choices?.[0]?.message?.content || '';\nconst citations = response.citations || [];\nconst usage = response.usage || {};\n\n// Wörter zählen\nconst wordCount = content.split(/\\s+/).filter(w => w.length > 0).length;\n\nreturn {\n  json: {\n    ...input,\n    rawContent: content,\n    citations,\n    tokensUsed: (usage.prompt_tokens || 0) + (usage.completion_tokens || 0),\n    wordCount\n  }\n};"
      },
      "id": "content-extractor",
      "name": "5. Content Extractor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1280, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// COMPLIANCE CHECK - Strenge Prüfung auf Verbotenes\n// =====================================================\n\nconst content = (input.rawContent || '').toLowerCase();\nconst contentOriginal = input.rawContent || '';\n\n// Verbotene Phrasen (exakt)\nconst forbiddenPhrases = [\n  'einstieg könnte sinnvoll',\n  'ausstieg könnte erwogen',\n  'einstieg könnte sich lohnen',\n  'kaufen',\n  'verkaufen',\n  'halten',\n  'buy',\n  'sell',\n  'hold',\n  'kursziel',\n  'price target',\n  'fair value',\n  'fairer wert',\n  'unterbewertet',\n  'überbewertet',\n  'fair bewertet',\n  'attraktiv bewertet',\n  'unattraktiv',\n  'sicherheitsmarge',\n  'margin of safety',\n  'rechtfertigt die bewertung',\n  'rechtfertigen die bewertung',\n  'bewertung rechtfertigt',\n  'zu teuer',\n  'zu günstig',\n  'bietet potenzial',\n  'anleger sollten'\n];\n\n// Erlaubte Kontexte (wenn diese Wörter in diesem Kontext stehen, ist es OK)\nconst allowedContextPatterns = [\n  /morgan stanley.{0,30}(kursziel|kaufen|halten|verkaufen)/gi,\n  /goldman sachs.{0,30}(kursziel|kaufen|halten|verkaufen)/gi,\n  /jp morgan.{0,30}(kursziel|kaufen|halten|verkaufen)/gi,\n  /ubs.{0,30}(kursziel|kaufen|halten|verkaufen)/gi,\n  /barclays.{0,30}(kursziel|kaufen|halten|verkaufen)/gi,\n  /citigroup.{0,30}(kursziel|kaufen|halten|verkaufen)/gi,\n  /bernstein.{0,30}(kursziel|kaufen|halten|verkaufen)/gi,\n  /analyst.{0,50}(kursziel|stuft|bewertet)/gi\n];\n\nlet violations = [];\n\nfor (const phrase of forbiddenPhrases) {\n  if (content.includes(phrase)) {\n    // Prüfe ob im erlaubten Kontext\n    const index = content.indexOf(phrase);\n    const contextWindow = content.substring(Math.max(0, index - 80), Math.min(content.length, index + 80));\n    \n    let isAllowed = false;\n    for (const pattern of allowedContextPatterns) {\n      if (pattern.test(contextWindow)) {\n        isAllowed = true;\n        break;\n      }\n    }\n    \n    if (!isAllowed) {\n      violations.push(phrase);\n    }\n  }\n}\n\n// Deduplizieren\nviolations = [...new Set(violations)];\n\nconst compliancePassed = violations.length === 0;\n\n// Wortanzahl prüfen\nconst wordCount = input.wordCount || 0;\nconst lengthPassed = wordCount >= 1200; // Mit etwas Toleranz\n\n// Quellen prüfen\nconst citationCount = input.citations?.length || 0;\nconst hasEnoughSources = citationCount >= 2;\n\n// Qualitätsscore berechnen\nconst qualityScore = Math.min(10, Math.round(\n  (compliancePassed ? 4 : 0) +\n  (lengthPassed ? 2 : 0) +\n  (wordCount >= 1400 ? 1 : 0) +\n  (hasEnoughSources ? 2 : 0) +\n  (citationCount >= 4 ? 1 : 0)\n));\n\nlet qualityComment = '';\nif (!compliancePassed) {\n  qualityComment = `⚠️ COMPLIANCE-VERSTOSS: Verbotene Phrasen gefunden: ${violations.join(', ')}`;\n} else if (!lengthPassed) {\n  qualityComment = `⚠️ Zu kurz: Nur ${wordCount} Wörter (Minimum: 1400)`;\n} else {\n  qualityComment = `✅ Analyse compliant. ${wordCount} Wörter, ${citationCount} Quellen.`;\n}\n\nreturn {\n  json: {\n    ...input,\n    compliancePassed,\n    complianceViolations: violations,\n    lengthPassed,\n    hasEnoughSources,\n    qualityScore,\n    qualityComment\n  }\n};"
      },
      "id": "compliance-check",
      "name": "6. Compliance Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// HTML RENDERER - Konvertiert Klartext zu HTML\n// =====================================================\n\nfunction textToHtml(text) {\n  let html = text\n    // HTML-Entities escapen\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    // Nummerierte Überschriften erkennen (1. Titel, 2. Titel etc.)\n    .replace(/^(\\d+)\\.\\s+([^\\n]+)$/gm, '</p><h2>$2</h2><p>')\n    // Absätze bei Doppel-Zeilenumbrüchen\n    .replace(/\\n\\n+/g, '</p><p>')\n    // Einzelne Zeilenumbrüche als Leerzeichen\n    .replace(/\\n/g, ' ');\n  \n  // Wrapper\n  html = '<p>' + html + '</p>';\n  \n  // Cleanup: Leere Paragraphen entfernen\n  html = html.replace(/<p><\\/p>/g, '');\n  html = html.replace(/<p>\\s*<h/g, '<h');\n  html = html.replace(/<\\/h2>\\s*<\\/p>/g, '</h2>');\n  html = html.replace(/<p>\\s*<\\/p>/g, '');\n  html = html.replace(/\\s+/g, ' ');\n  \n  return html.trim();\n}\n\nconst htmlContent = textToHtml(input.rawContent || '');\n\n// Quellen aus Perplexity citations\nlet sourcesHtml = '';\nif (input.citations && input.citations.length > 0) {\n  sourcesHtml = `\n    <aside class=\"sources-section\">\n      <h3>Quellen</h3>\n      <ol class=\"sources-list\">\n        ${input.citations.map((url, i) => {\n          try {\n            const domain = new URL(url).hostname.replace('www.', '');\n            return `<li><a href=\"${url}\" target=\"_blank\" rel=\"noopener noreferrer\">${domain}</a></li>`;\n          } catch {\n            return `<li><a href=\"${url}\" target=\"_blank\" rel=\"noopener noreferrer\">${url}</a></li>`;\n          }\n        }).join('\\n        ')}\n      </ol>\n    </aside>`;\n}\n\nconst dateObj = new Date(input.date);\nconst formattedDate = dateObj.toLocaleDateString('de-DE', {\n  day: '2-digit',\n  month: 'long',\n  year: 'numeric'\n});\n\nconst html = `<!DOCTYPE html>\n<html lang=\"de\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <title>${input.company} (${input.ticker}) – Unternehmensanalyse | capitovo</title>\n  <meta name=\"description\" content=\"${input.company} (${input.ticker}) Unternehmensanalyse: Geschäftsmodell, Fundamentaldaten, Bewertungseinordnung. Equity Research von capitovo.\">\n  <meta name=\"robots\" content=\"noindex, nofollow\">\n  <link rel=\"stylesheet\" href=\"../style.css\">\n  <style>\n    :root {\n      --text-primary: #1a1a1a;\n      --text-secondary: #4a5568;\n      --text-muted: #718096;\n      --border-color: #e2e8f0;\n      --bg-subtle: #f7fafc;\n      --accent: #2563eb;\n    }\n    .analysis-container { max-width: 48rem; margin: 0 auto; padding: 2rem 1.5rem; }\n    .analysis-header { margin-bottom: 2.5rem; padding-bottom: 1.5rem; border-bottom: 1px solid var(--border-color); }\n    .analysis-meta { display: flex; flex-wrap: wrap; gap: 0.75rem; font-size: 0.875rem; color: var(--text-muted); margin-bottom: 1rem; font-family: -apple-system, BlinkMacSystemFont, sans-serif; }\n    .analysis-meta span:not(:last-child)::after { content: '·'; margin-left: 0.75rem; }\n    .analysis-title { font-size: 2rem; font-weight: 700; color: var(--text-primary); line-height: 1.25; margin: 0 0 0.75rem 0; font-family: -apple-system, BlinkMacSystemFont, sans-serif; }\n    .analysis-subtitle { font-size: 1.125rem; color: var(--text-secondary); margin: 0; }\n    .analysis-body { font-family: Georgia, 'Times New Roman', serif; font-size: 1.0625rem; line-height: 1.8; color: var(--text-primary); }\n    .analysis-body h2 { font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-size: 1.25rem; font-weight: 600; color: var(--text-primary); margin: 2.5rem 0 1rem 0; padding-bottom: 0.5rem; border-bottom: 1px solid var(--border-color); }\n    .analysis-body h2:first-of-type { margin-top: 0; }\n    .analysis-body p { margin: 0 0 1.25rem 0; text-align: justify; hyphens: auto; }\n    .sources-section { margin-top: 3rem; padding-top: 1.5rem; border-top: 1px solid var(--border-color); }\n    .sources-section h3 { font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-size: 0.9375rem; font-weight: 600; color: var(--text-secondary); margin: 0 0 1rem 0; }\n    .sources-list { list-style: decimal; padding-left: 1.25rem; margin: 0; font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-size: 0.875rem; }\n    .sources-list li { margin: 0.375rem 0; color: var(--text-muted); }\n    .sources-list a { color: var(--accent); text-decoration: none; word-break: break-all; }\n    .sources-list a:hover { text-decoration: underline; }\n    .disclaimer { margin-top: 2.5rem; padding: 1.25rem; background: var(--bg-subtle); border-radius: 0.5rem; font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-size: 0.8125rem; color: var(--text-muted); line-height: 1.6; }\n    .disclaimer strong { color: var(--text-secondary); }\n    .analysis-footer { margin-top: 1.5rem; font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-size: 0.75rem; color: var(--text-muted); }\n    .back-link { display: inline-flex; align-items: center; gap: 0.25rem; font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-size: 0.875rem; color: var(--accent); text-decoration: none; margin-bottom: 1.5rem; }\n    .back-link:hover { text-decoration: underline; }\n  </style>\n</head>\n<body>\n  <header class=\"site-header\">\n    <div class=\"header-content\">\n      <div class=\"logo\">\n        <a href=\"./abonenten.html\">\n          <img src=\"../assets/capitovo_logo_weiß.png\" alt=\"capitovo Logo\" class=\"header-logo\">\n        </a>\n      </div>\n    </div>\n  </header>\n  \n  <main class=\"analysis-container\">\n    <a href=\"./alle_analysen.html\" class=\"back-link\">← Zurück zur Übersicht</a>\n    \n    <article>\n      <header class=\"analysis-header\">\n        <div class=\"analysis-meta\">\n          <span>${input.sector}</span>\n          <span>${input.ticker}</span>\n          <span>${input.exchange}</span>\n        </div>\n        <h1 class=\"analysis-title\">${input.company} – Unternehmensanalyse</h1>\n        <p class=\"analysis-subtitle\">Geschäftsmodell, Fundamentaldaten und Bewertungseinordnung</p>\n        <div class=\"analysis-meta\" style=\"margin-top: 1rem; margin-bottom: 0;\">\n          <span>capitovo Research</span>\n          <time datetime=\"${input.date}\">${formattedDate}</time>\n        </div>\n      </header>\n      \n      <div class=\"analysis-body\">\n        ${htmlContent}\n      </div>\n      \n      ${sourcesHtml}\n      \n      <div class=\"disclaimer\">\n        <strong>Rechtlicher Hinweis:</strong> Diese Analyse dient ausschließlich Informationszwecken und stellt keine Anlageberatung im Sinne des Wertpapierhandelsgesetzes (WpHG) dar. Die bereitgestellten Informationen sind keine Aufforderung zum Kauf oder Verkauf von Wertpapieren. Anlageentscheidungen sollten auf Basis eigener Recherche und gegebenenfalls professioneller Beratung getroffen werden.\n      </div>\n      \n      <footer class=\"analysis-footer\">\n        Analyse-ID: ${input.ticker.toLowerCase()}-${input.date} · ${input.wordCount} Wörter · ${input.citations?.length || 0} Quellen\n      </footer>\n    </article>\n  </main>\n  \n  <footer style=\"border-top: 1px solid #e2e8f0; padding: 1.5rem; text-align: center; color: #718096; font-size: 0.875rem; font-family: -apple-system, sans-serif;\">\n    © ${new Date().getFullYear()} capitovo – Alle Rechte vorbehalten.\n  </footer>\n  \n  <script src=\"../script.js\"></script>\n</body>\n</html>`;\n\nreturn {\n  json: {\n    ...input,\n    html\n  }\n};"
      },
      "id": "html-renderer",
      "name": "7. HTML Renderer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1720, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// OUTPUT GENERATOR - Alle Ausgabe-Artefakte\n// =====================================================\n\n// SVG Vorschaubild (clean, ohne Empfehlung)\nconst svg = `<svg width=\"640\" height=\"360\" viewBox=\"0 0 640 360\" xmlns=\"http://www.w3.org/2000/svg\">\n  <defs>\n    <linearGradient id=\"bg-gradient\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"100%\">\n      <stop offset=\"0%\" stop-color=\"#0f172a\"/>\n      <stop offset=\"100%\" stop-color=\"#1e293b\"/>\n    </linearGradient>\n  </defs>\n  <rect width=\"640\" height=\"360\" fill=\"url(#bg-gradient)\" rx=\"16\"/>\n  <g font-family=\"-apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif\">\n    <text x=\"48\" y=\"72\" fill=\"#64748b\" font-size=\"13\" letter-spacing=\"0.1em\" font-weight=\"500\">${input.ticker} · ${input.sector.toUpperCase()}</text>\n    <text x=\"48\" y=\"120\" fill=\"#f1f5f9\" font-size=\"32\" font-weight=\"700\">${input.company}</text>\n    <text x=\"48\" y=\"156\" fill=\"#94a3b8\" font-size=\"16\">Unternehmensanalyse</text>\n    <rect x=\"48\" y=\"180\" width=\"80\" height=\"3\" fill=\"#3b82f6\" rx=\"1.5\"/>\n    <text x=\"48\" y=\"224\" fill=\"#64748b\" font-size=\"14\">Geschäftsmodell · Fundamentaldaten · Bewertung</text>\n    <g transform=\"translate(48, 296)\">\n      <text x=\"0\" y=\"0\" fill=\"#475569\" font-size=\"12\">capitovo Research</text>\n      <text x=\"0\" y=\"20\" fill=\"#64748b\" font-size=\"11\">${input.date}</text>\n    </g>\n  </g>\n</svg>`;\n\n// JSON-Eintrag für analysen.json\nconst jsonEntry = {\n  id: `${input.ticker.toLowerCase()}-${input.date}`,\n  category: input.sector,\n  title: `${input.company} – Unternehmensanalyse`,\n  summary: `Analyse des Geschäftsmodells, der Fundamentaldaten und Bewertungseinordnung von ${input.company} (${input.ticker}).`,\n  link: `Abonenten/${input.slug}.html`,\n  image: `data/vorschaubilder_analysen/${input.slug}.svg`,\n  date: input.date,\n  author: 'capitovo Research',\n  tags: [input.company, input.ticker, input.sector],\n  published: input.compliancePassed, // Nur veröffentlichen wenn compliant\n  wordCount: input.wordCount,\n  sourcesCount: input.citations?.length || 0,\n  qualityScore: input.qualityScore,\n  compliancePassed: input.compliancePassed\n};\n\n// Status-Nachricht\nlet statusEmoji = input.compliancePassed ? '✅' : '⚠️';\nlet statusText = input.compliancePassed \n  ? `Analyse erfolgreich generiert`\n  : `Analyse generiert mit Compliance-Warnung`;\n\nreturn {\n  json: {\n    success: true,\n    status: statusEmoji + ' ' + statusText,\n    company: input.company,\n    ticker: input.ticker,\n    date: input.date,\n    metrics: {\n      wordCount: input.wordCount,\n      sourcesCount: input.citations?.length || 0,\n      qualityScore: input.qualityScore,\n      compliancePassed: input.compliancePassed\n    },\n    complianceViolations: input.complianceViolations || [],\n    qualityComment: input.qualityComment,\n    outputs: {\n      html: input.html,\n      svg: svg,\n      jsonEntry: jsonEntry\n    },\n    filePaths: {\n      html: `Abonenten/${input.slug}.html`,\n      svg: `data/vorschaubilder_analysen/${input.slug}.svg`,\n      json: 'data/analysen.json'\n    },\n    nextSteps: input.compliancePassed \n      ? ['HTML-Datei speichern', 'SVG speichern', 'analysen.json aktualisieren']\n      : ['Analyse manuell überprüfen', 'Verbotene Phrasen entfernen', 'Erneut generieren']\n  }\n};"
      },
      "id": "output-generator",
      "name": "8. Output Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1940, 400]
    },
    {
      "parameters": {},
      "id": "output",
      "name": "Output",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2160, 400]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "1. Input Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Input Data": {
      "main": [
        [
          {
            "node": "2. Input Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Input Validator": {
      "main": [
        [
          {
            "node": "3. Prompt Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Prompt Builder": {
      "main": [
        [
          {
            "node": "4. Perplexity API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Perplexity API": {
      "main": [
        [
          {
            "node": "5. Content Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Content Extractor": {
      "main": [
        [
          {
            "node": "6. Compliance Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Compliance Check": {
      "main": [
        [
          {
            "node": "7. HTML Renderer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. HTML Renderer": {
      "main": [
        [
          {
            "node": "8. Output Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8. Output Generator": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "production"
    },
    {
      "name": "v4-final"
    }
  ]
}
