n8n/n8n_analyse_generator_workflow_v7.json
{
  "name": "Capitovo Analyse Generator v8 - 4-Phasen-Architektur",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 400]
    },
    {
      "parameters": {
        "jsCode": "// === EINGABE-DATEN ===\n// NUR Identifikation - KEINE Interpretation\nreturn {\n  json: {\n    company: 'Apple',\n    ticker: 'AAPL',\n    exchange: 'NASDAQ',\n    sector: 'Technologie',\n    currency: 'USD',\n    slug: 'apple',\n    fiscalYearEnd: 'September',\n    pipelineVersion: 'v8.0-4-phasen'\n  }\n};"
      },
      "id": "input-data",
      "name": "1. Input Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\nconst required = ['company', 'ticker', 'exchange', 'sector', 'currency'];\nconst missing = required.filter(f => !input[f]);\nif (missing.length > 0) {\n  throw new Error('Fehlende Pflichtfelder: ' + missing.join(', '));\n}\n\nconst slug = input.slug || input.company.toLowerCase().replace(/[^a-z0-9]+/g, '-');\nconst date = new Date().toISOString().split('T')[0];\n\nreturn {\n  json: {\n    ...input,\n    slug,\n    date,\n    pipelineVersion: 'v7.0-data-first'\n  }\n};"
      },
      "id": "input-validator",
      "name": "2. Input Validator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.alphavantage.co/query?function=OVERVIEW&symbol={{ $json.ticker }}&apikey=YO8C9ZRNBDVLAZ83",
        "options": { "timeout": 30000 }
      },
      "id": "api-alpha-overview",
      "name": "3a. Alpha Vantage Overview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Speichere Input-Daten und Overview-Response\nconst prevInput = $('2. Input Validator').item.json;\nconst overviewResp = $input.item.json;\n\nreturn {\n  json: {\n    ...prevInput,\n    overviewResponse: overviewResp\n  }\n};"
      },
      "id": "store-overview",
      "name": "3a. Store Overview",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.alphavantage.co/query?function=INCOME_STATEMENT&symbol={{ $json.ticker }}&apikey=YO8C9ZRNBDVLAZ83",
        "options": { "timeout": 30000 }
      },
      "id": "api-alpha-income",
      "name": "3b. Alpha Vantage Income",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// FINANZDATEN-AGGREGATOR\n// Konsolidiert Daten aus Alpha Vantage\n// =====================================================\n\nconst prevData = $('3a. Store Overview').item.json;\nconst incomeResp = $input.item.json;\nconst overviewResp = prevData.overviewResponse;\nconst input = prevData;\n\nfunction safeNum(val, fallback) {\n  if (fallback === undefined) fallback = null;\n  if (val === undefined || val === null || val === 'None' || val === '-' || val === '') return fallback;\n  var n = parseFloat(String(val).replace(/,/g, ''));\n  return isFinite(n) ? n : fallback;\n}\n\nfunction safePercent(val) {\n  var n = safeNum(val);\n  if (n === null) return null;\n  if (Math.abs(n) <= 1) return Math.round(n * 1000) / 10;\n  return Math.round(n * 10) / 10;\n}\n\n// Prüfen ob API-Daten verfügbar\nvar hasOverview = overviewResp && overviewResp.Symbol && !overviewResp.Note && !overviewResp['Error Message'];\nvar hasIncome = incomeResp && incomeResp.annualReports && !incomeResp.Note;\n\nvar retrievedAt = new Date().toISOString();\n\nvar financials = {\n  dataSource: 'none',\n  dataQuality: 'missing',\n  retrievedAt: retrievedAt,\n  company: {\n    name: input.company,\n    ticker: input.ticker,\n    sector: input.sector,\n    currency: input.currency,\n    exchange: input.exchange\n  },\n  fundamentals: {},\n  valuation: {},\n  growth: {},\n  margins: {}\n};\n\nif (hasOverview) {\n  financials.dataSource = 'alpha_vantage';\n  financials.dataQuality = 'api';\n  \n  var o = overviewResp;\n  \n  financials.company.description = o.Description || null;\n  financials.company.industry = o.Industry || null;\n  financials.company.fiscalYearEnd = o.FiscalYearEnd || input.fiscalYearEnd;\n  financials.company.employees = safeNum(o.FullTimeEmployees);\n  \n  financials.fundamentals = {\n    marketCap: { value: safeNum(o.MarketCapitalization), source: 'Alpha Vantage OVERVIEW', asOf: retrievedAt },\n    sharesOutstanding: { value: safeNum(o.SharesOutstanding), source: 'Alpha Vantage OVERVIEW', asOf: retrievedAt },\n    bookValue: { value: safeNum(o.BookValue), source: 'Alpha Vantage OVERVIEW', asOf: retrievedAt },\n    dividendPerShare: { value: safeNum(o.DividendPerShare), source: 'Alpha Vantage OVERVIEW', asOf: retrievedAt },\n    dividendYield: { value: safePercent(o.DividendYield), source: 'Alpha Vantage OVERVIEW', asOf: retrievedAt },\n    eps: { value: safeNum(o.EPS), source: 'Alpha Vantage OVERVIEW', asOf: retrievedAt },\n    revenuePerShare: { value: safeNum(o.RevenuePerShareTTM), source: 'Alpha Vantage OVERVIEW', asOf: retrievedAt },\n    revenueTTM: { value: safeNum(o.RevenueTTM), source: 'Alpha Vantage OVERVIEW', asOf: retrievedAt },\n    ebitda: { value: safeNum(o.EBITDA), source: 'Alpha Vantage OVERVIEW', asOf: retrievedAt },\n    grossProfit: { value: safeNum(o.GrossProfitTTM), source: 'Alpha Vantage OVERVIEW', asOf: retrievedAt }\n  };\n  \n  financials.valuation = {\n    peRatio: { value: safeNum(o.PERatio), source: 'Alpha Vantage OVERVIEW', asOf: retrievedAt },\n    forwardPE: { value: safeNum(o.ForwardPE), source: 'Alpha Vantage OVERVIEW', asOf: retrievedAt },\n    pegRatio: { value: safeNum(o.PEGRatio), source: 'Alpha Vantage OVERVIEW', asOf: retrievedAt },\n    priceToBook: { value: safeNum(o.PriceToBookRatio), source: 'Alpha Vantage OVERVIEW', asOf: retrievedAt },\n    priceToSales: { value: safeNum(o.PriceToSalesRatioTTM), source: 'Alpha Vantage OVERVIEW', asOf: retrievedAt },\n    evToRevenue: { value: safeNum(o.EVToRevenue), source: 'Alpha Vantage OVERVIEW', asOf: retrievedAt },\n    evToEbitda: { value: safeNum(o.EVToEBITDA), source: 'Alpha Vantage OVERVIEW', asOf: retrievedAt },\n    analystTargetPrice: { value: safeNum(o.AnalystTargetPrice), source: 'Alpha Vantage OVERVIEW', asOf: retrievedAt },\n    beta: { value: safeNum(o.Beta), source: 'Alpha Vantage OVERVIEW', asOf: retrievedAt },\n    fiftyTwoWeekHigh: { value: safeNum(o['52WeekHigh']), source: 'Alpha Vantage OVERVIEW', asOf: retrievedAt },\n    fiftyTwoWeekLow: { value: safeNum(o['52WeekLow']), source: 'Alpha Vantage OVERVIEW', asOf: retrievedAt }\n  };\n  \n  financials.margins = {\n    grossMargin: { value: safePercent(o.GrossProfitMargin), source: 'Alpha Vantage OVERVIEW', asOf: retrievedAt },\n    operatingMargin: { value: safePercent(o.OperatingMarginTTM), source: 'Alpha Vantage OVERVIEW', asOf: retrievedAt },\n    profitMargin: { value: safePercent(o.ProfitMargin), source: 'Alpha Vantage OVERVIEW', asOf: retrievedAt },\n    returnOnAssets: { value: safePercent(o.ReturnOnAssetsTTM), source: 'Alpha Vantage OVERVIEW', asOf: retrievedAt },\n    returnOnEquity: { value: safePercent(o.ReturnOnEquityTTM), source: 'Alpha Vantage OVERVIEW', asOf: retrievedAt }\n  };\n  \n  financials.growth = {\n    quarterlyEarningsGrowth: { value: safePercent(o.QuarterlyEarningsGrowthYOY), source: 'Alpha Vantage OVERVIEW', asOf: retrievedAt },\n    quarterlyRevenueGrowth: { value: safePercent(o.QuarterlyRevenueGrowthYOY), source: 'Alpha Vantage OVERVIEW', asOf: retrievedAt }\n  };\n}\n\nif (hasIncome && incomeResp.annualReports) {\n  var reports = incomeResp.annualReports.slice(0, 5);\n  financials.incomeHistory = reports.map(function(r) {\n    return {\n      fiscalYear: r.fiscalDateEnding ? r.fiscalDateEnding.substring(0, 4) : null,\n      totalRevenue: { value: safeNum(r.totalRevenue), source: 'Alpha Vantage INCOME_STATEMENT' },\n      grossProfit: { value: safeNum(r.grossProfit), source: 'Alpha Vantage INCOME_STATEMENT' },\n      operatingIncome: { value: safeNum(r.operatingIncome), source: 'Alpha Vantage INCOME_STATEMENT' },\n      netIncome: { value: safeNum(r.netIncome), source: 'Alpha Vantage INCOME_STATEMENT' },\n      ebitda: { value: safeNum(r.ebitda), source: 'Alpha Vantage INCOME_STATEMENT' }\n    };\n  });\n  financials.dataQuality = 'api_full';\n}\n\nif (financials.dataSource === 'none' && input.manualFinancials) {\n  financials = Object.assign({}, financials, input.manualFinancials);\n  financials.dataSource = 'manual';\n  financials.dataQuality = 'manual';\n}\n\nvar hasMinimumData = (financials.fundamentals.revenueTTM && financials.fundamentals.revenueTTM.value) || \n                     (financials.fundamentals.marketCap && financials.fundamentals.marketCap.value) ||\n                     financials.dataSource === 'manual';\n\nreturn {\n  json: {\n    company: input.company,\n    ticker: input.ticker,\n    exchange: input.exchange,\n    sector: input.sector,\n    currency: input.currency,\n    slug: input.slug,\n    date: input.date,\n    pipelineVersion: input.pipelineVersion,\n    fiscalYearEnd: input.fiscalYearEnd,\n    financials: financials,\n    financialsValid: hasMinimumData,\n    financialsIssues: hasMinimumData ? [] : ['Keine Finanzdaten verfuegbar - API-Fehler oder Ticker ungueltig']\n  }\n};"
      },
      "id": "financials-aggregator",
      "name": "4. Financials Aggregator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 400]
    },
    {
      "parameters": {
        "jsCode": "var input = $input.item.json;\nvar f = input.financials;\n\nif (!input.financialsValid) {\n  throw new Error('ABBRUCH: Keine validen Finanzdaten. ' + (input.financialsIssues || []).join(', '));\n}\n\nfunction fmt(obj) {\n  if (!obj || obj.value === null || obj.value === undefined) return 'n/v';\n  var v = obj.value;\n  if (typeof v === 'number') {\n    if (Math.abs(v) >= 1e12) return (v/1e12).toFixed(1) + ' Bio';\n    if (Math.abs(v) >= 1e9) return (v/1e9).toFixed(1) + ' Mrd';\n    if (Math.abs(v) >= 1e6) return (v/1e6).toFixed(1) + ' Mio';\n    return v.toLocaleString('de-DE');\n  }\n  return String(v);\n}\n\nfunction src(obj) {\n  if (!obj || !obj.source) return '';\n  return ' (Quelle: ' + obj.source + ', ' + (obj.asOf ? obj.asOf.split('T')[0] : 'aktuell') + ')';\n}\n\nvar keyFacts = [];\nif (f.fundamentals.marketCap && f.fundamentals.marketCap.value) keyFacts.push('Marktkapitalisierung: ' + fmt(f.fundamentals.marketCap) + ' ' + input.currency + src(f.fundamentals.marketCap));\nif (f.fundamentals.revenueTTM && f.fundamentals.revenueTTM.value) keyFacts.push('Umsatz (TTM): ' + fmt(f.fundamentals.revenueTTM) + ' ' + input.currency + src(f.fundamentals.revenueTTM));\nif (f.fundamentals.ebitda && f.fundamentals.ebitda.value) keyFacts.push('EBITDA: ' + fmt(f.fundamentals.ebitda) + ' ' + input.currency + src(f.fundamentals.ebitda));\nif (f.fundamentals.eps && f.fundamentals.eps.value) keyFacts.push('EPS: ' + f.fundamentals.eps.value + ' ' + input.currency + src(f.fundamentals.eps));\nif (f.fundamentals.dividendPerShare && f.fundamentals.dividendPerShare.value) keyFacts.push('Dividende/Aktie: ' + f.fundamentals.dividendPerShare.value + ' ' + input.currency + src(f.fundamentals.dividendPerShare));\nif (f.fundamentals.dividendYield && f.fundamentals.dividendYield.value) keyFacts.push('Dividendenrendite: ' + f.fundamentals.dividendYield.value + '%' + src(f.fundamentals.dividendYield));\n\nvar keyValuation = [];\nif (f.valuation.peRatio && f.valuation.peRatio.value) keyValuation.push('KGV (P/E): ' + f.valuation.peRatio.value + src(f.valuation.peRatio));\nif (f.valuation.forwardPE && f.valuation.forwardPE.value) keyValuation.push('Forward P/E: ' + f.valuation.forwardPE.value + src(f.valuation.forwardPE));\nif (f.valuation.pegRatio && f.valuation.pegRatio.value) keyValuation.push('PEG Ratio: ' + f.valuation.pegRatio.value + src(f.valuation.pegRatio));\nif (f.valuation.evToEbitda && f.valuation.evToEbitda.value) keyValuation.push('EV/EBITDA: ' + f.valuation.evToEbitda.value + src(f.valuation.evToEbitda));\nif (f.valuation.evToRevenue && f.valuation.evToRevenue.value) keyValuation.push('EV/Revenue: ' + f.valuation.evToRevenue.value + src(f.valuation.evToRevenue));\nif (f.valuation.priceToBook && f.valuation.priceToBook.value) keyValuation.push('Kurs/Buchwert: ' + f.valuation.priceToBook.value + src(f.valuation.priceToBook));\nif (f.valuation.fiftyTwoWeekHigh && f.valuation.fiftyTwoWeekHigh.value) keyValuation.push('52W Hoch: ' + f.valuation.fiftyTwoWeekHigh.value + ' ' + input.currency + src(f.valuation.fiftyTwoWeekHigh));\nif (f.valuation.fiftyTwoWeekLow && f.valuation.fiftyTwoWeekLow.value) keyValuation.push('52W Tief: ' + f.valuation.fiftyTwoWeekLow.value + ' ' + input.currency + src(f.valuation.fiftyTwoWeekLow));\nif (f.valuation.analystTargetPrice && f.valuation.analystTargetPrice.value) keyValuation.push('Analysten-Kursziel: ' + f.valuation.analystTargetPrice.value + ' ' + input.currency + src(f.valuation.analystTargetPrice));\nif (f.valuation.beta && f.valuation.beta.value) keyValuation.push('Beta: ' + f.valuation.beta.value + src(f.valuation.beta));\n\nvar keyMargins = [];\nif (f.margins.grossMargin && f.margins.grossMargin.value) keyMargins.push('Bruttomarge: ' + f.margins.grossMargin.value + '%' + src(f.margins.grossMargin));\nif (f.margins.operatingMargin && f.margins.operatingMargin.value) keyMargins.push('Operative Marge: ' + f.margins.operatingMargin.value + '%' + src(f.margins.operatingMargin));\nif (f.margins.profitMargin && f.margins.profitMargin.value) keyMargins.push('Nettomarge: ' + f.margins.profitMargin.value + '%' + src(f.margins.profitMargin));\nif (f.margins.returnOnEquity && f.margins.returnOnEquity.value) keyMargins.push('ROE: ' + f.margins.returnOnEquity.value + '%' + src(f.margins.returnOnEquity));\nif (f.margins.returnOnAssets && f.margins.returnOnAssets.value) keyMargins.push('ROA: ' + f.margins.returnOnAssets.value + '%' + src(f.margins.returnOnAssets));\n\nvar keyGrowth = [];\nif (f.growth.quarterlyRevenueGrowth && f.growth.quarterlyRevenueGrowth.value) keyGrowth.push('Umsatzwachstum (QoQ YoY): ' + f.growth.quarterlyRevenueGrowth.value + '%' + src(f.growth.quarterlyRevenueGrowth));\nif (f.growth.quarterlyEarningsGrowth && f.growth.quarterlyEarningsGrowth.value) keyGrowth.push('Gewinnwachstum (QoQ YoY): ' + f.growth.quarterlyEarningsGrowth.value + '%' + src(f.growth.quarterlyEarningsGrowth));\n\nvar dataPointCount = keyFacts.length + keyValuation.length + keyMargins.length + keyGrowth.length;\n\nvar factsTextParts = [\n  '=== UNTERNEHMENSDATEN (VERIFIZIERT) ===',\n  'Unternehmen: ' + f.company.name + ' (' + f.company.ticker + ')',\n  'Sektor: ' + f.company.sector,\n  'Branche: ' + (f.company.industry || 'n/v'),\n  'Waehrung: ' + f.company.currency,\n  '',\n  '=== FUNDAMENTALS ==='\n];\nfactsTextParts = factsTextParts.concat(keyFacts);\nfactsTextParts.push('');\nfactsTextParts.push('=== BEWERTUNG ===');\nfactsTextParts = factsTextParts.concat(keyValuation);\nfactsTextParts.push('');\nfactsTextParts.push('=== MARGEN & RENDITEN ===');\nfactsTextParts = factsTextParts.concat(keyMargins);\nfactsTextParts.push('');\nfactsTextParts.push('=== WACHSTUM ===');\nfactsTextParts = factsTextParts.concat(keyGrowth);\nfactsTextParts.push('');\nfactsTextParts.push('Datenquelle: ' + f.dataSource);\nfactsTextParts.push('Datenqualitaet: ' + f.dataQuality);\nfactsTextParts.push('Abgerufen: ' + f.retrievedAt);\n\nreturn {\n  json: {\n    company: input.company,\n    ticker: input.ticker,\n    exchange: input.exchange,\n    sector: input.sector,\n    currency: input.currency,\n    slug: input.slug,\n    date: input.date,\n    pipelineVersion: input.pipelineVersion,\n    financials: f,\n    financialsValid: input.financialsValid,\n    factsForLLM: {\n      company: f.company,\n      dataSource: f.dataSource,\n      dataQuality: f.dataQuality,\n      retrievedAt: f.retrievedAt,\n      keyFacts: keyFacts,\n      keyValuation: keyValuation,\n      keyMargins: keyMargins,\n      keyGrowth: keyGrowth,\n      incomeHistory: f.incomeHistory || []\n    },\n    dataPointCount: dataPointCount,\n    factsText: factsTextParts.join('\\n')\n  }\n};"
      },
      "id": "facts-formatter",
      "name": "5. Facts Formatter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 400]
    },
    {
      "parameters": {
        "jsCode": "var input = $input.item.json;\nvar company = input.company;\nvar ticker = input.ticker;\nvar factsText = input.factsText;\n\nvar strictDataRule = '\\n\\nKRITISCHE REGEL - DATENINTEGRITAET:\\n1. Du DARFST NUR die Zahlen aus dem bereitgestellten Fakten-Block verwenden\\n2. Du DARFST KEINE zusaetzlichen Zahlen recherchieren oder erfinden\\n3. Jede Zahl im Text MUSS mit \"(Quelle: ...)\" aus den Fakten stammen\\n4. Wenn eine Info fehlt, schreibe \"Keine Daten verfuegbar\" - NICHT improvisieren\\n5. Bei Unsicherheit: Weglassen ist besser als Erfinden\\n';\n\nvar modules = {\n  business: {\n    name: 'Geschaeftsmodell',\n    system: 'Du bist ein Business Model Analyst. Beschreibe das Geschaeftsmodell OBJEKTIV.\\n\\nREGELN:\\n1. Beschreibe WAS und WIE, nicht ob es GUT oder SCHLECHT ist\\n2. Keine Superlative (\"fuehrend\", \"dominant\", \"einzigartig\")\\n3. Wettbewerbsvorteile als beobachtbare Fakten\\n4. Allgemeinwissen ueber das Unternehmen ist erlaubt\\n\\nSPRACHE: Nuechtern, praezise, wiederholbar\\nMINDESTUMFANG: 400 Woerter',\n    user: 'Beschreibe das Geschaeftsmodell von ' + company + ' (' + ticker + '):\\n\\n1. WERTSCHOEPFUNGSKETTE - Wie verdient das Unternehmen Geld?\\n2. UMSATZSEGMENTE - Bekannte Segmente (Hardware, Services, etc.)\\n3. KUNDENSTRUKTUR - B2B/B2C, Geo-Verteilung\\n4. WETTBEWERBSPOSITION - Hauptwettbewerber\\n5. OEKOSYSTEM - Verbundeffekte, Lock-in\\n\\nNuechtern beschreiben, nicht bewerten. Mind. 400 Woerter.',\n    minWords: 400\n  },\n  fundamentals: {\n    name: 'Fundamentaldaten',\n    system: 'Du bist ein Equity Research Analyst. Deine Aufgabe: Die bereitgestellten Finanzdaten ERKLAEREN und EINORDNEN.' + strictDataRule + '\\n\\nERLAUBT:\\n- Erklaerung was die Kennzahlen bedeuten\\n- Historische Einordnung (\"typisch fuer Tech-Sektor\")\\n- Vergleich mit Branchendurchschnitten (allgemein bekannt)\\n\\nVERBOTEN:\\n- Neue Zahlen hinzufuegen\\n- Zahlen ohne (Quelle: ...) Tag\\n- Spekulation ueber zukuenftige Entwicklung',\n    user: 'VERFUEGBARE FAKTEN (NUR DIESE VERWENDEN):\\n\\n' + factsText + '\\n\\n---\\n\\nErklaere und ordne diese Fundamentaldaten von ' + company + ' (' + ticker + ') ein:\\n\\n1. UMSATZ & PROFITABILITAET - Was sagen die Margen ueber das Geschaeftsmodell?\\n2. CASHFLOW - Interpretation der Cash-Generierung\\n3. RENDITEKENNZAHLEN - ROE/ROA Einordnung\\n4. KAPITALSTRUKTUR - Falls Daten verfuegbar\\n\\nJEDE Zahl muss aus den obigen Fakten stammen. Keine neuen Zahlen. Mind. 350 Woerter.',\n    minWords: 350\n  },\n  valuation: {\n    name: 'Bewertung',\n    system: 'Du bist ein Valuation Specialist. Erklaere die bereitgestellten Bewertungskennzahlen.' + strictDataRule + '\\n\\nREGELN:\\n1. Erklaere WAS der Markt implizit erwartet\\n2. Vergleiche mit typischen Sektormultiples\\n3. KEINE Aussage ob \"teuer\" oder \"guenstig\" oder \"attraktiv\"\\n4. Konditionale Sprache: \"Das KGV impliziert...\"\\n\\nVERBOTEN:\\n- \"kaufenswert\", \"attraktiv\", \"unterbewertet\"',\n    user: 'VERFUEGBARE BEWERTUNGSDATEN (NUR DIESE VERWENDEN):\\n\\n' + factsText + '\\n\\n---\\n\\nAnalysiere die Bewertung von ' + company + ' (' + ticker + '):\\n\\n1. AKTUELLE MULTIPLES - Erklaerung der verfuegbaren Kennzahlen\\n2. IMPLIZITE ERWARTUNGEN - Was preist der Markt ein?\\n3. PEER-KONTEXT - Typische Multiples im Sektor (allgemein bekannt)\\n4. SENSITIVITAETEN - Was muesste passieren fuer Rechtfertigung?\\n\\nNUR bereitgestellte Zahlen verwenden. Erklaeren, nicht bewerten. Mind. 350 Woerter.',\n    minWords: 350\n  },\n  thesis: {\n    name: 'These',\n    system: 'Du bist ein Senior Research Analyst. Formuliere eine FALSIFIZIERBARE Investment-These.' + strictDataRule + '\\n\\nREGELN:\\n1. These muss KONKRET und UEBERPRUEFBAR sein\\n2. Explizite Annahmen auflisten\\n3. Konkrete Falsifikationskriterien benennen\\n4. KEINE Empfehlung (nicht \"kaufen\", \"verkaufen\")\\n\\nSTRUKTUR:\\n1. Kernaussage (1-2 Saetze)\\n2. Tragende Annahmen (nummeriert)\\n3. Falsifikationskriterien\\n4. Zeithorizont',\n    user: 'VERFUEGBARE DATEN:\\n\\n' + factsText + '\\n\\n---\\n\\nFormuliere eine Investment-These fuer ' + company + ' (' + ticker + '):\\n\\n1. KERNTHESE - Eine klare, ueberpruefbare Hauptaussage\\n2. TRAGENDE ANNAHMEN - Was muss wahr sein?\\n3. FALSIFIKATIONSKRITERIEN - \"Die These waere widerlegt, wenn...\"\\n4. ZEITHORIZONT - Zeitraum, Katalysatoren\\n\\nKeine Handlungsempfehlung. Mind. 300 Woerter.',\n    minWords: 300\n  },\n  scenarios: {\n    name: 'Szenarien',\n    system: 'Du bist ein Scenario Analyst. Erstelle drei qualitative Entwicklungspfade.' + strictDataRule + '\\n\\nREGELN:\\n1. Szenarien muessen OEKONOMISCH UNTERSCHIEDLICH sein\\n2. Jedes braucht konkrete Ausloeser\\n3. KEINE praezisen Kursziele (das waere Scheingenauigkeit)\\n4. Beschreibe Richtung und Groessenordnung, nicht exakte Zahlen\\n\\nSTRUKTUR pro Szenario:\\n- Ausloeser: Was muss passieren?\\n- Auswirkung: Auf Fundamentals\\n- Zeitrahmen: Wann relevant?',\n    user: 'VERFUEGBARE DATEN:\\n\\n' + factsText + '\\n\\n---\\n\\nErstelle Szenarien fuer ' + company + ' (' + ticker + '):\\n\\n1. POSITIVES SZENARIO - Ausloeser, Auswirkung auf Geschaeft\\n2. BASIS-SZENARIO - Fortschreibung aktueller Trends\\n3. NEGATIVES SZENARIO - Konkrete Risiken\\n4. HAUPTRISIKEN - Top 3 mit Begruendung\\n\\nQualitativ argumentieren, keine Schein-Praezision. Mind. 300 Woerter.',\n    minWords: 300\n  }\n};\n\nreturn {\n  json: {\n    company: input.company,\n    ticker: input.ticker,\n    exchange: input.exchange,\n    sector: input.sector,\n    currency: input.currency,\n    slug: input.slug,\n    date: input.date,\n    pipelineVersion: input.pipelineVersion,\n    financials: input.financials,\n    factsForLLM: input.factsForLLM,\n    dataPointCount: input.dataPointCount,\n    factsText: input.factsText,\n    modulePrompts: modules\n  }\n};"
      },
      "id": "prompt-builder",
      "name": "6. Prompt Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer 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" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.2,\n  \"max_tokens\": 3000,\n  \"messages\": [\n    { \"role\": \"system\", \"content\": {{ JSON.stringify($json.modulePrompts.business.system) }} },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.modulePrompts.business.user) }} }\n  ],\n  \"return_citations\": true\n}",
        "options": { "timeout": 120000 }
      },
      "id": "api-module-business",
      "name": "7a. API: Geschaeftsmodell",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var prev = $('6. Prompt Builder').item.json;\nvar resp = $input.item.json;\n\nvar content = '';\nvar citations = [];\nvar error = null;\n\nif (resp && resp.choices && resp.choices[0] && resp.choices[0].message) {\n  content = resp.choices[0].message.content || '';\n  content = content.replace(/\\*\\*([^*]+)\\*\\*/g, '$1').replace(/\\*([^*]+)\\*/g, '$1').replace(/\\[\\d+\\]/g, '').trim();\n  citations = resp.citations || [];\n} else if (resp && resp.error) {\n  error = resp.error;\n}\n\nreturn {\n  json: {\n    ...prev,\n    module_business: { content: content, citations: citations, error: error }\n  }\n};"
      },
      "id": "extract-business",
      "name": "7a. Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer 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" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.1,\n  \"max_tokens\": 3000,\n  \"messages\": [\n    { \"role\": \"system\", \"content\": {{ JSON.stringify($json.modulePrompts.fundamentals.system) }} },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.modulePrompts.fundamentals.user) }} }\n  ],\n  \"return_citations\": true\n}",
        "options": { "timeout": 120000 }
      },
      "id": "api-module-fundamentals",
      "name": "7b. API: Fundamentals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2400, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var prev = $('7a. Extract').item.json;\nvar resp = $input.item.json;\n\nvar content = '';\nvar citations = [];\nvar error = null;\n\nif (resp && resp.choices && resp.choices[0] && resp.choices[0].message) {\n  content = resp.choices[0].message.content || '';\n  content = content.replace(/\\*\\*([^*]+)\\*\\*/g, '$1').replace(/\\*([^*]+)\\*/g, '$1').replace(/\\[\\d+\\]/g, '').trim();\n  citations = resp.citations || [];\n} else if (resp && resp.error) {\n  error = resp.error;\n}\n\nreturn {\n  json: {\n    ...prev,\n    module_fundamentals: { content: content, citations: citations, error: error }\n  }\n};"
      },
      "id": "extract-fundamentals",
      "name": "7b. Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2600, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer 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" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.1,\n  \"max_tokens\": 3000,\n  \"messages\": [\n    { \"role\": \"system\", \"content\": {{ JSON.stringify($json.modulePrompts.valuation.system) }} },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.modulePrompts.valuation.user) }} }\n  ],\n  \"return_citations\": true\n}",
        "options": { "timeout": 120000 }
      },
      "id": "api-module-valuation",
      "name": "7c. API: Bewertung",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2800, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var prev = $('7b. Extract').item.json;\nvar resp = $input.item.json;\n\nvar content = '';\nvar citations = [];\nvar error = null;\n\nif (resp && resp.choices && resp.choices[0] && resp.choices[0].message) {\n  content = resp.choices[0].message.content || '';\n  content = content.replace(/\\*\\*([^*]+)\\*\\*/g, '$1').replace(/\\*([^*]+)\\*/g, '$1').replace(/\\[\\d+\\]/g, '').trim();\n  citations = resp.citations || [];\n} else if (resp && resp.error) {\n  error = resp.error;\n}\n\nreturn {\n  json: {\n    ...prev,\n    module_valuation: { content: content, citations: citations, error: error }\n  }\n};"
      },
      "id": "extract-valuation",
      "name": "7c. Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3000, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer 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" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.2,\n  \"max_tokens\": 2500,\n  \"messages\": [\n    { \"role\": \"system\", \"content\": {{ JSON.stringify($json.modulePrompts.thesis.system) }} },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.modulePrompts.thesis.user) }} }\n  ],\n  \"return_citations\": true\n}",
        "options": { "timeout": 120000 }
      },
      "id": "api-module-thesis",
      "name": "7d. API: These",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3200, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var prev = $('7c. Extract').item.json;\nvar resp = $input.item.json;\n\nvar content = '';\nvar citations = [];\nvar error = null;\n\nif (resp && resp.choices && resp.choices[0] && resp.choices[0].message) {\n  content = resp.choices[0].message.content || '';\n  content = content.replace(/\\*\\*([^*]+)\\*\\*/g, '$1').replace(/\\*([^*]+)\\*/g, '$1').replace(/\\[\\d+\\]/g, '').trim();\n  citations = resp.citations || [];\n} else if (resp && resp.error) {\n  error = resp.error;\n}\n\nreturn {\n  json: {\n    ...prev,\n    module_thesis: { content: content, citations: citations, error: error }\n  }\n};"
      },
      "id": "extract-thesis",
      "name": "7d. Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3400, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer 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" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.2,\n  \"max_tokens\": 2500,\n  \"messages\": [\n    { \"role\": \"system\", \"content\": {{ JSON.stringify($json.modulePrompts.scenarios.system) }} },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.modulePrompts.scenarios.user) }} }\n  ],\n  \"return_citations\": true\n}",
        "options": { "timeout": 120000 }
      },
      "id": "api-module-scenarios",
      "name": "7e. API: Szenarien",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3600, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var prev = $('7d. Extract').item.json;\nvar resp = $input.item.json;\n\nvar content = '';\nvar citations = [];\nvar error = null;\n\nif (resp && resp.choices && resp.choices[0] && resp.choices[0].message) {\n  content = resp.choices[0].message.content || '';\n  content = content.replace(/\\*\\*([^*]+)\\*\\*/g, '$1').replace(/\\*([^*]+)\\*/g, '$1').replace(/\\[\\d+\\]/g, '').trim();\n  citations = resp.citations || [];\n} else if (resp && resp.error) {\n  error = resp.error;\n}\n\nreturn {\n  json: {\n    ...prev,\n    module_scenarios: { content: content, citations: citations, error: error }\n  }\n};"
      },
      "id": "extract-scenarios",
      "name": "7e. Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3800, 400]
    },
    {
      "parameters": {
        "jsCode": "var input = $input.item.json;\n\nvar modules = {\n  business: input.module_business,\n  fundamentals: input.module_fundamentals,\n  valuation: input.module_valuation,\n  thesis: input.module_thesis,\n  scenarios: input.module_scenarios\n};\n\nfunction countWords(text) {\n  return (text || '').split(/\\s+/).filter(function(w) { return w.length > 1; }).length;\n}\n\nvar wordCounts = {\n  business: countWords(modules.business.content),\n  fundamentals: countWords(modules.fundamentals.content),\n  valuation: countWords(modules.valuation.content),\n  thesis: countWords(modules.thesis.content),\n  scenarios: countWords(modules.scenarios.content)\n};\n\nvar totalWordCount = wordCounts.business + wordCounts.fundamentals + wordCounts.valuation + wordCounts.thesis + wordCounts.scenarios;\n\nvar allCitations = [].concat(\n  modules.business.citations || [],\n  modules.fundamentals.citations || [],\n  modules.valuation.citations || [],\n  modules.thesis.citations || [],\n  modules.scenarios.citations || []\n);\n\nvar uniqueCitations = [];\nfor (var i = 0; i < allCitations.length; i++) {\n  if (uniqueCitations.indexOf(allCitations[i]) === -1) {\n    uniqueCitations.push(allCitations[i]);\n  }\n}\n\nvar moduleErrors = [];\nif (modules.business.error) moduleErrors.push('business');\nif (modules.fundamentals.error) moduleErrors.push('fundamentals');\nif (modules.valuation.error) moduleErrors.push('valuation');\nif (modules.thesis.error) moduleErrors.push('thesis');\nif (modules.scenarios.error) moduleErrors.push('scenarios');\n\nreturn {\n  json: {\n    company: input.company,\n    ticker: input.ticker,\n    exchange: input.exchange,\n    sector: input.sector,\n    currency: input.currency,\n    slug: input.slug,\n    date: input.date,\n    pipelineVersion: input.pipelineVersion,\n    financials: input.financials,\n    factsText: input.factsText,\n    dataPointCount: input.dataPointCount,\n    modules: modules,\n    wordCounts: wordCounts,\n    totalWordCount: totalWordCount,\n    allCitations: uniqueCitations,\n    moduleErrors: moduleErrors\n  }\n};"
      },
      "id": "module-collector",
      "name": "8. Module Collector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4000, 400]
    },
    {
      "parameters": {
        "jsCode": "var input = $input.item.json;\n\nvar allContent = (input.modules.business.content || '') + '\\n' +\n                 (input.modules.fundamentals.content || '') + '\\n' +\n                 (input.modules.valuation.content || '') + '\\n' +\n                 (input.modules.thesis.content || '') + '\\n' +\n                 (input.modules.scenarios.content || '');\n\nvar allContentLower = allContent.toLowerCase();\n\nvar biasPatterns = [\n  { pattern: /\\bfuehrend\\b/gi, severity: 'high', type: 'superlativ' },\n  { pattern: /\\bdominant\\b/gi, severity: 'high', type: 'superlativ' },\n  { pattern: /\\beinzigartig\\b/gi, severity: 'high', type: 'superlativ' },\n  { pattern: /\\bbeeindruckend\\b/gi, severity: 'high', type: 'superlativ' },\n  { pattern: /\\bspektakulaer\\b/gi, severity: 'high', type: 'superlativ' },\n  { pattern: /\\brevolutionaer\\b/gi, severity: 'high', type: 'superlativ' },\n  { pattern: /\\bkaufen\\b/gi, severity: 'critical', type: 'empfehlung' },\n  { pattern: /\\bverkaufen\\b/gi, severity: 'critical', type: 'empfehlung' },\n  { pattern: /\\battraktiv/gi, severity: 'critical', type: 'empfehlung' },\n  { pattern: /\\blohnend\\b/gi, severity: 'critical', type: 'empfehlung' },\n  { pattern: /\\bempfehlenswert\\b/gi, severity: 'critical', type: 'empfehlung' },\n  { pattern: /\\bunterbewertet\\b/gi, severity: 'critical', type: 'empfehlung' },\n  { pattern: /\\buberbewertet\\b/gi, severity: 'critical', type: 'empfehlung' },\n  { pattern: /\\bgarantiert\\b/gi, severity: 'medium', type: 'ueberzeugung' },\n  { pattern: /\\bzweifellos\\b/gi, severity: 'medium', type: 'ueberzeugung' }\n];\n\nvar foundBias = [];\nvar critical = [];\nvar high = [];\nvar medium = [];\n\nfor (var i = 0; i < biasPatterns.length; i++) {\n  var bp = biasPatterns[i];\n  var matches = allContentLower.match(bp.pattern);\n  if (matches && matches.length > 0) {\n    foundBias.push({ phrase: matches[0], severity: bp.severity, type: bp.type });\n    if (bp.severity === 'critical') critical.push(matches[0]);\n    else if (bp.severity === 'high') high.push(matches[0]);\n    else if (bp.severity === 'medium') medium.push(matches[0]);\n  }\n}\n\nvar antiBiasPassed = critical.length === 0 && high.length <= 1;\nvar biasScore = Math.max(0, 10 - (critical.length * 4) - (high.length * 2) - (medium.length * 0.5));\n\nvar issues = [];\nif (critical.length > 0) issues.push('KRITISCH: ' + critical.join(', '));\nif (high.length > 1) issues.push('Zu viele Superlative: ' + high.join(', '));\n\nreturn {\n  json: {\n    ...input,\n    antiBiasCheck: {\n      passed: antiBiasPassed,\n      score: Math.round(biasScore * 10) / 10,\n      critical: critical,\n      high: high,\n      medium: medium,\n      totalIssues: foundBias.length,\n      issues: issues\n    }\n  }\n};"
      },
      "id": "anti-bias-check",
      "name": "9. Anti-Bias Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4200, 400]
    },
    {
      "parameters": {
        "jsCode": "var input = $input.item.json;\nvar citations = input.allCitations || [];\n\nvar primaryDomains = ['sec.gov', 'investor.apple.com', 'ir.', 'investors.', 'alphavantage.co'];\nvar secondaryDomains = ['reuters.com', 'bloomberg.com', 'wsj.com', 'ft.com', 'statista.com', 'morningstar.com', 'yahoo.com/finance'];\nvar forbiddenDomains = ['reddit', 'youtube', 'facebook', 'twitter', 'tiktok', 'blog', 'forum', 'wikipedia', 'quora', 'medium.com', 'substack'];\n\nvar categorized = { primary: [], secondary: [], forbidden: [], other: [] };\n\nfor (var i = 0; i < citations.length; i++) {\n  var url = citations[i];\n  var lower = url.toLowerCase();\n  var isForbidden = false;\n  var isPrimary = false;\n  var isSecondary = false;\n  \n  for (var j = 0; j < forbiddenDomains.length; j++) {\n    if (lower.indexOf(forbiddenDomains[j]) !== -1) {\n      isForbidden = true;\n      break;\n    }\n  }\n  \n  if (!isForbidden) {\n    for (var k = 0; k < primaryDomains.length; k++) {\n      if (lower.indexOf(primaryDomains[k]) !== -1) {\n        isPrimary = true;\n        break;\n      }\n    }\n    if (!isPrimary) {\n      for (var l = 0; l < secondaryDomains.length; l++) {\n        if (lower.indexOf(secondaryDomains[l]) !== -1) {\n          isSecondary = true;\n          break;\n        }\n      }\n    }\n  }\n  \n  if (isForbidden) categorized.forbidden.push(url);\n  else if (isPrimary) categorized.primary.push(url);\n  else if (isSecondary) categorized.secondary.push(url);\n  else categorized.other.push(url);\n}\n\nvar hasForbidden = categorized.forbidden.length > 0;\nvar hasPrimary = categorized.primary.length > 0;\nvar qualityScore = categorized.primary.length * 3 + categorized.secondary.length * 2 - categorized.forbidden.length * 5;\nvar sourceValidationPassed = !hasForbidden && qualityScore >= 0;\n\nvar filteredCitations = categorized.primary.concat(categorized.secondary).concat(categorized.other.slice(0, 3)).slice(0, 8);\n\nvar sourceIssues = [];\nif (hasForbidden) sourceIssues.push(categorized.forbidden.length + ' verbotene Quellen: ' + categorized.forbidden.join(', '));\nif (!hasPrimary) sourceIssues.push('Keine Primaerquellen gefunden');\n\nreturn {\n  json: {\n    ...input,\n    sourceValidation: {\n      passed: sourceValidationPassed,\n      categorized: categorized,\n      qualityScore: qualityScore,\n      filteredCitations: filteredCitations,\n      issues: sourceIssues\n    }\n  }\n};"
      },
      "id": "source-validation",
      "name": "10. Source Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4400, 400]
    },
    {
      "parameters": {
        "jsCode": "var input = $input.item.json;\n\nvar minimums = { business: 350, fundamentals: 300, valuation: 300, thesis: 250, scenarios: 250 };\nvar totalMinimum = 1500;\n\nvar moduleResults = {};\nvar allModulesPassed = true;\nvar depthIssues = [];\n\nvar moduleNames = ['business', 'fundamentals', 'valuation', 'thesis', 'scenarios'];\nfor (var i = 0; i < moduleNames.length; i++) {\n  var m = moduleNames[i];\n  var actual = input.wordCounts[m] || 0;\n  var minimum = minimums[m];\n  var passed = actual >= minimum;\n  if (!passed) {\n    allModulesPassed = false;\n    depthIssues.push(m + ': ' + actual + '/' + minimum);\n  }\n  moduleResults[m] = { actual: actual, minimum: minimum, passed: passed, deficit: passed ? 0 : minimum - actual };\n}\n\nvar totalPassed = input.totalWordCount >= totalMinimum;\nif (!totalPassed) depthIssues.push('Gesamtlaenge: ' + input.totalWordCount + '/' + totalMinimum);\n\nreturn {\n  json: {\n    ...input,\n    depthValidation: {\n      passed: allModulesPassed && totalPassed,\n      moduleResults: moduleResults,\n      total: { actual: input.totalWordCount, minimum: totalMinimum, passed: totalPassed },\n      issues: depthIssues\n    }\n  }\n};"
      },
      "id": "depth-validation",
      "name": "11. Depth Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4600, 400]
    },
    {
      "parameters": {
        "jsCode": "var input = $input.item.json;\n\nvar checks = {\n  dataAvailable: { passed: input.financials && input.financials.dataSource !== 'none', mandatory: true, label: 'API-Daten verfuegbar' },\n  allModulesComplete: { passed: input.moduleErrors.length === 0, mandatory: true, label: 'Alle Module generiert' },\n  noCriticalBias: { passed: input.antiBiasCheck.critical.length === 0, mandatory: true, label: 'Keine kritischen Bias-Phrasen' },\n  noForbiddenSources: { passed: input.sourceValidation.categorized.forbidden.length === 0, mandatory: true, label: 'Keine verbotenen Quellen' }\n};\n\nvar mandatoryPassed = true;\nvar failedMandatory = [];\nfor (var key in checks) {\n  if (checks[key].mandatory && !checks[key].passed) {\n    mandatoryPassed = false;\n    failedMandatory.push(checks[key].label);\n  }\n}\n\nvar rawScore = 0;\nif (input.antiBiasCheck.passed) rawScore += 15;\nelse rawScore += input.antiBiasCheck.score * 1.5;\n\nif (input.sourceValidation.passed) rawScore += 25;\nelse rawScore += Math.max(0, 25 + input.sourceValidation.qualityScore);\n\nif (input.depthValidation.passed) rawScore += 20;\nelse rawScore += 10;\n\nrawScore += 40;\n\nvar qualityScore = Math.min(10, Math.round(rawScore / 10));\nvar publicationReady = mandatoryPassed && qualityScore >= 6;\n\nvar allIssues = failedMandatory.concat(input.sourceValidation.issues || []).concat(input.antiBiasCheck.issues || []).concat(input.depthValidation.issues || []);\n\nreturn {\n  json: {\n    ...input,\n    publicationGate: {\n      publicationReady: publicationReady,\n      mandatoryPassed: mandatoryPassed,\n      qualityScore: qualityScore,\n      rawScore: Math.round(rawScore),\n      checks: checks,\n      failedMandatory: failedMandatory,\n      allIssues: allIssues\n    },\n    qualityScore: qualityScore,\n    publicationReady: publicationReady\n  }\n};"
      },
      "id": "publication-gate",
      "name": "12. Publication Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4800, 400]
    },
    {
      "parameters": {
        "jsCode": "var input = $input.item.json;\nvar modules = input.modules;\n\nvar thesisContent = modules.thesis.content || '';\nvar thesisMatch = thesisContent.match(/kernthese[^:]*:?\\s*([^\\n]+)/i) ||\n                  thesisContent.match(/zentrale\\s+aussage[^:]*:?\\s*([^\\n]+)/i) ||\n                  thesisContent.match(/hauptaussage[^:]*:?\\s*([^\\n]+)/i);\nvar centralThesis = thesisMatch ? thesisMatch[1].trim().substring(0, 300) : 'Kernthese siehe Abschnitt 1.';\n\nvar assembledAnalysis = '1. Investment-These\\n\\n' + (modules.thesis.content || 'Modul nicht verfuegbar') +\n  '\\n\\n2. Geschaeftsmodell\\n\\n' + (modules.business.content || 'Modul nicht verfuegbar') +\n  '\\n\\n3. Fundamentaldaten\\n\\n' + (modules.fundamentals.content || 'Modul nicht verfuegbar') +\n  '\\n\\n4. Bewertungseinordnung\\n\\n' + (modules.valuation.content || 'Modul nicht verfuegbar') +\n  '\\n\\n5. Szenarien und Risiken\\n\\n' + (modules.scenarios.content || 'Modul nicht verfuegbar');\n\nreturn {\n  json: {\n    ...input,\n    finalContent: assembledAnalysis,\n    centralThesis: centralThesis,\n    citations: input.sourceValidation.filteredCitations || []\n  }\n};"
      },
      "id": "editorial-assembly",
      "name": "13. Editorial Assembly",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5000, 400]
    },
    {
      "parameters": {
        "jsCode": "var input = $input.item.json;\nvar f = input.financials;\n\nfunction textToHtml(text) {\n  var html = text\n    .replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;')\n    .replace(/^(\\d+)\\.\\s+([^\\n]+)$/gm, '</p><h2>$2</h2><p>')\n    .replace(/\\n\\n+/g, '</p><p>')\n    .replace(/\\n/g, ' ');\n  html = '<p>' + html + '</p>';\n  html = html.replace(/<p><\\/p>/g, '').replace(/<p>\\s*<h/g, '<h').replace(/<\\/h2>\\s*<\\/p>/g, '</h2>').replace(/\\s+/g, ' ');\n  return html.trim();\n}\n\nvar htmlContent = textToHtml(input.finalContent || '');\nvar citations = input.citations || [];\n\nvar dataHeaderHtml = '';\nif (f && f.dataSource !== 'none') {\n  dataHeaderHtml = '<div class=\"data-header\"><h3>Verwendete Datenquellen</h3><ul>' +\n    '<li><strong>Primaerquelle:</strong> ' + (f.dataSource === 'alpha_vantage' ? 'Alpha Vantage API' : f.dataSource) + '</li>' +\n    '<li><strong>Datenqualitaet:</strong> ' + f.dataQuality + '</li>' +\n    '<li><strong>Abrufzeitpunkt:</strong> ' + (f.retrievedAt ? new Date(f.retrievedAt).toLocaleString('de-DE') : 'n/v') + '</li>' +\n    '<li><strong>Datenpunkte:</strong> ' + (input.dataPointCount || 'n/v') + '</li></ul></div>';\n}\n\nvar sourcesHtml = '';\nif (citations.length > 0) {\n  sourcesHtml = '<aside class=\"sources-section\"><h3>Quellen</h3><ol class=\"sources-list\">';\n  for (var i = 0; i < citations.length; i++) {\n    var url = citations[i];\n    var hostname = url;\n    try { hostname = new URL(url).hostname.replace('www.', ''); } catch(e) {}\n    sourcesHtml += '<li><a href=\"' + url + '\" target=\"_blank\" rel=\"noopener\">' + hostname + '</a></li>';\n  }\n  sourcesHtml += '</ol></aside>';\n}\n\nvar formattedDate = new Date(input.date).toLocaleDateString('de-DE', { day: '2-digit', month: 'long', year: 'numeric' });\nvar scoreClass = input.qualityScore >= 7 ? 'high' : (input.qualityScore >= 5 ? 'medium' : 'low');\nvar badgeText = input.publicationReady ? 'Score ' + input.qualityScore + '/10' : 'Review (' + input.qualityScore + '/10)';\n\nvar html = '<!DOCTYPE html><html lang=\"de\"><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">' +\n  '<title>' + input.company + ' (' + input.ticker + ') - Unternehmensanalyse | capitovo</title>' +\n  '<meta name=\"description\" content=\"Unabhaengige Analyse von ' + input.company + ' (' + input.ticker + ')\">' +\n  '<meta name=\"robots\" content=\"noindex, nofollow\">' +\n  '<style>:root { --text-primary: #1a1a1a; --text-secondary: #4a5568; --text-muted: #718096; --border-color: #e2e8f0; --bg-subtle: #f7fafc; --accent: #2563eb; }' +\n  '* { box-sizing: border-box; margin: 0; padding: 0; }' +\n  'body { font-family: -apple-system, BlinkMacSystemFont, sans-serif; line-height: 1.6; color: var(--text-primary); }' +\n  '.container { max-width: 48rem; margin: 0 auto; padding: 2rem 1.5rem; }' +\n  '.header { margin-bottom: 2rem; padding-bottom: 1.5rem; border-bottom: 1px solid var(--border-color); }' +\n  '.meta { font-size: 0.875rem; color: var(--text-muted); margin-bottom: 0.5rem; }' +\n  '.title { font-size: 1.75rem; font-weight: 700; margin-bottom: 0.5rem; }' +\n  '.subtitle { font-size: 1rem; color: var(--text-secondary); }' +\n  '.badge { display: inline-block; padding: 0.25rem 0.5rem; border-radius: 0.25rem; font-size: 0.75rem; font-weight: 500; margin-left: 0.5rem; }' +\n  '.badge.high { background: #dcfce7; color: #166534; }' +\n  '.badge.medium { background: #fef3c7; color: #92400e; }' +\n  '.badge.low { background: #fee2e2; color: #991b1b; }' +\n  '.data-header { background: #f1f5f9; padding: 1rem; border-radius: 0.5rem; margin-bottom: 1.5rem; font-size: 0.875rem; }' +\n  '.data-header h3 { font-size: 0.9rem; margin-bottom: 0.5rem; color: var(--text-secondary); }' +\n  '.data-header ul { list-style: none; }' +\n  '.data-header li { margin: 0.25rem 0; }' +\n  '.body { font-family: Georgia, serif; font-size: 1.0625rem; line-height: 1.8; }' +\n  '.body h2 { font-family: -apple-system, sans-serif; font-size: 1.25rem; font-weight: 600; margin: 2rem 0 1rem; padding-bottom: 0.5rem; border-bottom: 1px solid var(--border-color); }' +\n  '.body p { margin-bottom: 1rem; text-align: justify; }' +\n  '.sources-section { margin-top: 2rem; padding-top: 1rem; border-top: 1px solid var(--border-color); }' +\n  '.sources-section h3 { font-size: 0.9rem; color: var(--text-secondary); margin-bottom: 0.5rem; }' +\n  '.sources-list { list-style: decimal; padding-left: 1.25rem; font-size: 0.875rem; }' +\n  '.sources-list li { margin: 0.25rem 0; }' +\n  '.sources-list a { color: var(--accent); text-decoration: none; }' +\n  '.disclaimer { margin-top: 2rem; padding: 1rem; background: var(--bg-subtle); border: 1px solid var(--border-color); border-radius: 0.5rem; font-size: 0.8rem; color: var(--text-muted); }' +\n  '.disclaimer strong { color: var(--text-secondary); }' +\n  '.footer { margin-top: 1rem; font-size: 0.75rem; color: var(--text-muted); }</style></head>' +\n  '<body><main class=\"container\"><header class=\"header\">' +\n  '<div class=\"meta\">' + input.sector + ' - ' + input.ticker + ' - ' + input.exchange + '</div>' +\n  '<h1 class=\"title\">' + input.company + ' - Unternehmensanalyse <span class=\"badge ' + scoreClass + '\">' + badgeText + '</span></h1>' +\n  '<p class=\"subtitle\">Geschaeftsmodell, Fundamentaldaten und Bewertungseinordnung</p>' +\n  '<div class=\"meta\" style=\"margin-top: 0.5rem;\">capitovo Research - ' + formattedDate + '</div></header>' +\n  dataHeaderHtml +\n  '<article class=\"body\">' + htmlContent + '</article>' +\n  sourcesHtml +\n  '<div class=\"disclaimer\"><strong>Rechtlicher Hinweis:</strong> Diese Analyse dient ausschliesslich Informationszwecken und stellt keine Anlageberatung im Sinne des Wertpapierhandelsgesetzes (WpHG) dar. Die bereitgestellten Informationen sind keine Aufforderung zum Kauf oder Verkauf von Wertpapieren. capitovo uebernimmt keine Gewaehr fuer die Richtigkeit, Vollstaendigkeit oder Aktualitaet der dargestellten Inhalte.<br><br>' +\n  '<strong>Datenquellen:</strong> Finanzdaten wurden automatisiert ueber ' + (f && f.dataSource === 'alpha_vantage' ? 'Alpha Vantage' : (f && f.dataSource) || 'externe APIs') + ' abgerufen. Qualitative Einordnungen wurden durch KI-gestuetzte Analyse erstellt und sollten nicht als alleinige Entscheidungsgrundlage dienen.</div>' +\n  '<footer class=\"footer\">Analyse-ID: ' + input.ticker.toLowerCase() + '-' + input.date + ' - ' + input.totalWordCount + ' Woerter - ' + citations.length + ' Quellen - Pipeline v7.0</footer></main></body></html>';\n\nreturn { json: { ...input, html: html } };"
      },
      "id": "html-renderer",
      "name": "14. HTML Renderer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5200, 400]
    },
    {
      "parameters": {
        "jsCode": "var input = $input.item.json;\n\nvar svg = '<svg width=\"640\" height=\"360\" viewBox=\"0 0 640 360\" xmlns=\"http://www.w3.org/2000/svg\">' +\n  '<defs><linearGradient id=\"bg\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"100%\"><stop offset=\"0%\" stop-color=\"#0f172a\"/><stop offset=\"100%\" stop-color=\"#1e293b\"/></linearGradient></defs>' +\n  '<rect width=\"640\" height=\"360\" fill=\"url(#bg)\" rx=\"16\"/>' +\n  '<g font-family=\"-apple-system, sans-serif\">' +\n  '<text x=\"48\" y=\"72\" fill=\"#64748b\" font-size=\"13\" letter-spacing=\"0.1em\">' + input.ticker + ' - ' + input.sector.toUpperCase() + '</text>' +\n  '<text x=\"48\" y=\"120\" fill=\"#f1f5f9\" font-size=\"32\" font-weight=\"700\">' + input.company + '</text>' +\n  '<text x=\"48\" y=\"156\" fill=\"#94a3b8\" font-size=\"16\">Unternehmensanalyse</text>' +\n  '<rect x=\"48\" y=\"180\" width=\"80\" height=\"3\" fill=\"#3b82f6\" rx=\"1.5\"/>' +\n  '<text x=\"48\" y=\"224\" fill=\"#64748b\" font-size=\"14\">Geschaeftsmodell - Fundamentaldaten - Bewertung</text>' +\n  '<text x=\"48\" y=\"296\" fill=\"#475569\" font-size=\"12\">capitovo Research - Score ' + input.qualityScore + '/10</text>' +\n  '<text x=\"48\" y=\"316\" fill=\"#64748b\" font-size=\"11\">' + input.date + ' - Pipeline v7.0 Data-First</text></g></svg>';\n\nvar jsonEntry = {\n  id: input.ticker.toLowerCase() + '-' + input.date,\n  category: input.sector,\n  title: input.company + ' - Unternehmensanalyse',\n  summary: 'Unabhaengige Analyse von ' + input.company + ' (' + input.ticker + ').',\n  link: 'Abonenten/' + input.slug + '.html',\n  image: 'data/vorschaubilder_analysen/' + input.slug + '.svg',\n  date: input.date,\n  author: 'capitovo Research',\n  tags: [input.company, input.ticker, input.sector],\n  published: input.publicationReady,\n  wordCount: input.totalWordCount,\n  sourcesCount: (input.citations || []).length,\n  qualityScore: input.qualityScore,\n  dataSource: input.financials ? input.financials.dataSource : 'unknown',\n  dataQuality: input.financials ? input.financials.dataQuality : 'unknown',\n  centralThesis: input.centralThesis,\n  pipelineVersion: input.pipelineVersion\n};\n\nvar status = input.publicationReady \n  ? 'OK Publikationsreif (Score ' + input.qualityScore + '/10)'\n  : 'WARNUNG Review erforderlich - Score ' + input.qualityScore + '/10';\n\nreturn {\n  json: {\n    success: true,\n    status: status,\n    company: input.company,\n    ticker: input.ticker,\n    date: input.date,\n    pipelineVersion: input.pipelineVersion,\n    metrics: {\n      totalWordCount: input.totalWordCount,\n      wordCountsByModule: input.wordCounts,\n      sourcesCount: (input.citations || []).length,\n      qualityScore: input.qualityScore,\n      rawScore: input.publicationGate ? input.publicationGate.rawScore : 0,\n      publicationReady: input.publicationReady,\n      dataPointCount: input.dataPointCount,\n      dataSource: input.financials ? input.financials.dataSource : 'unknown',\n      dataQuality: input.financials ? input.financials.dataQuality : 'unknown'\n    },\n    validationResults: {\n      sourceValidation: input.sourceValidation,\n      antiBiasCheck: input.antiBiasCheck,\n      depthValidation: input.depthValidation,\n      publicationGate: input.publicationGate\n    },\n    centralThesis: input.centralThesis,\n    allIssues: input.publicationGate ? input.publicationGate.allIssues : [],\n    outputs: { html: input.html, svg: svg, jsonEntry: jsonEntry },\n    filePaths: {\n      html: 'Abonenten/' + input.slug + '.html',\n      svg: 'data/vorschaubilder_analysen/' + input.slug + '.svg',\n      json: 'data/analysen.json'\n    },\n    nextSteps: input.publicationReady \n      ? ['HTML speichern', 'SVG speichern', 'analysen.json aktualisieren']\n      : ['Issues beheben: ' + ((input.publicationGate && input.publicationGate.allIssues) ? input.publicationGate.allIssues.slice(0, 3).join(', ') : 'Siehe Validierung')]\n  }\n};"
      },
      "id": "output-generator",
      "name": "15. Output Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5400, 400]
    },
    {
      "parameters": {},
      "id": "output",
      "name": "Output",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [5600, 400]
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "1. Input Data", "type": "main", "index": 0 }]] },
    "1. Input Data": { "main": [[{ "node": "2. Input Validator", "type": "main", "index": 0 }]] },
    "2. Input Validator": { "main": [[{ "node": "3a. Alpha Vantage Overview", "type": "main", "index": 0 }]] },
    "3a. Alpha Vantage Overview": { "main": [[{ "node": "3a. Store Overview", "type": "main", "index": 0 }]] },
    "3a. Store Overview": { "main": [[{ "node": "3b. Alpha Vantage Income", "type": "main", "index": 0 }]] },
    "3b. Alpha Vantage Income": { "main": [[{ "node": "4. Financials Aggregator", "type": "main", "index": 0 }]] },
    "4. Financials Aggregator": { "main": [[{ "node": "5. Facts Formatter", "type": "main", "index": 0 }]] },
    "5. Facts Formatter": { "main": [[{ "node": "6. Prompt Builder", "type": "main", "index": 0 }]] },
    "6. Prompt Builder": { "main": [[{ "node": "7a. API: Geschaeftsmodell", "type": "main", "index": 0 }]] },
    "7a. API: Geschaeftsmodell": { "main": [[{ "node": "7a. Extract", "type": "main", "index": 0 }]] },
    "7a. Extract": { "main": [[{ "node": "7b. API: Fundamentals", "type": "main", "index": 0 }]] },
    "7b. API: Fundamentals": { "main": [[{ "node": "7b. Extract", "type": "main", "index": 0 }]] },
    "7b. Extract": { "main": [[{ "node": "7c. API: Bewertung", "type": "main", "index": 0 }]] },
    "7c. API: Bewertung": { "main": [[{ "node": "7c. Extract", "type": "main", "index": 0 }]] },
    "7c. Extract": { "main": [[{ "node": "7d. API: These", "type": "main", "index": 0 }]] },
    "7d. API: These": { "main": [[{ "node": "7d. Extract", "type": "main", "index": 0 }]] },
    "7d. Extract": { "main": [[{ "node": "7e. API: Szenarien", "type": "main", "index": 0 }]] },
    "7e. API: Szenarien": { "main": [[{ "node": "7e. Extract", "type": "main", "index": 0 }]] },
    "7e. Extract": { "main": [[{ "node": "8. Module Collector", "type": "main", "index": 0 }]] },
    "8. Module Collector": { "main": [[{ "node": "9. Anti-Bias Check", "type": "main", "index": 0 }]] },
    "9. Anti-Bias Check": { "main": [[{ "node": "10. Source Validation", "type": "main", "index": 0 }]] },
    "10. Source Validation": { "main": [[{ "node": "11. Depth Validation", "type": "main", "index": 0 }]] },
    "11. Depth Validation": { "main": [[{ "node": "12. Publication Gate", "type": "main", "index": 0 }]] },
    "12. Publication Gate": { "main": [[{ "node": "13. Editorial Assembly", "type": "main", "index": 0 }]] },
    "13. Editorial Assembly": { "main": [[{ "node": "14. HTML Renderer", "type": "main", "index": 0 }]] },
    "14. HTML Renderer": { "main": [[{ "node": "15. Output Generator", "type": "main", "index": 0 }]] },
    "15. Output Generator": { "main": [[{ "node": "Output", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "production" }, { "name": "v7.0-data-first" }]
}
