n8n/n8n_analyse_generator_workflow_v4.json
{
  "name": "Capitovo Analyse Generator v4 - Final",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 400]
    },
    {
      "parameters": {
        "jsCode": "// === EINGABE-DATEN ===\n// Hier die Aktie eintragen, die analysiert werden soll:\n\nreturn {\n  json: {\n    company: 'Apple',\n    ticker: 'AAPL',\n    exchange: 'NASDAQ',\n    sector: 'Technologie',\n    currency: 'USD',\n    slug: 'apple',\n    \n    // Optional: Infos zur letzten Analyse (für Serien-Logik)\n    lastAnalysisDate: null,  // z.B. '2025-12-15'\n    lastAnalysisHighlights: null  // z.B. 'Fokus auf iPhone 16 Launch'\n  }\n};"
      },
      "id": "input-data",
      "name": "1. Input Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// Validierung\nconst required = ['company', 'ticker', 'exchange', 'sector', 'currency'];\nconst missing = required.filter(f => !input[f]);\n\nif (missing.length > 0) {\n  throw new Error(`Fehlende Pflichtfelder: ${missing.join(', ')}`);\n}\n\nconst slug = input.slug || input.company.toLowerCase().replace(/[^a-z0-9]+/g, '-');\nconst date = new Date().toISOString().split('T')[0];\n\n// Serien-Kontext aufbauen\nlet seriesContext = '';\nif (input.lastAnalysisDate) {\n  seriesContext = `\\n\\n**SERIEN-KONTEXT:**\\nLetzte Analyse: ${input.lastAnalysisDate}\\n`;\n  if (input.lastAnalysisHighlights) {\n    seriesContext += `Schwerpunkte damals: ${input.lastAnalysisHighlights}\\n`;\n  }\n  seriesContext += `Vergleiche explizit mit dieser vorherigen Analyse und benenne Veränderungen.`;\n} else {\n  seriesContext = `\\n\\n**SERIEN-KONTEXT:**\\nDies ist die erste Analyse zu diesem Unternehmen in der Serie. Etabliere eine solide Basis für künftige Vergleiche.`;\n}\n\nreturn {\n  json: {\n    ...input,\n    slug,\n    date,\n    seriesContext,\n    isFirstAnalysis: !input.lastAnalysisDate\n  }\n};"
      },
      "id": "input-validator",
      "name": "2. Input Validator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [620, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// FINALER STEUER-PROMPT v10 - PUBLICATION-READY GRADE\n// =====================================================\n\nconst systemPrompt = `Du agierst als Senior Research Editor eines Asset Managers mit Buy-Side-Hintergrund.\nDein Ziel ist eine Unternehmensanalyse, die BELASTBAR statt spektakulär wirkt - publikationsreif ohne Reputationsrisiko.\n\nInstitutionelle Qualität = Verlässlichkeit × Nachvollziehbarkeit × Quellenhygiene\n\nKRITISCHE ARBEITSANWEISUNGEN\n\n1. QUELLENQUALITÄT (K.O.-Kriterium)\n\nAUSSCHLIESSLICH diese Quellen verwenden:\n- ${input.company} Form 10-K, 10-Q, Annual Report (Jahr angeben)\n- ${input.company} Earnings Call Transcripts (Quartal/Jahr)\n- ${input.company} Investor Relations Präsentationen\n- SEC EDGAR Filings\n- Für Marktdaten: Statista, IDC, Gartner (mit Jahresangabe)\n\nSTRIKT VERBOTEN als Quellen:\n- Blogs, Foren, Community-Seiten (boerse-social, wikifolio, reddit)\n- Studentische Plattformen (studocu)\n- Podcasts, YouTube, Social Media\n- Nachrichtenportale ohne Primärdaten\n- JEDE Seite ohne direkten ${input.company}-Bezug\n\nREGEL: Lieber 4 exzellente Quellen als 10 mittelmäßige.\nMaximal 5-6 Quellen, alle mit direktem ${input.company}/${input.ticker}-Bezug.\n\n2. KONDITIONALE SPRACHE (Pflicht bei allen Einschätzungen)\n\nJEDE Aussage über Marktposition, Stärke oder Zukunft MUSS eingefasst werden:\n\n✅ RICHTIG:\n- \"Historisch betrachtet...\"\n- \"Nach aktuellem Stand...\"\n- \"Unter der Annahme, dass...\"\n- \"Die Daten der letzten fünf Jahre zeigen...\"\n- \"Laut Geschäftsbericht 2024...\"\n- \"Sofern sich die Rahmenbedingungen nicht wesentlich ändern...\"\n\n❌ FALSCH (zu absolut):\n- \"dominante Stellung\" → \"historisch führende Marktposition\"\n- \"garantiert hohe Margen\" → \"Margen lagen in den letzten Jahren stabil bei...\"\n- \"Resilienz ergibt sich aus\" → \"Die Cash-Position von X Mrd. USD bietet nach aktuellem Stand...\"\n- \"wird weiter wachsen\" → \"bei Fortsetzung der bisherigen Trends...\"\n\n3. TRENNUNG FAKT / SCHÄTZUNG / INTERPRETATION\n\nFAKTEN (mit Quelle):\n\"Laut Form 10-K 2024 betrug der Umsatz...\"\n\"Das Unternehmen berichtet im Q3-Call...\"\n\nSCHÄTZUNGEN (als solche kennzeichnen):\n\"Daraus lässt sich ein ROIC von etwa X% ableiten...\"\n\"Dies impliziert unter Standardannahmen...\"\n\nINTERPRETATIONEN (vorsichtig formulieren):\n\"Die Daten legen nahe, dass...\"\n\"Eine mögliche Erklärung wäre...\"\n\"Dies könnte darauf hindeuten...\"\n\n4. ZAHLEN-DISZIPLIN\n\nPRIMÄRDATEN (aus 10-K etc.): Exakte Zahlen erlaubt\n\"Umsatz: 383 Mrd. USD (10-K 2024)\"\n\nABGELEITETE WERTE: Bandbreiten verwenden\n\"ROIC im Bereich von 45-50%\"\n\"KGV zwischen 28x und 32x\"\n\"Wachstum von etwa 5-8% p.a.\"\n\nKEINE Scheingenauigkeit:\n❌ \"CLV von 10.847 USD\" → ✅ \"CLV im mittleren vierstelligen Bereich\"\n❌ \"PEG von 4,37x\" → ✅ \"PEG von etwa 4-5x\"\n\n5. TON-DISZIPLIN\n\nVERBOTEN:\n- \"dominante\", \"uneinholbar\", \"unangreifbar\"\n- \"überschätzt\", \"unterschätzt\", \"der Markt irrt\"\n- \"Game-Changer\", \"Paradigmenwechsel\", \"Revolution\"\n- \"spektakulär\", \"beeindruckend\", \"enttäuschend\"\n- \"blinder Fleck\", \"Konsens liegt falsch\"\n\nERLAUBT:\n- \"führende Position\", \"etablierte Marktstellung\"\n- \"Die implizite Erwartung setzt voraus...\"\n- \"Weniger beachtet wird der Aspekt...\"\n- \"Ein differenzierter Blick zeigt...\"\n\n6. FORMALE KONSISTENZ (wichtig für Compliance)\n\n- EIN Referenzdatum für alle Kurse/Multiples (Ende 2025 oder Anfang 2026)\n- Alle Zahlen müssen zueinander passen (Marktk. = Kurs × Aktien)\n- Wachstumsraten konsistent (nicht einmal 5%, dann 10%)\n\nCOMPLIANCE-VERBOTE (K.O.-Kriterien)\n\n- Anleger sollten, eignet sich für, attraktiv, lohnend\n- Kauf, Verkauf, Einstieg, Ausstieg, Buy, Sell, Hold\n- Kursziel, Price Target, Fair Value, fairer Wert\n- unterbewertet, überbewertet, zu teuer, zu günstig\n- Sicherheitsmarge, Margin of Safety\n- Jede implizite Handlungsempfehlung`;\n\nconst userPrompt = `Erstelle eine institutionelle Unternehmensanalyse für:\n\nUnternehmen: ${input.company} (${input.ticker})\nBörse: ${input.exchange}\nSektor: ${input.sector}\nReferenzdatum: Ende 2025 / Anfang 2026\n\nSTRUKTUR\n\n1. Einordnung und zentrale These\n\nMarktposition, Wettbewerbsumfeld, Branchenreifegrad.\nZentrale These für dieses Unternehmen zum aktuellen Zeitpunkt.\nFormuliere wo die Einschätzung vom Marktkonsens abweichen KÖNNTE (konditional!).\n\n2. Geschäftsmodell und ökonomische Logik\n\nUmsatzsegmente mit Anteilen (Quelle: Geschäftsbericht Jahr angeben).\nWertschöpfungstiefe und Preissetzungsmacht.\nGeografische Exponierung.\nStrukturelle Wettbewerbsvorteile - KONDITIONAL formulieren:\n- \"Historisch basiert der Moat auf...\"\n- \"Unter den aktuellen Bedingungen...\"\n- \"Erosion könnte eintreten, falls...\"\n\n3. Fundamentale Entwicklung\n\nLetzte 3-5 Jahre:\n- Umsatzentwicklung (mit Quellenangabe)\n- Margenstruktur: Treiber und Nachhaltigkeit\n- Free-Cashflow: Qualität, Conversion Rate\n- ROIC vs. WACC (als Bandbreite, mit Limitation)\n- Kapitalstruktur\n\nJede Kennzahl erklären. Bandbreiten wo keine Primärdaten.\n\n4. Bewertungseinordnung\n\nOhne Wertung:\n- Aktuelle Multiples mit EINEM Stichtag (KGV, EV/EBITDA, FCF-Yield)\n- Historischer Vergleich: aktuell vs. 5-Jahres-Durchschnitt\n- Peer-Vergleich: 2-3 Wettbewerber mit Begründung\n- Implizite Markterwartung: \"Der Markt preist derzeit X ein\"\n\n5. Szenario-Analyse\n\nDrei Entwicklungspfade - NUR Bedingungen, keine Kursziele:\n\nPOSITIV: \"Dieses Szenario würde voraussetzen, dass...\"\nBASIS: \"Bei Fortsetzung der bisherigen Trends...\"\nNEGATIV: \"Risiken könnten eintreten, falls...\"\n\n6. Wachstumstreiber und Risiken\n\nPriorisiert. Symmetrisch. Kausal verknüpft.\n\n7. Strukturelle Einordnung\n\n- Typisches Halter-Profil (beschreibend, nicht empfehlend)\n- Zyklizität\n- Offene Fragen\n\n8. Rechtlicher Hinweis\n\n\"Diese Analyse dient ausschließlich Informationszwecken und stellt keine Anlageberatung im Sinne des WpHG dar.\"\n\n9. Quellen\n\nNUR DIESE QUELLENTYPEN (maximal 5-6):\n- ${input.company} Form 10-K [Jahr]\n- ${input.company} Form 10-Q [Quartal/Jahr]\n- ${input.company} Earnings Call [Quartal/Jahr]\n- ${input.company} Investor Presentation [Jahr]\n- SEC EDGAR\n- Statista/IDC nur für Marktdaten\n\nKEINE Blogs, Foren, Podcasts, Nachrichtenseiten ohne Primärdaten.\n\nFORMALE ANFORDERUNGEN\n\n- Zielumfang: 1.600-1.900 Wörter\n- Alle Einschätzungen konditional formulieren\n- Alle Zahlen konsistent auf ein Referenzdatum\n- Bandbreiten statt Punktschätzungen bei abgeleiteten Werten\n\nOUTPUT: Reiner Text, nummerierte Überschriften.${input.seriesContext}`;\n\nreturn {\n  json: {\n    ...input,\n    systemPrompt,\n    userPrompt\n  }\n};"
      },
      "id": "prompt-builder",
      "name": "3. Prompt Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.2,\n  \"max_tokens\": 8000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": {{ JSON.stringify($json.systemPrompt) }}\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.userPrompt) }}\n    }\n  ],\n  \"return_citations\": true,\n  \"search_recency_filter\": \"week\"\n}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "perplexity-api",
      "name": "4. Perplexity API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1060, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $('3. Prompt Builder').item.json;\nconst response = $input.item.json;\n\n// API-Fehler abfangen\nif (response.error) {\n  throw new Error(`Perplexity API Fehler: ${response.error.message || JSON.stringify(response.error)}`);\n}\n\nconst content = response.choices?.[0]?.message?.content || '';\nconst citations = response.citations || [];\nconst usage = response.usage || {};\n\n// Wörter zählen\nconst wordCount = content.split(/\\s+/).filter(w => w.length > 0).length;\n\nreturn {\n  json: {\n    ...input,\n    rawContent: content,\n    citations,\n    tokensUsed: (usage.prompt_tokens || 0) + (usage.completion_tokens || 0),\n    wordCount\n  }\n};"
      },
      "id": "content-extractor",
      "name": "5. Content Extractor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1280, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// COMPLIANCE CHECK v3 - Publication-Ready Prüfung\n// =====================================================\n\nconst content = (input.rawContent || '').toLowerCase();\nconst contentOriginal = input.rawContent || '';\nconst citations = input.citations || [];\nconst companyName = (input.company || '').toLowerCase();\nconst ticker = (input.ticker || '').toLowerCase();\n\n// ===== 1. VERBOTENE PHRASEN =====\nconst forbiddenPhrases = [\n  'einstieg könnte sinnvoll', 'ausstieg könnte erwogen', 'einstieg könnte sich lohnen',\n  'kaufen', 'verkaufen', 'halten', 'buy', 'sell', 'hold',\n  'kursziel', 'price target', 'fair value', 'fairer wert',\n  'unterbewertet', 'überbewertet', 'fair bewertet', 'attraktiv bewertet',\n  'unattraktiv', 'sicherheitsmarge', 'margin of safety',\n  'rechtfertigt die bewertung', 'bewertung rechtfertigt',\n  'zu teuer', 'zu günstig', 'bietet potenzial', 'anleger sollten',\n  'game-changer', 'paradigmenwechsel', 'blinder fleck',\n  'der markt irrt', 'konsens liegt falsch', 'spektakulär',\n  'beeindruckend', 'enttäuschend', 'uneinholbar', 'unangreifbar'\n];\n\nconst allowedContextPatterns = [\n  /morgan stanley.{0,30}(kursziel|kaufen|halten|verkaufen)/gi,\n  /goldman sachs.{0,30}(kursziel|kaufen|halten|verkaufen)/gi,\n  /analyst.{0,50}(kursziel|stuft|bewertet)/gi\n];\n\nlet phraseViolations = [];\nfor (const phrase of forbiddenPhrases) {\n  if (content.includes(phrase)) {\n    const index = content.indexOf(phrase);\n    const contextWindow = content.substring(Math.max(0, index - 80), Math.min(content.length, index + 80));\n    let isAllowed = allowedContextPatterns.some(p => p.test(contextWindow));\n    if (!isAllowed) phraseViolations.push(phrase);\n  }\n}\nphraseViolations = [...new Set(phraseViolations)];\n\n// ===== 2. ZU ABSOLUTE FORMULIERUNGEN (Soft-Warning) =====\nconst absolutePhrases = [\n  'dominante stellung', 'dominante position', 'dominante marktstellung',\n  'garantiert', 'zweifellos', 'unbestritten', 'eindeutig',\n  'wird weiter wachsen', 'wird steigen', 'wird fallen',\n  'resilienz ergibt sich', 'stärke ergibt sich'\n];\n\nlet absoluteWarnings = [];\nfor (const phrase of absolutePhrases) {\n  if (content.includes(phrase)) {\n    absoluteWarnings.push(phrase);\n  }\n}\nabsoluteWarnings = [...new Set(absoluteWarnings)];\n\n// ===== 3. QUELLENQUALITÄT (STRENG) =====\nconst lowQualityDomains = [\n  'studocu', 'wikifolio', 'boerse-social', 'rtl.de', 'bild.de', 'focus.de',\n  'reddit', 'facebook', 'twitter', 'x.com', 'youtube', 'tiktok', 'instagram',\n  'podcast', 'community', 'forum', 'blog', 'medium.com', 'substack',\n  'ad-hoc-news', 'it-boltwise', 'finanzen100', 'wallstreet-online'\n];\n\nconst highQualityDomains = [\n  'sec.gov', 'investor.', 'ir.', 'annualreport', '10-k', '10-q',\n  'earnings', 'statista.com', 'idc.com', 'gartner.com'\n];\n\nlet lowQualitySources = [];\nlet highQualitySources = [];\nlet companyRelevantSources = 0;\nlet irrelevantSources = [];\n\nfor (const url of citations) {\n  const urlLower = url.toLowerCase();\n  \n  // Low Quality Check\n  if (lowQualityDomains.some(d => urlLower.includes(d))) {\n    lowQualitySources.push(url);\n  }\n  \n  // High Quality Check\n  if (highQualityDomains.some(d => urlLower.includes(d))) {\n    highQualitySources.push(url);\n  }\n  \n  // Company Relevance Check - STRENG\n  const hasCompanyRef = urlLower.includes(companyName) || \n                        urlLower.includes(ticker) || \n                        urlLower.includes('sec.gov') || \n                        urlLower.includes('investor') ||\n                        urlLower.includes('statista') ||\n                        urlLower.includes('idc.com') ||\n                        urlLower.includes('gartner');\n  \n  if (hasCompanyRef) {\n    companyRelevantSources++;\n  } else {\n    // Quelle ohne Unternehmensbezug = irrelevant\n    irrelevantSources.push(url);\n  }\n}\n\n// Quellen-Qualität: Keine Low-Quality UND keine irrelevanten Quellen\nconst sourceQualityPassed = lowQualitySources.length === 0 && irrelevantSources.length === 0;\nconst hasHighQualitySources = highQualitySources.length >= 2;\n\n// ===== 4. SCHEINGENAUIGKEIT =====\nconst overPrecisePatterns = [\n  /\\d{1,3}[.,]\\d{3}\\s*(dollar|euro|usd|eur)/gi,\n  /\\d+[,.]\\d{2,}x(?!\\d)/gi,  // 4,37x aber nicht 4,3x\n  /fair[- ]?pe\\s+(von\\s+)?\\d+[,.]\\d+/gi,\n  /clv\\s+(von\\s+)?\\d{4,}/gi\n];\n\nlet precisionWarnings = [];\nfor (const pattern of overPrecisePatterns) {\n  const matches = contentOriginal.match(pattern);\n  if (matches) precisionWarnings.push(...matches.slice(0, 2));\n}\nprecisionWarnings = [...new Set(precisionWarnings)];\nconst precisionPassed = precisionWarnings.length === 0;\n\n// ===== 5. GESAMTBEWERTUNG =====\nconst compliancePassed = phraseViolations.length === 0 && \n                         sourceQualityPassed && \n                         precisionPassed;\n\nconst wordCount = input.wordCount || 0;\nconst lengthPassed = wordCount >= 1400 && wordCount <= 2200;\nconst citationCount = citations.length;\nconst optimalSourceCount = citationCount >= 3 && citationCount <= 7;\n\n// Quality Score (0-10)\nlet qualityScore = 0;\nqualityScore += phraseViolations.length === 0 ? 3 : 0;\nqualityScore += lowQualitySources.length === 0 ? 1.5 : 0;\nqualityScore += irrelevantSources.length === 0 ? 1.5 : 0;\nqualityScore += hasHighQualitySources ? 1 : 0;\nqualityScore += precisionPassed ? 1 : 0;\nqualityScore += lengthPassed ? 1 : 0;\nqualityScore += optimalSourceCount ? 1 : 0;\nqualityScore = Math.min(10, Math.round(qualityScore));\n\n// Quality Comment\nlet issues = [];\nif (phraseViolations.length > 0) issues.push(`Verbotene Phrasen: ${phraseViolations.slice(0,3).join(', ')}`);\nif (lowQualitySources.length > 0) issues.push(`Low-Quality-Quellen: ${lowQualitySources.length}`);\nif (irrelevantSources.length > 0) issues.push(`Quellen ohne ${input.company}-Bezug: ${irrelevantSources.length}`);\nif (!precisionPassed) issues.push(`Scheingenauigkeit`);\nif (wordCount < 1400) issues.push(`Zu kurz: ${wordCount}`);\nif (citationCount > 7) issues.push(`Zu viele Quellen: ${citationCount}`);\n\nlet warnings = [];\nif (absoluteWarnings.length > 0) warnings.push(`Zu absolute Formulierungen: ${absoluteWarnings.slice(0,2).join(', ')}`);\n\nlet qualityComment = '';\nif (issues.length === 0 && warnings.length === 0) {\n  qualityComment = `✅ Analyse publikationsreif. ${wordCount} Wörter, ${citationCount} Quellen.`;\n} else if (issues.length === 0) {\n  qualityComment = `⚠️ Compliant, aber Feinschliff nötig: ${warnings.join(' | ')}`;\n} else {\n  qualityComment = `❌ NICHT COMPLIANT: ${issues.join(' | ')}`;\n}\n\nreturn {\n  json: {\n    ...input,\n    compliancePassed,\n    complianceViolations: phraseViolations,\n    sourceQuality: {\n      passed: sourceQualityPassed,\n      lowQuality: lowQualitySources,\n      highQuality: highQualitySources,\n      irrelevant: irrelevantSources,\n      companyRelevant: companyRelevantSources\n    },\n    precisionCheck: { passed: precisionPassed, warnings: precisionWarnings },\n    absoluteFormulations: absoluteWarnings,\n    lengthPassed,\n    hasEnoughSources: citationCount >= 3,\n    qualityScore,\n    qualityComment\n  }\n};"
      },
      "id": "compliance-check",
      "name": "6. Compliance Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// HTML RENDERER - Konvertiert Klartext zu HTML\n// =====================================================\n\nfunction textToHtml(text) {\n  let html = text\n    // HTML-Entities escapen\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    // Nummerierte Überschriften erkennen (1. Titel, 2. Titel etc.)\n    .replace(/^(\\d+)\\.\\s+([^\\n]+)$/gm, '</p><h2>$2</h2><p>')\n    // Absätze bei Doppel-Zeilenumbrüchen\n    .replace(/\\n\\n+/g, '</p><p>')\n    // Einzelne Zeilenumbrüche als Leerzeichen\n    .replace(/\\n/g, ' ');\n  \n  // Wrapper\n  html = '<p>' + html + '</p>';\n  \n  // Cleanup: Leere Paragraphen entfernen\n  html = html.replace(/<p><\\/p>/g, '');\n  html = html.replace(/<p>\\s*<h/g, '<h');\n  html = html.replace(/<\\/h2>\\s*<\\/p>/g, '</h2>');\n  html = html.replace(/<p>\\s*<\\/p>/g, '');\n  html = html.replace(/\\s+/g, ' ');\n  \n  return html.trim();\n}\n\nconst htmlContent = textToHtml(input.rawContent || '');\n\n// Quellen aus Perplexity citations\nlet sourcesHtml = '';\nif (input.citations && input.citations.length > 0) {\n  sourcesHtml = `\n    <aside class=\"sources-section\">\n      <h3>Quellen</h3>\n      <ol class=\"sources-list\">\n        ${input.citations.map((url, i) => {\n          try {\n            const domain = new URL(url).hostname.replace('www.', '');\n            return `<li><a href=\"${url}\" target=\"_blank\" rel=\"noopener noreferrer\">${domain}</a></li>`;\n          } catch {\n            return `<li><a href=\"${url}\" target=\"_blank\" rel=\"noopener noreferrer\">${url}</a></li>`;\n          }\n        }).join('\\n        ')}\n      </ol>\n    </aside>`;\n}\n\nconst dateObj = new Date(input.date);\nconst formattedDate = dateObj.toLocaleDateString('de-DE', {\n  day: '2-digit',\n  month: 'long',\n  year: 'numeric'\n});\n\nconst html = `<!DOCTYPE html>\n<html lang=\"de\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <title>${input.company} (${input.ticker}) – Unternehmensanalyse | capitovo</title>\n  <meta name=\"description\" content=\"${input.company} (${input.ticker}) Unternehmensanalyse: Geschäftsmodell, Fundamentaldaten, Bewertungseinordnung. Equity Research von capitovo.\">\n  <meta name=\"robots\" content=\"noindex, nofollow\">\n  <link rel=\"stylesheet\" href=\"../style.css\">\n  <style>\n    :root {\n      --text-primary: #1a1a1a;\n      --text-secondary: #4a5568;\n      --text-muted: #718096;\n      --border-color: #e2e8f0;\n      --bg-subtle: #f7fafc;\n      --accent: #2563eb;\n    }\n    .analysis-container { max-width: 48rem; margin: 0 auto; padding: 2rem 1.5rem; }\n    .analysis-header { margin-bottom: 2.5rem; padding-bottom: 1.5rem; border-bottom: 1px solid var(--border-color); }\n    .analysis-meta { display: flex; flex-wrap: wrap; gap: 0.75rem; font-size: 0.875rem; color: var(--text-muted); margin-bottom: 1rem; font-family: -apple-system, BlinkMacSystemFont, sans-serif; }\n    .analysis-meta span:not(:last-child)::after { content: '·'; margin-left: 0.75rem; }\n    .analysis-title { font-size: 2rem; font-weight: 700; color: var(--text-primary); line-height: 1.25; margin: 0 0 0.75rem 0; font-family: -apple-system, BlinkMacSystemFont, sans-serif; }\n    .analysis-subtitle { font-size: 1.125rem; color: var(--text-secondary); margin: 0; }\n    .analysis-body { font-family: Georgia, 'Times New Roman', serif; font-size: 1.0625rem; line-height: 1.8; color: var(--text-primary); }\n    .analysis-body h2 { font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-size: 1.25rem; font-weight: 600; color: var(--text-primary); margin: 2.5rem 0 1rem 0; padding-bottom: 0.5rem; border-bottom: 1px solid var(--border-color); }\n    .analysis-body h2:first-of-type { margin-top: 0; }\n    .analysis-body p { margin: 0 0 1.25rem 0; text-align: justify; hyphens: auto; }\n    .sources-section { margin-top: 3rem; padding-top: 1.5rem; border-top: 1px solid var(--border-color); }\n    .sources-section h3 { font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-size: 0.9375rem; font-weight: 600; color: var(--text-secondary); margin: 0 0 1rem 0; }\n    .sources-list { list-style: decimal; padding-left: 1.25rem; margin: 0; font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-size: 0.875rem; }\n    .sources-list li { margin: 0.375rem 0; color: var(--text-muted); }\n    .sources-list a { color: var(--accent); text-decoration: none; word-break: break-all; }\n    .sources-list a:hover { text-decoration: underline; }\n    .disclaimer { margin-top: 2.5rem; padding: 1.25rem; background: var(--bg-subtle); border-radius: 0.5rem; font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-size: 0.8125rem; color: var(--text-muted); line-height: 1.6; }\n    .disclaimer strong { color: var(--text-secondary); }\n    .analysis-footer { margin-top: 1.5rem; font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-size: 0.75rem; color: var(--text-muted); }\n    .back-link { display: inline-flex; align-items: center; gap: 0.25rem; font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-size: 0.875rem; color: var(--accent); text-decoration: none; margin-bottom: 1.5rem; }\n    .back-link:hover { text-decoration: underline; }\n  </style>\n</head>\n<body>\n  <header class=\"site-header\">\n    <div class=\"header-content\">\n      <div class=\"logo\">\n        <a href=\"./abonenten.html\">\n          <img src=\"../assets/capitovo_logo_weiß.png\" alt=\"capitovo Logo\" class=\"header-logo\">\n        </a>\n      </div>\n    </div>\n  </header>\n  \n  <main class=\"analysis-container\">\n    <a href=\"./alle_analysen.html\" class=\"back-link\">← Zurück zur Übersicht</a>\n    \n    <article>\n      <header class=\"analysis-header\">\n        <div class=\"analysis-meta\">\n          <span>${input.sector}</span>\n          <span>${input.ticker}</span>\n          <span>${input.exchange}</span>\n        </div>\n        <h1 class=\"analysis-title\">${input.company} – Unternehmensanalyse</h1>\n        <p class=\"analysis-subtitle\">Geschäftsmodell, Fundamentaldaten und Bewertungseinordnung</p>\n        <div class=\"analysis-meta\" style=\"margin-top: 1rem; margin-bottom: 0;\">\n          <span>capitovo Research</span>\n          <time datetime=\"${input.date}\">${formattedDate}</time>\n        </div>\n      </header>\n      \n      <div class=\"analysis-body\">\n        ${htmlContent}\n      </div>\n      \n      ${sourcesHtml}\n      \n      <div class=\"disclaimer\">\n        <strong>Rechtlicher Hinweis:</strong> Diese Analyse dient ausschließlich Informationszwecken und stellt keine Anlageberatung im Sinne des Wertpapierhandelsgesetzes (WpHG) dar. Die bereitgestellten Informationen sind keine Aufforderung zum Kauf oder Verkauf von Wertpapieren. Anlageentscheidungen sollten auf Basis eigener Recherche und gegebenenfalls professioneller Beratung getroffen werden.\n      </div>\n      \n      <footer class=\"analysis-footer\">\n        Analyse-ID: ${input.ticker.toLowerCase()}-${input.date} · ${input.wordCount} Wörter · ${input.citations?.length || 0} Quellen\n      </footer>\n    </article>\n  </main>\n  \n  <footer style=\"border-top: 1px solid #e2e8f0; padding: 1.5rem; text-align: center; color: #718096; font-size: 0.875rem; font-family: -apple-system, sans-serif;\">\n    © ${new Date().getFullYear()} capitovo – Alle Rechte vorbehalten.\n  </footer>\n  \n  <script src=\"../script.js\"></script>\n</body>\n</html>`;\n\nreturn {\n  json: {\n    ...input,\n    html\n  }\n};"
      },
      "id": "html-renderer",
      "name": "7. HTML Renderer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1720, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// OUTPUT GENERATOR - Alle Ausgabe-Artefakte\n// =====================================================\n\n// SVG Vorschaubild (clean, ohne Empfehlung)\nconst svg = `<svg width=\"640\" height=\"360\" viewBox=\"0 0 640 360\" xmlns=\"http://www.w3.org/2000/svg\">\n  <defs>\n    <linearGradient id=\"bg-gradient\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"100%\">\n      <stop offset=\"0%\" stop-color=\"#0f172a\"/>\n      <stop offset=\"100%\" stop-color=\"#1e293b\"/>\n    </linearGradient>\n  </defs>\n  <rect width=\"640\" height=\"360\" fill=\"url(#bg-gradient)\" rx=\"16\"/>\n  <g font-family=\"-apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif\">\n    <text x=\"48\" y=\"72\" fill=\"#64748b\" font-size=\"13\" letter-spacing=\"0.1em\" font-weight=\"500\">${input.ticker} · ${input.sector.toUpperCase()}</text>\n    <text x=\"48\" y=\"120\" fill=\"#f1f5f9\" font-size=\"32\" font-weight=\"700\">${input.company}</text>\n    <text x=\"48\" y=\"156\" fill=\"#94a3b8\" font-size=\"16\">Unternehmensanalyse</text>\n    <rect x=\"48\" y=\"180\" width=\"80\" height=\"3\" fill=\"#3b82f6\" rx=\"1.5\"/>\n    <text x=\"48\" y=\"224\" fill=\"#64748b\" font-size=\"14\">Geschäftsmodell · Fundamentaldaten · Bewertung</text>\n    <g transform=\"translate(48, 296)\">\n      <text x=\"0\" y=\"0\" fill=\"#475569\" font-size=\"12\">capitovo Research</text>\n      <text x=\"0\" y=\"20\" fill=\"#64748b\" font-size=\"11\">${input.date}</text>\n    </g>\n  </g>\n</svg>`;\n\n// JSON-Eintrag für analysen.json\nconst jsonEntry = {\n  id: `${input.ticker.toLowerCase()}-${input.date}`,\n  category: input.sector,\n  title: `${input.company} – Unternehmensanalyse`,\n  summary: `Analyse des Geschäftsmodells, der Fundamentaldaten und Bewertungseinordnung von ${input.company} (${input.ticker}).`,\n  link: `Abonenten/${input.slug}.html`,\n  image: `data/vorschaubilder_analysen/${input.slug}.svg`,\n  date: input.date,\n  author: 'capitovo Research',\n  tags: [input.company, input.ticker, input.sector],\n  published: input.compliancePassed, // Nur veröffentlichen wenn compliant\n  wordCount: input.wordCount,\n  sourcesCount: input.citations?.length || 0,\n  qualityScore: input.qualityScore,\n  compliancePassed: input.compliancePassed\n};\n\n// Status-Nachricht\nlet statusEmoji = input.compliancePassed ? '✅' : '⚠️';\nlet statusText = input.compliancePassed \n  ? `Analyse erfolgreich generiert`\n  : `Analyse generiert mit Compliance-Warnung`;\n\nreturn {\n  json: {\n    success: true,\n    status: statusEmoji + ' ' + statusText,\n    company: input.company,\n    ticker: input.ticker,\n    date: input.date,\n    metrics: {\n      wordCount: input.wordCount,\n      sourcesCount: input.citations?.length || 0,\n      qualityScore: input.qualityScore,\n      compliancePassed: input.compliancePassed\n    },\n    complianceViolations: input.complianceViolations || [],\n    qualityComment: input.qualityComment,\n    outputs: {\n      html: input.html,\n      svg: svg,\n      jsonEntry: jsonEntry\n    },\n    filePaths: {\n      html: `Abonenten/${input.slug}.html`,\n      svg: `data/vorschaubilder_analysen/${input.slug}.svg`,\n      json: 'data/analysen.json'\n    },\n    nextSteps: input.compliancePassed \n      ? ['HTML-Datei speichern', 'SVG speichern', 'analysen.json aktualisieren']\n      : ['Analyse manuell überprüfen', 'Verbotene Phrasen entfernen', 'Erneut generieren']\n  }\n};"
      },
      "id": "output-generator",
      "name": "8. Output Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1940, 400]
    },
    {
      "parameters": {},
      "id": "output",
      "name": "Output",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2160, 400]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "1. Input Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Input Data": {
      "main": [
        [
          {
            "node": "2. Input Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Input Validator": {
      "main": [
        [
          {
            "node": "3. Prompt Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Prompt Builder": {
      "main": [
        [
          {
            "node": "4. Perplexity API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Perplexity API": {
      "main": [
        [
          {
            "node": "5. Content Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Content Extractor": {
      "main": [
        [
          {
            "node": "6. Compliance Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Compliance Check": {
      "main": [
        [
          {
            "node": "7. HTML Renderer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. HTML Renderer": {
      "main": [
        [
          {
            "node": "8. Output Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8. Output Generator": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "production"
    },
    {
      "name": "v4-final"
    }
  ]
}
