n8n/n8n_test_veröffentlichung.json
{
  "name": "Test Veroeffentlichung - Apple Analyse",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// FERTIGE APPLE-ANALYSE - Direkt aus Pipeline v10.1\n// Keine Perplexity-Credits noetig!\n// =====================================================\n\nvar analysisContent = '<h2>Geschaeftsmodell-Analyse</h2>' +\n'<p>Apples Geschaeftsmodell basiert auf einer Zwei-Saeulen-Struktur, deren oekonomische Dynamik sich fundamental verschiebt. Die erste Saeule - Hardware (iPhone, iPad, Mac, Wearables) - generiert zwar noch die Mehrheit des Umsatzes, zeigt aber strukturelle Erosion: Wearables und Zubehoer verzeichneten Rueckgaenge, waehrend die Geraetebasis insgesamt stagniert. Die zweite Saeule - Services (App Store, iCloud, Apple TV+, iTunes) - wuchs auf 96,1 Milliarden USD und wird zur Gewinnmaschine mit ueberlegenen Margen.</p>' +\n'<p>Der kritische oekonomische Treiber ist die Abhaengigkeit zwischen beiden Saeulen: Services-Wachstum haengt direkt von der Anzahl aktiver Geraete ab. Dies erzeugt eine Flying-Wheel-Dynamik - mehr Geraete generieren mehr Services-Nutzer und hoehere Margen. Sollte die Geraetebasis stagnieren oder schrumpfen, kollabiert dieser Multiplikator-Effekt. Der Grenznutzen neuer Hardware-Generationen sinkt erkennbar: Waehrend neuere iPhone-Modelle Verkaeufe zeigen, wird dies durch externe Faktoren angetrieben, nicht durch fundamentale Produktinnovation.</p>' +\n'<p>Die Abhaengigkeitsstruktur offenbart ein Kernrisiko: Regulierungsbehoerden in USA und Europa visieren die App-Store-Gebuehrenstruktur an. Diese Gewinnquellen sind regulatorischen Eingriffen ausgesetzt. Sollte die regulatorische Belastung zunehmen, wuerde das Services-Margenprofil erheblich leiden. Gleichzeitig ist Apples KI-Strategie noch in der Entwicklung, waehrend Konkurrenten bereits integrierte KI-Oekosysteme anbieten.</p>' +\n'<h2>Fundamentaldaten-Einordnung</h2>' +\n'<p>Die Fundamentals offenbaren ein Unternehmen im Bewertungs-Widerspruch: Ein KGV von 33,24 bei einem Forward-KGV von 29,85 impliziert, dass der Markt signifikantes Gewinnwachstum fuer die naechsten Jahre einpreist. Doch Apples Umsatzwachstum wird auf mittleres bis hohes einstelliges Niveau geschaetzt, was mit der Bewertung nicht vollstaendig konsistent ist.</p>' +\n'<p>Das Gewinnwachstum von 91,2 Prozent (Quartal-ueber-Quartal) ist ein Basiseffekt, nicht strukturell nachhaltig. Im Geschaeftsjahr 2024 verdiente Apple 93,74 Milliarden USD Gewinn; 2025 stieg dies auf 112,01 Milliarden USD - ein Anstieg von 19,5 Prozent Jahr-ueber-Jahr. Dies ist solider, aber nicht aussergewoehnlich. Der Quartalswert wird durch Vergleiche mit schwaecheren Vorjahresquartalen verzerrt.</p>' +\n'<p>Die anomale ROE von 1,7 Prozent erklaert sich durch Apples aggressive Kapitalrueckfuehrungspolitik: Das Unternehmen hat Schulden aufgenommen und Aktien zurueckgekauft, was das Eigenkapital kuenstlich reduziert hat. Ein ROE von 1,7 Prozent bei einer operativen Marge von 31,7 Prozent und Nettomarge von 26,9 Prozent ist ein Zeichen von Finanzstruktur-Optimierung, nicht operativer Schwaeche.</p>' +\n'<h2>Bewertungs-Implikationen</h2>' +\n'<p>Ein KGV von 33,24 impliziert, dass der Markt folgende Annahmen einpreist: (1) Apple wird die Services-Sparte gegen Regulierung verteidigen oder kompensieren; (2) die iPhone-Basis bleibt stabil oder waechst; (3) KI-Features werden eine Upgrade-Welle ausloesen; (4) der China-Markt stabilisiert sich.</p>' +\n'<p>Das Forward-KGV von 29,85 ist nur marginal niedriger, was bedeutet, dass der Markt fuer 2026 keine beschleunigte Wachstumsdynamik erwartet - eher eine Stabilisierung. Bei einem PEG-Ratio von 2,506 zahlt der Markt ein Mehrfaches des Bewertungsmultiplikators, das typischerweise fuer Unternehmen mit hoeherem Wachstum gerechtfertigt ist.</p>' +\n'<p>Was muesste passieren, damit die Bewertung unter Druck geraet? Erstens: Regulatorische Entscheidungen in USA/EU, die die Services-Profitabilitaet beeinflussen. Zweitens: Rueckgang der aktiven Geraetebasis. Drittens: China-Markt stabilisiert sich nicht. Viertens: KI-Upgrade-Zyklus materialisiert sich nicht.</p>' +\n'<h2>Risiko-Hierarchie</h2>' +\n'<p>Das primaere Risiko ist die Regulierung der Services-Sparte. Dies ist nicht zyklisch, sondern strukturell. Sollten USA und EU die App-Store-Gebuehrenstruktur regulieren, verliert Apple eine stabile Gewinnquelle. Dies waere nicht vollstaendig durch Hardware-Verkaeufe kompensierbar.</p>' +\n'<p>Das sekundaere Risiko ist die Stagnation der Geraetebasis. Wearables und Zubehoer zeigen bereits Rueckgaenge; sollten iPhone-Verkaeufe folgen, kollabiert die Flying-Wheel-Dynamik. Kurzfristig (2026) ist dies unwahrscheinlich - aktuelle Daten zeigen Umsatzwachstum. Mittelfristig (2027-2028) ist dies wahrscheinlicher, wenn der KI-Upgrade-Zyklus ausbleibt.</p>' +\n'<p>Zeithorizont: Regulierung ist strukturell (2-3 Jahre). Geraetebasis-Stagnation ist mittelfristig (3-5 Jahre). Geografische Risiken sind kurzfristig volatil (1-2 Jahre).</p>' +\n'<h2>Sachliche Gesamteinordnung</h2>' +\n'<p><strong>Strukturelle Staerken:</strong> Apple verfuegt ueber ein hochprofitables Services-Oekosystem mit Umsaetzen im dreistelligen Milliarden-Bereich und stabilen Wachstumsraten. Die operative Marge von 31,7 Prozent und Nettomarge von 26,9 Prozent sind branchenweit fuehrend. Das Unternehmen generiert massive Cashflows, die Investitionen in R&D und strategische Initiativen ermoeglichen.</p>' +\n'<p><strong>Strukturelle Begrenzungen:</strong> Das Hardware-Geschaeft ist reif und zeigt Erosion in Segmenten wie Wearables. Der iPhone-Zyklus ist verlaengert - Upgrade-Raten fallen. Das KI-Angebot ist verspaetet und noch nicht vollstaendig definiert. Die Abhaengigkeit von geografischen Maerkten ist strukturell.</p>' +\n'<p><strong>Kritische Annahmen der aktuellen Bewertung:</strong> (1) Services-Regulierung wird begrenzt oder kompensiert; (2) iPhone-Basis bleibt stabil; (3) KI-Upgrade-Zyklus materialisiert sich 2026-2027; (4) Geografische Maerkte stabilisieren sich; (5) Operative Margen bleiben stabil. Diese Annahmen sind teilweise unsicher.</p>' +\n'<p>Apple ist ein hochprofitables, cashflow-starkes Unternehmen mit strukturellen Staerken in Services und Markenpositionierung. Jedoch ist die aktuelle Bewertung (KGV 33, PEG 2,5) nicht vollstaendig gerechtfertigt durch das erwartete Wachstum. Der Markt preist Szenarien ein, die unsicher sind. Marktseitig existieren heterogene Erwartungen zur kuenftigen Entwicklung.</p>' +\n'<div style=\"background: #f8fafc; border-radius: 8px; padding: 1.25rem; margin-top: 2rem;\">' +\n'<p style=\"margin: 0; font-size: 0.95rem;\"><strong>Kurz erklaert:</strong> Apple ist ein Technologiekonzern, der Geraete wie iPhones und Tablets herstellt sowie digitale Dienste wie den App Store und Streaming-Angebote betreibt. Diese Analyse untersucht, ob Apples aktuelle Aktienbewertung durch das erwartete Wachstum gerechtfertigt ist - insbesondere angesichts von Risiken wie regulatorischen Eingriffen in die Services-Sparte und einer stagnierenden Hardware-Basis.</p>' +\n'</div>';\n\nreturn {\n  json: {\n    company: 'Apple',\n    ticker: 'AAPL',\n    sector: 'Technologie',\n    exchange: 'NASDAQ',\n    slug: 'apple',\n    wkn: '865985',\n    isin: 'US0378331005',\n    date: '2026-01-23',\n    analysisContent: analysisContent,\n    introText: 'Apples Geschaeftsmodell basiert auf einer Zwei-Saeulen-Struktur aus Hardware und Services. Diese Analyse untersucht die oekonomischen Treiber, Bewertungsimplikationen und strukturellen Risiken des weltweit wertvollsten Technologiekonzerns.',\n    source: 'https://investor.apple.com/investor-relations/default.aspx'\n  }\n};"
      },
      "id": "input",
      "name": "Input - Fertige Analyse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "jsCode": "var d = $input.item.json;\nvar formattedDate = new Date(d.date).toLocaleDateString('de-DE', { day: '2-digit', month: '2-digit', year: 'numeric' });\n\nvar html = '<!DOCTYPE html>' +\n'<html lang=\"de\">' +\n'<head>' +\n'<meta charset=\"utf-8\">' +\n'<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">' +\n'<link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"../assets/favicon-32.png\">' +\n'<link rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"../assets/favicon-16.png\">' +\n'<link rel=\"shortcut icon\" href=\"../assets/favicon-32.png\">' +\n'<link rel=\"apple-touch-icon\" sizes=\"180x180\" href=\"../assets/apple-touch-icon.png\">' +\n'<title>capitovo - ' + d.company + ' Unternehmensanalyse</title>' +\n'<meta name=\"description\" content=\"Analytische Einordnung von ' + d.company + ' (' + d.ticker + ') - Geschaeftsmodell, Fundamentaldaten und Bewertung.\">' +\n'<link href=\"https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css\" rel=\"stylesheet\">' +\n'<link rel=\"stylesheet\" href=\"../style.css\">' +\n'<style>' +\n'#menu-toggle, .menu-toggle { border: none; outline: none; background: transparent; }' +\n'#menu-toggle:focus, .menu-toggle:focus { outline: none; box-shadow: none; }' +\n'header { position: static !important; }' +\n'main { background: transparent; padding-top: 60px !important; }' +\n'.analysis-article { max-width: 1200px; margin: 0 auto; padding: 0 20px; }' +\n'.analysis-article h1 { font-size: 1.8rem; margin: 0 0 0.5rem 0; }' +\n'.analysis-meta { color: #6b7280; margin-bottom: 1rem; }' +\n'.analysis-intro { font-size: 1.05rem; color:#0f172a; margin-bottom:1rem; line-height: 1.7; }' +\n'.analysis-content p { margin-bottom: 1rem; line-height: 1.7; text-align: justify; }' +\n'.analysis-content h2 { font-size: 1.25rem; font-weight: 700; margin: 2rem 0 1rem 0; color: #0f172a; border-bottom: 2px solid #e2e8f0; padding-bottom: 0.5rem; }' +\n'.disclaimer-box { background: #f8fafc; border: 1px solid #e2e8f0; border-radius: 8px; padding: 1.25rem; margin: 2rem 0; }' +\n'.back-btn-glow { box-shadow: none; transition: box-shadow 0.18s; }' +\n'.back-btn-glow:hover { box-shadow: 0 0 0 2px rgba(0,145,214,0.10); }' +\n'.refs { margin-top: 2rem; padding-top: 1rem; border-top: 1px solid #e2e8f0; }' +\n'.refs a { color: #2563eb; text-decoration: none; }' +\n'.refs a:hover { text-decoration: underline; }' +\n'</style>' +\n'</head>' +\n'<body class=\"abonenten-page bg-white text-gray-900\">' +\n'<header>' +\n'<div class=\"header-content\">' +\n'<div class=\"logo\">' +\n'<a href=\"abonenten.html\">' +\n'<img src=\"../assets/capitovo_logo_weiß.png\" alt=\"capitovo Logo\" class=\"header-logo\">' +\n'</a>' +\n'</div>' +\n'<button class=\"menu-toggle\" id=\"menu-toggle\" aria-controls=\"sidebar\" aria-expanded=\"false\" aria-label=\"Menu oeffnen\">☰</button>' +\n'</div>' +\n'</header>' +\n'<main>' +\n'<article class=\"analysis-article\" id=\"' + d.slug + '-analysis\">' +\n'<div class=\"mb-4\">' +\n'<a href=\"alle_analysen.html\" class=\"inline-flex items-center gap-2 text-sm font-medium text-gray-700 bg-white border border-2 border-[color:var(--color-accent-blue)] rounded-md px-3 py-2 back-btn-glow\">← Zurueck</a>' +\n'</div>' +\n'<div class=\"mb-2\">' +\n'<p class=\"text-xs font-semibold uppercase mb-2\" style=\"color: #64748b;\">' + d.sector.toUpperCase() + ' <span class=\"text-gray-400 mx-1\">•</span> ' + d.company + '</p>' +\n'<h1 class=\"text-3xl font-extrabold text-gray-900 mb-1\">' + d.company + ' Unternehmensanalyse</h1>' +\n'<div class=\"text-sm\" style=\"color: #64748b;\">' +\n'<span>• ' + formattedDate + '</span>' +\n'<span class=\"mx-2\">•</span>' +\n'<span>Ticker: ' + d.ticker + '</span>' +\n'<span class=\"mx-2\">•</span>' +\n'<span>WKN: ' + d.wkn + '</span>' +\n'<span class=\"mx-2\">•</span>' +\n'<span>ISIN: ' + d.isin + '</span>' +\n'</div>' +\n'</div>' +\n'<div class=\"hero-intro-wrapper\" style=\"display: flex; gap: 24px; margin: 24px 0 32px 0; align-items: center; flex-wrap: wrap;\">' +\n'<div class=\"analysis-hero\" style=\"flex: 1; min-width: 300px;\">' +\n'<img src=\"../data/vorschaubilder_analysen/' + d.slug + '_preview.svg\" alt=\"' + d.company + ' Analyse\" style=\"width:100%; aspect-ratio: 16/9; object-fit:cover; display:block; border-radius:8px;\">' +\n'</div>' +\n'<div style=\"flex: 1; min-width: 300px;\">' +\n'<p class=\"analysis-intro\" style=\"margin: 0;\">' + d.introText + '</p>' +\n'</div>' +\n'</div>' +\n'<div class=\"analysis-content\">' + d.analysisContent + '</div>' +\n'<div class=\"refs\">' +\n'<p style=\"font-size: 0.9rem; color: #64748b;\"><strong>Quellen:</strong> <a href=\"' + d.source + '\" target=\"_blank\" rel=\"noopener noreferrer\">' + d.source + '</a></p>' +\n'</div>' +\n'<div class=\"disclaimer-box\">' +\n'<p style=\"font-size: 0.875rem; color: #64748b; margin: 0;\">' +\n'<strong>Hinweis:</strong> Diese Analyse dient Informationszwecken und stellt keine Anlageberatung dar. Die Informationen sind keine Aufforderung zum Kauf oder Verkauf von Wertpapieren. Quantitative Angaben basieren auf Drittanbieter-Daten. capitovo uebernimmt keine Gewaehr fuer Richtigkeit oder Vollstaendigkeit.' +\n'</p>' +\n'</div>' +\n'</article>' +\n'</main>' +\n'<footer class=\"site-footer border-t py-6 mt-12\">' +\n'<div class=\"footer-inner max-w-6xl mx-auto px-6 text-sm text-gray-500 flex items-center justify-between\">' +\n'<div>&copy; 2026 capitovo - Alle Rechte vorbehalten.</div>' +\n'<div class=\"footer-links\">' +\n'<a href=\"../Rechtliches/impressum.html\" class=\"footer-btn\" target=\"_blank\">Impressum</a>' +\n'<a href=\"../Rechtliches/datenschutz.html\" class=\"footer-btn\" target=\"_blank\">Datenschutz</a>' +\n'<a href=\"../Rechtliches/haftung.html\" class=\"footer-btn\" target=\"_blank\">Haftungsausschluss</a>' +\n'<a href=\"../Rechtliches/agb.html\" class=\"footer-btn\" target=\"_blank\">AGB</a>' +\n'</div>' +\n'</div>' +\n'</footer>' +\n'<div class=\"sidebar\" id=\"sidebar\" aria-hidden=\"true\">' +\n'<button class=\"close-button\" id=\"close-sidebar\" aria-label=\"Sidebar schliessen\">&times;</button>' +\n'<nav class=\"sidebar-nav\">' +\n'<ul>' +\n'<li><a href=\"./abonenten.html\"><span>Startseite</span></a></li>' +\n'<li><a href=\"./konto.html\"><span>Mein Konto</span></a></li>' +\n'<li><a href=\"./alle_analysen.html\"><span>Analysen</span></a></li>' +\n'<li><a href=\"./Aktien-Monitor/aktien-monitor.html\"><span>Aktien-Monitor</span></a></li>' +\n'<li><a href=\"./earnings_kalender.html\"><span>Wirtschaftskalender</span></a></li>' +\n'</ul>' +\n'</nav>' +\n'</div>' +\n'<script src=\"../script.js?v=11\"></script>' +\n'</body>' +\n'</html>';\n\nreturn { json: { ...d, html: html } };"
      },
      "id": "html-renderer",
      "name": "HTML Renderer - Capitovo Stil",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "jsCode": "var d = $input.item.json;\nvar displayName = d.company.length > 25 ? d.company.substring(0, 22) + '...' : d.company;\n\nvar svg = '<svg width=\"640\" height=\"360\" viewBox=\"0 0 640 360\" xmlns=\"http://www.w3.org/2000/svg\">' +\n'<defs>' +\n'<linearGradient id=\"bg\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"100%\">' +\n'<stop offset=\"0%\" stop-color=\"#0f172a\"/>' +\n'<stop offset=\"100%\" stop-color=\"#1e293b\"/>' +\n'</linearGradient>' +\n'<linearGradient id=\"accent\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"0%\">' +\n'<stop offset=\"0%\" stop-color=\"#3b82f6\"/>' +\n'<stop offset=\"100%\" stop-color=\"#0ea5e9\"/>' +\n'</linearGradient>' +\n'</defs>' +\n'<rect width=\"640\" height=\"360\" fill=\"url(#bg)\" rx=\"16\"/>' +\n'<g font-family=\"-apple-system, BlinkMacSystemFont, sans-serif\">' +\n'<text x=\"48\" y=\"72\" fill=\"#64748b\" font-size=\"12\" letter-spacing=\"0.1em\">' + d.ticker + ' · ' + d.sector.toUpperCase() + '</text>' +\n'<text x=\"48\" y=\"120\" fill=\"#f1f5f9\" font-size=\"36\" font-weight=\"700\">' + displayName + '</text>' +\n'<text x=\"48\" y=\"155\" fill=\"#94a3b8\" font-size=\"15\">Analytische Unternehmenseinordnung</text>' +\n'<rect x=\"48\" y=\"180\" width=\"80\" height=\"4\" fill=\"url(#accent)\" rx=\"2\"/>' +\n'<text x=\"48\" y=\"230\" fill=\"#64748b\" font-size=\"13\">Geschaeftsmodell · Fundamentaldaten · Bewertung</text>' +\n'<text x=\"48\" y=\"300\" fill=\"#475569\" font-size=\"11\">capitovo Research</text>' +\n'<text x=\"48\" y=\"320\" fill=\"#64748b\" font-size=\"10\">' + d.date + '</text>' +\n'</g>' +\n'</svg>';\n\nreturn { json: { ...d, svg: svg } };"
      },
      "id": "svg-generator",
      "name": "SVG Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "jsCode": "var d = $input.item.json;\n\nreturn {\n  json: {\n    ...d,\n    htmlPath: 'Abonenten/' + d.slug + '.html',\n    svgPath: 'data/vorschaubilder_analysen/' + d.slug + '_preview.svg',\n    htmlBase64: Buffer.from(d.html, 'utf8').toString('base64'),\n    svgBase64: Buffer.from(d.svg, 'utf8').toString('base64'),\n    htmlCommitMsg: 'Analyse: ' + d.company + ' (' + d.ticker + ') - ' + d.date,\n    svgCommitMsg: 'Vorschaubild: ' + d.company + ' - ' + d.date\n  }\n};"
      },
      "id": "base64",
      "name": "Base64 Encoder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/kw-f8/capitovo/contents/{{ $json.htmlPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.htmlCommitMsg }}\",\n  \"content\": \"{{ $json.htmlBase64 }}\",\n  \"branch\": \"main\"\n}",
        "options": { "timeout": 60000 }
      },
      "id": "upload-html",
      "name": "GitHub Upload HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/kw-f8/capitovo/contents/{{ $json.svgPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.svgCommitMsg }}\",\n  \"content\": \"{{ $json.svgBase64 }}\",\n  \"branch\": \"main\"\n}",
        "options": { "timeout": 60000 }
      },
      "id": "upload-svg",
      "name": "GitHub Upload SVG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 300]
    },
    {
      "parameters": {
        "jsCode": "var d = $('Base64 Encoder').item.json;\n\nreturn {\n  json: {\n    status: 'PUBLISHED',\n    message: 'Apple-Analyse erfolgreich veroeffentlicht!',\n    company: d.company,\n    ticker: d.ticker,\n    date: d.date,\n    liveUrl: 'https://kw-f8.github.io/capitovo/' + d.htmlPath,\n    svgUrl: 'https://kw-f8.github.io/capitovo/' + d.svgPath,\n    files: {\n      html: d.htmlPath,\n      svg: d.svgPath\n    },\n    catalogEntry: {\n      id: d.ticker.toLowerCase() + '-' + d.date.replace(/-/g, ''),\n      category: d.sector,\n      title: d.company + ' - Unternehmensanalyse',\n      summary: 'Analytische Einordnung von ' + d.company + ' (' + d.ticker + ')',\n      link: d.htmlPath,\n      image: d.svgPath,\n      date: d.date,\n      author: 'capitovo Research'\n    }\n  }\n};"
      },
      "id": "output",
      "name": "Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 300]
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Input - Fertige Analyse", "type": "main", "index": 0 }]] },
    "Input - Fertige Analyse": { "main": [[{ "node": "HTML Renderer - Capitovo Stil", "type": "main", "index": 0 }]] },
    "HTML Renderer - Capitovo Stil": { "main": [[{ "node": "SVG Generator", "type": "main", "index": 0 }]] },
    "SVG Generator": { "main": [[{ "node": "Base64 Encoder", "type": "main", "index": 0 }]] },
    "Base64 Encoder": { "main": [[{ "node": "GitHub Upload HTML", "type": "main", "index": 0 }]] },
    "GitHub Upload HTML": { "main": [[{ "node": "GitHub Upload SVG", "type": "main", "index": 0 }]] },
    "GitHub Upload SVG": { "main": [[{ "node": "Output", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": []
}
