n8n/n8n_analyse_generator_workflow_v9.json
{
  "name": "Capitovo Analyse Generator v9 - Research-Grade Architecture",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [100, 400]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// INPUT - Nur Identifikation\n// =====================================================\nreturn {\n  json: {\n    company: 'Apple',\n    ticker: 'AAPL',\n    exchange: 'NASDAQ',\n    sector: 'Technologie',\n    currency: 'USD',\n    slug: 'apple',\n    pipelineVersion: 'v9.0-research-grade',\n    date: new Date().toISOString().split('T')[0]\n  }\n};"
      },
      "id": "input-data",
      "name": "0. Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.alphavantage.co/query?function=OVERVIEW&symbol={{ $json.ticker }}&apikey=YO8C9ZRNBDVLAZ83",
        "options": { "timeout": 30000 }
      },
      "id": "api-overview",
      "name": "1a. API Overview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var prev = $('0. Input').item.json;\nvar resp = $input.item.json;\nreturn { json: { ...prev, overviewResponse: resp } };"
      },
      "id": "store-overview",
      "name": "1b. Store",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.alphavantage.co/query?function=INCOME_STATEMENT&symbol={{ $json.ticker }}&apikey=YO8C9ZRNBDVLAZ83",
        "options": { "timeout": 30000 }
      },
      "id": "api-income",
      "name": "1c. API Income",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// PHASE 1: FAKTENINSTANZ (rein mechanisch)\n// Aufgabe: Zahlen sammeln, Inkonsistenzen markieren\n// VERBOTEN: Jede Interpretation, jeder Fliesstext\n// =====================================================\n\nvar prev = $('1b. Store').item.json;\nvar incomeResp = $input.item.json;\nvar overviewResp = prev.overviewResponse;\nvar input = prev;\n\nfunction safeNum(val) {\n  if (val === undefined || val === null || val === 'None' || val === '-' || val === '') return null;\n  var n = parseFloat(String(val).replace(/,/g, ''));\n  return isFinite(n) ? n : null;\n}\n\nfunction pct(val) {\n  var n = safeNum(val);\n  if (n === null) return null;\n  return Math.abs(n) <= 1 ? Math.round(n * 1000) / 10 : Math.round(n * 10) / 10;\n}\n\nvar hasOverview = overviewResp && overviewResp.Symbol && !overviewResp.Note;\nvar hasIncome = incomeResp && incomeResp.annualReports && !incomeResp.Note;\nvar ts = new Date().toISOString();\n\n// ROHDATEN - keine Interpretation\nvar facts = {\n  meta: { source: 'Alpha Vantage API', timestamp: ts, quality: hasOverview && hasIncome ? 'complete' : 'partial' },\n  company: { name: input.company, ticker: input.ticker, sector: input.sector, currency: input.currency },\n  fundamentals: {},\n  valuation: {},\n  margins: {},\n  growth: {},\n  history: []\n};\n\nif (hasOverview) {\n  var o = overviewResp;\n  facts.company.industry = o.Industry || null;\n  facts.company.description = o.Description || null;\n  \n  facts.fundamentals = {\n    marketCap: safeNum(o.MarketCapitalization),\n    revenue: safeNum(o.RevenueTTM),\n    ebitda: safeNum(o.EBITDA),\n    eps: safeNum(o.EPS),\n    dividendYield: pct(o.DividendYield),\n    sharesOutstanding: safeNum(o.SharesOutstanding)\n  };\n  \n  facts.valuation = {\n    pe: safeNum(o.PERatio),\n    forwardPE: safeNum(o.ForwardPE),\n    peg: safeNum(o.PEGRatio),\n    pb: safeNum(o.PriceToBookRatio),\n    ps: safeNum(o.PriceToSalesRatioTTM),\n    evEbitda: safeNum(o.EVToEBITDA),\n    evRevenue: safeNum(o.EVToRevenue),\n    beta: safeNum(o.Beta),\n    high52w: safeNum(o['52WeekHigh']),\n    low52w: safeNum(o['52WeekLow'])\n  };\n  \n  facts.margins = {\n    gross: pct(o.GrossProfitMargin),\n    operating: pct(o.OperatingMarginTTM),\n    net: pct(o.ProfitMargin),\n    roe: pct(o.ReturnOnEquityTTM),\n    roa: pct(o.ReturnOnAssetsTTM)\n  };\n  \n  facts.growth = {\n    revenueQoQ: pct(o.QuarterlyRevenueGrowthYOY),\n    earningsQoQ: pct(o.QuarterlyEarningsGrowthYOY)\n  };\n}\n\nif (hasIncome) {\n  facts.history = incomeResp.annualReports.slice(0, 5).map(function(r) {\n    return {\n      year: r.fiscalDateEnding ? r.fiscalDateEnding.substring(0, 4) : null,\n      revenue: safeNum(r.totalRevenue),\n      netIncome: safeNum(r.netIncome),\n      operatingIncome: safeNum(r.operatingIncome)\n    };\n  });\n}\n\n// =====================================================\n// ANOMALIE-ERKENNUNG (mechanisch, regelbasiert)\n// =====================================================\nvar anomalies = [];\n\n// Wachstum\nif (facts.growth.earningsQoQ !== null && Math.abs(facts.growth.earningsQoQ) > 50) {\n  anomalies.push({\n    field: 'earningsQoQ',\n    value: facts.growth.earningsQoQ,\n    flag: 'EXTREM',\n    note: 'Gewinnwachstum >50% - Basiseffekt oder Einmaleffekt pruefen'\n  });\n}\n\nif (facts.growth.revenueQoQ !== null && Math.abs(facts.growth.revenueQoQ) > 30) {\n  anomalies.push({\n    field: 'revenueQoQ',\n    value: facts.growth.revenueQoQ,\n    flag: 'AUFFAELLIG',\n    note: 'Umsatzwachstum >30% - Nachhaltigkeit pruefen'\n  });\n}\n\n// ROE\nif (facts.margins.roe !== null && (facts.margins.roe < 5 || facts.margins.roe > 100)) {\n  anomalies.push({\n    field: 'roe',\n    value: facts.margins.roe,\n    flag: 'UNGEWOEHNLICH',\n    note: 'ROE ausserhalb 5-100% - Kapitalstruktur oder Datenqualitaet pruefen'\n  });\n}\n\n// Bewertung\nif (facts.valuation.pe !== null && facts.valuation.pe > 50) {\n  anomalies.push({\n    field: 'pe',\n    value: facts.valuation.pe,\n    flag: 'HOCH',\n    note: 'KGV >50 - impliziert sehr hohes Wachstum oder Sondersituation'\n  });\n}\n\nif (facts.valuation.pb !== null && facts.valuation.pb > 30) {\n  anomalies.push({\n    field: 'pb',\n    value: facts.valuation.pb,\n    flag: 'EXTREM',\n    note: 'P/B >30 - Asset-Light-Modell oder Ueberbewertung'\n  });\n}\n\n// Margen-Konsistenz\nif (facts.margins.gross !== null && facts.margins.net !== null) {\n  if (facts.margins.net > facts.margins.gross) {\n    anomalies.push({\n      field: 'margins',\n      value: 'net > gross',\n      flag: 'INKONSISTENT',\n      note: 'Nettomarge hoeher als Bruttomarge - Datenfehler wahrscheinlich'\n    });\n  }\n}\n\n// Historie-Trend\nif (facts.history.length >= 3) {\n  var revTrend = [];\n  for (var i = 0; i < facts.history.length - 1; i++) {\n    if (facts.history[i].revenue && facts.history[i+1].revenue) {\n      revTrend.push(facts.history[i].revenue > facts.history[i+1].revenue ? 'up' : 'down');\n    }\n  }\n  var downs = revTrend.filter(function(t) { return t === 'down'; }).length;\n  if (downs >= 2) {\n    anomalies.push({\n      field: 'revenue_trend',\n      value: downs + ' Jahre ruecklaeufig',\n      flag: 'WARNUNG',\n      note: 'Umsatz mehrfach ruecklaeufig - strukturelles Problem moeglich'\n    });\n  }\n}\n\nreturn {\n  json: {\n    input: input,\n    facts: facts,\n    anomalies: anomalies,\n    phase: 'P1_FACTS_COMPLETE'\n  }\n};"
      },
      "id": "facts-engine",
      "name": "1d. Fakteninstanz",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// FAKTEN-FORMATIERUNG fuer Analyseinstanz\n// Strukturierter Input - KEIN Fliesstext\n// =====================================================\n\nvar input = $input.item.json;\nvar f = input.facts;\nvar a = input.anomalies;\n\nfunction fmt(v, suffix) {\n  if (v === null) return 'n/v';\n  if (typeof v === 'number') {\n    if (Math.abs(v) >= 1e12) return (v/1e12).toFixed(1) + ' Bio';\n    if (Math.abs(v) >= 1e9) return (v/1e9).toFixed(1) + ' Mrd';\n    if (Math.abs(v) >= 1e6) return (v/1e6).toFixed(1) + ' Mio';\n    return v.toLocaleString('de-DE');\n  }\n  return String(v) + (suffix || '');\n}\n\nvar factsBlock = [\n  '=== FAKTENBLATT: ' + f.company.name + ' (' + f.company.ticker + ') ===',\n  'Quelle: ' + f.meta.source + ' | Stand: ' + f.meta.timestamp.split('T')[0],\n  'Datenqualitaet: ' + f.meta.quality,\n  '',\n  '--- FUNDAMENTALS ---',\n  'Marktkapitalisierung: ' + fmt(f.fundamentals.marketCap) + ' ' + f.company.currency,\n  'Umsatz (TTM): ' + fmt(f.fundamentals.revenue) + ' ' + f.company.currency,\n  'EBITDA: ' + fmt(f.fundamentals.ebitda) + ' ' + f.company.currency,\n  'EPS: ' + fmt(f.fundamentals.eps) + ' ' + f.company.currency,\n  'Dividendenrendite: ' + (f.fundamentals.dividendYield !== null ? f.fundamentals.dividendYield + '%' : 'n/v'),\n  '',\n  '--- BEWERTUNG ---',\n  'KGV: ' + fmt(f.valuation.pe),\n  'Forward KGV: ' + fmt(f.valuation.forwardPE),\n  'PEG: ' + fmt(f.valuation.peg),\n  'P/B: ' + fmt(f.valuation.pb),\n  'P/S: ' + fmt(f.valuation.ps),\n  'EV/EBITDA: ' + fmt(f.valuation.evEbitda),\n  'EV/Revenue: ' + fmt(f.valuation.evRevenue),\n  'Beta: ' + fmt(f.valuation.beta),\n  '52W Hoch: ' + fmt(f.valuation.high52w) + ' ' + f.company.currency,\n  '52W Tief: ' + fmt(f.valuation.low52w) + ' ' + f.company.currency,\n  '',\n  '--- MARGEN & RENDITEN ---',\n  'Bruttomarge: ' + (f.margins.gross !== null ? f.margins.gross + '%' : 'n/v'),\n  'Operative Marge: ' + (f.margins.operating !== null ? f.margins.operating + '%' : 'n/v'),\n  'Nettomarge: ' + (f.margins.net !== null ? f.margins.net + '%' : 'n/v'),\n  'ROE: ' + (f.margins.roe !== null ? f.margins.roe + '%' : 'n/v'),\n  'ROA: ' + (f.margins.roa !== null ? f.margins.roa + '%' : 'n/v'),\n  '',\n  '--- WACHSTUM (Quartal YoY) ---',\n  'Umsatzwachstum: ' + (f.growth.revenueQoQ !== null ? f.growth.revenueQoQ + '%' : 'n/v'),\n  'Gewinnwachstum: ' + (f.growth.earningsQoQ !== null ? f.growth.earningsQoQ + '%' : 'n/v'),\n  ''\n];\n\nif (f.history && f.history.length > 0) {\n  factsBlock.push('--- HISTORIE ---');\n  for (var i = 0; i < f.history.length; i++) {\n    var h = f.history[i];\n    factsBlock.push(h.year + ': Umsatz ' + fmt(h.revenue) + ', Nettogewinn ' + fmt(h.netIncome));\n  }\n  factsBlock.push('');\n}\n\nif (a && a.length > 0) {\n  factsBlock.push('=== ANOMALIEN (automatisch erkannt) ===');\n  for (var j = 0; j < a.length; j++) {\n    factsBlock.push('[' + a[j].flag + '] ' + a[j].field + ': ' + a[j].value + ' - ' + a[j].note);\n  }\n  factsBlock.push('');\n}\n\nfactsBlock.push('=== ENDE FAKTENBLATT ===');\n\nreturn {\n  json: {\n    ...input,\n    factsBlock: factsBlock.join('\\n')\n  }\n};"
      },
      "id": "facts-formatter",
      "name": "1e. Facts Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer 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" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.2,\n  \"max_tokens\": 4000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Du bist ein SENIOR EQUITY ANALYST mit 15 Jahren Erfahrung. Deine Aufgabe ist ANALYSE, nicht Beschreibung.\\n\\n=== FUNDAMENTALER UNTERSCHIED ===\\nBESCHREIBUNG (VERBOTEN): 'Das KGV betraegt 35, das ist hoch fuer den Sektor.'\\nANALYSE (GEFORDERT): 'Das KGV von 35 impliziert, dass der Markt zweistelliges Gewinnwachstum fuer die naechsten 3-5 Jahre einpreist. Bei aktuellem EPS-Wachstum von X% waere das nur gerechtfertigt, wenn [konkrete Bedingung]. Das zentrale Risiko ist daher [X].'\\n\\n=== DEINE KERNAUFGABEN ===\\n1. KAUSALE ZUSAMMENHAENGE herstellen (Warum ist X so? Was folgt daraus?)\\n2. PRIORITAETEN setzen (Was ist ENTSCHEIDEND vs. nur interessant?)\\n3. WIDERSPRUECHE erklaeren (Hohe Marge + niedriger ROE = warum?)\\n4. UNSICHERHEITEN explizit benennen (Was wissen wir NICHT?)\\n5. SZENARIEN durchdenken (Was muesste passieren, damit X eintritt?)\\n\\n=== VERBOTEN ===\\n- Reine Zahlenwiedergabe ohne Interpretation\\n- Generische Aussagen ('typisch fuer Tech-Sektor')\\n- Aufzaehlungen ohne Gewichtung\\n- Kursziele, Kauf-/Verkaufsempfehlungen\\n- Superlative ('fuehrend', 'einzigartig', 'dominant')\\n\\n=== QUALITAETSSTANDARD ===\\nJeder Absatz muss eine THESE enthalten, die falsifizierbar ist.\\nJede These muss mit Daten BEGRUENDET sein.\\nJede Begruendung muss EINSCHRAENKUNGEN nennen.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify('AUFGABE: Erstelle eine ANALYTISCHE Unternehmenseinordnung.\\n\\n' + $json.factsBlock + '\\n\\n=== STRUKTUR (strikt einhalten) ===\\n\\n1. GESCHAEFTSMODELL-ANALYSE (400+ Woerter)\\nNICHT: Was macht das Unternehmen?\\nSONDERN: Was sind die OEKONOMISCHEN TREIBER des Geschaeftsmodells?\\n- Welche 2-3 Faktoren bestimmen 80% des Unternehmenswerts?\\n- Wo liegt der GRENZNUTZEN neuer Produkte/Services?\\n- Welche ABHAENGIGKEITEN existieren (z.B. Hardware-Zyklus fuer Services)?\\n- Was passiert, wenn der Hauptumsatztraeger stagniert?\\n\\n2. FUNDAMENTALDATEN-EINORDNUNG (400+ Woerter)\\nNICHT: Aufzaehlung der Kennzahlen\\nSONDERN: Was bedeuten die Zahlen FUER DIE ZUKUNFT?\\n- Welche Kennzahl ist ENTSCHEIDEND fuer die naechsten 3-5 Jahre?\\n- Welche ist nur historisch interessant?\\n- ANOMALIEN: Fuer jede im Faktenblatt markierte Anomalie MUSS eine kausale Erklaerung geliefert werden. Wenn keine sichere Erklaerung moeglich: explizit als Unsicherheit kennzeichnen.\\n- Wie nachhaltig sind die aktuellen Margen?\\n\\n3. BEWERTUNGS-IMPLIKATIONEN (400+ Woerter)\\nNICHT: KGV ist hoch/niedrig\\nSONDERN: Was preist der Markt ein?\\n- Welches Wachstum ist bei aktuellem KGV impliziert?\\n- Ist das realistisch? Unter welchen Bedingungen?\\n- Was MUESSTE PASSIEREN, damit die Bewertung nicht mehr gerechtfertigt ist?\\n- Welche Annahmen sind am fragilsten?\\n\\n4. RISIKO-HIERARCHIE (300+ Woerter)\\nNICHT: Liste von Risiken\\nSONDERN: Priorisierte Analyse\\n- Was ist das EINE Risiko, das den Investment Case zerstoeren wuerde?\\n- Welche Risiken sind eingepreist, welche nicht?\\n- Zeithorizont: Kurzfristig vs. strukturell?\\n\\n5. OFFENE FRAGEN (150+ Woerter)\\n- Was koennen wir aus den Daten NICHT ableiten?\\n- Welche Informationen waeren noetig fuer eine fundierte Einschaetzung?\\n- Wo sind die Grenzen dieser Analyse?\\n\\nWICHTIG: Mindestens 1700 Woerter. Jede generische Aussage ohne Begruendung wird als Qualitaetsmangel gewertet.') }}\n    }\n  ],\n  \"return_citations\": true\n}",
        "options": { "timeout": 180000 }
      },
      "id": "phase2-analyst",
      "name": "P2. Analyseinstanz",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var prev = $('1e. Facts Format').item.json;\nvar resp = $input.item.json;\n\nvar content = '';\nvar citations = [];\n\nif (resp && resp.choices && resp.choices[0] && resp.choices[0].message) {\n  content = resp.choices[0].message.content || '';\n  content = content.replace(/\\*\\*([^*]+)\\*\\*/g, '$1').replace(/\\*([^*]+)\\*/g, '$1').replace(/\\[\\d+\\]/g, '').trim();\n  citations = resp.citations || [];\n}\n\nreturn {\n  json: {\n    ...prev,\n    analysisV1: content,\n    citationsP2: citations,\n    phase: 'P2_ANALYSIS_COMPLETE'\n  }\n};"
      },
      "id": "phase2-extract",
      "name": "P2. Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer 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" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.15,\n  \"max_tokens\": 3500,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Du bist ein KRITISCHER REVIEWER fuer Finanzanalysen. Dein Job ist es, SCHWAECHEN aufzudecken - nicht zu loben.\\n\\n=== DEINE PRUEFKRITERIEN ===\\n\\n1. SUBSTANZ-CHECK\\n- Enthaelt der Absatz eine THESE oder nur Beschreibung?\\n- Ist die These BEGRUENDET oder nur behauptet?\\n- Gibt es EVIDENZ oder nur Meinung?\\n\\n2. GENERIK-CHECK\\n- Koennte dieser Satz fuer JEDES Unternehmen der Branche gelten?\\n- Wenn ja: SCHWACH markieren\\n- Beispiel schwach: 'Apple hat ein starkes Oekosystem'\\n- Beispiel stark: 'Die Services-Retention von 98% bei Apple Music zeigt...'\\n\\n3. LOGIK-CHECK\\n- Folgt die Schlussfolgerung aus den Praemissen?\\n- Gibt es Widersprueche zwischen Abschnitten?\\n- Werden Anomalien erklaert oder ignoriert?\\n\\n4. LUECKEN-CHECK\\n- Welche offensichtlichen Fragen bleiben unbeantwortet?\\n- Welche Gegenargumente fehlen?\\n- Wo wird Komplexitaet unangemessen reduziert?\\n\\n5. COMPLIANCE-CHECK\\n- Enthaltene Kursziele?\\n- Implizite Kauf-/Verkaufsempfehlungen?\\n- Bewertende Sprache ('attraktiv', 'guenstig')?\\n\\n=== OUTPUT-FORMAT ===\\nDu musst ZWEI Dinge liefern:\\n\\nTEIL A: KRITIK-PROTOKOLL\\nListe jeden problematischen Abschnitt mit:\\n[SCHWACH/GENERISCH/UNBEGRUENDET/LUECKE/COMPLIANCE]\\nZitat des Problems\\nWas fehlt / was waere besser\\n\\nTEIL B: UEBERARBEITETE ANALYSE\\nSchreibe die gesamte Analyse NEU - mit allen Verbesserungen eingearbeitet.\\nDie ueberarbeitete Version muss:\\n- Alle Kritikpunkte adressieren\\n- Generische Passagen durch spezifische ersetzen\\n- Fehlende Begruendungen ergaenzen\\n- Unerklaerte Anomalien thematisieren\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify('PRUEFE UND UEBERARBEITE DIESE ANALYSE KRITISCH:\\n\\n=== FAKTENGRUNDLAGE ===\\n' + $json.factsBlock + '\\n\\n=== ZU PRUEFENDE ANALYSE ===\\n' + $json.analysisV1 + '\\n\\n=== AUFGABE ===\\n1. Erstelle zunaechst das KRITIK-PROTOKOLL (mind. 5 konkrete Kritikpunkte)\\n2. Dann die UEBERARBEITETE ANALYSE (mind. 1500 Woerter)\\n\\nSei SCHONUNGSLOS kritisch. Eine Analyse ohne Kritikpunkte existiert nicht.') }}\n    }\n  ]\n}",
        "options": { "timeout": 180000 }
      },
      "id": "phase3-critic",
      "name": "P3. Kritische Pruefinstanz",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1900, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// PHASE 3 EXTRAKTION - Kritik + ueberarbeitete Analyse\n// =====================================================\n\nvar prev = $('P2. Extract').item.json;\nvar resp = $input.item.json;\n\nvar fullResponse = '';\nvar critique = '';\nvar revisedAnalysis = '';\n\nif (resp && resp.choices && resp.choices[0] && resp.choices[0].message) {\n  fullResponse = resp.choices[0].message.content || '';\n  fullResponse = fullResponse.replace(/\\*\\*([^*]+)\\*\\*/g, '$1').replace(/\\*([^*]+)\\*/g, '$1').replace(/\\[\\d+\\]/g, '').trim();\n  \n  // Trenne Kritik von ueberarbeiteter Analyse\n  var markers = [\n    'TEIL B:',\n    'UEBERARBEITETE ANALYSE',\n    'ÜBERARBEITETE ANALYSE',\n    '=== UEBERARBEITETE',\n    '=== ÜBERARBEITETE',\n    'Teil B:'\n  ];\n  \n  var splitIndex = -1;\n  for (var i = 0; i < markers.length; i++) {\n    var idx = fullResponse.indexOf(markers[i]);\n    if (idx !== -1) {\n      splitIndex = idx;\n      break;\n    }\n  }\n  \n  if (splitIndex !== -1) {\n    critique = fullResponse.substring(0, splitIndex).trim();\n    revisedAnalysis = fullResponse.substring(splitIndex).trim();\n    // Entferne den Marker selbst\n    revisedAnalysis = revisedAnalysis.replace(/^(TEIL B:|UEBERARBEITETE ANALYSE|ÜBERARBEITETE ANALYSE|=== UEBERARBEITETE.*|=== ÜBERARBEITETE.*|Teil B:)/i, '').trim();\n  } else {\n    // Fallback: Alles ist Analyse\n    revisedAnalysis = fullResponse;\n    critique = 'Kritik-Protokoll konnte nicht extrahiert werden.';\n  }\n}\n\n// Zaehle Kritikpunkte\nvar critiqueLines = critique.split('\\n');\nvar critiqueCount = 0;\nvar critiqueTypes = { schwach: 0, generisch: 0, unbegruendet: 0, luecke: 0, compliance: 0 };\n\nfor (var j = 0; j < critiqueLines.length; j++) {\n  var line = critiqueLines[j].toLowerCase();\n  if (line.indexOf('[schwach]') !== -1) { critiqueCount++; critiqueTypes.schwach++; }\n  if (line.indexOf('[generisch]') !== -1) { critiqueCount++; critiqueTypes.generisch++; }\n  if (line.indexOf('[unbegruendet]') !== -1) { critiqueCount++; critiqueTypes.unbegruendet++; }\n  if (line.indexOf('[luecke]') !== -1 || line.indexOf('[lücke]') !== -1) { critiqueCount++; critiqueTypes.luecke++; }\n  if (line.indexOf('[compliance]') !== -1) { critiqueCount++; critiqueTypes.compliance++; }\n}\n\nreturn {\n  json: {\n    ...prev,\n    critique: critique,\n    critiqueCount: critiqueCount,\n    critiqueTypes: critiqueTypes,\n    analysisV2: revisedAnalysis,\n    phase: 'P3_CRITIQUE_COMPLETE'\n  }\n};"
      },
      "id": "phase3-extract",
      "name": "P3. Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2100, 400]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// QUELLEN-VALIDIERUNG\n// Unterscheidet Primaer/Sekundaer/News-Quellen\n// =====================================================\n\nvar input = $input.item.json;\nvar citations = input.citationsP2 || [];\n\n// Quellenkategorien\nvar primary = []; // 10-K, IR, SEC, Official\nvar secondary = []; // Reuters, Bloomberg, WSJ, FT, Research\nvar news = []; // Blogs, Retail-News\nvar forbidden = []; // Reddit, Social Media\n\nvar primaryPatterns = ['sec.gov', '10-k', '10-q', 'investor.', 'ir.', 'annual report', 'earnings call'];\nvar secondaryPatterns = ['reuters.com', 'bloomberg.com', 'wsj.com', 'ft.com', 'morningstar.com', 'statista.com', 'mckinsey', 'deloitte', 'gartner', 'idc.com'];\nvar forbiddenPatterns = ['reddit', 'twitter', 'facebook', 'tiktok', 'youtube', 'forum', 'blog'];\nvar newsPatterns = ['news', 'insider', 'sharedeals', 'finanzen.net', 'onvista', 'wallstreet-online', 'apfelnews', 'macerkopf', 'markteinblicke'];\n\nfor (var i = 0; i < citations.length; i++) {\n  var url = citations[i].toLowerCase();\n  var categorized = false;\n  \n  // Check forbidden first\n  for (var f = 0; f < forbiddenPatterns.length; f++) {\n    if (url.indexOf(forbiddenPatterns[f]) !== -1) {\n      forbidden.push(citations[i]);\n      categorized = true;\n      break;\n    }\n  }\n  if (categorized) continue;\n  \n  // Check primary\n  for (var p = 0; p < primaryPatterns.length; p++) {\n    if (url.indexOf(primaryPatterns[p]) !== -1) {\n      primary.push(citations[i]);\n      categorized = true;\n      break;\n    }\n  }\n  if (categorized) continue;\n  \n  // Check secondary\n  for (var s = 0; s < secondaryPatterns.length; s++) {\n    if (url.indexOf(secondaryPatterns[s]) !== -1) {\n      secondary.push(citations[i]);\n      categorized = true;\n      break;\n    }\n  }\n  if (categorized) continue;\n  \n  // Check news\n  for (var n = 0; n < newsPatterns.length; n++) {\n    if (url.indexOf(newsPatterns[n]) !== -1) {\n      news.push(citations[i]);\n      categorized = true;\n      break;\n    }\n  }\n  if (categorized) continue;\n  \n  // Default: news\n  news.push(citations[i]);\n}\n\n// Berechne Quellenqualitaet\nvar sourceScore = 0;\nsourceScore += primary.length * 3;\nsourceScore += secondary.length * 2;\nsourceScore += news.length * 0.5;\nsourceScore -= forbidden.length * 5;\n\nvar sourceQuality = 'niedrig';\nif (sourceScore >= 8 && primary.length >= 1) sourceQuality = 'hoch';\nelse if (sourceScore >= 4) sourceQuality = 'mittel';\n\nvar sourceIssues = [];\nif (primary.length === 0) {\n  sourceIssues.push('KRITISCH: Keine Primaerquellen (IR, SEC, 10-K)');\n}\nif (forbidden.length > 0) {\n  sourceIssues.push('VERBOTEN: ' + forbidden.length + ' unzulaessige Quellen');\n}\nif (news.length > secondary.length + primary.length) {\n  sourceIssues.push('WARNUNG: Mehr News-Quellen als Research-Quellen');\n}\n\n// Filtere Quellen fuer Output (nur akzeptable)\nvar acceptedSources = primary.concat(secondary).concat(news.slice(0, 3));\n\nreturn {\n  json: {\n    ...input,\n    sourceValidation: {\n      primary: primary,\n      secondary: secondary,\n      news: news,\n      forbidden: forbidden,\n      score: sourceScore,\n      quality: sourceQuality,\n      issues: sourceIssues,\n      accepted: acceptedSources.slice(0, 8)\n    },\n    phase: 'P3_SOURCES_VALIDATED'\n  }\n};"
      },
      "id": "source-validator",
      "name": "P3b. Quellenvalidierung",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2300, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer 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" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.1,\n  \"max_tokens\": 3000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Du bist ein REDAKTEUR fuer einen professionellen Finanz-Newsletter.\\n\\nDeine EINZIGE Aufgabe: Lesbarkeit und Stringenz verbessern.\\n\\n=== ERLAUBT ===\\n- Grammatik korrigieren\\n- Satzstruktur verbessern\\n- Absaetze besser gliedern\\n- Uebergaenge verbessern\\n- Wiederholungen entfernen\\n- Klarere Formulierungen\\n\\n=== STRIKT VERBOTEN ===\\n- Inhaltliche Aenderungen\\n- Neue Fakten oder Zahlen\\n- Neue Bewertungen\\n- Empfehlungen hinzufuegen\\n- Kursziele einfuegen\\n- Aussagen abschwaechen oder verstaerken\\n\\n=== ZIEL ===\\nDer Text muss:\\n- Professionell und sachlich klingen\\n- Gut lesbar fuer informierte Privatanleger sein\\n- Klare Struktur haben\\n- Frei von Redundanzen sein\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify('FINALISIERE DIESEN TEXT REDAKTIONELL (NUR Lesbarkeit, keine Inhaltaenderungen):\\n\\n' + $json.analysisV2) }}\n    }\n  ]\n}",
        "options": { "timeout": 120000 }
      },
      "id": "phase4-editorial",
      "name": "P4. Redaktion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2500, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var prev = $('P3b. Quellenvalidierung').item.json;\nvar resp = $input.item.json;\n\nvar finalContent = '';\n\nif (resp && resp.choices && resp.choices[0] && resp.choices[0].message) {\n  finalContent = resp.choices[0].message.content || '';\n  finalContent = finalContent.replace(/\\*\\*([^*]+)\\*\\*/g, '$1').replace(/\\*([^*]+)\\*/g, '$1').replace(/\\[\\d+\\]/g, '').trim();\n} else {\n  finalContent = prev.analysisV2; // Fallback\n}\n\nreturn {\n  json: {\n    ...prev,\n    finalContent: finalContent,\n    phase: 'P4_EDITORIAL_COMPLETE'\n  }\n};"
      },
      "id": "phase4-extract",
      "name": "P4. Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2700, 400]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// QUALITY GATE - Finale Pruefung\n// =====================================================\n\nvar input = $input.item.json;\nvar content = input.finalContent || '';\n\nfunction countWords(text) {\n  return (text || '').split(/\\s+/).filter(function(w) { return w.length > 1; }).length;\n}\n\nvar wordCount = countWords(content);\n\n// Technische Compliance-Pruefung\nvar complianceFlags = [];\nvar lower = content.toLowerCase();\n\nvar criticalTerms = [\n  { term: 'kaufen', type: 'empfehlung' },\n  { term: 'verkaufen', type: 'empfehlung' },\n  { term: 'kursziel', type: 'prognose' },\n  { term: 'unterbewertet', type: 'bewertung' },\n  { term: 'ueberbewertet', type: 'bewertung' },\n  { term: 'attraktiv bewertet', type: 'bewertung' },\n  { term: 'guenstig bewertet', type: 'bewertung' }\n];\n\nvar warningTerms = [\n  { term: 'fuehrend', type: 'superlativ' },\n  { term: 'dominant', type: 'superlativ' },\n  { term: 'einzigartig', type: 'superlativ' },\n  { term: 'beste', type: 'superlativ' },\n  { term: 'groesste', type: 'superlativ' }\n];\n\nvar criticalCount = 0;\nvar warningCount = 0;\n\nfor (var i = 0; i < criticalTerms.length; i++) {\n  if (lower.indexOf(criticalTerms[i].term) !== -1) {\n    complianceFlags.push('[KRITISCH] \"' + criticalTerms[i].term + '\" (' + criticalTerms[i].type + ')');\n    criticalCount++;\n  }\n}\n\nfor (var j = 0; j < warningTerms.length; j++) {\n  if (lower.indexOf(warningTerms[j].term) !== -1) {\n    complianceFlags.push('[WARNUNG] \"' + warningTerms[j].term + '\" (' + warningTerms[j].type + ')');\n    warningCount++;\n  }\n}\n\n// Qualitaetsscore berechnen\nvar score = 10;\n\n// Abzuege\nif (criticalCount > 0) score -= criticalCount * 3;\nif (warningCount > 0) score -= warningCount * 1;\nif (wordCount < 1200) score -= 2;\nif (input.sourceValidation.quality === 'niedrig') score -= 2;\nif (input.sourceValidation.quality === 'mittel') score -= 1;\nif (input.anomalies && input.anomalies.length > 0) {\n  // Pruefen ob Anomalien im Text adressiert werden\n  var anomaliesAddressed = 0;\n  for (var k = 0; k < input.anomalies.length; k++) {\n    if (lower.indexOf(input.anomalies[k].field.toLowerCase()) !== -1) {\n      anomaliesAddressed++;\n    }\n  }\n  if (anomaliesAddressed < input.anomalies.length) {\n    score -= 1;\n    complianceFlags.push('[LUECKE] ' + (input.anomalies.length - anomaliesAddressed) + ' Anomalien nicht adressiert');\n  }\n}\n\n// Bonus\nif (input.critiqueCount >= 5) score += 1; // Gruendliche Kritik\nif (input.sourceValidation.primary.length >= 1) score += 1;\n\nvar qualityScore = Math.max(0, Math.min(10, Math.round(score)));\n\n// Publikationsentscheidung\nvar publicationReady = criticalCount === 0 && qualityScore >= 6 && wordCount >= 1000;\n\nvar allIssues = complianceFlags.concat(input.sourceValidation.issues || []);\n\nreturn {\n  json: {\n    input: input.input,\n    facts: input.facts,\n    anomalies: input.anomalies,\n    factsBlock: input.factsBlock,\n    finalContent: content,\n    citations: input.sourceValidation.accepted,\n    metrics: {\n      wordCount: wordCount,\n      qualityScore: qualityScore,\n      publicationReady: publicationReady,\n      critiqueCount: input.critiqueCount,\n      critiqueTypes: input.critiqueTypes\n    },\n    validation: {\n      complianceFlags: complianceFlags,\n      criticalCount: criticalCount,\n      warningCount: warningCount,\n      sourceQuality: input.sourceValidation.quality,\n      allIssues: allIssues\n    },\n    critique: input.critique,\n    sourceValidation: input.sourceValidation,\n    phase: 'QUALITY_GATE_COMPLETE'\n  }\n};"
      },
      "id": "quality-gate",
      "name": "Quality Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2900, 400]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// HTML RENDERER\n// =====================================================\n\nvar input = $input.item.json;\nvar meta = input.input;\nvar facts = input.facts;\nvar content = input.finalContent;\nvar metrics = input.metrics;\nvar validation = input.validation;\nvar sourceVal = input.sourceValidation;\n\nfunction textToHtml(text) {\n  var html = text\n    .replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;')\n    .replace(/^(\\d+)\\.\\s+([^\\n]+)$/gm, '</p><h2>$2</h2><p>')\n    .replace(/^([A-Z][A-Z\\s&-]{3,})$/gm, '</p><h2>$1</h2><p>')\n    .replace(/\\n\\n+/g, '</p><p>')\n    .replace(/\\n/g, ' ');\n  html = '<p>' + html + '</p>';\n  html = html.replace(/<p><\\/p>/g, '').replace(/<p>\\s*<h/g, '<h').replace(/<\\/h2>\\s*<\\/p>/g, '</h2>').replace(/\\s+/g, ' ');\n  return html.trim();\n}\n\nvar htmlContent = textToHtml(content || '');\nvar formattedDate = new Date(meta.date).toLocaleDateString('de-DE', { day: '2-digit', month: 'long', year: 'numeric' });\n\nvar scoreClass = metrics.qualityScore >= 7 ? 'high' : (metrics.qualityScore >= 5 ? 'medium' : 'low');\nvar statusText = metrics.publicationReady ? 'Research-Ready' : 'Review erforderlich';\n\nvar dataBoxHtml = '<div class=\"data-box\">' +\n  '<h3>Datengrundlage</h3>' +\n  '<table class=\"data-table\">' +\n  '<tr><td>Quelle</td><td>' + facts.meta.source + '</td></tr>' +\n  '<tr><td>Stand</td><td>' + new Date(facts.meta.timestamp).toLocaleDateString('de-DE') + '</td></tr>' +\n  '<tr><td>Qualitaet</td><td>' + facts.meta.quality + '</td></tr>' +\n  '</table>' +\n  '<p class=\"data-note\">Alle quantitativen Aussagen basieren auf API-Daten. Keine eigenstaendige Verifizierung.</p>' +\n  '</div>';\n\nvar anomalyHtml = '';\nif (input.anomalies && input.anomalies.length > 0) {\n  anomalyHtml = '<div class=\"anomaly-box\"><h4>Daten-Anomalien</h4><ul>';\n  for (var i = 0; i < input.anomalies.length; i++) {\n    var a = input.anomalies[i];\n    anomalyHtml += '<li><span class=\"flag flag-' + a.flag.toLowerCase() + '\">' + a.flag + '</span> ' + a.note + '</li>';\n  }\n  anomalyHtml += '</ul></div>';\n}\n\nvar sourcesHtml = '';\nif (input.citations && input.citations.length > 0) {\n  sourcesHtml = '<aside class=\"sources\"><h3>Quellen</h3>';\n  if (sourceVal.primary.length > 0) {\n    sourcesHtml += '<div class=\"source-category\"><span class=\"source-label primary\">Primaer</span>';\n    for (var p = 0; p < sourceVal.primary.length; p++) {\n      try { var h = new URL(sourceVal.primary[p]).hostname.replace('www.', ''); } catch(e) { var h = sourceVal.primary[p]; }\n      sourcesHtml += '<a href=\"' + sourceVal.primary[p] + '\" target=\"_blank\">' + h + '</a> ';\n    }\n    sourcesHtml += '</div>';\n  }\n  if (sourceVal.secondary.length > 0) {\n    sourcesHtml += '<div class=\"source-category\"><span class=\"source-label secondary\">Sekundaer</span>';\n    for (var s = 0; s < Math.min(sourceVal.secondary.length, 4); s++) {\n      try { var h2 = new URL(sourceVal.secondary[s]).hostname.replace('www.', ''); } catch(e) { var h2 = sourceVal.secondary[s]; }\n      sourcesHtml += '<a href=\"' + sourceVal.secondary[s] + '\" target=\"_blank\">' + h2 + '</a> ';\n    }\n    sourcesHtml += '</div>';\n  }\n  sourcesHtml += '<p class=\"source-note\">Quellenqualitaet: ' + sourceVal.quality + '</p></aside>';\n}\n\nvar qualityBoxHtml = '<div class=\"quality-box\">' +\n  '<h4>Analyse-Qualitaet</h4>' +\n  '<div class=\"score-display ' + scoreClass + '\">' + metrics.qualityScore + '/10</div>' +\n  '<ul>' +\n  '<li>Woerter: ' + metrics.wordCount + '</li>' +\n  '<li>Kritikpunkte verarbeitet: ' + metrics.critiqueCount + '</li>' +\n  '<li>Quellenqualitaet: ' + sourceVal.quality + '</li>' +\n  '</ul>';\nif (validation.allIssues && validation.allIssues.length > 0) {\n  qualityBoxHtml += '<div class=\"issues\"><strong>Offene Punkte:</strong><ul>';\n  for (var q = 0; q < Math.min(validation.allIssues.length, 3); q++) {\n    qualityBoxHtml += '<li>' + validation.allIssues[q] + '</li>';\n  }\n  qualityBoxHtml += '</ul></div>';\n}\nqualityBoxHtml += '</div>';\n\nvar html = '<!DOCTYPE html><html lang=\"de\"><head>' +\n  '<meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">' +\n  '<title>' + meta.company + ' (' + meta.ticker + ') - Unternehmensanalyse | capitovo</title>' +\n  '<meta name=\"description\" content=\"Research-Grade Analyse von ' + meta.company + '\">' +\n  '<meta name=\"robots\" content=\"noindex, nofollow\">' +\n  '<style>' +\n  ':root{--text:#1a1a1a;--text2:#4a5568;--muted:#718096;--border:#e2e8f0;--bg:#f7fafc;--accent:#2563eb;--green:#16a34a;--yellow:#ca8a04;--red:#dc2626}' +\n  '*{box-sizing:border-box;margin:0;padding:0}' +\n  'body{font-family:-apple-system,sans-serif;line-height:1.6;color:var(--text);max-width:52rem;margin:0 auto;padding:2rem 1.5rem}' +\n  '.header{margin-bottom:2rem;padding-bottom:1.5rem;border-bottom:2px solid var(--border)}' +\n  '.meta{font-size:.8rem;color:var(--muted);margin-bottom:.5rem;text-transform:uppercase;letter-spacing:.05em}' +\n  '.title{font-size:1.75rem;font-weight:700;margin-bottom:.25rem}' +\n  '.subtitle{color:var(--text2);font-size:1rem}' +\n  '.badge{display:inline-block;padding:.25rem .75rem;border-radius:2rem;font-size:.75rem;font-weight:600;margin-left:.5rem}' +\n  '.badge.high{background:#dcfce7;color:var(--green)}.badge.medium{background:#fef3c7;color:var(--yellow)}.badge.low{background:#fee2e2;color:var(--red)}' +\n  '.data-box{background:linear-gradient(135deg,#f8fafc,#f1f5f9);padding:1.25rem;border-radius:.75rem;margin-bottom:1.5rem;border:1px solid var(--border)}' +\n  '.data-box h3{font-size:.9rem;margin-bottom:.75rem;color:var(--text2)}' +\n  '.data-table{width:100%;font-size:.875rem;border-collapse:collapse}' +\n  '.data-table td{padding:.25rem 0;border-bottom:1px solid var(--border)}' +\n  '.data-table td:first-child{color:var(--muted);width:40%}' +\n  '.data-note{font-size:.75rem;color:var(--muted);margin-top:.75rem;padding-top:.5rem;border-top:1px solid var(--border);font-style:italic}' +\n  '.anomaly-box{background:#fef3c7;padding:1rem;border-radius:.5rem;margin-bottom:1.5rem;border-left:4px solid var(--yellow)}' +\n  '.anomaly-box h4{font-size:.85rem;margin-bottom:.5rem;color:#92400e}' +\n  '.anomaly-box ul{font-size:.8rem;padding-left:1rem;color:#78350f}' +\n  '.anomaly-box li{margin:.25rem 0}' +\n  '.flag{display:inline-block;padding:.1rem .4rem;border-radius:.25rem;font-size:.7rem;font-weight:600;margin-right:.25rem}' +\n  '.flag-extrem{background:#fee2e2;color:var(--red)}.flag-auffaellig,.flag-ungewoehnlich,.flag-hoch{background:#fef3c7;color:var(--yellow)}.flag-warnung{background:#fef3c7;color:#b45309}.flag-inkonsistent{background:#fee2e2;color:var(--red)}' +\n  '.body{font-family:Georgia,serif;font-size:1.0625rem;line-height:1.85}' +\n  '.body h2{font-family:-apple-system,sans-serif;font-size:1.2rem;font-weight:600;margin:2.5rem 0 1rem;padding-bottom:.5rem;border-bottom:1px solid var(--border);color:var(--text)}' +\n  '.body p{margin-bottom:1.25rem;text-align:justify;hyphens:auto}' +\n  '.sources{margin-top:2rem;padding:1.25rem;background:var(--bg);border-radius:.5rem}' +\n  '.sources h3{font-size:.9rem;margin-bottom:.75rem;color:var(--text2)}' +\n  '.source-category{margin:.5rem 0;font-size:.8rem}' +\n  '.source-label{display:inline-block;padding:.15rem .5rem;border-radius:.25rem;font-size:.7rem;font-weight:600;margin-right:.5rem}' +\n  '.source-label.primary{background:#dcfce7;color:var(--green)}.source-label.secondary{background:#dbeafe;color:#2563eb}' +\n  '.sources a{color:var(--accent);text-decoration:none;margin-right:.75rem}' +\n  '.source-note{font-size:.75rem;color:var(--muted);margin-top:.75rem}' +\n  '.quality-box{margin-top:2rem;padding:1rem;background:#f1f5f9;border-radius:.5rem}' +\n  '.quality-box h4{font-size:.85rem;margin-bottom:.5rem;color:var(--text2)}' +\n  '.score-display{font-size:2rem;font-weight:700;margin:.5rem 0}' +\n  '.score-display.high{color:var(--green)}.score-display.medium{color:var(--yellow)}.score-display.low{color:var(--red)}' +\n  '.quality-box ul{font-size:.8rem;color:var(--muted);list-style:none;margin:.5rem 0}' +\n  '.quality-box .issues{margin-top:.75rem;padding-top:.5rem;border-top:1px solid var(--border)}' +\n  '.quality-box .issues ul{padding-left:1rem;list-style:disc;color:var(--yellow)}' +\n  '.disclaimer{margin-top:2rem;padding:1.25rem;background:var(--bg);border:1px solid var(--border);border-radius:.5rem;font-size:.8rem;color:var(--muted)}' +\n  '.disclaimer strong{color:var(--text2)}' +\n  '.methodology{margin-top:1rem;padding:1rem;background:#f8fafc;border-radius:.5rem;font-size:.75rem;color:var(--muted)}' +\n  '.methodology h5{font-size:.8rem;margin-bottom:.5rem;color:var(--text2)}' +\n  '.footer{margin-top:1.5rem;padding-top:1rem;border-top:1px solid var(--border);font-size:.75rem;color:var(--muted);display:flex;justify-content:space-between}' +\n  '</style></head><body>' +\n  '<header class=\"header\">' +\n  '<div class=\"meta\">' + meta.sector + ' · ' + meta.ticker + ' · ' + meta.exchange + '</div>' +\n  '<h1 class=\"title\">' + meta.company + '<span class=\"badge ' + scoreClass + '\">' + statusText + '</span></h1>' +\n  '<p class=\"subtitle\">Analytische Einordnung von Geschaeftsmodell, Fundamentaldaten und Bewertung</p>' +\n  '<div class=\"meta\" style=\"margin-top:.75rem\">capitovo Research · ' + formattedDate + '</div>' +\n  '</header>' +\n  dataBoxHtml +\n  anomalyHtml +\n  '<article class=\"body\">' + htmlContent + '</article>' +\n  sourcesHtml +\n  qualityBoxHtml +\n  '<div class=\"disclaimer\">' +\n  '<strong>Rechtlicher Hinweis:</strong> Diese Analyse dient ausschliesslich Informationszwecken und stellt keine Anlageberatung dar. ' +\n  'Die dargestellten Informationen sind keine Aufforderung zum Kauf oder Verkauf von Wertpapieren. ' +\n  'Alle quantitativen Angaben basieren auf Drittanbieter-APIs ohne eigenstaendige Verifizierung. ' +\n  'capitovo uebernimmt keine Gewaehr fuer Richtigkeit, Vollstaendigkeit oder Aktualitaet.' +\n  '</div>' +\n  '<div class=\"methodology\">' +\n  '<h5>Methodik</h5>' +\n  'Diese Analyse wurde durch eine 4-Phasen-Pipeline erstellt: ' +\n  '(1) Automatisierte Datenaggregation mit Anomalie-Erkennung, ' +\n  '(2) Analytische Einordnung durch KI mit Fokus auf kausale Zusammenhaenge, ' +\n  '(3) Kritische Pruefinstanz zur Identifikation von Schwachstellen, ' +\n  '(4) Redaktionelle Finalisierung. ' +\n  'Keine Phase enthaelt Anlageempfehlungen.' +\n  '</div>' +\n  '<footer class=\"footer\">' +\n  '<span>ID: ' + meta.ticker.toLowerCase() + '-' + meta.date + '</span>' +\n  '<span>' + metrics.wordCount + ' Woerter · Score ' + metrics.qualityScore + '/10</span>' +\n  '<span>' + meta.pipelineVersion + '</span>' +\n  '</footer></body></html>';\n\nreturn { json: { ...input, html: html } };"
      },
      "id": "html-renderer",
      "name": "HTML Renderer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3100, 400]
    },
    {
      "parameters": {
        "jsCode": "var input = $input.item.json;\nvar meta = input.input;\nvar metrics = input.metrics;\nvar validation = input.validation;\n\nvar svg = '<svg width=\"640\" height=\"360\" viewBox=\"0 0 640 360\" xmlns=\"http://www.w3.org/2000/svg\">' +\n  '<defs><linearGradient id=\"bg\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"100%\"><stop offset=\"0%\" stop-color=\"#0f172a\"/><stop offset=\"100%\" stop-color=\"#1e293b\"/></linearGradient></defs>' +\n  '<rect width=\"640\" height=\"360\" fill=\"url(#bg)\" rx=\"16\"/>' +\n  '<g font-family=\"-apple-system, sans-serif\">' +\n  '<text x=\"48\" y=\"72\" fill=\"#64748b\" font-size=\"12\" letter-spacing=\"0.1em\">' + meta.ticker + ' · ' + meta.sector.toUpperCase() + '</text>' +\n  '<text x=\"48\" y=\"115\" fill=\"#f1f5f9\" font-size=\"32\" font-weight=\"700\">' + meta.company + '</text>' +\n  '<text x=\"48\" y=\"150\" fill=\"#94a3b8\" font-size=\"15\">Analytische Unternehmenseinordnung</text>' +\n  '<rect x=\"48\" y=\"175\" width=\"60\" height=\"3\" fill=\"#3b82f6\" rx=\"1.5\"/>' +\n  '<text x=\"48\" y=\"220\" fill=\"#64748b\" font-size=\"13\">Geschaeftsmodell · Fundamentaldaten · Bewertung</text>' +\n  '<text x=\"48\" y=\"290\" fill=\"#475569\" font-size=\"11\">capitovo Research · Score ' + metrics.qualityScore + '/10</text>' +\n  '<text x=\"48\" y=\"310\" fill=\"#64748b\" font-size=\"10\">' + meta.date + ' · ' + meta.pipelineVersion + '</text></g></svg>';\n\nvar jsonEntry = {\n  id: meta.ticker.toLowerCase() + '-' + meta.date,\n  category: meta.sector,\n  title: meta.company + ' - Unternehmensanalyse',\n  summary: 'Analytische Einordnung von ' + meta.company + ' (' + meta.ticker + ').',\n  link: 'Abonenten/' + meta.slug + '.html',\n  image: 'data/vorschaubilder_analysen/' + meta.slug + '.svg',\n  date: meta.date,\n  author: 'capitovo Research',\n  tags: [meta.company, meta.ticker, meta.sector],\n  published: metrics.publicationReady,\n  wordCount: metrics.wordCount,\n  qualityScore: metrics.qualityScore,\n  sourceQuality: input.sourceValidation.quality,\n  pipelineVersion: meta.pipelineVersion,\n  methodology: 'v9-research-grade: Fakten + Analyse + Kritik + Redaktion'\n};\n\nvar status = metrics.publicationReady \n  ? 'RESEARCH-READY (Score ' + metrics.qualityScore + '/10)'\n  : 'REVIEW ERFORDERLICH (Score ' + metrics.qualityScore + '/10)';\n\nreturn {\n  json: {\n    success: true,\n    status: status,\n    company: meta.company,\n    ticker: meta.ticker,\n    date: meta.date,\n    pipelineVersion: meta.pipelineVersion,\n    metrics: metrics,\n    validation: validation,\n    critique: input.critique,\n    sourceValidation: input.sourceValidation,\n    outputs: {\n      html: input.html,\n      svg: svg,\n      jsonEntry: jsonEntry\n    },\n    filePaths: {\n      html: 'Abonenten/' + meta.slug + '.html',\n      svg: 'data/vorschaubilder_analysen/' + meta.slug + '.svg'\n    }\n  }\n};"
      },
      "id": "output-generator",
      "name": "Output Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3300, 400]
    },
    {
      "parameters": {},
      "id": "output",
      "name": "Output",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3500, 400]
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "0. Input", "type": "main", "index": 0 }]] },
    "0. Input": { "main": [[{ "node": "1a. API Overview", "type": "main", "index": 0 }]] },
    "1a. API Overview": { "main": [[{ "node": "1b. Store", "type": "main", "index": 0 }]] },
    "1b. Store": { "main": [[{ "node": "1c. API Income", "type": "main", "index": 0 }]] },
    "1c. API Income": { "main": [[{ "node": "1d. Fakteninstanz", "type": "main", "index": 0 }]] },
    "1d. Fakteninstanz": { "main": [[{ "node": "1e. Facts Format", "type": "main", "index": 0 }]] },
    "1e. Facts Format": { "main": [[{ "node": "P2. Analyseinstanz", "type": "main", "index": 0 }]] },
    "P2. Analyseinstanz": { "main": [[{ "node": "P2. Extract", "type": "main", "index": 0 }]] },
    "P2. Extract": { "main": [[{ "node": "P3. Kritische Pruefinstanz", "type": "main", "index": 0 }]] },
    "P3. Kritische Pruefinstanz": { "main": [[{ "node": "P3. Extract", "type": "main", "index": 0 }]] },
    "P3. Extract": { "main": [[{ "node": "P3b. Quellenvalidierung", "type": "main", "index": 0 }]] },
    "P3b. Quellenvalidierung": { "main": [[{ "node": "P4. Redaktion", "type": "main", "index": 0 }]] },
    "P4. Redaktion": { "main": [[{ "node": "P4. Extract", "type": "main", "index": 0 }]] },
    "P4. Extract": { "main": [[{ "node": "Quality Gate", "type": "main", "index": 0 }]] },
    "Quality Gate": { "main": [[{ "node": "HTML Renderer", "type": "main", "index": 0 }]] },
    "HTML Renderer": { "main": [[{ "node": "Output Generator", "type": "main", "index": 0 }]] },
    "Output Generator": { "main": [[{ "node": "Output", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "production" }, { "name": "v9.0-research-grade" }]
}
