n8n/n8n_analyse_generator_workflow_v2.json
{
  "name": "capitovo Analyse Generator v2 (Multi-Stage Pipeline)",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 400]
    },
    {
      "parameters": {
        "jsCode": "// Test-Daten für manuellen Trigger\nreturn {\n  json: {\n    body: {\n      company: 'Apple',\n      ticker: 'AAPL',\n      sector: 'Technologie',\n      date: '2026-01-18'\n    }\n  }\n};"
      },
      "id": "test-data",
      "name": "Test Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 400]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// STAGE 1: INPUT VALIDATION & ENRICHMENT\n// ═══════════════════════════════════════════════════════════════\n\nconst body = $input.item.json.body || $input.item.json;\n\n// 1. Pflichtfelder validieren\nconst requiredFields = ['company', 'ticker'];\nconst missing = requiredFields.filter(f => !body[f]);\nif (missing.length > 0) {\n  throw new Error(`Fehlende Pflichtfelder: ${missing.join(', ')}`);\n}\n\n// 2. Sector-Mapping (Normalisierung)\nconst sectorMap = {\n  'tech': 'Technologie',\n  'technology': 'Technologie',\n  'technologie': 'Technologie',\n  'finance': 'Finanzen',\n  'finanzen': 'Finanzen',\n  'financials': 'Finanzen',\n  'healthcare': 'Gesundheit',\n  'gesundheit': 'Gesundheit',\n  'consumer': 'Konsum',\n  'konsum': 'Konsum',\n  'zyklischer konsum': 'Zyklischer Konsum',\n  'cyclical': 'Zyklischer Konsum',\n  'industrial': 'Industrie',\n  'industrie': 'Industrie',\n  'energy': 'Energie',\n  'energie': 'Energie',\n  'utilities': 'Versorger',\n  'versorger': 'Versorger',\n  'real estate': 'Immobilien',\n  'immobilien': 'Immobilien',\n  'materials': 'Rohstoffe',\n  'rohstoffe': 'Rohstoffe',\n  'communication': 'Kommunikation',\n  'kommunikation': 'Kommunikation'\n};\n\nconst rawSector = (body.sector || 'Technologie').toLowerCase().trim();\nconst sector = sectorMap[rawSector] || body.sector || 'Technologie';\n\n// 3. Weitere Felder normalisieren\nconst company = body.company.trim();\nconst ticker = body.ticker.toUpperCase().trim();\nconst date = body.date || new Date().toISOString().split('T')[0];\nconst baseDir = '/Users/kevinwaibel/Dokumente/capitovo/Code/capitovo';\nconst analysisType = body.analysisType || 'full';\n\n// 4. Slug generieren\nconst slug = (body.filename || `${company}-${ticker}`)\n  .toLowerCase()\n  .replace(/[äöüß]/g, c => ({ 'ä': 'ae', 'ö': 'oe', 'ü': 'ue', 'ß': 'ss' }[c]))\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/(^-|-$)/g, '');\n\n// 5. Exchange & Currency Detection\nconst exchangeMap = {\n  'AAPL': { exchange: 'NASDAQ', currency: 'USD' },\n  'MSFT': { exchange: 'NASDAQ', currency: 'USD' },\n  'GOOGL': { exchange: 'NASDAQ', currency: 'USD' },\n  'TSLA': { exchange: 'NASDAQ', currency: 'USD' },\n  'AMZN': { exchange: 'NASDAQ', currency: 'USD' },\n  'SAP': { exchange: 'XETRA', currency: 'EUR' },\n  'SIE': { exchange: 'XETRA', currency: 'EUR' },\n  'BMW': { exchange: 'XETRA', currency: 'EUR' },\n  'VOW3': { exchange: 'XETRA', currency: 'EUR' },\n  'ALV': { exchange: 'XETRA', currency: 'EUR' }\n};\nconst exchangeInfo = exchangeMap[ticker] || { exchange: 'NYSE', currency: 'USD' };\n\n// 6. Output\nreturn {\n  json: {\n    company,\n    ticker,\n    sector,\n    date,\n    baseDir,\n    slug,\n    analysisType,\n    exchange: exchangeInfo.exchange,\n    currency: exchangeInfo.currency,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "input-validator",
      "name": "1. Input Validator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 400]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// STAGE 1b: HISTORY LOADER (Simplified - no filesystem)\n// ═══════════════════════════════════════════════════════════════\n\nconst input = $input.item.json;\n\nreturn {\n  json: {\n    ...input,\n    previousAnalysis: null,\n    historyContext: '',\n    isUpdate: false\n  }\n};"
      },
      "id": "history-loader",
      "name": "2. History Loader",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": false,
              "value2": true
            }
          ]
        }
      },
      "id": "if-test",
      "name": "Test Mode?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 400]
    },
    {
      "parameters": {
        "jsCode": "// Mock Content für Test-Modus\nconst input = $input.item.json;\nconst mockSections = {\n  marketValuation: `## Marktbewertung\\n\\n- **Aktueller Kurs:** 185.50 ${input.currency}\\n- **Marktkapitalisierung:** 2.85 Billionen ${input.currency}\\n- **52-Wochen-Hoch:** 199.62 ${input.currency}\\n- **52-Wochen-Tief:** 164.08 ${input.currency}\\n- **Performance YTD:** +12.4%\\n- **Performance 12M:** +28.7%`,\n  \n  fundamentals: `## Fundamentaldaten\\n\\n| Kennzahl | Wert | Branche |\\n|----------|------|---------|\\n| KGV (TTM) | 29.5 | 25.2 |\\n| KGV (Forward) | 26.8 | 23.1 |\\n| KBV | 45.2 | 12.8 |\\n| EV/EBITDA | 22.1 | 18.5 |\\n| Bruttomarge | 45.6% | 42.1% |\\n| EBIT-Marge | 31.2% | 24.8% |\\n| Eigenkapitalrendite | 147.3% | 28.5% |\\n| Verschuldungsgrad | 1.8x | 2.1x |`,\n  \n  competition: `## Wettbewerb & Marktposition\\n\\n**Marktstellung:** Marktführer im Segment mit ~58% Marktanteil in den USA.\\n\\n**Wettbewerbsvorteile (Moat):**\\n- Starkes Ökosystem-Lock-in\\n- Premium-Markenpositionierung\\n- Hohe Wechselkosten für Kunden\\n- Vertikale Integration (Hardware + Software)\\n\\n**Hauptkonkurrenten:**\\n- Samsung (Hardware)\\n- Google (Software/Services)\\n- Microsoft (Enterprise)`,\n  \n  risks: `## Risiken & Katalysatoren\\n\\n**Risiken:**\\n- Regulatorische Eingriffe (App Store, DMA)\\n- China-Abhängigkeit (Fertigung & Absatz)\\n- Sättigung im Smartphone-Markt\\n- Wettbewerbsdruck bei Services\\n\\n**Katalysatoren:**\\n- Vision Pro & AR/VR-Expansion\\n- KI-Integration (Apple Intelligence)\\n- Services-Wachstum (+15% YoY)\\n- Indien als neuer Wachstumsmarkt`,\n  \n  thesis: `## Investment-These\\n\\n**Bull-Case:**\\n- Services-Segment wächst mit >20% CAGR\\n- Margin-Expansion durch höheren Services-Anteil\\n- Neuer Produktzyklus (iPhone 17, Vision Pro 2)\\n\\n**Bear-Case:**\\n- Hardware-Wachstum stagniert\\n- Regulatorische Risiken in EU und USA\\n- Multiple-Kompression bei Tech-Korrektur\\n\\n**Kursziel:** 210 ${input.currency} (12 Monate)\\n\\n**Empfehlung: HALTEN**\\n\\nDie Aktie ist fair bewertet. Der Premium-Multiple ist durch die Qualität des Geschäftsmodells gerechtfertigt, bietet aber begrenztes Upside.`\n};\n\nreturn {\n  json: {\n    ...input,\n    sections: mockSections,\n    rawContent: Object.values(mockSections).join('\\n\\n'),\n    tokensUsed: 0,\n    isTest: true\n  }\n};"
      },
      "id": "mock-content",
      "name": "Mock Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 200]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// STAGE 2: RESEARCH ORCHESTRATOR\n// Bereitet die parallelen Prompt-Calls vor\n// ═══════════════════════════════════════════════════════════════\n\nconst input = $input.item.json;\n\nconst systemPrompt = `Du agierst als Senior Equity Research Analyst für einen deutschsprachigen Börsenbrief mit professionellem Publikum.\n\nSTIL-VORGABEN:\n- Sachlich-analytisch, keine emotionalen Formulierungen\n- Präzise Zahlenangaben mit Quellenkontext (z.B. \"laut Q3-Bericht\")\n- Keine Floskeln wie \"Es bleibt abzuwarten\" oder \"Die Zukunft wird zeigen\"\n- Keine Disclaimer oder Risikohinweise (werden separat hinzugefügt)\n- Keine Spekulationen, nur belegbare Fakten und begründete Einschätzungen\n\nFORMAT:\n- Markdown mit ## für Hauptüberschriften\n- Bullet Points für Aufzählungen\n- Tabellen für Kennzahlenvergleiche (| Spalte | Wert |)\n- Fettdruck (**) für wichtige Zahlen und Empfehlungen\n\nSPRACHE: Deutsch\nWÄHRUNG: ${input.currency}`;\n\nconst historyNote = input.historyContext || '';\n\nconst prompts = [\n  {\n    id: 'marketValuation',\n    name: 'Marktbewertung',\n    userPrompt: `Analysiere die aktuelle Marktbewertung von ${input.company} (${input.ticker}, ${input.exchange}):\n\nPFLICHTINHALTE:\n1. Aktueller Aktienkurs mit Währung\n2. Marktkapitalisierung\n3. 52-Wochen-Hoch und -Tief mit prozentualem Abstand zum aktuellen Kurs\n4. Performance YTD (Year-to-Date)\n5. Performance letzte 12 Monate\n6. Vergleich zum relevanten Sektorindex\n\nLÄNGE: 150-200 Wörter\nOUTPUT: Beginne mit ## Marktbewertung${historyNote}`\n  },\n  {\n    id: 'fundamentals',\n    name: 'Fundamentaldaten',\n    userPrompt: `Analysiere die Fundamentaldaten von ${input.company} (${input.ticker}):\n\nPFLICHTINHALTE (als Tabelle):\n1. KGV (TTM und Forward)\n2. Kurs-Buchwert-Verhältnis (KBV)\n3. EV/EBITDA\n4. Bruttomarge und EBIT-Marge\n5. Eigenkapitalrendite (ROE)\n6. Verschuldungsgrad (Debt/EBITDA)\n\nZusätzlich: Vergleich mit Branchendurchschnitt wo möglich.\n\nLÄNGE: 200-250 Wörter\nOUTPUT: Beginne mit ## Fundamentaldaten${historyNote}`\n  },\n  {\n    id: 'competition',\n    name: 'Wettbewerb',\n    userPrompt: `Analysiere die Wettbewerbsposition von ${input.company} (${input.ticker}) im Sektor ${input.sector}:\n\nPFLICHTINHALTE:\n1. Marktstellung: Marktanteil und Position\n2. Wettbewerbsvorteile (Economic Moat): Was macht das Unternehmen einzigartig?\n3. Die 3 wichtigsten Konkurrenten mit Kurzbeschreibung\n4. Relative Stärken und Schwächen vs. Wettbewerb\n\nLÄNGE: 200-250 Wörter\nOUTPUT: Beginne mit ## Wettbewerb & Marktposition${historyNote}`\n  },\n  {\n    id: 'risks',\n    name: 'Risiken',\n    userPrompt: `Identifiziere Risiken und Katalysatoren für ${input.company} (${input.ticker}):\n\nPFLICHTINHALTE:\n**Risiken (mindestens 4):**\n- Regulatorische Risiken\n- Wettbewerbsrisiken\n- Makro-/Zyklusrisiken\n- Unternehmensspezifische Risiken\n\n**Katalysatoren (mindestens 3):**\n- Kurzfristige Trigger (0-12 Monate)\n- Mittelfristige Wachstumstreiber\n\nLÄNGE: 200-250 Wörter\nOUTPUT: Beginne mit ## Risiken & Katalysatoren${historyNote}`\n  },\n  {\n    id: 'thesis',\n    name: 'Investment-These',\n    userPrompt: `Formuliere eine Investment-These für ${input.company} (${input.ticker}):\n\nPFLICHTINHALTE:\n1. **Bull-Case:** 3 Argumente für ein Investment\n2. **Bear-Case:** 3 Argumente gegen ein Investment\n3. **Kursziel:** Begründetes 12-Monats-Kursziel in ${input.currency}\n4. **Empfehlung:** Genau eines von: **KAUFEN**, **HALTEN**, oder **VERKAUFEN**\n5. Begründung der Empfehlung in 2-3 Sätzen\n\nWICHTIG:\n- Die Empfehlung muss konsistent mit der Analyse sein\n- Bei Unsicherheit: HALTEN bevorzugen\n- Kursziel sollte realistisch sein (nicht >40% vom aktuellen Kurs entfernt ohne starke Begründung)\n\nLÄNGE: 250-300 Wörter\nOUTPUT: Beginne mit ## Investment-These${historyNote}`\n  }\n];\n\nreturn {\n  json: {\n    ...input,\n    systemPrompt,\n    prompts\n  }\n};"
      },
      "id": "research-orchestrator",
      "name": "3. Research Orchestrator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 500]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $input.item.json;\nconst results = input.prompts.map(p => ({\n  json: {\n    ...input,\n    currentPrompt: p\n  }\n}));\nreturn results;"
      },
      "id": "split-prompts",
      "name": "Split Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.2,\n  \"max_tokens\": 1500,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": {{ JSON.stringify($json.systemPrompt) }}\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.currentPrompt.userPrompt) }}\n    }\n  ]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "perplexity-call",
      "name": "4. Perplexity API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1620, 500],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst promptId = $('Split Prompts').item.json.currentPrompt.id;\nconst promptName = $('Split Prompts').item.json.currentPrompt.name;\n\nlet content = '';\nlet tokensUsed = 0;\n\ntry {\n  content = input.choices?.[0]?.message?.content || '';\n  tokensUsed = input.usage?.total_tokens || 0;\n} catch (e) {\n  content = `## ${promptName}\\n\\n_Fehler beim Laden der Daten._`;\n}\n\nreturn {\n  json: {\n    promptId,\n    promptName,\n    content,\n    tokensUsed\n  }\n};"
      },
      "id": "extract-content",
      "name": "Extract Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1840, 500]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst originalInput = $('3. Research Orchestrator').item.json;\n\nconst order = ['marketValuation', 'fundamentals', 'competition', 'risks', 'thesis'];\nconst sections = {};\nlet totalTokens = 0;\n\nitems.forEach(item => {\n  sections[item.json.promptId] = item.json.content;\n  totalTokens += item.json.tokensUsed || 0;\n});\n\nconst orderedContent = order\n  .map(id => sections[id] || '')\n  .filter(c => c.length > 0)\n  .join('\\n\\n');\n\nlet recommendation = 'HALTEN';\nconst thesisContent = sections['thesis'] || '';\nif (thesisContent.includes('**KAUFEN**') || thesisContent.includes('KAUFEN')) {\n  recommendation = 'KAUFEN';\n} else if (thesisContent.includes('**VERKAUFEN**') || thesisContent.includes('VERKAUFEN')) {\n  recommendation = 'VERKAUFEN';\n}\n\nlet priceTarget = null;\nconst priceMatch = thesisContent.match(/Kursziel[:\\s]+([\\d.,]+)\\s*(USD|EUR|CHF)?/i);\nif (priceMatch) {\n  priceTarget = parseFloat(priceMatch[1].replace(',', '.'));\n}\n\nreturn {\n  json: {\n    company: originalInput.company,\n    ticker: originalInput.ticker,\n    sector: originalInput.sector,\n    date: originalInput.date,\n    baseDir: originalInput.baseDir,\n    slug: originalInput.slug,\n    exchange: originalInput.exchange,\n    currency: originalInput.currency,\n    previousAnalysis: originalInput.previousAnalysis,\n    isUpdate: originalInput.isUpdate,\n    sections,\n    rawContent: orderedContent,\n    recommendation,\n    priceTarget,\n    tokensUsed: totalTokens,\n    isTest: false\n  }\n};"
      },
      "id": "content-merger",
      "name": "5. Content Merger",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2060, 500]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\n\nlet recommendation = item.recommendation || 'HALTEN';\nif (!item.recommendation && item.rawContent) {\n  if (item.rawContent.includes('**KAUFEN**')) recommendation = 'KAUFEN';\n  else if (item.rawContent.includes('**VERKAUFEN**')) recommendation = 'VERKAUFEN';\n}\n\nreturn {\n  json: {\n    ...item,\n    recommendation\n  }\n};"
      },
      "id": "merge-content",
      "name": "Merge Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2280, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar\",\n  \"temperature\": 0.1,\n  \"max_tokens\": 800,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Du bist ein Qualitätsprüfer für Finanzanalysen. Bewerte die folgende Analyse auf Vollständigkeit, Konsistenz und Qualität.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(\"Prüfe diese Aktienanalyse zu \" + $json.company + \" (\" + $json.ticker + \"):\\n\\n\" + ($json.rawContent || \"\").substring(0, 4000) + \"\\n\\nBewerte auf einer Skala von 1-10:\\n1. Vollständigkeit (alle wichtigen Bereiche abgedeckt?)\\n2. Konsistenz (passt die Empfehlung zur Analyse?)\\n3. Qualität (präzise Zahlen, keine Floskeln?)\\n\\nAntworte NUR im Format:\\nVOLLSTÄNDIGKEIT: [1-10]\\nKONSISTENZ: [1-10]\\nQUALITÄT: [1-10]\\nGESAMT: [1-10]\\nKOMMENTAR: [1-2 Sätze]\") }}\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "quality-check",
      "name": "6. Quality Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2500, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const mergedData = $('Merge Content').item.json;\nconst qcResponse = $input.item.json;\n\nlet qualityScore = 7;\nlet qualityComment = '';\n\ntry {\n  const content = qcResponse.choices?.[0]?.message?.content || '';\n  \n  const gesamtMatch = content.match(/GESAMT:\\s*(\\d+)/i);\n  if (gesamtMatch) {\n    qualityScore = parseInt(gesamtMatch[1]);\n  }\n  \n  const kommentarMatch = content.match(/KOMMENTAR:\\s*(.+)/i);\n  if (kommentarMatch) {\n    qualityComment = kommentarMatch[1].trim();\n  }\n} catch (e) {\n  qualityScore = 7;\n}\n\nconst wordCount = (mergedData.rawContent || '').split(/\\s+/).length;\n\nreturn {\n  json: {\n    ...mergedData,\n    qualityScore,\n    qualityComment,\n    wordCount,\n    qualityPassed: qualityScore >= 6\n  }\n};"
      },
      "id": "quality-gate",
      "name": "7. Quality Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2720, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\nfunction mdToHtml(md) {\n  return md\n    .replace(/\\|(.+)\\|/g, (match) => {\n      const cells = match.split('|').filter(c => c.trim());\n      const isHeader = match.includes('---');\n      if (isHeader) return '';\n      return '<tr>' + cells.map(c => `<td>${c.trim()}</td>`).join('') + '</tr>';\n    })\n    .replace(/^### (.*)$/gm, '<h3>$1</h3>')\n    .replace(/^## (.*)$/gm, '<h2>$1</h2>')\n    .replace(/^# (.*)$/gm, '<h1>$1</h1>')\n    .replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>')\n    .replace(/\\*(.+?)\\*/g, '<em>$1</em>')\n    .replace(/^- (.*)$/gm, '<li>$1</li>')\n    .replace(/(<li>.*<\\/li>\\n?)+/gs, '<ul>$&</ul>')\n    .replace(/\\n\\n/g, '</p><p>')\n    .replace(/\\n/g, '<br>');\n}\n\nconst htmlContent = mdToHtml(input.rawContent || '');\n\nconst recClass = {\n  'KAUFEN': 'buy',\n  'HALTEN': 'hold',\n  'VERKAUFEN': 'sell'\n}[input.recommendation] || 'hold';\n\nconst dateObj = new Date(input.date);\nconst formattedDate = dateObj.toLocaleDateString('de-DE', {\n  day: '2-digit',\n  month: 'long',\n  year: 'numeric'\n});\n\nconst html = `<!DOCTYPE html>\n<html lang=\"de\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <title>${input.company}: Equity-Research-Bericht | capitovo</title>\n  <meta name=\"description\" content=\"${input.company} (${input.ticker}) Aktienanalyse: ${input.recommendation}. Equity Research von capitovo.\">\n  <link href=\"https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css\" rel=\"stylesheet\">\n  <link rel=\"stylesheet\" href=\"../style.css\">\n  <style>\n    .recommendation-buy { color: #16a34a; background: #dcfce7; }\n    .recommendation-hold { color: #ca8a04; background: #fef9c3; }\n    .recommendation-sell { color: #dc2626; background: #fee2e2; }\n    .key-metrics { display: grid; grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); gap: 1rem; margin: 1.5rem 0; }\n    .metric { padding: 1rem; background: #f8fafc; border-radius: 0.5rem; text-align: center; }\n    .metric .label { font-size: 0.75rem; color: #64748b; text-transform: uppercase; }\n    .metric .value { font-size: 1.25rem; font-weight: 700; color: #0f172a; }\n    .analysis-body h2 { margin-top: 2rem; margin-bottom: 1rem; font-size: 1.5rem; font-weight: 700; color: #0f172a; border-bottom: 2px solid #e2e8f0; padding-bottom: 0.5rem; }\n    .analysis-body ul { margin: 1rem 0; padding-left: 1.5rem; }\n    .analysis-body li { margin: 0.5rem 0; }\n    .analysis-body table { width: 100%; border-collapse: collapse; margin: 1rem 0; }\n    .analysis-body td, .analysis-body th { padding: 0.5rem; border: 1px solid #e2e8f0; }\n    .analysis-body tr:nth-child(even) { background: #f8fafc; }\n  </style>\n</head>\n<body class=\"bg-white text-gray-900\">\n  <header class=\"site-header\">\n    <div class=\"header-content\">\n      <div class=\"logo\">\n        <a href=\"./abonenten.html\">\n          <img src=\"../assets/capitovo_logo_weiß.png\" alt=\"capitovo Logo\" class=\"header-logo\">\n        </a>\n      </div>\n    </div>\n  </header>\n  \n  <main class=\"max-w-4xl mx-auto p-6\">\n    <div class=\"mb-4\">\n      <a href=\"./alle_analysen.html\" class=\"text-blue-600 hover:underline\">← Zurück zur Übersicht</a>\n    </div>\n    \n    <article>\n      <header class=\"mb-6\">\n        <div class=\"flex items-center gap-2 text-sm text-gray-500 mb-2\">\n          <span class=\"uppercase tracking-wider\">${input.sector}</span>\n          <span>•</span>\n          <span class=\"font-mono\">${input.ticker}</span>\n          <span>•</span>\n          <span>${input.exchange}</span>\n        </div>\n        <h1 class=\"text-3xl font-bold text-gray-900\">\n          ${input.company}: Equity-Research-Bericht\n        </h1>\n        <div class=\"flex items-center gap-4 mt-2 text-sm text-gray-500\">\n          <span>capitovo Research</span>\n          <time datetime=\"${input.date}\">${formattedDate}</time>\n        </div>\n      </header>\n      \n      <aside class=\"key-metrics\">\n        <div class=\"metric\">\n          <div class=\"label\">Empfehlung</div>\n          <div class=\"value recommendation-${recClass}\" style=\"padding: 0.25rem 0.75rem; border-radius: 0.25rem; display: inline-block;\">\n            ${input.recommendation}\n          </div>\n        </div>\n        ${input.priceTarget ? `\n        <div class=\"metric\">\n          <div class=\"label\">Kursziel</div>\n          <div class=\"value\">${input.priceTarget.toFixed(2)} ${input.currency}</div>\n        </div>\n        ` : ''}\n        <div class=\"metric\">\n          <div class=\"label\">Qualitätsscore</div>\n          <div class=\"value\">${input.qualityScore}/10</div>\n        </div>\n      </aside>\n      \n      <section class=\"analysis-body prose max-w-none\">\n        ${htmlContent}\n      </section>\n      \n      <footer class=\"mt-12 pt-6 border-t border-gray-200\">\n        <div class=\"text-sm text-gray-600\">\n          <strong>Disclaimer:</strong> Diese Analyse dient ausschließlich Informationszwecken und stellt keine Anlageberatung dar.\n        </div>\n        <div class=\"mt-4 text-xs text-gray-400\">\n          Analyse-ID: ${input.ticker.toLowerCase()}-${input.date} | \n          Wörter: ${input.wordCount} | \n          Tokens: ${input.tokensUsed}\n        </div>\n      </footer>\n    </article>\n  </main>\n  \n  <footer class=\"border-t py-6 mt-12 text-center text-sm text-gray-500\">\n    <div>&copy; ${new Date().getFullYear()} capitovo — Alle Rechte vorbehalten.</div>\n  </footer>\n  \n  <script src=\"../script.js\"></script>\n</body>\n</html>`;\n\nreturn {\n  json: {\n    ...input,\n    html\n  }\n};"
      },
      "id": "html-renderer",
      "name": "8. HTML Renderer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2940, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\nconst svg = `<svg width=\"640\" height=\"360\" viewBox=\"0 0 640 360\" xmlns=\"http://www.w3.org/2000/svg\">\n  <defs>\n    <linearGradient id=\"bg\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"100%\">\n      <stop offset=\"0%\" stop-color=\"#0f172a\" />\n      <stop offset=\"100%\" stop-color=\"#1e293b\" />\n    </linearGradient>\n  </defs>\n  <rect width=\"640\" height=\"360\" fill=\"url(#bg)\" rx=\"24\" />\n  <g transform=\"translate(60 60)\" font-family=\"'Inter', -apple-system, sans-serif\">\n    <text x=\"0\" y=\"14\" fill=\"#94a3b8\" font-size=\"14\" letter-spacing=\"0.2em\">${input.ticker}</text>\n    <text x=\"0\" y=\"58\" fill=\"#e2e8f0\" font-size=\"40\" font-weight=\"700\">${input.company}</text>\n    <text x=\"0\" y=\"96\" fill=\"#93c5fd\" font-size=\"18\">Equity Research • capitovo</text>\n    <rect x=\"0\" y=\"120\" width=\"120\" height=\"36\" rx=\"6\" fill=\"${input.recommendation === 'KAUFEN' ? '#16a34a' : input.recommendation === 'VERKAUFEN' ? '#dc2626' : '#ca8a04'}\" />\n    <text x=\"60\" y=\"144\" fill=\"white\" font-size=\"16\" font-weight=\"600\" text-anchor=\"middle\">${input.recommendation}</text>\n  </g>\n  <g transform=\"translate(60 280)\" font-family=\"'Inter', sans-serif\" fill=\"#64748b\">\n    <text x=\"0\" y=\"0\" font-size=\"14\">${input.date} • ${input.sector}</text>\n  </g>\n</svg>`;\n\nconst jsonEntry = {\n  id: `${input.ticker.toLowerCase()}-${input.date}`,\n  category: input.sector,\n  title: `${input.company}: Equity-Research-Bericht`,\n  summary: `${input.recommendation} – ${input.company} Aktienanalyse${input.priceTarget ? ` mit Kursziel ${input.priceTarget} ${input.currency}` : ''}.`,\n  link: `Abonenten/${input.slug}.html`,\n  image: `data/vorschaubilder/${input.slug}.svg`,\n  date: input.date,\n  author: 'capitovo Research',\n  tags: [input.company, input.ticker, input.sector, input.recommendation],\n  published: true,\n  recommendation: input.recommendation,\n  priceTarget: input.priceTarget,\n  qualityScore: input.qualityScore,\n  wordCount: input.wordCount,\n  isUpdate: input.isUpdate || false\n};\n\nreturn {\n  json: {\n    success: true,\n    company: input.company,\n    ticker: input.ticker,\n    recommendation: input.recommendation,\n    qualityScore: input.qualityScore,\n    wordCount: input.wordCount,\n    message: `Analyse für ${input.company} (${input.ticker}) erfolgreich generiert.`,\n    outputs: {\n      html: input.html,\n      svg: svg,\n      jsonEntry: jsonEntry\n    },\n    filePaths: {\n      html: `Abonenten/${input.slug}.html`,\n      svg: `data/vorschaubilder/${input.slug}.svg`,\n      json: 'data/analysen.json'\n    }\n  }\n};"
      },
      "id": "file-writer",
      "name": "9. Output Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3160, 400]
    },
    {
      "parameters": {},
      "id": "output",
      "name": "Output",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3380, 400]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Test Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Data": {
      "main": [
        [
          {
            "node": "1. Input Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Input Validator": {
      "main": [
        [
          {
            "node": "2. History Loader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. History Loader": {
      "main": [
        [
          {
            "node": "Test Mode?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Mode?": {
      "main": [
        [
          {
            "node": "Mock Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "3. Research Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Content": {
      "main": [
        [
          {
            "node": "Merge Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Research Orchestrator": {
      "main": [
        [
          {
            "node": "Split Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Prompts": {
      "main": [
        [
          {
            "node": "4. Perplexity API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Perplexity API": {
      "main": [
        [
          {
            "node": "Extract Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Content": {
      "main": [
        [
          {
            "node": "5. Content Merger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Content Merger": {
      "main": [
        [
          {
            "node": "Merge Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Content": {
      "main": [
        [
          {
            "node": "6. Quality Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Quality Check": {
      "main": [
        [
          {
            "node": "7. Quality Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. Quality Gate": {
      "main": [
        [
          {
            "node": "8. HTML Renderer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8. HTML Renderer": {
      "main": [
        [
          {
            "node": "9. Output Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9. Output Generator": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "production"
    },
    {
      "name": "analysis"
    }
  ]
}
