n8n/n8n_analyse_full_pipeline.json
{
  "name": "Analyse Full Pipeline - Generator + Publisher",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [100, 400]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// INPUT - Unternehmensdaten\n// =====================================================\n// Aendere hier die Daten fuer die gewuenschte Analyse\n// =====================================================\n\nreturn {\n  json: {\n    company: 'Apple Inc.',\n    ticker: 'AAPL',\n    exchange: 'NASDAQ',\n    sector: 'Technologie',\n    currency: 'USD',\n    slug: 'apple',\n    wkn: '865985',\n    isin: 'US0378331005',\n    pipelineVersion: 'v10.1-full-pipeline',\n    date: new Date().toISOString().split('T')[0],\n    \n    // GitHub Config\n    github: {\n      owner: 'kw-f8',\n      repo: 'capitovo',\n      branch: 'main'\n    }\n  }\n};"
      },
      "id": "input-data",
      "name": "0. Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.alphavantage.co/query?function=OVERVIEW&symbol={{ $json.ticker }}&apikey=YO8C9ZRNBDVLAZ83",
        "options": { "timeout": 30000 }
      },
      "id": "api-overview",
      "name": "1a. API Overview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.alphavantage.co/query?function=INCOME_STATEMENT&symbol={{ $json.ticker }}&apikey=YO8C9ZRNBDVLAZ83",
        "options": { "timeout": 30000 }
      },
      "id": "api-income",
      "name": "1b. API Income",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 500]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// FAKTENINSTANZ - Daten zusammenfuehren\n// =====================================================\n\nvar items = $input.all();\nvar overview = items[0].json;\nvar income = items[1].json;\nvar meta = $('0. Input').item.json;\n\n// API Response pruefen\nvar hasOverview = overview && overview.Symbol && !overview.Note;\nvar hasIncome = income && income.annualReports && income.annualReports.length > 0;\n\nvar quality = 'none';\nif (hasOverview && hasIncome) quality = 'full';\nelse if (hasOverview || hasIncome) quality = 'partial';\n\n// Kennzahlen extrahieren\nvar facts = {\n  company: meta.company,\n  ticker: meta.ticker,\n  sector: meta.sector,\n  exchange: meta.exchange,\n  currency: meta.currency,\n  \n  meta: {\n    source: 'Alpha Vantage API',\n    timestamp: new Date().toISOString(),\n    quality: quality\n  },\n  \n  overview: hasOverview ? {\n    name: overview.Name,\n    description: overview.Description,\n    marketCap: overview.MarketCapitalization,\n    peRatio: overview.PERatio,\n    forwardPE: overview.ForwardPE,\n    pegRatio: overview.PEGRatio,\n    bookValue: overview.BookValue,\n    dividendYield: overview.DividendYield,\n    eps: overview.EPS,\n    revenue: overview.RevenueTTM,\n    grossProfit: overview.GrossProfitTTM,\n    operatingMargin: overview.OperatingMarginTTM,\n    profitMargin: overview.ProfitMargin,\n    beta: overview.Beta,\n    fiftyTwoWeekHigh: overview['52WeekHigh'],\n    fiftyTwoWeekLow: overview['52WeekLow'],\n    sharesOutstanding: overview.SharesOutstanding,\n    analystTargetPrice: overview.AnalystTargetPrice\n  } : null,\n  \n  income: hasIncome ? {\n    latestYear: income.annualReports[0].fiscalDateEnding,\n    revenue: income.annualReports[0].totalRevenue,\n    grossProfit: income.annualReports[0].grossProfit,\n    operatingIncome: income.annualReports[0].operatingIncome,\n    netIncome: income.annualReports[0].netIncome,\n    ebitda: income.annualReports[0].ebitda,\n    // YoY Vergleich falls vorhanden\n    revenueYoY: income.annualReports.length > 1 ? \n      ((parseFloat(income.annualReports[0].totalRevenue) / parseFloat(income.annualReports[1].totalRevenue) - 1) * 100).toFixed(1) + '%' : null\n  } : null\n};\n\nreturn {\n  json: {\n    input: meta,\n    facts: facts\n  }\n};"
      },
      "id": "facts-merger",
      "name": "1c. Fakten Merger",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 400]
    },
    {
      "parameters": {
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Du bist ein erfahrener Finanzanalyst und schreibst journalistische Unternehmensanalysen. Dein Stil ist sachlich, analytisch und neutral. Du gibst NIEMALS Kauf- oder Verkaufsempfehlungen. Du nennst NIEMALS konkrete Kursziele oder Analystenkonsens-Zahlen.\\n\\nVERBOTEN (K.O.-Kriterien):\\n- 'kaufen', 'verkaufen', 'buy', 'sell'\\n- 'unterbewertet', 'attraktiv bewertet'\\n- Kursziele mit USD/EUR-Betraegen\\n- 'durchschnittliches Kursziel von X USD'\\n\\nSTATTDESSEN verwende:\\n- 'Marktseitig existieren heterogene Erwartungen'\\n- 'Die Bewertung reflektiert X'\\n- 'Risiko-Rendite-Profil'\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Erstelle eine analytische Einordnung fuer {{ $json.facts.company }} ({{ $json.facts.ticker }}).\\n\\nVerfuegbare Daten:\\n- Sektor: {{ $json.facts.sector }}\\n- Marktkapitalisierung: {{ $json.facts.overview ? $json.facts.overview.marketCap : 'nicht verfuegbar' }}\\n- KGV: {{ $json.facts.overview ? $json.facts.overview.peRatio : 'nicht verfuegbar' }}\\n- Forward-KGV: {{ $json.facts.overview ? $json.facts.overview.forwardPE : 'nicht verfuegbar' }}\\n- Operative Marge: {{ $json.facts.overview ? $json.facts.overview.operatingMargin : 'nicht verfuegbar' }}\\n- Umsatz: {{ $json.facts.income ? $json.facts.income.revenue : 'nicht verfuegbar' }}\\n- Nettogewinn: {{ $json.facts.income ? $json.facts.income.netIncome : 'nicht verfuegbar' }}\\n\\nStrukturiere die Analyse in diese Abschnitte:\\n1. GESCHAEFTSMODELL UND MARKTPOSITION\\n2. FINANZIELLE ENTWICKLUNG\\n3. BEWERTUNGSKONTEXT\\n4. RISIKOFAKTOREN\\n5. ZUSAMMENFASSUNG\\n\\nSchreibe mindestens 800 Woerter. Verwende praezise Zahlen wo verfuegbar. Nenne am Ende 3-5 Quellen (URLs).\"\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 4000\n}",
        "options": { "timeout": 120000 }
      },
      "id": "perplexity-analysis",
      "name": "2. Perplexity Analyse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "perplexity-api",
          "name": "Perplexity API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// ANALYSE EXTRAKTOR + QUALITAETSPRUEFUNG\n// =====================================================\n\nvar input = $input.item.json;\nvar prevData = $('1c. Fakten Merger').item.json;\n\n// Perplexity Response extrahieren\nvar content = '';\nvar citations = [];\n\nif (input.choices && input.choices[0] && input.choices[0].message) {\n  content = input.choices[0].message.content || '';\n}\nif (input.citations) {\n  citations = input.citations;\n}\n\n// Woerter zaehlen\nvar wordCount = content.split(/\\s+/).filter(function(w) { return w.length > 0; }).length;\n\n// K.O.-Kriterien pruefen\nvar koFlags = [];\nvar warnings = [];\n\n// Verbotene Begriffe\nvar forbidden = ['kaufen', 'verkaufen', 'buy', 'sell', 'unterbewertet', 'ueberbewertet', 'attraktiv bewertet'];\nvar lowerContent = content.toLowerCase();\n\nfor (var i = 0; i < forbidden.length; i++) {\n  if (lowerContent.indexOf(forbidden[i]) !== -1) {\n    koFlags.push('VERBOTENER_BEGRIFF: ' + forbidden[i]);\n  }\n}\n\n// Kursziel-Check\nif (/kursziel.{0,30}\\d+[.,]?\\d*\\s*(usd|eur|dollar|euro)/i.test(content)) {\n  koFlags.push('KURSZIEL_MIT_BETRAG');\n}\nif (/durchschnittliches kursziel/i.test(content)) {\n  koFlags.push('ANALYSTENKONSENS_KURSZIEL');\n}\n\n// Wortanzahl\nif (wordCount < 400) {\n  koFlags.push('ZU_KURZ: ' + wordCount + ' Woerter');\n}\n\n// Quellen\nif (citations.length === 0) {\n  // Versuche URLs aus Text zu extrahieren\n  var urlRegex = /https?:\\/\\/[^\\s)\"'<>]+/g;\n  var foundUrls = content.match(urlRegex) || [];\n  citations = foundUrls.slice(0, 5);\n  \n  if (citations.length === 0) {\n    koFlags.push('KEINE_QUELLEN');\n  }\n}\n\n// Warnings (nicht blockierend)\nif (wordCount < 600) warnings.push('Relativ kurz (' + wordCount + ' Woerter)');\nif (citations.length < 3) warnings.push('Wenige Quellen (' + citations.length + ')');\n\nvar hasKO = koFlags.length > 0;\nvar publicationReady = !hasKO;\n\nreturn {\n  json: {\n    input: prevData.input,\n    facts: prevData.facts,\n    analysis: {\n      content: content,\n      citations: citations,\n      wordCount: wordCount\n    },\n    quality: {\n      publicationReady: publicationReady,\n      hasKO: hasKO,\n      koFlags: koFlags,\n      warnings: warnings\n    }\n  }\n};"
      },
      "id": "quality-check",
      "name": "3. Qualitaetspruefung",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 400]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// HTML RENDERER - capitovo Template\n// =====================================================\n\nvar data = $input.item.json;\nvar meta = data.input;\nvar facts = data.facts;\nvar analysis = data.analysis;\nvar quality = data.quality;\n\nvar formattedDate = new Date(meta.date).toLocaleDateString('de-DE', { \n  day: '2-digit', month: '2-digit', year: 'numeric' \n});\n\n// Analyse-Inhalt formatieren\nfunction formatContent(content) {\n  if (!content) return '';\n  \n  var cleaned = content\n    .replace(/\\*\\*([^*]+)\\*\\*/g, '<strong>$1</strong>')\n    .replace(/\\*([^*]+)\\*/g, '<em>$1</em>')\n    .trim();\n  \n  var lines = cleaned.split('\\n');\n  var html = '';\n  var currentParagraph = '';\n  \n  for (var i = 0; i < lines.length; i++) {\n    var line = lines[i].trim();\n    if (!line) {\n      if (currentParagraph) {\n        html += '<p style=\"margin-bottom:1rem; line-height:1.7; text-align:justify;\">' + currentParagraph + '</p>';\n        currentParagraph = '';\n      }\n      continue;\n    }\n    \n    if (/^[A-ZÄÖÜ][A-ZÄÖÜ\\s&-]{5,}$/.test(line) || /^\\d+[\\.\\)]\\s+[A-ZÄÖÜ]/.test(line)) {\n      if (currentParagraph) {\n        html += '<p style=\"margin-bottom:1rem; line-height:1.7; text-align:justify;\">' + currentParagraph + '</p>';\n        currentParagraph = '';\n      }\n      var headlineText = line.replace(/^\\d+[\\.\\)]\\s*/, '').trim();\n      headlineText = headlineText.split(' ').map(function(w) {\n        return w.charAt(0).toUpperCase() + w.slice(1).toLowerCase();\n      }).join(' ');\n      html += '<h3 style=\"font-size:1.25rem; font-weight:600; margin:2rem 0 1rem 0; color:#0f172a;\">' + headlineText + '</h3>';\n    } else {\n      currentParagraph += (currentParagraph ? ' ' : '') + line;\n    }\n  }\n  \n  if (currentParagraph) {\n    html += '<p style=\"margin-bottom:1rem; line-height:1.7; text-align:justify;\">' + currentParagraph + '</p>';\n  }\n  \n  return html;\n}\n\n// Quellen formatieren\nfunction formatSources(sources) {\n  if (!sources || sources.length === 0) return '';\n  \n  var html = '<div class=\"refs\" style=\"margin-top:2rem; padding-top:1rem; border-top:1px solid #e2e8f0;\">';\n  html += '<p style=\"font-size:0.875rem; color:#64748b;\"><strong>Quellen:</strong></p>';\n  html += '<ul style=\"font-size:0.875rem; color:#64748b; list-style:disc; margin-left:1.5rem;\">';\n  \n  for (var i = 0; i < Math.min(sources.length, 5); i++) {\n    try {\n      var hostname = new URL(sources[i]).hostname.replace('www.', '');\n      html += '<li><a href=\"' + sources[i] + '\" target=\"_blank\" rel=\"noopener\" style=\"color:#2563eb;\">' + hostname + '</a></li>';\n    } catch(e) {\n      html += '<li>' + sources[i] + '</li>';\n    }\n  }\n  \n  html += '</ul></div>';\n  return html;\n}\n\nvar analysisHtml = formatContent(analysis.content);\nvar sourcesHtml = formatSources(analysis.citations);\n\n// Kennzahlen-Tabelle\nvar metricsHtml = '';\nif (facts.overview) {\n  var o = facts.overview;\n  metricsHtml = '<table class=\"card-table\" style=\"margin-bottom:2rem;\">' +\n    '<thead><tr style=\"border-bottom:1px solid rgba(15,23,42,0.08);\"><th style=\"padding:8px 6px;\">Kennzahl</th><th style=\"padding:8px 6px;\">Wert</th></tr></thead>' +\n    '<tbody>';\n  \n  if (o.marketCap) metricsHtml += '<tr style=\"border-bottom:1px solid rgba(15,23,42,0.04);\"><td style=\"padding:8px 6px; color:#64748b;\">Marktkapitalisierung</td><td style=\"padding:8px 6px; font-weight:500;\">' + (parseFloat(o.marketCap)/1e9).toFixed(1) + ' Mrd. USD</td></tr>';\n  if (o.peRatio && o.peRatio !== 'None') metricsHtml += '<tr style=\"border-bottom:1px solid rgba(15,23,42,0.04);\"><td style=\"padding:8px 6px; color:#64748b;\">KGV (TTM)</td><td style=\"padding:8px 6px; font-weight:500;\">' + parseFloat(o.peRatio).toFixed(1) + 'x</td></tr>';\n  if (o.forwardPE && o.forwardPE !== 'None') metricsHtml += '<tr style=\"border-bottom:1px solid rgba(15,23,42,0.04);\"><td style=\"padding:8px 6px; color:#64748b;\">Forward-KGV</td><td style=\"padding:8px 6px; font-weight:500;\">' + parseFloat(o.forwardPE).toFixed(1) + 'x</td></tr>';\n  if (o.operatingMargin && o.operatingMargin !== 'None') metricsHtml += '<tr style=\"border-bottom:1px solid rgba(15,23,42,0.04);\"><td style=\"padding:8px 6px; color:#64748b;\">Operative Marge</td><td style=\"padding:8px 6px; font-weight:500;\">' + (parseFloat(o.operatingMargin)*100).toFixed(1) + '%</td></tr>';\n  if (o.dividendYield && o.dividendYield !== 'None' && o.dividendYield !== '0') metricsHtml += '<tr><td style=\"padding:8px 6px; color:#64748b;\">Dividendenrendite</td><td style=\"padding:8px 6px; font-weight:500;\">' + (parseFloat(o.dividendYield)*100).toFixed(2) + '%</td></tr>';\n  \n  metricsHtml += '</tbody></table>';\n}\n\n// Intro-Text\nvar introText = analysis.content.split('\\n\\n')[0] || '';\nintroText = introText.slice(0, 400) + (introText.length > 400 ? '...' : '');\n\nvar html = `<!DOCTYPE html>\n<html lang=\"de\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n  <link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"../assets/favicon-32.png\">\n  <link rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"../assets/favicon-16.png\">\n  <title>capitovo — ${meta.company} Unternehmensanalyse</title>\n  <meta name=\"description\" content=\"Analytische Einordnung von ${meta.company} (${meta.ticker})\">\n  <link href=\"https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css\" rel=\"stylesheet\">\n  <link rel=\"stylesheet\" href=\"../style.css\">\n  <style>\n    #menu-toggle, .menu-toggle { border: none; outline: none; background: transparent; }\n    #menu-toggle:focus, .menu-toggle:focus { outline: none; box-shadow: none; }\n    header { position: static !important; }\n    main { background: transparent; padding-top: 55px !important; }\n    .analysis-article { max-width: 1100px; width: 100%; margin: 0 auto; padding: 0 16px; }\n    .analysis-article h1 { font-size: 1.8rem; margin: 0 0 0.5rem 0; }\n    .analysis-meta { color: #6b7280; margin-bottom: 1rem; }\n    .hero-media { width: 100%; height: 320px; object-fit: contain; background: #f3f4f6; border-radius: 8px; }\n    .card-table { width:100%; border-collapse:collapse; }\n    .refs, .refs a { overflow-wrap: anywhere; word-break: break-word; }\n    .disclaimer-box { background: #f8fafc; border: 1px solid #e2e8f0; border-radius: 8px; padding: 1.25rem; margin: 2rem 0; }\n    .back-btn-glow:hover { box-shadow: 0 0 0 2px rgba(0,145,214,0.10); }\n    @media (max-width: 900px) { .hero-media { height: auto; aspect-ratio: 16/9; } }\n  </style>\n</head>\n<body class=\"bg-white text-gray-900 abonenten-page\">\n\n<header>\n  <div class=\"header-content\">\n    <div class=\"logo\"><a href=\"./abonenten.html\"><img src=\"../assets/capitovo_logo_weiß.png\" alt=\"capitovo Logo\" class=\"header-logo\"></a></div>\n    <button class=\"menu-toggle\" id=\"menu-toggle\" aria-label=\"Menü öffnen\">☰</button>\n  </div>\n</header>\n\n<main style=\"padding-top: 55px !important;\">\n  <article class=\"analysis-article\">\n    <div class=\"mb-2\">\n      <div class=\"flex items-start justify-between gap-3 flex-wrap\">\n        <div>\n          <p class=\"text-xs font-semibold uppercase mb-1\" style=\"color: #64748b;\">Unternehmensanalyse · ${meta.ticker}</p>\n          <h1 class=\"text-3xl font-extrabold text-gray-900 mb-1\">${meta.company}</h1>\n        </div>\n        <a href=\"alle_analysen.html\" class=\"inline-flex items-center gap-2 text-sm font-medium text-gray-700 bg-white border-2 border-[color:var(--color-accent-blue)] rounded-md px-3 py-2 back-btn-glow\">← Zurück</a>\n      </div>\n      <div class=\"text-sm\" style=\"color: #64748b;\">\n        <span>${formattedDate}</span> · <span>Ticker: ${meta.ticker}</span> · <span>WKN: ${meta.wkn || '-'}</span> · <span>ISIN: ${meta.isin || '-'}</span>\n      </div>\n    </div>\n\n    <div style=\"display:flex; gap:24px; margin:24px 0; flex-wrap:wrap;\">\n      <div style=\"flex:1; min-width:300px;\">\n        <img src=\"../data/vorschaubilder_analysen/${meta.slug}_preview.svg\" alt=\"${meta.company}\" class=\"hero-media\">\n      </div>\n      <div style=\"flex:1; min-width:260px;\">\n        <p style=\"line-height:1.7; text-align:justify;\">${introText}</p>\n      </div>\n    </div>\n\n    ${metricsHtml}\n    ${analysisHtml}\n    ${sourcesHtml}\n\n    <div class=\"disclaimer-box\">\n      <p style=\"font-size: 0.875rem; color: #64748b; margin: 0;\">\n        <strong>Hinweis:</strong> Diese Analyse dient Informationszwecken und stellt keine Anlageberatung dar. \n        Die Informationen sind keine Aufforderung zum Kauf oder Verkauf von Wertpapieren. \n        capitovo uebernimmt keine Gewaehr fuer Richtigkeit oder Vollstaendigkeit.\n      </p>\n    </div>\n  </article>\n</main>\n\n<footer class=\"site-footer border-t py-6 mt-12\">\n  <div class=\"footer-inner max-w-6xl mx-auto px-6 text-sm text-gray-500 flex items-center justify-between\">\n    <div>&copy; ${new Date().getFullYear()} capitovo</div>\n    <div class=\"footer-links\">\n      <a href=\"../Rechtliches/impressum.html\" class=\"footer-btn\">Impressum</a>\n      <a href=\"../Rechtliches/datenschutz.html\" class=\"footer-btn\">Datenschutz</a>\n      <a href=\"../Rechtliches/haftung.html\" class=\"footer-btn\">Haftungsausschluss</a>\n    </div>\n  </div>\n</footer>\n\n<div class=\"sidebar\" id=\"sidebar\" aria-hidden=\"true\">\n  <button class=\"close-button\" id=\"close-sidebar\">&times;</button>\n  <nav class=\"sidebar-nav\"><ul>\n    <li><a href=\"./abonenten.html\">Startseite</a></li>\n    <li><a href=\"./alle_analysen.html\">Analysen</a></li>\n    <li><a href=\"./Aktien-Monitor/aktien-monitor.html\">Aktien-Monitor</a></li>\n  </ul></nav>\n</div>\n\n<script src=\"../script.js?v=10\"></script>\n</body>\n</html>`;\n\n// SVG Vorschaubild generieren\nvar displayName = meta.company.length > 25 ? meta.company.substring(0, 22) + '...' : meta.company;\n\nvar svg = '<svg width=\"640\" height=\"360\" viewBox=\"0 0 640 360\" xmlns=\"http://www.w3.org/2000/svg\">' +\n  '<defs><linearGradient id=\"bg\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"100%\"><stop offset=\"0%\" stop-color=\"#0f172a\"/><stop offset=\"100%\" stop-color=\"#1e293b\"/></linearGradient></defs>' +\n  '<rect width=\"640\" height=\"360\" fill=\"url(#bg)\" rx=\"16\"/>' +\n  '<g font-family=\"-apple-system, sans-serif\">' +\n  '<text x=\"48\" y=\"72\" fill=\"#64748b\" font-size=\"12\" letter-spacing=\"0.1em\">' + meta.ticker + ' · ' + meta.sector.toUpperCase() + '</text>' +\n  '<text x=\"48\" y=\"120\" fill=\"#f1f5f9\" font-size=\"36\" font-weight=\"700\">' + displayName + '</text>' +\n  '<text x=\"48\" y=\"155\" fill=\"#94a3b8\" font-size=\"15\">Analytische Unternehmenseinordnung</text>' +\n  '<rect x=\"48\" y=\"180\" width=\"80\" height=\"4\" fill=\"#3b82f6\" rx=\"2\"/>' +\n  '<text x=\"48\" y=\"300\" fill=\"#475569\" font-size=\"11\">capitovo Research · ' + meta.date + '</text></g></svg>';\n\nreturn {\n  json: {\n    input: meta,\n    facts: facts,\n    analysis: analysis,\n    quality: quality,\n    html: html,\n    svg: svg,\n    paths: {\n      html: 'Abonenten/' + meta.slug + '.html',\n      svg: 'data/vorschaubilder_analysen/' + meta.slug + '_preview.svg'\n    }\n  }\n};"
      },
      "id": "html-renderer",
      "name": "4. HTML Renderer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1380, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "quality-check",
              "leftValue": "={{ $json.quality.publicationReady }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "quality-gate",
      "name": "5. Quality Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1600, 400]
    },
    {
      "parameters": {
        "jsCode": "// Base64 Encoding fuer GitHub\nvar data = $input.item.json;\n\nvar htmlBase64 = Buffer.from(data.html, 'utf8').toString('base64');\nvar svgBase64 = Buffer.from(data.svg, 'utf8').toString('base64');\n\nreturn {\n  json: {\n    ...data,\n    htmlBase64: htmlBase64,\n    svgBase64: svgBase64\n  }\n};"
      },
      "id": "base64-encoder",
      "name": "6. Base64 Encode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1820, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{ $json.input.github.owner }}/{{ $json.input.github.repo }}/contents/{{ $json.paths.html }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"Analyse: {{ $json.input.company }} ({{ $json.input.ticker }})\",\n  \"content\": \"{{ $json.htmlBase64 }}\",\n  \"branch\": \"{{ $json.input.github.branch }}\"\n}",
        "options": { "timeout": 60000 }
      },
      "id": "github-upload-html",
      "name": "7a. GitHub Upload HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2060, 200]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{ $json.input.github.owner }}/{{ $json.input.github.repo }}/contents/{{ $json.paths.svg }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"Preview: {{ $json.input.company }}\",\n  \"content\": \"{{ $json.svgBase64 }}\",\n  \"branch\": \"{{ $json.input.github.branch }}\"\n}",
        "options": { "timeout": 60000 }
      },
      "id": "github-upload-svg",
      "name": "7b. GitHub Upload SVG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2060, 400]
    },
    {
      "parameters": {
        "jsCode": "// BLOCKIERT - K.O.-Kriterium\nvar data = $input.item.json;\n\nreturn {\n  json: {\n    status: 'BLOCKED',\n    reason: 'K.O.-Kriterium verletzt',\n    company: data.input.company,\n    ticker: data.input.ticker,\n    koFlags: data.quality.koFlags,\n    warnings: data.quality.warnings,\n    wordCount: data.analysis.wordCount\n  }\n};"
      },
      "id": "blocked-output",
      "name": "BLOCKED",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1820, 500]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// OUTPUT SUMMARY\n// =====================================================\n\nvar items = $input.all();\nvar htmlResult = items[0] ? items[0].json : {};\nvar svgResult = items[1] ? items[1].json : {};\n\nvar prevData = $('4. HTML Renderer').item.json;\n\nvar htmlSuccess = htmlResult.content && htmlResult.content.html_url;\nvar svgSuccess = svgResult.content && svgResult.content.html_url;\n\nvar catalogEntry = {\n  id: prevData.input.ticker.toLowerCase() + '-' + prevData.input.date.replace(/-/g, ''),\n  category: prevData.input.sector,\n  title: prevData.input.company + ' - Unternehmensanalyse',\n  summary: 'Analytische Einordnung von ' + prevData.input.company,\n  link: prevData.paths.html,\n  image: prevData.paths.svg,\n  date: prevData.input.date,\n  author: 'capitovo Research',\n  tags: [prevData.input.company, prevData.input.ticker, prevData.input.sector]\n};\n\nreturn {\n  json: {\n    status: 'SUCCESS',\n    company: prevData.input.company,\n    ticker: prevData.input.ticker,\n    date: prevData.input.date,\n    \n    liveUrl: 'https://' + prevData.input.github.owner + '.github.io/' + prevData.input.github.repo + '/' + prevData.paths.html,\n    \n    uploads: {\n      html: htmlSuccess ? 'OK' : 'FAILED',\n      svg: svgSuccess ? 'OK' : 'FAILED'\n    },\n    \n    quality: {\n      wordCount: prevData.analysis.wordCount,\n      sourceCount: prevData.analysis.citations.length\n    },\n    \n    catalogEntry: catalogEntry,\n    \n    nextSteps: [\n      '1. Warte 1-2 Minuten fuer GitHub Pages Deployment',\n      '2. Oeffne: https://' + prevData.input.github.owner + '.github.io/' + prevData.input.github.repo + '/' + prevData.paths.html,\n      '3. Fuege catalogEntry zu data/analysen.json hinzu'\n    ]\n  }\n};"
      },
      "id": "success-output",
      "name": "8. Success Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2300, 300]
    },
    {
      "parameters": {},
      "id": "output-node",
      "name": "Output",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2520, 400]
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "0. Input", "type": "main", "index": 0 }]] },
    "0. Input": { "main": [[{ "node": "1a. API Overview", "type": "main", "index": 0 }, { "node": "1b. API Income", "type": "main", "index": 0 }]] },
    "1a. API Overview": { "main": [[{ "node": "1c. Fakten Merger", "type": "main", "index": 0 }]] },
    "1b. API Income": { "main": [[{ "node": "1c. Fakten Merger", "type": "main", "index": 1 }]] },
    "1c. Fakten Merger": { "main": [[{ "node": "2. Perplexity Analyse", "type": "main", "index": 0 }]] },
    "2. Perplexity Analyse": { "main": [[{ "node": "3. Qualitaetspruefung", "type": "main", "index": 0 }]] },
    "3. Qualitaetspruefung": { "main": [[{ "node": "4. HTML Renderer", "type": "main", "index": 0 }]] },
    "4. HTML Renderer": { "main": [[{ "node": "5. Quality Gate", "type": "main", "index": 0 }]] },
    "5. Quality Gate": { 
      "main": [
        [{ "node": "6. Base64 Encode", "type": "main", "index": 0 }],
        [{ "node": "BLOCKED", "type": "main", "index": 0 }]
      ] 
    },
    "6. Base64 Encode": { "main": [[{ "node": "7a. GitHub Upload HTML", "type": "main", "index": 0 }, { "node": "7b. GitHub Upload SVG", "type": "main", "index": 0 }]] },
    "7a. GitHub Upload HTML": { "main": [[{ "node": "8. Success Output", "type": "main", "index": 0 }]] },
    "7b. GitHub Upload SVG": { "main": [[{ "node": "8. Success Output", "type": "main", "index": 1 }]] },
    "BLOCKED": { "main": [[{ "node": "Output", "type": "main", "index": 0 }]] },
    "8. Success Output": { "main": [[{ "node": "Output", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "production" }, { "name": "full-pipeline" }]
}
