n8n/n8n_analyse_generator_workflow_v5.json
{
  "name": "Capitovo Analyse Generator v5 - Multi-Stage Research Pipeline",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 400]
    },
    {
      "parameters": {
        "jsCode": "// === EINGABE-DATEN ===\n// Hier die Aktie eintragen, die analysiert werden soll:\n\nreturn {\n  json: {\n    company: 'Apple',\n    ticker: 'AAPL',\n    exchange: 'NASDAQ',\n    sector: 'Technologie',\n    currency: 'USD',\n    slug: 'apple',\n    \n    // Optional: Infos zur letzten Analyse (für Serien-Logik)\n    lastAnalysisDate: null,\n    lastAnalysisHighlights: null\n  }\n};"
      },
      "id": "input-data",
      "name": "1. Input Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// Validierung\nconst required = ['company', 'ticker', 'exchange', 'sector', 'currency'];\nconst missing = required.filter(f => !input[f]);\n\nif (missing.length > 0) {\n  throw new Error(`Fehlende Pflichtfelder: ${missing.join(', ')}`);\n}\n\nconst slug = input.slug || input.company.toLowerCase().replace(/[^a-z0-9]+/g, '-');\nconst date = new Date().toISOString().split('T')[0];\n\nreturn {\n  json: {\n    ...input,\n    slug,\n    date,\n    isFirstAnalysis: !input.lastAnalysisDate,\n    pipelineStage: 'initialized'\n  }\n};"
      },
      "id": "input-validator",
      "name": "2. Input Validator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// STAGE 1: ANALYSIS PROMPT - Rohe Analyse erstellen\n// =====================================================\n\nconst systemPrompt = `Du bist ein Senior Equity Research Analyst mit Buy-Side-Hintergrund.\n\nDeine Aufgabe: Erstelle eine ROHE ARBEITSANALYSE - analytisch, kantig, mit allen Zahlen und Annahmen.\nDies ist NICHT die finale Version. Eine Redaktion folgt später.\n\nKRITISCHE REGELN:\n\n1. QUELLENSTRENGE\nNUR diese Quellen verwenden:\n- ${input.company} Form 10-K, 10-Q (Jahr/Quartal angeben)\n- ${input.company} Earnings Call Transcripts (Quartal/Jahr)\n- SEC EDGAR Filings\n- Für Marktdaten: Statista, IDC, Gartner (Jahr angeben)\n\nJEDE Zahl muss eine Inline-Quelle haben:\n- \"Laut Form 10-K FY2024 betrug...\"\n- \"Im Earnings Call Q4 FY2024 erläuterte CFO...\"\n- \"Gemäß SEC Filing vom...\"\n\n2. ANALYTISCHE TIEFE\nBei JEDER Kennzahl:\na) Was ist der Wert? (Quelle)\nb) Warum ist das relevant?\nc) Was würde diesen Wert brechen?\n\n3. ZENTRALE THESE\nFormuliere EINE klare, überprüfbare Kernthese.\nDiese These muss in JEDEM Hauptkapitel wieder aufgegriffen werden.\n\n4. KONDITIONALE SPRACHE\nAlle Einschätzungen mit Einschränkungen:\n- \"Historisch betrachtet...\"\n- \"Unter der Annahme, dass...\"\n- \"Sofern sich X nicht ändert...\"\n\n5. KEINE EMPFEHLUNGEN\nVerboten: kaufen, verkaufen, unterbewertet, überbewertet, Kursziel, attraktiv\n\n6. ZAHLEN-DISZIPLIN\n- Primärdaten: exakt (\"383 Mrd. USD laut 10-K\")\n- Abgeleitete Werte: Bandbreiten (\"ROIC von etwa 45-50%\")`;\n\nconst userPrompt = `Erstelle eine rohe Arbeitsanalyse für:\n\nUnternehmen: ${input.company} (${input.ticker})\nBörse: ${input.exchange}\nSektor: ${input.sector}\nReferenzdatum: Januar 2026\n\nSTRUKTUR (2.000-2.400 Wörter)\n\n1. ZENTRALE THESE UND EINORDNUNG (250 Wörter)\n- Formuliere EINE klare, überprüfbare Kernthese\n- Marktposition mit Quelle\n- Wo könnte der Konsens falsch liegen? (konditional)\n- Was würde diese These invalidieren?\n\n2. GESCHÄFTSMODELL (400 Wörter)\n- Umsatzsegmente mit %-Anteilen (\"Laut Form 10-K FY2024...\")\n- Ökonomische Spannungen im Modell (Trade-offs benennen)\n- Wettbewerbsvorteile MIT Erosionsszenarien\n- Preissetzungsmacht: Belege aus Earnings Calls\n\n3. FUNDAMENTALE ENTWICKLUNG (500 Wörter)\nJede Kennzahl mit: Quelle → Relevanz → Bruchpunkt\n\n- Umsatzentwicklung 5 Jahre (Quelle: 10-K)\n- Margenstruktur: Brutto, EBIT, Netto + Treiber\n- FCF: Absolut, % vom Umsatz, Conversion Rate\n- ROIC vs. WACC (Bandbreite, mit Annahmen)\n- Kapitalstruktur: Net Debt, Interest Coverage\n\n4. BEWERTUNGSEINORDNUNG (350 Wörter)\n- Aktuelle Multiples: KGV, EV/EBITDA, FCF-Yield (Stichtag: Januar 2026)\n- Historischer Vergleich: aktuell vs. 5-Jahres-Durchschnitt\n- Was impliziert dieses Multiple? (\"Der Markt preist X% Wachstum ein\")\n- Peer-Vergleich: 2-3 Wettbewerber mit konkreten Zahlen\n- RÜCKBINDUNG ZUR THESE: Was bedeutet die Bewertung für die Kernthese?\n\n5. SZENARIO-ANALYSE (300 Wörter)\nDrei ECHTE unterschiedliche ökonomische Welten:\n\nPOSITIV:\n- Konkrete Bedingungen (Wachstum >X%, Marge >Y%)\n- FCF-Implikation\n- Multiple-Implikation\n\nBASIS:\n- Extrapolation aktueller Trends\n- Annahmen explizit\n\nNEGATIV:\n- Konkreter Auslöser (nicht nur \"Umsatz sinkt\")\n- Warum würde das passieren?\n- Auswirkung auf These\n\n6. WACHSTUMSTREIBER UND RISIKEN (250 Wörter)\nJeweils 3, priorisiert, kausal verknüpft:\n- Treiber 1 würde durch Risiko X gefährdet\n- Treiber 2 hängt ab von...\n\n7. OFFENE FRAGEN (100 Wörter)\n- Was ist noch unklar?\n- Was sollte beobachtet werden?\n\n8. QUELLEN\nListe NUR die tatsächlich verwendeten Primärquellen:\n- ${input.company} Form 10-K FY2024\n- ${input.company} Earnings Call Q4 FY2024\n- etc.\n\nWICHTIG:\n- Keine Markdown-Formatierung (**text** oder *text*)\n- Keine Wortzähler im Text\n- Jeder Abschnitt muss zur zentralen These zurückführen`;\n\nreturn {\n  json: {\n    ...input,\n    stage1SystemPrompt: systemPrompt,\n    stage1UserPrompt: userPrompt,\n    pipelineStage: 'stage1_prompt_ready'\n  }\n};"
      },
      "id": "stage1-prompt",
      "name": "3. Stage 1: Analysis Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.3,\n  \"max_tokens\": 8000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": {{ JSON.stringify($json.stage1SystemPrompt) }}\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.stage1UserPrompt) }}\n    }\n  ],\n  \"return_citations\": true,\n  \"search_recency_filter\": \"month\"\n}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "stage1-api",
      "name": "4. Stage 1: Perplexity API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $('3. Stage 1: Analysis Prompt').item.json;\nconst response = $input.item.json;\n\nif (response.error) {\n  throw new Error(`Stage 1 API Fehler: ${response.error.message || JSON.stringify(response.error)}`);\n}\n\nlet rawAnalysis = response.choices?.[0]?.message?.content || '';\nconst citationsRaw = response.citations || [];\n\n// Markdown entfernen\nrawAnalysis = rawAnalysis.replace(/\\*\\*([^*]+)\\*\\*/g, '$1');\nrawAnalysis = rawAnalysis.replace(/\\*([^*]+)\\*/g, '$1');\nrawAnalysis = rawAnalysis.replace(/\\[\\d+\\]/g, '');\n\n// Zentrale These extrahieren (erster Abschnitt)\nconst theseMatch = rawAnalysis.match(/zentrale\\s+these[^:]*:\\s*([^\\n]+)/i) ||\n                   rawAnalysis.match(/kernthese[^:]*:\\s*([^\\n]+)/i) ||\n                   rawAnalysis.match(/1\\..*?these[^\\n]*\\n([^\\n]+)/i);\nconst centralThesis = theseMatch ? theseMatch[1].trim() : 'Keine explizite These gefunden';\n\n// Wortzahl\nconst wordCount = rawAnalysis.split(/\\s+/).filter(w => w.length > 1).length;\n\nreturn {\n  json: {\n    ...input,\n    rawAnalysis,\n    centralThesis,\n    citationsRaw,\n    stage1WordCount: wordCount,\n    pipelineStage: 'stage1_complete'\n  }\n};"
      },
      "id": "stage1-extractor",
      "name": "5. Stage 1: Analysis Extractor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// STAGE 2: SKEPTICAL REVIEW - Kritische Prüfung\n// =====================================================\n\nconst systemPrompt = `Du bist ein skeptischer Senior Research Reviewer.\n\nDeine EINZIGE Aufgabe: Schwächen und Inkonsistenzen in der vorliegenden Analyse identifizieren.\n\nDu darfst NICHTS neu schreiben. Du darfst NUR kritisieren.\n\nPRÜFKATEGORIEN:\n\n1. THESE-KONSISTENZ\n- Wird die zentrale These in jedem Kapitel gestützt?\n- Gibt es Widersprüche zur These?\n- Werden neue Thesen eröffnet, die nicht zur Hauptthese passen?\n\n2. LOGISCHE KOHÄRENZ\n- Sind Annahmen konsistent?\n- Folgen Schlussfolgerungen aus den Prämissen?\n- Gibt es Zirkelschlüsse?\n\n3. ZAHLEN-KONSISTENZ\n- Passen Wachstumsraten zu Margenannahmen?\n- Stimmen Multiples mit impliziten Erwartungen überein?\n- Sind Bandbreiten plausibel?\n\n4. QUELLEN-KONSISTENZ\n- Werden alle Zahlen belegt?\n- Sind Quellen im Text und in der Liste konsistent?\n- Gibt es unbelegte Behauptungen?\n\n5. ANALYTISCHE TIEFE\n- Werden Trade-offs benannt?\n- Gibt es \"Warum\"-Erklärungen?\n- Sind Bruchpunkte definiert?\n\n6. SZENARIO-QUALITÄT\n- Sind Szenarien wirklich unterschiedlich?\n- Haben sie konkrete Auslöser?\n- Sind Implikationen durchdacht?\n\nOUTPUT-FORMAT:\nGib für jede Kategorie:\n- BEFUND: Was ist gut/schlecht?\n- SCHWERE: Kritisch / Mittel / Gering\n- KONKRETE STELLE: Wo genau im Text?\n- VERBESSERUNG: Was muss geändert werden?`;\n\nconst userPrompt = `Prüfe diese Analyse auf Schwächen:\n\n---\nZENTRALE THESE: ${input.centralThesis}\n---\n\nANALYSE:\n${input.rawAnalysis}\n\n---\n\nIdentifiziere alle Schwächen. Sei streng. Übersehe nichts.\nKonzentriere dich auf die 5-7 wichtigsten Probleme.`;\n\nreturn {\n  json: {\n    ...input,\n    stage2SystemPrompt: systemPrompt,\n    stage2UserPrompt: userPrompt,\n    pipelineStage: 'stage2_prompt_ready'\n  }\n};"
      },
      "id": "stage2-prompt",
      "name": "6. Stage 2: Skeptical Review Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.2,\n  \"max_tokens\": 3000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": {{ JSON.stringify($json.stage2SystemPrompt) }}\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.stage2UserPrompt) }}\n    }\n  ],\n  \"return_citations\": false\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "stage2-api",
      "name": "7. Stage 2: Skeptical Review API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $('6. Stage 2: Skeptical Review Prompt').item.json;\nconst response = $input.item.json;\n\nif (response.error) {\n  throw new Error(`Stage 2 API Fehler: ${response.error.message || JSON.stringify(response.error)}`);\n}\n\nconst critique = response.choices?.[0]?.message?.content || '';\n\n// Kritische Probleme extrahieren\nconst criticalMatches = critique.match(/kritisch|critical|schwer/gi) || [];\nconst hasCriticalIssues = criticalMatches.length > 2;\n\n// Hauptprobleme identifizieren\nconst problems = [];\nconst problemPatterns = [\n  /BEFUND:\\s*([^\\n]+)/gi,\n  /SCHWÄCHE:\\s*([^\\n]+)/gi,\n  /PROBLEM:\\s*([^\\n]+)/gi,\n  /VERBESSERUNG:\\s*([^\\n]+)/gi\n];\n\nfor (const pattern of problemPatterns) {\n  const matches = critique.matchAll(pattern);\n  for (const match of matches) {\n    problems.push(match[1].trim());\n  }\n}\n\nreturn {\n  json: {\n    ...input,\n    critique,\n    criticalIssuesCount: criticalMatches.length,\n    hasCriticalIssues,\n    identifiedProblems: problems.slice(0, 10),\n    pipelineStage: 'stage2_complete'\n  }\n};"
      },
      "id": "stage2-extractor",
      "name": "8. Stage 2: Critique Extractor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// STAGE 3: EDITORIAL REFINEMENT - Finale Überarbeitung\n// =====================================================\n\nconst systemPrompt = `Du bist ein Senior Research Editor.\n\nDeine Aufgabe: Überarbeite die vorliegende Analyse basierend auf der Kritik.\n\nREGELN:\n1. Behebe ALLE identifizierten Schwächen\n2. Stärke die These-Konsistenz (These muss in jedem Kapitel aufgegriffen werden)\n3. Füge fehlende Quellenverweise hinzu\n4. Schließe logische Lücken\n5. Verbessere die Szenario-Unterscheidung\n6. Kürze Redundanzen\n7. Schärfe die Sprache\n\nDu darfst KEINE neuen Fakten erfinden.\nDu darfst NUR verbessern, was vorhanden ist.\n\nFORMALE ANFORDERUNGEN:\n- 1.800-2.200 Wörter (kürzen wo nötig)\n- Keine Markdown-Formatierung\n- Keine Wortzähler\n- Nummerierte Überschriften\n- Rechtlicher Hinweis am Ende\n\nQUALITÄTSZIEL:\nDie finale Analyse muss publikationsreif sein für ein Premium-Research-Produkt.`;\n\nconst userPrompt = `URSPRÜNGLICHE ANALYSE:\n${input.rawAnalysis}\n\n---\n\nKRITIK DES REVIEWERS:\n${input.critique}\n\n---\n\nZENTRALE THESE (muss durchgehend gestützt werden):\n${input.centralThesis}\n\n---\n\nÜberarbeite die Analyse. Behebe alle kritisierten Punkte.\nStelle sicher, dass die zentrale These in JEDEM Hauptkapitel explizit oder implizit gestützt wird.\n\nEnde mit dem rechtlichen Hinweis:\n\"Diese Analyse dient ausschließlich Informationszwecken und stellt keine Anlageberatung im Sinne des WpHG dar.\"\n\nDanach eine saubere Quellenliste (NUR Primärquellen).`;\n\nreturn {\n  json: {\n    ...input,\n    stage3SystemPrompt: systemPrompt,\n    stage3UserPrompt: userPrompt,\n    pipelineStage: 'stage3_prompt_ready'\n  }\n};"
      },
      "id": "stage3-prompt",
      "name": "9. Stage 3: Editorial Refinement Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.2,\n  \"max_tokens\": 8000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": {{ JSON.stringify($json.stage3SystemPrompt) }}\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.stage3UserPrompt) }}\n    }\n  ],\n  \"return_citations\": true,\n  \"search_recency_filter\": \"month\"\n}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "stage3-api",
      "name": "10. Stage 3: Editorial API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $('9. Stage 3: Editorial Refinement Prompt').item.json;\nconst response = $input.item.json;\n\nif (response.error) {\n  throw new Error(`Stage 3 API Fehler: ${response.error.message || JSON.stringify(response.error)}`);\n}\n\nlet finalContent = response.choices?.[0]?.message?.content || '';\nconst citationsFromAPI = response.citations || [];\n\n// Cleanup\nfinalContent = finalContent.replace(/\\*\\*([^*]+)\\*\\*/g, '$1');\nfinalContent = finalContent.replace(/\\*([^*]+)\\*/g, '$1');\nfinalContent = finalContent.replace(/\\[\\d+\\]/g, '');\nfinalContent = finalContent.replace(/\\(Wortzahl:[^)]+\\)/gi, '');\nfinalContent = finalContent.replace(/Wortzahl:\\s*\\d+/gi, '');\n\n// Wortzahl\nconst wordCount = finalContent\n  .replace(/<[^>]+>/g, ' ')\n  .split(/\\s+/)\n  .filter(w => w.length > 1 && /[a-zA-ZäöüÄÖÜß]/.test(w))\n  .length;\n\nreturn {\n  json: {\n    ...input,\n    finalContent,\n    citationsFromAPI,\n    finalWordCount: wordCount,\n    pipelineStage: 'stage3_complete'\n  }\n};"
      },
      "id": "stage3-extractor",
      "name": "11. Stage 3: Final Extractor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// PROGRAMMATIC CHECKS - Automatische Qualitätsprüfung\n// =====================================================\n\nconst content = input.finalContent || '';\nconst contentLower = content.toLowerCase();\nconst thesis = (input.centralThesis || '').toLowerCase();\nconst company = (input.company || '').toLowerCase();\nconst ticker = (input.ticker || '').toLowerCase();\n\n// ===== 1. THESE-KONSISTENZ =====\n// Prüfen ob Schlüsselwörter der These in mehreren Kapiteln vorkommen\nconst thesisKeywords = thesis.split(/\\s+/).filter(w => w.length > 4);\nconst chapters = content.split(/\\d+\\.\\s+[A-ZÄÖÜ]/g);\nlet thesisOccurrences = 0;\n\nfor (const chapter of chapters) {\n  const chapterLower = chapter.toLowerCase();\n  const keywordMatches = thesisKeywords.filter(kw => chapterLower.includes(kw));\n  if (keywordMatches.length >= 2) thesisOccurrences++;\n}\n\nconst thesisConsistencyPassed = thesisOccurrences >= 4; // Mind. 4 von ~7 Kapiteln\nconst thesisConsistencyScore = Math.min(10, Math.round((thesisOccurrences / 7) * 10));\n\n// ===== 2. QUELLEN-KONSISTENZ =====\n// Inline-Quellen im Text finden\nconst inlineSourcePatterns = [\n  /laut\\s+(form\\s+)?10-k/gi,\n  /laut\\s+(form\\s+)?10-q/gi,\n  /earnings\\s+call/gi,\n  /geschäftsbericht/gi,\n  /sec\\s+filing/gi,\n  /investor\\s+(relations|presentation)/gi,\n  /gemäß\\s+\\w+\\s+\\d{4}/gi,\n  /statista/gi,\n  /idc/gi,\n  /gartner/gi\n];\n\nlet inlineSourceCount = 0;\nfor (const pattern of inlineSourcePatterns) {\n  const matches = content.match(pattern);\n  if (matches) inlineSourceCount += matches.length;\n}\n\nconst hasEnoughInlineSources = inlineSourceCount >= 8;\nconst sourceConsistencyScore = Math.min(10, Math.round(inlineSourceCount / 1.5));\n\n// ===== 3. VERBOTENE PHRASEN =====\nconst forbiddenPhrases = [\n  'kaufen', 'verkaufen', 'halten', 'buy', 'sell', 'hold',\n  'kursziel', 'price target', 'fair value', 'fairer wert',\n  'unterbewertet', 'überbewertet', 'attraktiv bewertet',\n  'sicherheitsmarge', 'margin of safety',\n  'anleger sollten', 'eignet sich für',\n  'game-changer', 'paradigmenwechsel', 'blinder fleck',\n  'der markt irrt', 'spektakulär', 'beeindruckend'\n];\n\nconst foundForbidden = forbiddenPhrases.filter(p => contentLower.includes(p));\nconst compliancePhrasesPassed = foundForbidden.length === 0;\n\n// ===== 4. LÄNGENPRÜFUNG =====\nconst wordCount = input.finalWordCount || 0;\nconst lengthPassed = wordCount >= 1600 && wordCount <= 2400;\n\n// ===== 5. STRUKTUR-PRÜFUNG =====\nconst hasAllSections = [\n  /1\\..*these|einordnung/i,\n  /2\\..*geschäftsmodell/i,\n  /3\\..*fundamental/i,\n  /4\\..*bewertung/i,\n  /5\\..*szenario/i,\n  /6\\..*wachstum|risik/i,\n  /rechtlich|hinweis|wpHG/i\n].every(p => p.test(content));\n\n// ===== 6. SZENARIO-QUALITÄT =====\nconst hasPositiveScenario = /positiv|optimist|aufwärts/i.test(content);\nconst hasBaseScenario = /basis|standard|fortsetzung/i.test(content);\nconst hasNegativeScenario = /negativ|pessimist|abwärts|risiko.*szenario/i.test(content);\nconst scenariosPassed = hasPositiveScenario && hasBaseScenario && hasNegativeScenario;\n\n// ===== 7. MARKDOWN-ARTEFAKTE =====\nconst hasMarkdown = /\\*\\*[^*]+\\*\\*|\\*[^*]+\\*|\\[\\d+\\]/.test(content);\nconst markdownPassed = !hasMarkdown;\n\n// ===== 8. QUELLEN-FILTERUNG =====\nconst citationsRaw = input.citationsFromAPI || [];\n\nconst forbiddenDomains = [\n  'studocu', 'wikifolio', 'boerse-social', 'reddit', 'youtube',\n  'facebook', 'twitter', 'x.com', 'podcast', 'blog', 'forum',\n  'finanzen100', 'wallstreet-online', 'finanznachrichten',\n  'aktien.guide', 'boersennews', 'ad-hoc-news'\n];\n\nconst filteredCitations = citationsRaw.filter(url => {\n  const urlLower = url.toLowerCase();\n  if (forbiddenDomains.some(d => urlLower.includes(d))) return false;\n  const hasCompanyRef = urlLower.includes(company) || urlLower.includes(ticker);\n  const isAllowedDomain = ['sec.gov', 'investor.', 'ir.', 'statista', 'idc.com', 'gartner', 'reuters', 'bloomberg'].some(d => urlLower.includes(d));\n  return hasCompanyRef || isAllowedDomain;\n}).slice(0, 6);\n\n// ===== GESAMTBEWERTUNG =====\nlet qualityScore = 0;\nqualityScore += compliancePhrasesPassed ? 2 : 0;\nqualityScore += thesisConsistencyPassed ? 2 : 0;\nqualityScore += hasEnoughInlineSources ? 1.5 : 0;\nqualityScore += lengthPassed ? 1 : 0;\nqualityScore += hasAllSections ? 1 : 0;\nqualityScore += scenariosPassed ? 1 : 0;\nqualityScore += markdownPassed ? 0.5 : 0;\nqualityScore += filteredCitations.length >= 3 ? 1 : 0;\nqualityScore = Math.min(10, Math.round(qualityScore));\n\nconst publicationReady = compliancePhrasesPassed && \n                         thesisConsistencyPassed && \n                         hasEnoughInlineSources && \n                         lengthPassed && \n                         hasAllSections &&\n                         markdownPassed;\n\n// Issues sammeln\nlet issues = [];\nif (!compliancePhrasesPassed) issues.push(`Verbotene Phrasen: ${foundForbidden.slice(0,3).join(', ')}`);\nif (!thesisConsistencyPassed) issues.push(`These nur in ${thesisOccurrences}/7 Kapiteln`);\nif (!hasEnoughInlineSources) issues.push(`Nur ${inlineSourceCount} Inline-Quellen (min. 8)`);\nif (!lengthPassed) issues.push(`Länge: ${wordCount} Wörter`);\nif (!hasAllSections) issues.push('Fehlende Pflichtabschnitte');\nif (!scenariosPassed) issues.push('Szenarien unvollständig');\nif (!markdownPassed) issues.push('Markdown-Artefakte');\n\nlet qualityComment = publicationReady \n  ? `✅ Publikationsreif. ${wordCount} Wörter, ${filteredCitations.length} Quellen, Score ${qualityScore}/10`\n  : `⚠️ Überarbeitung nötig: ${issues.join(' | ')}`;\n\nreturn {\n  json: {\n    ...input,\n    citations: filteredCitations,\n    checks: {\n      thesisConsistency: { passed: thesisConsistencyPassed, score: thesisConsistencyScore, occurrences: thesisOccurrences },\n      sourceConsistency: { passed: hasEnoughInlineSources, score: sourceConsistencyScore, inlineCount: inlineSourceCount },\n      compliancePhrases: { passed: compliancePhrasesPassed, violations: foundForbidden },\n      length: { passed: lengthPassed, wordCount },\n      structure: { passed: hasAllSections },\n      scenarios: { passed: scenariosPassed },\n      markdown: { passed: markdownPassed }\n    },\n    qualityScore,\n    publicationReady,\n    issues,\n    qualityComment,\n    pipelineStage: 'checks_complete'\n  }\n};"
      },
      "id": "quality-checks",
      "name": "12. Quality Checks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2600, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// HTML RENDERER - Finale Ausgabe\n// =====================================================\n\nfunction textToHtml(text) {\n  let html = text\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/^(\\d+)\\.\\s+([^\\n]+)$/gm, '</p><h2>$2</h2><p>')\n    .replace(/\\n\\n+/g, '</p><p>')\n    .replace(/\\n/g, ' ');\n  \n  html = '<p>' + html + '</p>';\n  html = html.replace(/<p><\\/p>/g, '');\n  html = html.replace(/<p>\\s*<h/g, '<h');\n  html = html.replace(/<\\/h2>\\s*<\\/p>/g, '</h2>');\n  html = html.replace(/<p>\\s*<\\/p>/g, '');\n  html = html.replace(/\\s+/g, ' ');\n  \n  return html.trim();\n}\n\nconst htmlContent = textToHtml(input.finalContent || '');\nconst wordCount = input.checks?.length?.wordCount || input.finalWordCount || 0;\nconst citations = input.citations || [];\n\nlet sourcesHtml = '';\nif (citations.length > 0) {\n  sourcesHtml = `\n    <aside class=\"sources-section\">\n      <h3>Quellen</h3>\n      <ol class=\"sources-list\">\n        ${citations.map((url) => {\n          try {\n            const domain = new URL(url).hostname.replace('www.', '');\n            return `<li><a href=\"${url}\" target=\"_blank\" rel=\"noopener noreferrer\">${domain}</a></li>`;\n          } catch {\n            return `<li><a href=\"${url}\" target=\"_blank\" rel=\"noopener noreferrer\">${url}</a></li>`;\n          }\n        }).join('\\n        ')}\n      </ol>\n    </aside>`;\n}\n\nconst dateObj = new Date(input.date);\nconst formattedDate = dateObj.toLocaleDateString('de-DE', {\n  day: '2-digit',\n  month: 'long',\n  year: 'numeric'\n});\n\nconst html = `<!DOCTYPE html>\n<html lang=\"de\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <title>${input.company} (${input.ticker}) – Unternehmensanalyse | capitovo</title>\n  <meta name=\"description\" content=\"${input.company} (${input.ticker}) Unternehmensanalyse: Geschäftsmodell, Fundamentaldaten, Bewertungseinordnung. Equity Research von capitovo.\">\n  <meta name=\"robots\" content=\"noindex, nofollow\">\n  <link rel=\"stylesheet\" href=\"../style.css\">\n  <style>\n    :root {\n      --text-primary: #1a1a1a;\n      --text-secondary: #4a5568;\n      --text-muted: #718096;\n      --border-color: #e2e8f0;\n      --bg-subtle: #f7fafc;\n      --accent: #2563eb;\n    }\n    .analysis-container { max-width: 48rem; margin: 0 auto; padding: 2rem 1.5rem; }\n    .analysis-header { margin-bottom: 2.5rem; padding-bottom: 1.5rem; border-bottom: 1px solid var(--border-color); }\n    .analysis-meta { display: flex; flex-wrap: wrap; gap: 0.75rem; font-size: 0.875rem; color: var(--text-muted); margin-bottom: 1rem; font-family: -apple-system, BlinkMacSystemFont, sans-serif; }\n    .analysis-meta span:not(:last-child)::after { content: '·'; margin-left: 0.75rem; }\n    .analysis-title { font-size: 2rem; font-weight: 700; color: var(--text-primary); line-height: 1.25; margin: 0 0 0.75rem 0; font-family: -apple-system, BlinkMacSystemFont, sans-serif; }\n    .analysis-subtitle { font-size: 1.125rem; color: var(--text-secondary); margin: 0; }\n    .analysis-body { font-family: Georgia, 'Times New Roman', serif; font-size: 1.0625rem; line-height: 1.8; color: var(--text-primary); }\n    .analysis-body h2 { font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-size: 1.25rem; font-weight: 600; color: var(--text-primary); margin: 2.5rem 0 1rem 0; padding-bottom: 0.5rem; border-bottom: 1px solid var(--border-color); }\n    .analysis-body h2:first-of-type { margin-top: 0; }\n    .analysis-body p { margin: 0 0 1.25rem 0; text-align: justify; hyphens: auto; }\n    .sources-section { margin-top: 3rem; padding-top: 1.5rem; border-top: 1px solid var(--border-color); }\n    .sources-section h3 { font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-size: 0.9375rem; font-weight: 600; color: var(--text-secondary); margin: 0 0 1rem 0; }\n    .sources-list { list-style: decimal; padding-left: 1.25rem; margin: 0; font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-size: 0.875rem; }\n    .sources-list li { margin: 0.375rem 0; color: var(--text-muted); }\n    .sources-list a { color: var(--accent); text-decoration: none; word-break: break-all; }\n    .sources-list a:hover { text-decoration: underline; }\n    .disclaimer { margin-top: 2.5rem; padding: 1.25rem; background: var(--bg-subtle); border-radius: 0.5rem; font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-size: 0.8125rem; color: var(--text-muted); line-height: 1.6; }\n    .disclaimer strong { color: var(--text-secondary); }\n    .analysis-footer { margin-top: 1.5rem; font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-size: 0.75rem; color: var(--text-muted); }\n    .back-link { display: inline-flex; align-items: center; gap: 0.25rem; font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-size: 0.875rem; color: var(--accent); text-decoration: none; margin-bottom: 1.5rem; }\n    .back-link:hover { text-decoration: underline; }\n    .quality-badge { display: inline-block; padding: 0.25rem 0.5rem; border-radius: 0.25rem; font-size: 0.75rem; font-weight: 500; }\n    .quality-badge.high { background: #dcfce7; color: #166534; }\n    .quality-badge.medium { background: #fef3c7; color: #92400e; }\n  </style>\n</head>\n<body>\n  <header class=\"site-header\">\n    <div class=\"header-content\">\n      <div class=\"logo\">\n        <a href=\"./abonenten.html\">\n          <img src=\"../assets/capitovo_logo_weiß.png\" alt=\"capitovo Logo\" class=\"header-logo\">\n        </a>\n      </div>\n    </div>\n  </header>\n  \n  <main class=\"analysis-container\">\n    <a href=\"./alle_analysen.html\" class=\"back-link\">← Zurück zur Übersicht</a>\n    \n    <article>\n      <header class=\"analysis-header\">\n        <div class=\"analysis-meta\">\n          <span>${input.sector}</span>\n          <span>${input.ticker}</span>\n          <span>${input.exchange}</span>\n        </div>\n        <h1 class=\"analysis-title\">${input.company} – Unternehmensanalyse</h1>\n        <p class=\"analysis-subtitle\">Geschäftsmodell, Fundamentaldaten und Bewertungseinordnung</p>\n        <div class=\"analysis-meta\" style=\"margin-top: 1rem; margin-bottom: 0;\">\n          <span>capitovo Research</span>\n          <time datetime=\"${input.date}\">${formattedDate}</time>\n        </div>\n      </header>\n      \n      <div class=\"analysis-body\">\n        ${htmlContent}\n      </div>\n      \n      ${sourcesHtml}\n      \n      <div class=\"disclaimer\">\n        <strong>Rechtlicher Hinweis:</strong> Diese Analyse dient ausschließlich Informationszwecken und stellt keine Anlageberatung im Sinne des Wertpapierhandelsgesetzes (WpHG) dar. Die bereitgestellten Informationen sind keine Aufforderung zum Kauf oder Verkauf von Wertpapieren. Anlageentscheidungen sollten auf Basis eigener Recherche und gegebenenfalls professioneller Beratung getroffen werden.\n      </div>\n      \n      <footer class=\"analysis-footer\">\n        Analyse-ID: ${input.ticker.toLowerCase()}-${input.date} · ${wordCount} Wörter · ${citations.length} Quellen · Score ${input.qualityScore}/10\n      </footer>\n    </article>\n  </main>\n  \n  <footer style=\"border-top: 1px solid #e2e8f0; padding: 1.5rem; text-align: center; color: #718096; font-size: 0.875rem; font-family: -apple-system, sans-serif;\">\n    © ${new Date().getFullYear()} capitovo – Alle Rechte vorbehalten.\n  </footer>\n  \n  <script src=\"../script.js\"></script>\n</body>\n</html>`;\n\nreturn {\n  json: {\n    ...input,\n    html,\n    pipelineStage: 'html_rendered'\n  }\n};"
      },
      "id": "html-renderer",
      "name": "13. HTML Renderer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2800, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// OUTPUT GENERATOR - Finale Artefakte\n// =====================================================\n\nconst svg = `<svg width=\"640\" height=\"360\" viewBox=\"0 0 640 360\" xmlns=\"http://www.w3.org/2000/svg\">\n  <defs>\n    <linearGradient id=\"bg-gradient\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"100%\">\n      <stop offset=\"0%\" stop-color=\"#0f172a\"/>\n      <stop offset=\"100%\" stop-color=\"#1e293b\"/>\n    </linearGradient>\n  </defs>\n  <rect width=\"640\" height=\"360\" fill=\"url(#bg-gradient)\" rx=\"16\"/>\n  <g font-family=\"-apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif\">\n    <text x=\"48\" y=\"72\" fill=\"#64748b\" font-size=\"13\" letter-spacing=\"0.1em\" font-weight=\"500\">${input.ticker} · ${input.sector.toUpperCase()}</text>\n    <text x=\"48\" y=\"120\" fill=\"#f1f5f9\" font-size=\"32\" font-weight=\"700\">${input.company}</text>\n    <text x=\"48\" y=\"156\" fill=\"#94a3b8\" font-size=\"16\">Unternehmensanalyse</text>\n    <rect x=\"48\" y=\"180\" width=\"80\" height=\"3\" fill=\"#3b82f6\" rx=\"1.5\"/>\n    <text x=\"48\" y=\"224\" fill=\"#64748b\" font-size=\"14\">Geschäftsmodell · Fundamentaldaten · Bewertung</text>\n    <g transform=\"translate(48, 296)\">\n      <text x=\"0\" y=\"0\" fill=\"#475569\" font-size=\"12\">capitovo Research · Score ${input.qualityScore}/10</text>\n      <text x=\"0\" y=\"20\" fill=\"#64748b\" font-size=\"11\">${input.date}</text>\n    </g>\n  </g>\n</svg>`;\n\nconst jsonEntry = {\n  id: `${input.ticker.toLowerCase()}-${input.date}`,\n  category: input.sector,\n  title: `${input.company} – Unternehmensanalyse`,\n  summary: `Analyse des Geschäftsmodells, der Fundamentaldaten und Bewertungseinordnung von ${input.company} (${input.ticker}).`,\n  link: `Abonenten/${input.slug}.html`,\n  image: `data/vorschaubilder_analysen/${input.slug}.svg`,\n  date: input.date,\n  author: 'capitovo Research',\n  tags: [input.company, input.ticker, input.sector],\n  published: input.publicationReady,\n  wordCount: input.checks?.length?.wordCount || input.finalWordCount,\n  sourcesCount: input.citations?.length || 0,\n  qualityScore: input.qualityScore,\n  publicationReady: input.publicationReady,\n  centralThesis: input.centralThesis\n};\n\nconst statusEmoji = input.publicationReady ? '✅' : '⚠️';\nconst statusText = input.publicationReady \n  ? `Analyse erfolgreich generiert (Score ${input.qualityScore}/10)`\n  : `Analyse generiert - manuelle Prüfung erforderlich`;\n\nreturn {\n  json: {\n    success: true,\n    status: statusEmoji + ' ' + statusText,\n    company: input.company,\n    ticker: input.ticker,\n    date: input.date,\n    pipeline: {\n      stages: ['Analysis', 'Skeptical Review', 'Editorial Refinement', 'Quality Checks'],\n      stage1WordCount: input.stage1WordCount,\n      finalWordCount: input.checks?.length?.wordCount || input.finalWordCount,\n      criticalIssuesFound: input.criticalIssuesCount || 0\n    },\n    metrics: {\n      wordCount: input.checks?.length?.wordCount || input.finalWordCount,\n      sourcesCount: input.citations?.length || 0,\n      qualityScore: input.qualityScore,\n      publicationReady: input.publicationReady\n    },\n    checks: input.checks,\n    centralThesis: input.centralThesis,\n    qualityComment: input.qualityComment,\n    issues: input.issues || [],\n    outputs: {\n      html: input.html,\n      svg: svg,\n      jsonEntry: jsonEntry\n    },\n    filePaths: {\n      html: `Abonenten/${input.slug}.html`,\n      svg: `data/vorschaubilder_analysen/${input.slug}.svg`,\n      json: 'data/analysen.json'\n    },\n    nextSteps: input.publicationReady \n      ? ['HTML-Datei speichern', 'SVG speichern', 'analysen.json aktualisieren']\n      : ['Manuelle Überprüfung der Issues', 'Ggf. erneut generieren']\n  }\n};"
      },
      "id": "output-generator",
      "name": "14. Output Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3000, 400]
    },
    {
      "parameters": {},
      "id": "output",
      "name": "Output",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3200, 400]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "1. Input Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Input Data": {
      "main": [
        [
          {
            "node": "2. Input Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Input Validator": {
      "main": [
        [
          {
            "node": "3. Stage 1: Analysis Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Stage 1: Analysis Prompt": {
      "main": [
        [
          {
            "node": "4. Stage 1: Perplexity API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Stage 1: Perplexity API": {
      "main": [
        [
          {
            "node": "5. Stage 1: Analysis Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Stage 1: Analysis Extractor": {
      "main": [
        [
          {
            "node": "6. Stage 2: Skeptical Review Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Stage 2: Skeptical Review Prompt": {
      "main": [
        [
          {
            "node": "7. Stage 2: Skeptical Review API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. Stage 2: Skeptical Review API": {
      "main": [
        [
          {
            "node": "8. Stage 2: Critique Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8. Stage 2: Critique Extractor": {
      "main": [
        [
          {
            "node": "9. Stage 3: Editorial Refinement Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9. Stage 3: Editorial Refinement Prompt": {
      "main": [
        [
          {
            "node": "10. Stage 3: Editorial API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10. Stage 3: Editorial API": {
      "main": [
        [
          {
            "node": "11. Stage 3: Final Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11. Stage 3: Final Extractor": {
      "main": [
        [
          {
            "node": "12. Quality Checks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12. Quality Checks": {
      "main": [
        [
          {
            "node": "13. HTML Renderer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13. HTML Renderer": {
      "main": [
        [
          {
            "node": "14. Output Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14. Output Generator": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "production"
    },
    {
      "name": "v5-multi-stage"
    }
  ]
}
