n8n/n8n_test_veröffentlichung_entfernen.json
{
  "name": "n8n_test_veröffentlichung_entfernen",
  "nodes": [
    {
      "parameters": {},
      "id": "4cfa919f-d9bf-4baf-acc5-2f17e99f46f3",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        448,
        1856
      ]
    },
    {
      "parameters": {
        "jsCode": "// Konfiguration: Welche Test-Analyse soll geloescht werden?\n// Passe slug an, falls du eine andere Test-Analyse loeschen willst\n\nvar slug = 'apple_2026-01-24';\n\nreturn {\n  json: {\n    slug: slug,\n    htmlPath: 'Abonenten/' + slug + '.html',\n    svgPath: 'data/vorschaubilder_analysen/' + slug + '_preview.svg',\n    analysenPath: 'data/analysen.json'\n  }\n};"
      },
      "id": "b10f1cbb-8048-4d8d-82db-6748dc30b21c",
      "name": "Config - Test Analyse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        2096
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.github.com/repos/kw-f8/capitovo/contents/{{ $json.htmlPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"Cleanup: Loesche Test-Analyse HTML {{ $json.slug }}\",\n  \"sha\": \"{{ $json.htmlSha }}\",\n  \"branch\": \"main\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "d6bb5727-c69f-4390-8340-d35f21125d0d",
      "name": "Delete HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1072,
        2304
      ],
      "executeOnce": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "iCAWAEqg10f57flt",
          "name": "GitHub Token"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var prev = $('Extract HTML SHA1').item.json;\nreturn { json: prev };"
      },
      "id": "18d88f3c-68fc-46c1-9274-a184d70e1c72",
      "name": "Pass After HTML Delete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        2304
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.github.com/repos/kw-f8/capitovo/contents/{{ $json.svgPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"Cleanup: Loesche Test-Analyse SVG {{ $json.slug }}\",\n  \"sha\": \"{{ $json.svgSha }}\",\n  \"branch\": \"main\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "e4a32c99-8711-471b-bfd8-5c7c0e2b0e21",
      "name": "Delete SVG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1072,
        2544
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "iCAWAEqg10f57flt",
          "name": "GitHub Token"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var prev = $('Extract SVG SHA1').item.json;\nreturn { json: prev };"
      },
      "id": "fe1fca55-a4a0-4fe2-84c8-622489a17b32",
      "name": "Pass After SVG Delete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        2544
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/kw-f8/capitovo/contents/{{ $json.analysenPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "efe4d467-cd80-4d68-ae4c-4528791d9f68",
      "name": "Get Analysen.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        2544
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "iCAWAEqg10f57flt",
          "name": "GitHub Token"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var prev = $('Pass After SVG Delete').item.json;\nvar resp = $input.item.json;\n\nvar analysenSha = resp.sha || null;\nvar existing = [];\n\ntry {\n  if (resp && resp.content) {\n    var decoded = Buffer.from(resp.content, 'base64').toString('utf8');\n    existing = JSON.parse(decoded);\n  }\n} catch(e) { existing = []; }\n\n// Entferne Eintraege die zum Test-Slug gehoeren\nvar slug = prev.slug;\n\n// Extrahiere das Datum aus dem Slug (z.B. '2026-01-24' aus 'apple_2026-01-24')\nvar slugParts = slug.split('_');\nvar slugDate = slugParts.length > 1 ? slugParts.slice(1).join('_') : '';\n\nvar filtered = existing.filter(function(item) {\n  // Pruefe mehrere Matching-Kriterien:\n  // 1. Link enthaelt den kompletten Slug\n  var matchByLink = String(item.link || '').includes(slug);\n  \n  // 2. Image-Pfad enthaelt den Slug\n  var matchByImage = String(item.image || '').includes(slug);\n  \n  // 3. ID enthaelt das Datum (z.B. 'aapl-2026-01-24' matched mit Datum '2026-01-24')\n  var matchByDate = slugDate && String(item.id || '').includes(slugDate.replace(/_/g, '-'));\n  \n  // Behalte Eintrag nur wenn KEINES der Kriterien zutrifft\n  return !matchByLink && !matchByImage && !matchByDate;\n});\n\nvar removed = existing.length - filtered.length;\n\nvar updatedJson = JSON.stringify(filtered, null, 2);\nvar analysenBase64 = Buffer.from(updatedJson, 'utf8').toString('base64');\n\nreturn {\n  json: {\n    ...prev,\n    analysenSha: analysenSha,\n    analysenBase64: analysenBase64,\n    entriesRemoved: removed,\n    shouldUpdateAnalysen: removed > 0\n  }\n};"
      },
      "id": "135cfde1-5af7-4e94-942b-1f747855d944",
      "name": "Filter Analysen.json",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        2544
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/kw-f8/capitovo/contents/{{ $json.analysenPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"Cleanup: Entferne Test-Analyse {{ $json.slug }} aus Katalog\",\n  \"content\": \"{{ $json.analysenBase64 }}\",\n  \"sha\": \"{{ $json.analysenSha }}\",\n  \"branch\": \"main\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "1ea6c541-e1cc-42f6-a7b7-3fc4aabc3eba",
      "name": "Update Analysen.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1952,
        2544
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "iCAWAEqg10f57flt",
          "name": "GitHub Token"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/kw-f8/capitovo/contents/{{ $json.htmlPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "84d2efd1-a3be-4adc-b96c-6d2cafd8a4d5",
      "name": "Get HTML SHA1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        2096
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "iCAWAEqg10f57flt",
          "name": "GitHub Token"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var config = $('Config - Test Analyse').item.json;\nvar resp = $input.item.json;\n\nreturn {\n  json: {\n    ...config,\n    htmlSha: resp.sha || null,\n    htmlExists: !!resp.sha\n  }\n};"
      },
      "id": "a1e0f1fd-5c4f-495d-8db1-336289bb739d",
      "name": "Extract HTML SHA1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        2096
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/kw-f8/capitovo/contents/{{ $json.svgPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "6f74c631-faa4-42a5-9557-26ef12b34567",
      "name": "Get SVG SHA1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        2304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "iCAWAEqg10f57flt",
          "name": "GitHub Token"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var prev = $('Pass After HTML Delete').item.json;\nvar resp = $input.item.json;\n\nreturn {\n  json: {\n    ...prev,\n    svgSha: resp.sha || null,\n    svgExists: !!resp.sha\n  }\n};"
      },
      "id": "8fbf9044-15ba-410b-b93d-6531811c51c5",
      "name": "Extract SVG SHA1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        2304
      ]
    },
    {
      "parameters": {
        "jsCode": "var prev = $('Filter Analysen.json').item.json;\n\nreturn {\n  json: {\n    status: 'CLEANUP COMPLETE',\n    slug: prev.slug,\n    deletedFiles: {\n      html: prev.htmlPath + (prev.htmlExists ? ' (geloescht)' : ' (existierte nicht)'),\n      svg: prev.svgPath + (prev.svgExists ? ' (geloescht)' : ' (existierte nicht)')\n    },\n    catalogEntriesRemoved: prev.entriesRemoved,\n    message: 'Test-Analyse ' + prev.slug + ' wurde bereinigt. Du kannst den Test-Veroeffentlichungs-Workflow jetzt erneut ausfuehren.'\n  }\n};"
      },
      "id": "6b70d8fa-ca1a-442b-86e1-086398835ba7",
      "name": "Output1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        2544
      ]
    },
    {
      "parameters": {
        "content": "# Löschen",
        "height": 784,
        "width": 1696,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        1968
      ],
      "typeVersion": 1,
      "id": "084d2c27-6450-487b-a0ec-31a1696477c8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Veröffentlichen",
        "height": 848,
        "width": 1920
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        1024
      ],
      "typeVersion": 1,
      "id": "ea3966ca-1e9c-45b1-ac5f-3f069a21251d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// DETERMINISTISCHER INPUT - 5 PFLICHTABSCHNITTE\n// Struktur basiert auf vorlage.html\n// =====================================================\n\n// STAMMDATEN (Pflicht)\nvar company = 'Apple';\nvar ticker = 'AAPL';\nvar sector = 'Technologie';\nvar exchange = 'NASDAQ';\nvar wkn = '865985';\nvar isin = 'US0378331005';\nvar date = '2026-01-29';\nvar slug = ticker.toLowerCase() + '_' + date;\n\n// EXECUTIVE INTRO (max 3-4 Saetze, extrahiert nicht neu formuliert)\nvar introText = 'In dieser Analyse ordnen wir Apples aktuelle Bewertung und Kursentwicklung ein. Wir pruefen die finanziellen Grundlagen, strategische Ausrichtung und Analystenerwartungen. Ziel ist eine fundierte Entscheidungsgrundlage mit klarem Votum.';\n\n// =====================================================\n// 5 PFLICHTABSCHNITTE (exakt wie in vorlage.html)\n// Reihenfolge und Namen sind NICHT verhandelbar!\n// =====================================================\n\n// 1) Marktperformance & Bewertung\nvar section1 = '<p>Aktueller Kurs bei 178,50 USD mit einer 1-Monats-Performance von +4,2%. Das Forward-KGV liegt bei 29,85x, was ueber dem historischen Durchschnitt von 22x liegt. Die Marktkapitalisierung betraegt 2,8 Billionen USD.</p>' +\n'<table class=\"card-table\"><thead><tr style=\"border-bottom:1px solid rgba(15,23,42,0.06);\"><th>Kennzahl</th><th>Wert</th><th>Kommentar</th></tr></thead>' +\n'<tbody><tr style=\"border-bottom:1px solid rgba(15,23,42,0.04);\"><td>Aktueller Kurs</td><td>178,50 USD</td><td>Stand: 29.01.2026</td></tr>' +\n'<tr style=\"border-bottom:1px solid rgba(15,23,42,0.04);\"><td>Performance 1M</td><td>+4,2%</td><td>Positives Momentum</td></tr>' +\n'<tr><td>Forward-KGV</td><td>29,85x</td><td>Ueber historischem Schnitt</td></tr></tbody></table>';\n\n// 2) Finanzielle Grundlagen\nvar section2 = '<p>Apple erzielte im Geschaeftsjahr 2025 einen Umsatz von 391 Mrd. USD (+3% YoY). Die operative Marge liegt bei 31,7%, die Nettomarge bei 26,9%. Der Free Cashflow betraegt 112 Mrd. USD.</p>' +\n'<ul style=\"margin-left: 18px; list-style: disc;\"><li>Umsatzwachstum: +3% (YoY)</li><li>Operative Marge: 31,7%</li><li>Free Cashflow: 112 Mrd. USD</li><li>Nettoverschuldung: -65 Mrd. USD (Nettocash)</li></ul>';\n\n// 3) Strategische Ausrichtung\nvar section3 = '<p>Apples strategische Prioritaeten liegen auf dem Ausbau des Services-Geschaefts und der KI-Integration. Das Services-Segment wuchs auf 96 Mrd. USD und liefert hoehere Margen als Hardware. Risiken bestehen durch regulatorische Eingriffe in den App Store sowie Abhaengigkeit vom iPhone-Zyklus.</p>' +\n'<p>Wettbewerbsposition: Starke Markenpositionierung und Oekosystem-Lock-in. Herausforderungen durch Samsung und chinesische Hersteller im Smartphone-Markt. KI-Strategie noch in frueherer Phase als Konkurrenten.</p>';\n\n// 4) Analystenerwartungen & Institutionelles Interesse\nvar section4 = '<p>Konsens-Rating: 38 Buy, 12 Hold, 4 Sell. Durchschnittliches Kursziel: 195 USD (+9% Upside). Juengste Upgrades von Morgan Stanley und Goldman Sachs auf Basis erwarteter KI-Monetarisierung.</p>' +\n'<p>Institutionelles Interesse: Berkshire Hathaway haelt 5,8% (groesste Position). Vanguard und BlackRock unter den Top-Aktionaeren. Insider-Verkaeufe auf normalem Niveau.</p>';\n\n// 5) Bewertungskontext & Votum\nvar section5 = '<p>Die aktuelle Bewertung (KGV 33, PEG 2,5) impliziert hohes Wachstum, das fundamental nicht vollstaendig gestuetzt wird. Services-Wachstum kompensiert teilweise Hardware-Stagnation, aber regulatorische Risiken sind real.</p>' +\n'<div class=\"votum-box\"><h3>Votum</h3><p><strong>Neutral / Beobachten</strong> - Die Bewertung preist optimistische Szenarien ein. Einstieg bei Ruecksetzern unter 165 USD attraktiver. Upgrade bei: Bestaetigung KI-Monetarisierung, Entspannung Regulierung. Downgrade bei: Services-Margendruck, China-Eskalation.</p></div>';\n\n// Kurz erklaert (Zusammenfassung fuer Einsteiger)\nvar kurzErklaert = 'Apple ist ein Technologiekonzern, der Geraete wie iPhones und Tablets herstellt sowie digitale Dienste wie den App Store und Streaming-Angebote betreibt. Diese Analyse untersucht, ob Apples aktuelle Aktienbewertung durch das erwartete Wachstum gerechtfertigt ist.';\n\n// Quellen\nvar sources = ['https://investor.apple.com/investor-relations/default.aspx'];\n\nreturn {\n  json: {\n    company: company,\n    ticker: ticker,\n    sector: sector,\n    exchange: exchange,\n    wkn: wkn,\n    isin: isin,\n    date: date,\n    slug: slug,\n    introText: introText,\n    // 5 Pflichtabschnitte als separate Felder\n    section1_marktperformance: section1,\n    section2_finanzielle_grundlagen: section2,\n    section3_strategie: section3,\n    section4_analysten: section4,\n    section5_votum: section5,\n    kurzErklaert: kurzErklaert,\n    sources: sources\n  }\n};"
      },
      "id": "27126274-c5cc-4675-9351-8a24d47cda4f",
      "name": "Input - Fertige Analyse1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        1152
      ]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// DETERMINISTISCHER HTML RENDERER\n// Basiert 1:1 auf vorlage.html - KEINE Interpretation!\n// =====================================================\n\nvar d = $input.item.json;\nvar formattedDate = new Date(d.date).toLocaleDateString('de-DE', { day: '2-digit', month: '2-digit', year: 'numeric' });\n\n// =====================================================\n// VALIDIERUNG - Pflichtfelder pruefen\n// =====================================================\nvar errors = [];\nif (!d.section1_marktperformance) errors.push('section1_marktperformance fehlt');\nif (!d.section2_finanzielle_grundlagen) errors.push('section2_finanzielle_grundlagen fehlt');\nif (!d.section3_strategie) errors.push('section3_strategie fehlt');\nif (!d.section4_analysten) errors.push('section4_analysten fehlt');\nif (!d.section5_votum) errors.push('section5_votum fehlt');\nif (!d.sources || d.sources.length === 0) errors.push('sources fehlt');\n\nif (errors.length > 0) {\n  throw new Error('VALIDIERUNG FEHLGESCHLAGEN: ' + errors.join(', '));\n}\n\n// =====================================================\n// FESTES TOC - exakt wie in vorlage.html\n// =====================================================\nvar tocHtml = '<nav aria-label=\"Inhaltsverzeichnis\" style=\"flex:1; min-width:260px; margin:0 0 0 12px; align-self:flex-start; display:flex; flex-direction:column; justify-content:flex-start; position:relative; top:-15px;\">' +\n'<h2 style=\"font-size:1.25rem; font-weight:700; color:#0f172a; margin:0 0 10px 0; border-bottom:2px solid #e2e8f0; padding-bottom:2px;\">Inhalt der Analyse</h2>' +\n'<ol class=\"toc-list\" style=\"margin-top:0; list-style:none; padding:0; display:flex; flex-direction:column; gap:8px;\">' +\n'<li><a class=\"toc-link\" href=\"#marktperformance\">Marktperformance &amp; Bewertung</a></li>' +\n'<li><a class=\"toc-link\" href=\"#finanzielle-grundlagen\">Finanzielle Grundlagen</a></li>' +\n'<li><a class=\"toc-link\" href=\"#strategie\">Strategische Ausrichtung</a></li>' +\n'<li><a class=\"toc-link\" href=\"#analysten\">Analystenerwartungen &amp; Institutionelles Interesse</a></li>' +\n'<li><a class=\"toc-link\" href=\"#votum\">Bewertungskontext &amp; Votum</a></li>' +\n'</ol></nav>';\n\n// =====================================================\n// QUELLEN-BLOCK generieren\n// =====================================================\nvar sourcesHtml = '';\nif (d.sources && d.sources.length > 0) {\n  sourcesHtml = '<p class=\"refs\" style=\"font-size: 0.9rem; color: #64748b;\"><strong>Quellen:</strong> ';\n  d.sources.forEach(function(src, idx) {\n    if (idx > 0) sourcesHtml += ', ';\n    sourcesHtml += '<a href=\"' + src + '\" target=\"_blank\" rel=\"noopener noreferrer\">' + src + '</a>';\n  });\n  sourcesHtml += '</p>';\n}\n\n// =====================================================\n// HTML TEMPLATE - exakt wie vorlage.html\n// =====================================================\nvar html = '<!DOCTYPE html>' +\n'<html lang=\"de\">' +\n'<head>' +\n'<meta charset=\"utf-8\">' +\n'<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">' +\n'<link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"../assets/favicon-32.png?v=2025-12-25b\">' +\n'<link rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"../assets/favicon-16.png?v=2025-12-25b\">' +\n'<link rel=\"shortcut icon\" href=\"../assets/favicon-32.png?v=2025-12-25b\">' +\n'<link rel=\"apple-touch-icon\" sizes=\"180x180\" href=\"../assets/apple-touch-icon.png?v=2025-12-25a\">' +\n'<title>capitovo - ' + d.company + ' Unternehmensanalyse</title>' +\n'<meta name=\"description\" content=\"Analytische Einordnung von ' + d.company + ' (' + d.ticker + ').\">' +\n'<link href=\"https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css\" rel=\"stylesheet\">' +\n'<link rel=\"stylesheet\" href=\"../style.css\">' +\n'<style>' +\n'#menu-toggle, .menu-toggle { border: none; outline: none; background: transparent; }' +\n'#menu-toggle:focus, .menu-toggle:focus { outline: none; box-shadow: none; }' +\n'#menu-toggle:focus-visible, .menu-toggle:focus-visible { box-shadow: 0 0 0 4px rgba(59,130,246,0.12); border-radius: 8px; }' +\n'header { position: static !important; }' +\n'main { background: transparent; padding-top: 55px !important; }' +\n'.analysis-article { max-width: 1100px; width: 100%; margin: 0 auto; padding: 0; padding-right: 16px; }' +\n'.analysis-article h1 { font-size: 1.8rem; margin: 0 0 0.5rem 0; }' +\n'.analysis-meta { color: #6b7280; margin-bottom: 1rem; }' +\n'.analysis-intro { font-size: 1.05rem; color:#0f172a; margin-bottom:1rem; }' +\n'.analysis-section { margin-top:1rem; }' +\n'.analysis-section h2 { font-size: 1.5rem; font-weight: 700; margin: 2rem 0 1rem 0; color: #0f172a; }' +\n'.analysis-section p { margin-bottom: 1rem; line-height: 1.7; text-align: justify; }' +\n'.hero-media { width: 100%; height: 360px; object-fit: contain; background: #f3f4f6; display: block; border-radius: 8px; }' +\n'.card-table { width:100%; border-collapse:collapse; margin-top:10px; }' +\n'.card-table th, .card-table td { padding:8px 6px; text-align:left; }' +\n'.votum-box { background: linear-gradient(135deg, #f0f9ff 0%, #e0f2fe 100%); border-left: 4px solid #0284c7; padding: 1.5rem; margin: 2rem 0; border-radius: 8px; }' +\n'.votum-box h3 { margin-top: 0; color: #0c4a6e; }' +\n'.toc-link { display: inline-block; font-size: 1.25rem; font-weight: 500; color: #334155; line-height: 1.5; text-decoration: none; position: relative; padding: 0; background: linear-gradient(110deg, var(--color-accent-blue) 0%, var(--color-accent-blue) 15%, #0ea5e9 20%, var(--color-accent-blue) 25%, var(--color-accent-blue) 40%, #334155 45%, #334155 100%); background-size: 300% 100%; background-position: 100% 0; transition: background-position 550ms cubic-bezier(0.65, 0, 0.35, 1), transform 550ms cubic-bezier(0.65, 0, 0.35, 1); -webkit-background-clip: text; background-clip: text; -webkit-text-fill-color: transparent; }' +\n'.toc-link:hover { background-position: 0 0; transform: translateX(4px); }' +\n'.back-btn-glow { box-shadow: none; transition: box-shadow 0.18s cubic-bezier(0.65,0,0.35,1), background-color 0.14s; }' +\n'.back-btn-glow:hover, .back-btn-glow:focus-visible { box-shadow: 0 0 0 2px rgba(0,145,214,0.10), 0 0 4px 1px rgba(0,145,214,0.08); }' +\n'.cap-outline-btn { border: 1px solid #e2e8f0; border-radius: 0.375rem; background: #ffffff; }' +\n'.kurz-erklaert { background: #f8fafc; border-radius: 8px; padding: 1.25rem; margin-top: 2rem; }' +\n'.kurz-erklaert p { margin: 0; font-size: 0.95rem; }' +\n'.refs, .refs a { overflow-wrap: anywhere; word-break: break-word; }' +\n'.refs a { color: #2563eb; text-decoration: none; }' +\n'.refs a:hover { text-decoration: underline; }' +\n'</style>' +\n'</head>' +\n'<body class=\"bg-white text-gray-900 abonenten-page\">' +\n'<header>' +\n'<div class=\"header-content\">' +\n'<div class=\"logo\"><a href=\"./abonenten.html\" class=\"logo-link\"><img src=\"../assets/capitovo_logo_weiß.png\" alt=\"capitovo Logo\" class=\"header-logo\"></a></div>' +\n'<button class=\"menu-toggle\" id=\"menu-toggle\" aria-controls=\"sidebar\" aria-expanded=\"false\" aria-label=\"Menue oeffnen\">☰</button>' +\n'</div>' +\n'</header>' +\n'<main style=\"padding-top: 55px !important;\">' +\n'<article class=\"analysis-article\" id=\"' + d.slug + '-analysis\" style=\"margin-top: 0 !important;\">' +\n'<div class=\"mb-2\">' +\n'<div class=\"flex items-start justify-between gap-3 flex-wrap\">' +\n'<div><h1 class=\"text-3xl font-extrabold text-gray-900 mb-1\">' + d.company + ' - Unternehmensanalyse</h1></div>' +\n'<div class=\"flex items-center gap-2\">' +\n'<a href=\"alle_analysen.html\" id=\"back-button\" class=\"inline-flex items-center gap-2 text-sm font-medium text-gray-700 bg-white rounded-md px-3 py-2 back-btn-glow cap-outline-btn\"><span aria-hidden=\"true\">←</span><span>Zurueck</span></a>' +\n'<button id=\"favorite-button\" class=\"inline-flex items-center justify-center w-10 h-10 bg-white rounded-md text-gray-500 hover:text-yellow-400 back-btn-glow cap-outline-btn\" style=\"padding:0\" aria-label=\"Zu Favoriten hinzufuegen\" data-title=\"' + d.slug + '\">' +\n'<svg class=\"w-5 h-5 text-gray-400\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.6\"><path d=\"M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z\" /></svg>' +\n'</button>' +\n'</div>' +\n'</div>' +\n'<div class=\"text-sm analysis-meta\" style=\"color: #64748b;\">' +\n'<span>' + formattedDate + '</span>' +\n'<span class=\"text-gray-400 mx-2\">·</span>' +\n'<span>Ticker: ' + d.ticker + '</span>' +\n'<span class=\"text-gray-400 mx-2\">·</span>' +\n'<span>WKN: ' + d.wkn + '</span>' +\n'<span class=\"text-gray-400 mx-2\">·</span>' +\n'<span>ISIN: ' + d.isin + '</span>' +\n'</div>' +\n'</div>' +\n'<div class=\"hero-intro-wrapper\" style=\"display:flex; gap:24px; margin:24px 0 0 0; align-items:flex-start; flex-wrap:wrap;\">' +\n'<div class=\"analysis-hero\" style=\"flex:1; min-width:300px;\"><img src=\"../data/vorschaubilder_analysen/' + d.slug + '_preview.svg\" alt=\"' + d.company + ' Vorschaubild\" class=\"hero-media\"></div>' +\ntocHtml +\n'</div>' +\n'<p class=\"analysis-intro\" style=\"margin: 24px 0 32px 0; font-size:1.08rem; line-height:1.7; max-width:100%; text-align:justify;\">' + d.introText + '</p>' +\n'<p style=\"height:1.5em;\"></p>' +\n\n// =====================================================\n// 5 PFLICHTABSCHNITTE - FESTE STRUKTUR\n// =====================================================\n'<section class=\"analysis-section\" id=\"marktperformance\">' +\n'<h2>1) Marktperformance &amp; Bewertung</h2>' +\nd.section1_marktperformance +\n'</section>' +\n\n'<section class=\"analysis-section\" id=\"finanzielle-grundlagen\">' +\n'<h2>2) Finanzielle Grundlagen</h2>' +\nd.section2_finanzielle_grundlagen +\n'</section>' +\n\n'<section class=\"analysis-section\" id=\"strategie\">' +\n'<h2>3) Strategische Ausrichtung</h2>' +\nd.section3_strategie +\n'</section>' +\n\n'<section class=\"analysis-section\" id=\"analysten\">' +\n'<h2>4) Analystenerwartungen &amp; Institutionelles Interesse</h2>' +\nd.section4_analysten +\n'</section>' +\n\n'<section class=\"analysis-section\" id=\"votum\">' +\n'<h2>5) Bewertungskontext &amp; Votum</h2>' +\nd.section5_votum +\n'</section>' +\n\n// =====================================================\n// KURZ ERKLAERT - klar als Zusammenfassung markiert\n// =====================================================\n'<div class=\"kurz-erklaert\">' +\n'<p><strong>Kurz erklaert:</strong> ' + d.kurzErklaert + '</p>' +\n'</div>' +\n\n// =====================================================\n// QUELLEN - dedizierter Block\n// =====================================================\n'<hr style=\"margin: 3rem 0; border: none; border-top: 1px solid #e2e8f0;\">' +\nsourcesHtml +\n\n// =====================================================\n// DISCLAIMER - fixer Text, unveraenderlich\n// =====================================================\n'<p style=\"font-size: 0.9rem; color: #64748b; margin-top: 1rem;\"><strong>Disclaimer:</strong> Diese Analyse stellt keine Anlageberatung dar. Capitovo erbringt keine regulierten Finanzdienstleistungen. Alle Angaben erfolgen ohne Gewaehr.</p>' +\n\n'</article>' +\n'</main>' +\n\n// =====================================================\n// FOOTER - Copyright, Rechtliches, Navigation\n// =====================================================\n'<footer class=\"site-footer border-t py-6 mt-12\">' +\n'<div class=\"footer-inner max-w-6xl mx-auto px-6 text-sm text-gray-500 flex items-center justify-between\">' +\n'<div>&copy; 2026 capitovo - Alle Rechte vorbehalten.</div>' +\n'<div class=\"footer-links\">' +\n'<a href=\"../Rechtliches/impressum.html\" class=\"footer-btn\" target=\"_blank\">Impressum</a>' +\n'<a href=\"../Rechtliches/datenschutz.html\" class=\"footer-btn\" target=\"_blank\">Datenschutz</a>' +\n'<a href=\"../Rechtliches/haftung.html\" class=\"footer-btn\" target=\"_blank\">Haftungsausschluss</a>' +\n'<a href=\"../Rechtliches/agb.html\" class=\"footer-btn\" target=\"_blank\">AGB</a>' +\n'</div>' +\n'</div>' +\n'</footer>' +\n\n// Sidebar Navigation\n'<div class=\"sidebar\" id=\"sidebar\" aria-hidden=\"true\">' +\n'<button class=\"close-button\" id=\"close-sidebar\" aria-label=\"Sidebar schliessen\">&times;</button>' +\n'<nav class=\"sidebar-nav\"><ul>' +\n'<li><a href=\"./abonenten.html\">Startseite</a></li>' +\n'<li><a href=\"./konto.html\">Mein Konto</a></li>' +\n'<li><a href=\"./alle_analysen.html\">Analysen</a></li>' +\n'<li><a href=\"./Aktien-Monitor/aktien-monitor.html\">Aktien-Monitor</a></li>' +\n'<li><a href=\"./earnings_kalender.html\">Wirtschaftskalender</a></li>' +\n'</ul></nav>' +\n'</div>' +\n'<script src=\"../script.js?v=11\"></script>' +\n'</body></html>';\n\nreturn { json: { ...d, html: html } };"
      },
      "id": "90eedc7b-a3c0-421f-bae7-0cf7d3b48d94",
      "name": "HTML Renderer - Capitovo Stil1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        1152
      ]
    },
    {
      "parameters": {
        "jsCode": "var d = $input.item.json;\nvar displayName = d.company.length > 25 ? d.company.substring(0, 22) + '...' : d.company;\n\nvar svg = '<svg width=\"640\" height=\"360\" viewBox=\"0 0 640 360\" xmlns=\"http://www.w3.org/2000/svg\">' +\n'<defs>' +\n'<linearGradient id=\"bg\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"100%\">' +\n'<stop offset=\"0%\" stop-color=\"#0f172a\"/>' +\n'<stop offset=\"100%\" stop-color=\"#1e293b\"/>' +\n'</linearGradient>' +\n'<linearGradient id=\"accent\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"0%\">' +\n'<stop offset=\"0%\" stop-color=\"#3b82f6\"/>' +\n'<stop offset=\"100%\" stop-color=\"#0ea5e9\"/>' +\n'</linearGradient>' +\n'</defs>' +\n'<rect width=\"640\" height=\"360\" fill=\"url(#bg)\" rx=\"16\"/>' +\n'<g font-family=\"-apple-system, BlinkMacSystemFont, sans-serif\">' +\n'<text x=\"48\" y=\"72\" fill=\"#64748b\" font-size=\"12\" letter-spacing=\"0.1em\">' + d.ticker + ' · ' + d.sector.toUpperCase() + '</text>' +\n'<text x=\"48\" y=\"120\" fill=\"#f1f5f9\" font-size=\"36\" font-weight=\"700\">' + displayName + '</text>' +\n'<text x=\"48\" y=\"155\" fill=\"#94a3b8\" font-size=\"15\">Analytische Unternehmenseinordnung</text>' +\n'<rect x=\"48\" y=\"180\" width=\"80\" height=\"4\" fill=\"url(#accent)\" rx=\"2\"/>' +\n'<text x=\"48\" y=\"230\" fill=\"#64748b\" font-size=\"13\">Geschaeftsmodell · Fundamentaldaten · Bewertung</text>' +\n'<text x=\"48\" y=\"300\" fill=\"#475569\" font-size=\"11\">capitovo Research</text>' +\n'<text x=\"48\" y=\"320\" fill=\"#64748b\" font-size=\"10\">' + d.date + '</text>' +\n'</g>' +\n'</svg>';\n\nreturn { json: { ...d, svg: svg } };"
      },
      "id": "c2adf883-d01e-4ae8-bc1a-fc45c5e7487d",
      "name": "SVG Generator1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        1152
      ]
    },
    {
      "parameters": {
        "jsCode": "var d = $input.item.json;\n\nreturn {\n  json: {\n    ...d,\n    htmlPath: 'Abonenten/' + d.slug + '.html',\n    svgPath: 'data/vorschaubilder_analysen/' + d.slug + '_preview.svg',\n    htmlBase64: Buffer.from(d.html, 'utf8').toString('base64'),\n    svgBase64: Buffer.from(d.svg, 'utf8').toString('base64'),\n    htmlCommitMsg: 'Analyse: ' + d.company + ' (' + d.ticker + ') - ' + d.date,\n    svgCommitMsg: 'Vorschaubild: ' + d.company + ' - ' + d.date\n  }\n};"
      },
      "id": "e41eeb2d-5767-440c-98e0-b120736a3365",
      "name": "Base64 Encoder1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        1152
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/kw-f8/capitovo/contents/{{ $json.htmlPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "afce6bbc-21ee-42e1-a72a-d3a69a003ebd",
      "name": "Get HTML SHA2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        1408
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "iCAWAEqg10f57flt",
          "name": "GitHub Token"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var prevData = $('Base64 Encoder1').item.json;\nvar htmlResponse = $input.item.json;\n\n// SHA extrahieren falls vorhanden\nvar htmlSha = htmlResponse.sha || null;\n\nreturn {\n  json: {\n    ...prevData,\n    htmlSha: htmlSha\n  }\n};"
      },
      "id": "33540fb4-c621-4f3c-ac0a-a73f7208662b",
      "name": "Extract HTML SHA2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        1408
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/kw-f8/capitovo/contents/{{ $json.svgPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "6165ff6a-b9c3-4995-a589-78dadd944276",
      "name": "Get SVG SHA2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        1408
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "iCAWAEqg10f57flt",
          "name": "GitHub Token"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var prevData = $('Extract HTML SHA2').item.json;\nvar svgResponse = $input.item.json;\n\n// SHA extrahieren falls vorhanden\nvar svgSha = svgResponse.sha || null;\n\nreturn {\n  json: {\n    ...prevData,\n    svgSha: svgSha\n  }\n};"
      },
      "id": "6d1751e5-68b1-4a11-b476-09862c617a1e",
      "name": "Extract SVG SHA2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        1408
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/kw-f8/capitovo/contents/{{ $json.htmlPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.htmlSha ? '{\"message\": \"' + $json.htmlCommitMsg + '\", \"content\": \"' + $json.htmlBase64 + '\", \"sha\": \"' + $json.htmlSha + '\", \"branch\": \"main\"}' : '{\"message\": \"' + $json.htmlCommitMsg + '\", \"content\": \"' + $json.htmlBase64 + '\", \"branch\": \"main\"}' }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "b68316f6-766a-477b-9d7d-dbd588da9b65",
      "name": "GitHub Upload HTML1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        1648
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "iCAWAEqg10f57flt",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var prevData = $('Extract SVG SHA2').item.json;\nreturn { json: prevData };"
      },
      "id": "26aa4b91-27cd-4f65-8d0e-09dd562453c9",
      "name": "Pass Data After HTML1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        1648
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/kw-f8/capitovo/contents/{{ $json.svgPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.svgSha ? '{\"message\": \"' + $json.svgCommitMsg + '\", \"content\": \"' + $json.svgBase64 + '\", \"sha\": \"' + $json.svgSha + '\", \"branch\": \"main\"}' : '{\"message\": \"' + $json.svgCommitMsg + '\", \"content\": \"' + $json.svgBase64 + '\", \"branch\": \"main\"}' }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "49aee096-733b-46d4-9437-896c0f67f72c",
      "name": "GitHub Upload SVG1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        1648
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "iCAWAEqg10f57flt",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var prevData = $('Pass Data After HTML1').item.json;\nreturn { json: prevData };"
      },
      "id": "pass-data-svg1",
      "name": "Pass Data After SVG1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        1648
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/kw-f8/capitovo/contents/data/analysen.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "ab7c3c00-38c1-4fcd-b7de-873faa82f1ef",
      "name": "Get Analysen.json SHA1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        1648
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "iCAWAEqg10f57flt",
          "name": "GitHub Token"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Hole Daten aus dem vorherigen Pass-Node\nvar data = $('Pass Data After SVG1').item.json;\nvar resp = $input.item.json;\n\nvar analysenSha = resp && resp.sha ? resp.sha : null;\n\nvar existing = [];\ntry {\n  if (resp && resp.content) {\n    var decoded = Buffer.from(resp.content, 'base64').toString('utf8');\n    existing = JSON.parse(decoded);\n  }\n} catch(e) { existing = []; }\n\nfunction wordCountFromHtml(html) {\n  var text = String(html || '').replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim();\n  if (!text) return 0;\n  return text.split(' ').length;\n}\n\nfunction formatGermanLong(dateStr) {\n  try {\n    var parts = String(dateStr || '').split('-');\n    var y = parseInt(parts[0], 10);\n    var m = parseInt(parts[1], 10) - 1;\n    var d = parseInt(parts[2], 10);\n    var dt = new Date(Date.UTC(y, m, d));\n    return dt.toLocaleDateString('de-DE', { day: '2-digit', month: 'long', year: 'numeric' });\n  } catch(e) {\n    return String(dateStr || '');\n  }\n}\n\nvar id = String((data.ticker || '')).toLowerCase() + '-' + String(data.date || '');\nvar titleDate = formatGermanLong(data.date);\nvar link = data.htmlPath;\nvar image = data.svgPath;\n\nvar entry = {\n  id: id,\n  category: String(data.sector || '').toUpperCase(),\n  title: data.company + ' – Unternehmensanalyse (' + titleDate + ')',\n  summary: data.introText || ('Analytische Einordnung von ' + data.company + ' (' + data.ticker + ').'),\n  link: link,\n  image: image,\n  date: data.date,\n  author: 'capitovo Research',\n  tags: [data.company, data.ticker, data.sector, data.exchange].filter(Boolean),\n  published: true,\n  wordCount: wordCountFromHtml(data.analysisContent),\n  sourcesCount: data.source ? 1 : 0\n};\n\nfunction normPath(p) { return String(p || '').replace(/^\\.?\\/?/, ''); }\nvar targetLink = normPath(link);\n\nvar idx = -1;\nfor (var i = 0; i < existing.length; i++) {\n  var it = existing[i] || {};\n  if (String(it.id || '') === id) { idx = i; break; }\n  if (normPath(it.link) === targetLink) { idx = i; break; }\n}\n\nif (idx >= 0) {\n  existing[idx] = Object.assign({}, existing[idx], entry);\n} else {\n  var insertAt = 0;\n  if (existing[0] && String(existing[0].category || '').toUpperCase() === 'VORLAGE') insertAt = 1;\n  existing.splice(insertAt, 0, entry);\n}\n\nvar updatedJson = JSON.stringify(existing, null, 2);\nvar analysenBase64 = Buffer.from(updatedJson, 'utf8').toString('base64');\n\nreturn {\n  json: Object.assign({}, data, {\n    analysenPath: 'data/analysen.json',\n    analysenSha: analysenSha,\n    analysenBase64: analysenBase64,\n    analysenCommitMsg: 'Analysen-Katalog: ' + data.company + ' (' + data.ticker + ') - ' + data.date\n  })\n};"
      },
      "id": "08c7650a-0e3c-4609-bfd8-0d179f8e02c4",
      "name": "Build Analysen.json1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2224,
        1648
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/kw-f8/capitovo/contents/{{ $json.analysenPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.analysenCommitMsg }}\",\n  \"content\": \"{{ $json.analysenBase64 }}\",\n  \"sha\": \"{{ $json.analysenSha }}\",\n  \"branch\": \"main\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "cf5d5923-6c2c-4e19-b369-d5cfe3818536",
      "name": "GitHub Upload Analysen.json1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2448,
        1648
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "iCAWAEqg10f57flt",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var d = $('Build Analysen.json1').item.json;\n\nreturn {\n  json: {\n    status: 'PUBLISHED',\n    message: d.company + '-Analyse erfolgreich veroeffentlicht!',\n    company: d.company,\n    ticker: d.ticker,\n    date: d.date,\n    liveUrl: 'https://kw-f8.github.io/capitovo/' + d.htmlPath,\n    svgUrl: 'https://kw-f8.github.io/capitovo/' + d.svgPath,\n    files: {\n      html: d.htmlPath,\n      svg: d.svgPath\n    },\n    catalogEntry: {\n      id: d.ticker.toLowerCase() + '-' + d.date.replace(/-/g, ''),\n      category: d.sector,\n      title: d.company + ' - Unternehmensanalyse',\n      summary: 'Analytische Einordnung von ' + d.company + ' (' + d.ticker + ')',\n      link: d.htmlPath,\n      image: d.svgPath,\n      date: d.date,\n      author: 'capitovo Research'\n    }\n  }\n};"
      },
      "id": "4bf2f7fc-b465-476d-a59a-0b1a63c8511a",
      "name": "Output2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2672,
        1648
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Input - Fertige Analyse1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config - Test Analyse": {
      "main": [
        [
          {
            "node": "Get HTML SHA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete HTML": {
      "main": [
        [
          {
            "node": "Pass After HTML Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass After HTML Delete": {
      "main": [
        [
          {
            "node": "Get SVG SHA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete SVG": {
      "main": [
        [
          {
            "node": "Pass After SVG Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass After SVG Delete": {
      "main": [
        [
          {
            "node": "Get Analysen.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Analysen.json": {
      "main": [
        [
          {
            "node": "Filter Analysen.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Analysen.json": {
      "main": [
        [
          {
            "node": "Update Analysen.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Analysen.json": {
      "main": [
        [
          {
            "node": "Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get HTML SHA1": {
      "main": [
        [
          {
            "node": "Extract HTML SHA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract HTML SHA1": {
      "main": [
        [
          {
            "node": "Delete HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SVG SHA1": {
      "main": [
        [
          {
            "node": "Extract SVG SHA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract SVG SHA1": {
      "main": [
        [
          {
            "node": "Delete SVG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input - Fertige Analyse1": {
      "main": [
        [
          {
            "node": "HTML Renderer - Capitovo Stil1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Renderer - Capitovo Stil1": {
      "main": [
        [
          {
            "node": "SVG Generator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SVG Generator1": {
      "main": [
        [
          {
            "node": "Base64 Encoder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base64 Encoder1": {
      "main": [
        [
          {
            "node": "Get HTML SHA2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get HTML SHA2": {
      "main": [
        [
          {
            "node": "Extract HTML SHA2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract HTML SHA2": {
      "main": [
        [
          {
            "node": "Get SVG SHA2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SVG SHA2": {
      "main": [
        [
          {
            "node": "Extract SVG SHA2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract SVG SHA2": {
      "main": [
        [
          {
            "node": "GitHub Upload HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Upload HTML1": {
      "main": [
        [
          {
            "node": "Pass Data After HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Data After HTML1": {
      "main": [
        [
          {
            "node": "GitHub Upload SVG1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Upload SVG1": {
      "main": [
        [
          {
            "node": "Pass Data After SVG1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Data After SVG1": {
      "main": [
        [
          {
            "node": "Get Analysen.json SHA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Analysen.json SHA1": {
      "main": [
        [
          {
            "node": "Build Analysen.json1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Analysen.json1": {
      "main": [
        [
          {
            "node": "GitHub Upload Analysen.json1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Upload Analysen.json1": {
      "main": [
        [
          {
            "node": "Output2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "31048027-bf81-46f4-9770-cacd1975baf8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e6dd7bd1638bd2724994ec7815d8c03087481a498a8122e7ad8e8a16988a92b"
  },
  "id": "MXSYkVkGvEWw37tC",
  "tags": [
    {
      "updatedAt": "2026-01-23T18:08:39.930Z",
      "createdAt": "2026-01-23T18:08:39.930Z",
      "id": "YlQvs5kNq8EEC359",
      "name": "test"
    },
    {
      "updatedAt": "2025-12-27T13:08:15.535Z",
      "createdAt": "2025-12-27T13:08:15.535Z",
      "id": "uOHqDzYBQsUIXFcP",
      "name": "funktionsfähig"
    }
  ]
}