n8n/n8n_analyse_generator_workflow_v9.json
{
  "name": "Capitovo Analyse Generator v9 - Research-Grade Architecture",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [100, 400]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// INPUT - Nur Identifikation\n// =====================================================\nreturn {\n  json: {\n    company: 'Apple',\n    ticker: 'AAPL',\n    exchange: 'NASDAQ',\n    sector: 'Technologie',\n    currency: 'USD',\n    slug: 'apple',\n    pipelineVersion: 'v10.0-publish-policy',\n    date: new Date().toISOString().split('T')[0]\n  }\n};"
      },
      "id": "input-data",
      "name": "0. Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.alphavantage.co/query?function=OVERVIEW&symbol={{ $json.ticker }}&apikey=YO8C9ZRNBDVLAZ83",
        "options": { "timeout": 30000 }
      },
      "id": "api-overview",
      "name": "1a. API Overview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var prev = $('0. Input').item.json;\nvar resp = $input.item.json;\nreturn { json: { ...prev, overviewResponse: resp } };"
      },
      "id": "store-overview",
      "name": "1b. Store",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.alphavantage.co/query?function=INCOME_STATEMENT&symbol={{ $json.ticker }}&apikey=YO8C9ZRNBDVLAZ83",
        "options": { "timeout": 30000 }
      },
      "id": "api-income",
      "name": "1c. API Income",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// PHASE 1: FAKTENINSTANZ (rein mechanisch)\n// Aufgabe: Zahlen sammeln, Inkonsistenzen markieren\n// VERBOTEN: Jede Interpretation, jeder Fliesstext\n// =====================================================\n\nvar prev = $('1b. Store').item.json;\nvar incomeResp = $input.item.json;\nvar overviewResp = prev.overviewResponse;\nvar input = prev;\n\nfunction safeNum(val) {\n  if (val === undefined || val === null || val === 'None' || val === '-' || val === '') return null;\n  var n = parseFloat(String(val).replace(/,/g, ''));\n  return isFinite(n) ? n : null;\n}\n\nfunction pct(val) {\n  var n = safeNum(val);\n  if (n === null) return null;\n  return Math.abs(n) <= 1 ? Math.round(n * 1000) / 10 : Math.round(n * 10) / 10;\n}\n\nvar hasOverview = overviewResp && overviewResp.Symbol && !overviewResp.Note;\nvar hasIncome = incomeResp && incomeResp.annualReports && !incomeResp.Note;\nvar ts = new Date().toISOString();\n\n// ROHDATEN - keine Interpretation\nvar facts = {\n  meta: { source: 'Alpha Vantage API', timestamp: ts, quality: hasOverview && hasIncome ? 'complete' : 'partial' },\n  company: { name: input.company, ticker: input.ticker, sector: input.sector, currency: input.currency },\n  fundamentals: {},\n  valuation: {},\n  margins: {},\n  growth: {},\n  history: []\n};\n\nif (hasOverview) {\n  var o = overviewResp;\n  facts.company.industry = o.Industry || null;\n  facts.company.description = o.Description || null;\n  \n  facts.fundamentals = {\n    marketCap: safeNum(o.MarketCapitalization),\n    revenue: safeNum(o.RevenueTTM),\n    ebitda: safeNum(o.EBITDA),\n    eps: safeNum(o.EPS),\n    dividendYield: pct(o.DividendYield),\n    sharesOutstanding: safeNum(o.SharesOutstanding)\n  };\n  \n  facts.valuation = {\n    pe: safeNum(o.PERatio),\n    forwardPE: safeNum(o.ForwardPE),\n    peg: safeNum(o.PEGRatio),\n    pb: safeNum(o.PriceToBookRatio),\n    ps: safeNum(o.PriceToSalesRatioTTM),\n    evEbitda: safeNum(o.EVToEBITDA),\n    evRevenue: safeNum(o.EVToRevenue),\n    beta: safeNum(o.Beta),\n    high52w: safeNum(o['52WeekHigh']),\n    low52w: safeNum(o['52WeekLow'])\n  };\n  \n  facts.margins = {\n    gross: pct(o.GrossProfitMargin),\n    operating: pct(o.OperatingMarginTTM),\n    net: pct(o.ProfitMargin),\n    roe: pct(o.ReturnOnEquityTTM),\n    roa: pct(o.ReturnOnAssetsTTM)\n  };\n  \n  facts.growth = {\n    revenueQoQ: pct(o.QuarterlyRevenueGrowthYOY),\n    earningsQoQ: pct(o.QuarterlyEarningsGrowthYOY)\n  };\n}\n\nif (hasIncome) {\n  facts.history = incomeResp.annualReports.slice(0, 5).map(function(r) {\n    return {\n      year: r.fiscalDateEnding ? r.fiscalDateEnding.substring(0, 4) : null,\n      revenue: safeNum(r.totalRevenue),\n      netIncome: safeNum(r.netIncome),\n      operatingIncome: safeNum(r.operatingIncome)\n    };\n  });\n}\n\n// =====================================================\n// ANOMALIE-ERKENNUNG (mechanisch, regelbasiert)\n// =====================================================\nvar anomalies = [];\n\n// Wachstum\nif (facts.growth.earningsQoQ !== null && Math.abs(facts.growth.earningsQoQ) > 50) {\n  anomalies.push({\n    field: 'earningsQoQ',\n    value: facts.growth.earningsQoQ,\n    flag: 'EXTREM',\n    note: 'Gewinnwachstum >50% - Basiseffekt oder Einmaleffekt pruefen'\n  });\n}\n\nif (facts.growth.revenueQoQ !== null && Math.abs(facts.growth.revenueQoQ) > 30) {\n  anomalies.push({\n    field: 'revenueQoQ',\n    value: facts.growth.revenueQoQ,\n    flag: 'AUFFAELLIG',\n    note: 'Umsatzwachstum >30% - Nachhaltigkeit pruefen'\n  });\n}\n\n// ROE\nif (facts.margins.roe !== null && (facts.margins.roe < 5 || facts.margins.roe > 100)) {\n  anomalies.push({\n    field: 'roe',\n    value: facts.margins.roe,\n    flag: 'UNGEWOEHNLICH',\n    note: 'ROE ausserhalb 5-100% - Kapitalstruktur oder Datenqualitaet pruefen'\n  });\n}\n\n// Bewertung\nif (facts.valuation.pe !== null && facts.valuation.pe > 50) {\n  anomalies.push({\n    field: 'pe',\n    value: facts.valuation.pe,\n    flag: 'HOCH',\n    note: 'KGV >50 - impliziert sehr hohes Wachstum oder Sondersituation'\n  });\n}\n\nif (facts.valuation.pb !== null && facts.valuation.pb > 30) {\n  anomalies.push({\n    field: 'pb',\n    value: facts.valuation.pb,\n    flag: 'EXTREM',\n    note: 'P/B >30 - Asset-Light-Modell oder Ueberbewertung'\n  });\n}\n\n// Margen-Konsistenz\nif (facts.margins.gross !== null && facts.margins.net !== null) {\n  if (facts.margins.net > facts.margins.gross) {\n    anomalies.push({\n      field: 'margins',\n      value: 'net > gross',\n      flag: 'INKONSISTENT',\n      note: 'Nettomarge hoeher als Bruttomarge - Datenfehler wahrscheinlich'\n    });\n  }\n}\n\n// Historie-Trend\nif (facts.history.length >= 3) {\n  var revTrend = [];\n  for (var i = 0; i < facts.history.length - 1; i++) {\n    if (facts.history[i].revenue && facts.history[i+1].revenue) {\n      revTrend.push(facts.history[i].revenue > facts.history[i+1].revenue ? 'up' : 'down');\n    }\n  }\n  var downs = revTrend.filter(function(t) { return t === 'down'; }).length;\n  if (downs >= 2) {\n    anomalies.push({\n      field: 'revenue_trend',\n      value: downs + ' Jahre ruecklaeufig',\n      flag: 'WARNUNG',\n      note: 'Umsatz mehrfach ruecklaeufig - strukturelles Problem moeglich'\n    });\n  }\n}\n\nreturn {\n  json: {\n    input: input,\n    facts: facts,\n    anomalies: anomalies,\n    phase: 'P1_FACTS_COMPLETE'\n  }\n};"
      },
      "id": "facts-engine",
      "name": "1d. Fakteninstanz",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// FAKTEN-FORMATIERUNG fuer Analyseinstanz\n// Strukturierter Input - KEIN Fliesstext\n// =====================================================\n\nvar input = $input.item.json;\nvar f = input.facts;\nvar a = input.anomalies;\n\nfunction fmt(v, suffix) {\n  if (v === null) return 'n/v';\n  if (typeof v === 'number') {\n    if (Math.abs(v) >= 1e12) return (v/1e12).toFixed(1) + ' Bio';\n    if (Math.abs(v) >= 1e9) return (v/1e9).toFixed(1) + ' Mrd';\n    if (Math.abs(v) >= 1e6) return (v/1e6).toFixed(1) + ' Mio';\n    return v.toLocaleString('de-DE');\n  }\n  return String(v) + (suffix || '');\n}\n\nvar factsBlock = [\n  '=== FAKTENBLATT: ' + f.company.name + ' (' + f.company.ticker + ') ===',\n  'Quelle: ' + f.meta.source + ' | Stand: ' + f.meta.timestamp.split('T')[0],\n  'Datenqualitaet: ' + f.meta.quality,\n  '',\n  '--- FUNDAMENTALS ---',\n  'Marktkapitalisierung: ' + fmt(f.fundamentals.marketCap) + ' ' + f.company.currency,\n  'Umsatz (TTM): ' + fmt(f.fundamentals.revenue) + ' ' + f.company.currency,\n  'EBITDA: ' + fmt(f.fundamentals.ebitda) + ' ' + f.company.currency,\n  'EPS: ' + fmt(f.fundamentals.eps) + ' ' + f.company.currency,\n  'Dividendenrendite: ' + (f.fundamentals.dividendYield !== null ? f.fundamentals.dividendYield + '%' : 'n/v'),\n  '',\n  '--- BEWERTUNG ---',\n  'KGV: ' + fmt(f.valuation.pe),\n  'Forward KGV: ' + fmt(f.valuation.forwardPE),\n  'PEG: ' + fmt(f.valuation.peg),\n  'P/B: ' + fmt(f.valuation.pb),\n  'P/S: ' + fmt(f.valuation.ps),\n  'EV/EBITDA: ' + fmt(f.valuation.evEbitda),\n  'EV/Revenue: ' + fmt(f.valuation.evRevenue),\n  'Beta: ' + fmt(f.valuation.beta),\n  '52W Hoch: ' + fmt(f.valuation.high52w) + ' ' + f.company.currency,\n  '52W Tief: ' + fmt(f.valuation.low52w) + ' ' + f.company.currency,\n  '',\n  '--- MARGEN & RENDITEN ---',\n  'Bruttomarge: ' + (f.margins.gross !== null ? f.margins.gross + '%' : 'n/v'),\n  'Operative Marge: ' + (f.margins.operating !== null ? f.margins.operating + '%' : 'n/v'),\n  'Nettomarge: ' + (f.margins.net !== null ? f.margins.net + '%' : 'n/v'),\n  'ROE: ' + (f.margins.roe !== null ? f.margins.roe + '%' : 'n/v'),\n  'ROA: ' + (f.margins.roa !== null ? f.margins.roa + '%' : 'n/v'),\n  '',\n  '--- WACHSTUM (Quartal YoY) ---',\n  'Umsatzwachstum: ' + (f.growth.revenueQoQ !== null ? f.growth.revenueQoQ + '%' : 'n/v'),\n  'Gewinnwachstum: ' + (f.growth.earningsQoQ !== null ? f.growth.earningsQoQ + '%' : 'n/v'),\n  ''\n];\n\nif (f.history && f.history.length > 0) {\n  factsBlock.push('--- HISTORIE ---');\n  for (var i = 0; i < f.history.length; i++) {\n    var h = f.history[i];\n    factsBlock.push(h.year + ': Umsatz ' + fmt(h.revenue) + ', Nettogewinn ' + fmt(h.netIncome));\n  }\n  factsBlock.push('');\n}\n\nif (a && a.length > 0) {\n  factsBlock.push('=== ANOMALIEN (automatisch erkannt) ===');\n  for (var j = 0; j < a.length; j++) {\n    factsBlock.push('[' + a[j].flag + '] ' + a[j].field + ': ' + a[j].value + ' - ' + a[j].note);\n  }\n  factsBlock.push('');\n}\n\nfactsBlock.push('=== ENDE FAKTENBLATT ===');\n\nreturn {\n  json: {\n    ...input,\n    factsBlock: factsBlock.join('\\n')\n  }\n};"
      },
      "id": "facts-formatter",
      "name": "1e. Facts Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer 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" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.2,\n  \"max_tokens\": 6000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Du bist ein SENIOR EQUITY ANALYST mit 15 Jahren Erfahrung. Deine Aufgabe ist ANALYSE, nicht Beschreibung.\\n\\n=== FUNDAMENTALER UNTERSCHIED ===\\nBESCHREIBUNG (VERBOTEN): 'Das KGV betraegt 35, das ist hoch fuer den Sektor.'\\nANALYSE (GEFORDERT): 'Das KGV von 35 impliziert, dass der Markt zweistelliges Gewinnwachstum fuer die naechsten 3-5 Jahre einpreist. Bei aktuellem EPS-Wachstum von X% waere das nur gerechtfertigt, wenn [konkrete Bedingung]. Das zentrale Risiko ist daher [X].'\\n\\n=== ABSOLUTE PFLICHT ===\\nDu MUSST jeden Abschnitt VOLLSTAENDIG ausformulieren.\\nKEINE Platzhalter wie '[Text folgt]' oder '...'\\nKEINE abgebrochenen Saetze\\nKEINE offenen Gedankengaenge\\nJeder begonnene Punkt MUSS abgeschlossen werden.\\n\\n=== QUELLEN-MINDESTSTANDARD ===\\nVERWENDE fuer deine Recherche MINDESTENS:\\n- 1 PRIMAERQUELLE (Investor Relations, SEC Filing, 10-K/10-Q, Earnings Call Transcript)\\n- 1 SEKUNDAERQUELLE (Reuters, Bloomberg, WSJ, FT, Morningstar, Research-Report)\\nNEWS-QUELLEN (finanzen.net, onvista, etc.) nur als ERGAENZUNG, nicht als Hauptquelle.\\n\\n=== DEINE KERNAUFGABEN ===\\n1. KAUSALE ZUSAMMENHAENGE herstellen (Warum ist X so? Was folgt daraus?)\\n2. PRIORITAETEN setzen (Was ist ENTSCHEIDEND vs. nur interessant?)\\n3. WIDERSPRUECHE erklaeren (Hohe Marge + niedriger ROE = warum?)\\n4. UNSICHERHEITEN explizit benennen (Was wissen wir NICHT?)\\n5. SZENARIEN durchdenken (Was muesste passieren, damit X eintritt?)\\n\\n=== VERBOTEN ===\\n- Reine Zahlenwiedergabe ohne Interpretation\\n- Generische Aussagen ('typisch fuer Tech-Sektor')\\n- Aufzaehlungen ohne Gewichtung\\n- Kursziele, Kauf-/Verkaufsempfehlungen\\n- Superlative ('fuehrend', 'einzigartig', 'dominant')\\n- Unvollstaendige Saetze oder Abschnitte\\n\\n=== QUALITAETSSTANDARD ===\\nJeder Absatz muss eine THESE enthalten, die falsifizierbar ist.\\nJede These muss mit Daten BEGRUENDET sein.\\nJede Begruendung muss EINSCHRAENKUNGEN nennen.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify('AUFGABE: Erstelle eine VOLLSTAENDIGE analytische Unternehmenseinordnung.\\n\\n' + $json.factsBlock + '\\n\\n=== STRUKTUR (strikt einhalten, ALLE Sektionen vollstaendig) ===\\n\\n1. GESCHAEFTSMODELL-ANALYSE (250+ Woerter)\\nNICHT: Was macht das Unternehmen?\\nSONDERN: Was sind die OEKONOMISCHEN TREIBER des Geschaeftsmodells?\\n- Welche 2-3 Faktoren bestimmen 80% des Unternehmenswerts?\\n- Wo liegt der GRENZNUTZEN neuer Produkte/Services?\\n- Welche ABHAENGIGKEITEN existieren?\\n- Was passiert, wenn der Hauptumsatztraeger stagniert?\\n\\n2. FUNDAMENTALDATEN-EINORDNUNG (250+ Woerter)\\nNICHT: Aufzaehlung der Kennzahlen\\nSONDERN: Was bedeuten die Zahlen FUER DIE ZUKUNFT?\\n- Welche Kennzahl ist ENTSCHEIDEND fuer die naechsten 3-5 Jahre?\\n- ANOMALIEN: Fuer JEDE im Faktenblatt markierte Anomalie MUSS eine kausale Erklaerung geliefert werden. Wenn keine sichere Erklaerung moeglich: explizit als Unsicherheit kennzeichnen mit Begruendung WARUM unklar.\\n- Wie nachhaltig sind die aktuellen Margen?\\n\\n3. BEWERTUNGS-IMPLIKATIONEN (200+ Woerter)\\nNICHT: KGV ist hoch/niedrig\\nSONDERN: Was preist der Markt ein?\\n- Welches Wachstum ist bei aktuellem KGV impliziert?\\n- Was MUESSTE PASSIEREN, damit die Bewertung nicht mehr gerechtfertigt ist?\\n\\n4. RISIKO-HIERARCHIE (150+ Woerter)\\nNICHT: Liste von Risiken\\nSONDERN: Priorisierte Analyse\\n- Was ist das EINE Risiko, das den Investment Case zerstoeren wuerde?\\n- Zeithorizont: Kurzfristig vs. strukturell?\\n\\n5. SACHLICHE GESAMTEINORDNUNG (PFLICHT, 200+ Woerter)\\nDiese Sektion ist ZWINGEND ERFORDERLICH. Sie muss enthalten:\\n- Was ist STRUKTURELL STARK an diesem Unternehmen?\\n- Was ist STRUKTURELL BEGRENZT?\\n- Welche ANNAHMEN tragen die aktuelle Bewertung?\\n- Welche dieser Annahmen sind UNSICHER?\\nKEINE Empfehlung. KEINE Prognose. NUR sachliche Einordnung.\\n\\n=== MINDESTANFORDERUNGEN ===\\n- Gesamtlaenge: 900-1200 Woerter\\n- ALLE 5 Sektionen muessen vollstaendig sein\\n- KEINE abgebrochenen Saetze\\n- JEDE Anomalie muss adressiert werden\\n- Die GESAMTEINORDNUNG am Ende ist PFLICHT\\n- QUELLEN: Mind. 1 Primaerquelle + 1 Sekundaerquelle\\n\\nEine unvollstaendige Analyse ist WERTLOS.') }}\n    }\n  ],\n  \"return_citations\": true\n}",
        "options": { "timeout": 180000 }
      },
      "id": "phase2-analyst",
      "name": "P2. Analyseinstanz",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var prev = $('1e. Facts Format').item.json;\nvar resp = $input.item.json;\n\nvar content = '';\nvar citations = [];\n\nif (resp && resp.choices && resp.choices[0] && resp.choices[0].message) {\n  content = resp.choices[0].message.content || '';\n  content = content.replace(/\\*\\*([^*]+)\\*\\*/g, '$1').replace(/\\*([^*]+)\\*/g, '$1').replace(/\\[\\d+\\]/g, '').trim();\n  citations = resp.citations || [];\n}\n\nreturn {\n  json: {\n    ...prev,\n    analysisV1: content,\n    citationsP2: citations,\n    phase: 'P2_ANALYSIS_COMPLETE'\n  }\n};"
      },
      "id": "phase2-extract",
      "name": "P2. Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer 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" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.15,\n  \"max_tokens\": 5000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Du bist ein KRITISCHER REVIEWER fuer Finanzanalysen. Dein Job ist es, SCHWAECHEN aufzudecken - nicht zu loben.\\n\\n=== DEINE PRUEFKRITERIEN ===\\n\\n1. VOLLSTAENDIGKEIT-CHECK (WICHTIGSTER PUNKT)\\n- Sind ALLE 5 Pflicht-Sektionen vorhanden?\\n- Gibt es abgebrochene Saetze oder Platzhalter?\\n- Fehlt die SACHLICHE GESAMTEINORDNUNG am Ende?\\n- Wenn ja: [UNVOLLSTAENDIG] markieren - das ist ein KRITISCHER Fehler\\n\\n2. SUBSTANZ-CHECK\\n- Enthaelt der Absatz eine THESE oder nur Beschreibung?\\n- Ist die These BEGRUENDET oder nur behauptet?\\n- Gibt es EVIDENZ oder nur Meinung?\\n\\n3. ANOMALIEN-CHECK\\n- Werden ALLE im Faktenblatt markierten Anomalien adressiert?\\n- Wird fuer jede Anomalie eine ERKLAERUNG oder UNSICHERHEIT benannt?\\n- Wenn Anomalien ignoriert werden: [LUECKE] markieren\\n\\n4. GENERIK-CHECK\\n- Koennte dieser Satz fuer JEDES Unternehmen der Branche gelten?\\n- Wenn ja: [GENERISCH] markieren\\n\\n5. COMPLIANCE-CHECK\\n- Enthaltene Kursziele? Implizite Empfehlungen?\\n- Bewertende Sprache ('attraktiv', 'guenstig')?\\n\\n=== OUTPUT-FORMAT ===\\nDu musst ZWEI Dinge liefern:\\n\\nTEIL A: KRITIK-PROTOKOLL\\nListe jeden problematischen Abschnitt mit:\\n[UNVOLLSTAENDIG/SCHWACH/GENERISCH/UNBEGRUENDET/LUECKE/COMPLIANCE]\\nZitat des Problems\\nWas fehlt / was waere besser\\n\\nTEIL B: UEBERARBEITETE ANALYSE\\nSchreibe die gesamte Analyse NEU - VOLLSTAENDIG mit allen Verbesserungen.\\nDie ueberarbeitete Version MUSS:\\n- ALLE 5 Sektionen enthalten (inkl. SACHLICHE GESAMTEINORDNUNG)\\n- 900-1200 Woerter haben\\n- Alle Kritikpunkte adressieren\\n- ALLE Anomalien behandeln\\n- KEINE abgebrochenen Saetze haben\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify('PRUEFE UND UEBERARBEITE DIESE ANALYSE KRITISCH:\\n\\n=== FAKTENGRUNDLAGE ===\\n' + $json.factsBlock + '\\n\\n=== ZU PRUEFENDE ANALYSE ===\\n' + $json.analysisV1 + '\\n\\n=== AUFGABE ===\\n1. Erstelle zunaechst das KRITIK-PROTOKOLL (mind. 5 konkrete Kritikpunkte)\\n   BESONDERS PRUEFEN: Vollstaendigkeit, Anomalie-Behandlung, Gesamteinordnung vorhanden?\\n2. Dann die UEBERARBEITETE ANALYSE (900-1200 Woerter, ALLE 5 Sektionen)\\n\\nWICHTIG: Wenn die Originalanalyse unvollstaendig ist, MUSST du sie vollstaendig neu schreiben.\\nDie SACHLICHE GESAMTEINORDNUNG am Ende ist PFLICHT.') }}\n    }\n  ]\n}",
        "options": { "timeout": 180000 }
      },
      "id": "phase3-critic",
      "name": "P3. Kritische Pruefinstanz",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1900, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// PHASE 3 EXTRAKTION - Kritik + ueberarbeitete Analyse\n// =====================================================\n\nvar prev = $('P2. Extract').item.json;\nvar resp = $input.item.json;\n\nvar fullResponse = '';\nvar critique = '';\nvar revisedAnalysis = '';\n\nif (resp && resp.choices && resp.choices[0] && resp.choices[0].message) {\n  fullResponse = resp.choices[0].message.content || '';\n  fullResponse = fullResponse.replace(/\\*\\*([^*]+)\\*\\*/g, '$1').replace(/\\*([^*]+)\\*/g, '$1').replace(/\\[\\d+\\]/g, '').trim();\n  \n  // Trenne Kritik von ueberarbeiteter Analyse\n  var markers = [\n    'TEIL B:',\n    'UEBERARBEITETE ANALYSE',\n    'ÜBERARBEITETE ANALYSE',\n    '=== UEBERARBEITETE',\n    '=== ÜBERARBEITETE',\n    'Teil B:'\n  ];\n  \n  var splitIndex = -1;\n  for (var i = 0; i < markers.length; i++) {\n    var idx = fullResponse.indexOf(markers[i]);\n    if (idx !== -1) {\n      splitIndex = idx;\n      break;\n    }\n  }\n  \n  if (splitIndex !== -1) {\n    critique = fullResponse.substring(0, splitIndex).trim();\n    revisedAnalysis = fullResponse.substring(splitIndex).trim();\n    // Entferne den Marker selbst\n    revisedAnalysis = revisedAnalysis.replace(/^(TEIL B:|UEBERARBEITETE ANALYSE|ÜBERARBEITETE ANALYSE|=== UEBERARBEITETE.*|=== ÜBERARBEITETE.*|Teil B:)/i, '').trim();\n  } else {\n    // Fallback: Alles ist Analyse\n    revisedAnalysis = fullResponse;\n    critique = 'Kritik-Protokoll konnte nicht extrahiert werden.';\n  }\n}\n\n// Zaehle Kritikpunkte\nvar critiqueLines = critique.split('\\n');\nvar critiqueCount = 0;\nvar critiqueTypes = { schwach: 0, generisch: 0, unbegruendet: 0, luecke: 0, compliance: 0 };\n\nfor (var j = 0; j < critiqueLines.length; j++) {\n  var line = critiqueLines[j].toLowerCase();\n  if (line.indexOf('[schwach]') !== -1) { critiqueCount++; critiqueTypes.schwach++; }\n  if (line.indexOf('[generisch]') !== -1) { critiqueCount++; critiqueTypes.generisch++; }\n  if (line.indexOf('[unbegruendet]') !== -1) { critiqueCount++; critiqueTypes.unbegruendet++; }\n  if (line.indexOf('[luecke]') !== -1 || line.indexOf('[lücke]') !== -1) { critiqueCount++; critiqueTypes.luecke++; }\n  if (line.indexOf('[compliance]') !== -1) { critiqueCount++; critiqueTypes.compliance++; }\n}\n\nreturn {\n  json: {\n    ...prev,\n    critique: critique,\n    critiqueCount: critiqueCount,\n    critiqueTypes: critiqueTypes,\n    analysisV2: revisedAnalysis,\n    phase: 'P3_CRITIQUE_COMPLETE'\n  }\n};"
      },
      "id": "phase3-extract",
      "name": "P3. Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2100, 400]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// QUELLEN-VALIDIERUNG\n// Unterscheidet Primaer/Sekundaer/News-Quellen\n// =====================================================\n\nvar input = $input.item.json;\nvar citations = input.citationsP2 || [];\n\n// Quellenkategorien\nvar primary = []; // 10-K, IR, SEC, Official\nvar secondary = []; // Reuters, Bloomberg, WSJ, FT, Research\nvar news = []; // Blogs, Retail-News\nvar forbidden = []; // Reddit, Social Media\n\nvar primaryPatterns = ['sec.gov', '10-k', '10-q', 'investor.', 'ir.', 'annual report', 'earnings call'];\nvar secondaryPatterns = ['reuters.com', 'bloomberg.com', 'wsj.com', 'ft.com', 'morningstar.com', 'statista.com', 'mckinsey', 'deloitte', 'gartner', 'idc.com'];\nvar forbiddenPatterns = ['reddit', 'twitter', 'facebook', 'tiktok', 'youtube', 'forum', 'blog'];\nvar newsPatterns = ['news', 'insider', 'sharedeals', 'finanzen.net', 'onvista', 'wallstreet-online', 'apfelnews', 'macerkopf', 'markteinblicke'];\n\nfor (var i = 0; i < citations.length; i++) {\n  var url = citations[i].toLowerCase();\n  var categorized = false;\n  \n  // Check forbidden first\n  for (var f = 0; f < forbiddenPatterns.length; f++) {\n    if (url.indexOf(forbiddenPatterns[f]) !== -1) {\n      forbidden.push(citations[i]);\n      categorized = true;\n      break;\n    }\n  }\n  if (categorized) continue;\n  \n  // Check primary\n  for (var p = 0; p < primaryPatterns.length; p++) {\n    if (url.indexOf(primaryPatterns[p]) !== -1) {\n      primary.push(citations[i]);\n      categorized = true;\n      break;\n    }\n  }\n  if (categorized) continue;\n  \n  // Check secondary\n  for (var s = 0; s < secondaryPatterns.length; s++) {\n    if (url.indexOf(secondaryPatterns[s]) !== -1) {\n      secondary.push(citations[i]);\n      categorized = true;\n      break;\n    }\n  }\n  if (categorized) continue;\n  \n  // Check news\n  for (var n = 0; n < newsPatterns.length; n++) {\n    if (url.indexOf(newsPatterns[n]) !== -1) {\n      news.push(citations[i]);\n      categorized = true;\n      break;\n    }\n  }\n  if (categorized) continue;\n  \n  // Default: news\n  news.push(citations[i]);\n}\n\n// Berechne Quellenqualitaet\nvar sourceScore = 0;\nsourceScore += primary.length * 3;\nsourceScore += secondary.length * 2;\nsourceScore += news.length * 0.5;\nsourceScore -= forbidden.length * 5;\n\nvar sourceQuality = 'niedrig';\nif (sourceScore >= 8 && primary.length >= 1) sourceQuality = 'hoch';\nelse if (sourceScore >= 4) sourceQuality = 'mittel';\n\nvar sourceIssues = [];\nif (primary.length === 0) {\n  sourceIssues.push('KRITISCH: Keine Primaerquellen (IR, SEC, 10-K)');\n}\nif (forbidden.length > 0) {\n  sourceIssues.push('VERBOTEN: ' + forbidden.length + ' unzulaessige Quellen');\n}\nif (news.length > secondary.length + primary.length) {\n  sourceIssues.push('WARNUNG: Mehr News-Quellen als Research-Quellen');\n}\n\n// Filtere Quellen fuer Output (nur akzeptable)\nvar acceptedSources = primary.concat(secondary).concat(news.slice(0, 3));\n\nreturn {\n  json: {\n    ...input,\n    sourceValidation: {\n      primary: primary,\n      secondary: secondary,\n      news: news,\n      forbidden: forbidden,\n      score: sourceScore,\n      quality: sourceQuality,\n      issues: sourceIssues,\n      accepted: acceptedSources.slice(0, 8)\n    },\n    phase: 'P3_SOURCES_VALIDATED'\n  }\n};"
      },
      "id": "source-validator",
      "name": "P3b. Quellenvalidierung",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2300, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer 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" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.1,\n  \"max_tokens\": 4000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Du bist ein REDAKTEUR fuer einen professionellen Finanz-Newsletter.\\n\\nDeine Aufgaben:\\n1. Lesbarkeit und Stringenz verbessern\\n2. KURZE EINORDNUNG FUER EINSTEIGER hinzufuegen (max 3-4 Saetze)\\n\\n=== ERLAUBT ===\\n- Grammatik korrigieren\\n- Satzstruktur verbessern\\n- Absaetze besser gliedern\\n- Uebergaenge verbessern\\n- Wiederholungen entfernen\\n- Klarere Formulierungen\\n\\n=== STRIKT VERBOTEN ===\\n- Inhaltliche Aenderungen\\n- Neue Fakten oder Zahlen\\n- Neue Bewertungen\\n- Empfehlungen hinzufuegen\\n- Kursziele einfuegen\\n- Aussagen abschwaechen oder verstaerken\\n- Text KUERZEN (Laenge beibehalten!)\\n\\n=== NEUE PFLICHT: EINORDNUNG FUER EINSTEIGER ===\\nFuege AM ENDE (nach der Gesamteinordnung) einen kurzen Absatz hinzu:\\n\\n'--- Kurz erklaert ---'\\nMax. 3-4 Saetze fuer Leser ohne Finanzvorwissen:\\n- Was macht das Unternehmen (1 Satz)?\\n- Was ist der Kern dieser Analyse (1-2 Saetze)?\\n- KEINE Vereinfachung des Haupttexts, KEINE Empfehlung\\n\\n=== ZIEL ===\\nDer Text muss:\\n- Professionell und sachlich klingen\\n- Gut lesbar fuer informierte Privatanleger sein\\n- Klare Struktur haben\\n- Frei von Redundanzen sein\\n- Die VOLLSTAENDIGE Laenge des Inputs behalten\\n- Die Einsteiger-Einordnung am Ende haben\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify('FINALISIERE DIESEN TEXT REDAKTIONELL (NUR Lesbarkeit, KEINE Kuerzungen, VOLLSTAENDIGEN Text ausgeben).\\n\\nWICHTIG: Fuege am Ende einen Abschnitt \"--- Kurz erklaert ---\" hinzu (max 3-4 Saetze fuer Nicht-Experten).\\n\\n' + $json.analysisV2) }}\n    }\n  ]\n}",
        "options": { "timeout": 120000 }
      },
      "id": "phase4-editorial",
      "name": "P4. Redaktion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2500, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var prev = $('P3b. Quellenvalidierung').item.json;\nvar resp = $input.item.json;\n\nvar finalContent = '';\n\nif (resp && resp.choices && resp.choices[0] && resp.choices[0].message) {\n  finalContent = resp.choices[0].message.content || '';\n  finalContent = finalContent.replace(/\\*\\*([^*]+)\\*\\*/g, '$1').replace(/\\*([^*]+)\\*/g, '$1').replace(/\\[\\d+\\]/g, '').trim();\n} else {\n  finalContent = prev.analysisV2; // Fallback\n}\n\nreturn {\n  json: {\n    ...prev,\n    finalContent: finalContent,\n    phase: 'P4_EDITORIAL_COMPLETE'\n  }\n};"
      },
      "id": "phase4-extract",
      "name": "P4. Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2700, 400]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// QUALITY GATE v10.0 - PUBLISH POLICY\n// =====================================================\n// GRUNDSATZ: Journalistische Analysen, keine Anlageempfehlungen.\n// Unsicherheit ist Qualitaetsmerkmal, kein Fehler.\n// IM ZWEIFEL IMMER VEROEFFENTLICHEN.\n// =====================================================\n\nvar input = $input.item.json;\nvar content = input.finalContent || '';\nvar lower = content.toLowerCase();\n\nfunction countWords(text) {\n  return (text || '').split(/\\s+/).filter(function(w) { return w.length > 1; }).length;\n}\nvar wordCount = countWords(content);\n\n// =====================================================\n// 1. K.O.-KRITERIEN (EINZIGE Publish-Blocker)\n// Nur diese Punkte blockieren die Veroeffentlichung!\n// =====================================================\nvar koFlags = [];\nvar hasKO = false;\n\n// --- 1.1 RECHTLICH ---\n// Explizite/implizite Kauf-/Verkaufsempfehlungen\nvar empfehlungTerms = [\n  { term: 'kaufen', reason: 'Explizite Kaufempfehlung' },\n  { term: 'verkaufen', reason: 'Explizite Verkaufsempfehlung' },\n  { term: 'buy', reason: 'Explizite Kaufempfehlung (EN)' },\n  { term: 'sell', reason: 'Explizite Verkaufsempfehlung (EN)' },\n  { term: 'unterbewertet', reason: 'Implizite Kaufempfehlung' },\n  { term: 'ueberbewertet', reason: 'Implizite Verkaufsempfehlung' },\n  { term: 'attraktiv bewertet', reason: 'Implizite Kaufempfehlung' },\n  { term: 'guenstig bewertet', reason: 'Implizite Kaufempfehlung' },\n  { term: 'chance', reason: 'Implizite Empfehlung' },\n  { term: 'lohnt sich', reason: 'Implizite Empfehlung' },\n  { term: 'kursziel', reason: 'Prognose/Empfehlung' }\n];\n\nfor (var e = 0; e < empfehlungTerms.length; e++) {\n  if (lower.indexOf(empfehlungTerms[e].term) !== -1) {\n    koFlags.push('[K.O. RECHTLICH] ' + empfehlungTerms[e].reason + ': \"' + empfehlungTerms[e].term + '\"');\n    hasKO = true;\n  }\n}\n\n// Disclaimer-Check (Pflicht!)\nvar hasDisclaimer = lower.indexOf('anlageberatung') !== -1 || \n                    lower.indexOf('informationszweck') !== -1 ||\n                    lower.indexOf('keine empfehlung') !== -1;\n// Note: Disclaimer wird im HTML-Renderer hinzugefuegt, daher kein K.O.\n\n// --- 1.2 FACHLICH ---\n// Logische Widersprueche\nif (lower.indexOf('einerseits') !== -1 && lower.indexOf('andererseits') !== -1) {\n  // Ist OK - zeigt differenzierte Betrachtung\n}\n\n// Fehlende Quellenangabe bei Zahlen (nur wenn GAR keine Quellen)\nvar hasAnySources = input.sourceValidation && \n  (input.sourceValidation.primary.length > 0 || \n   input.sourceValidation.secondary.length > 0 || \n   input.sourceValidation.news.length > 0);\nif (!hasAnySources) {\n  koFlags.push('[K.O. FACHLICH] Keine Quellenangaben vorhanden');\n  hasKO = true;\n}\n\n// Abgebrochene Analyse (technischer Fehler)\nvar criticalIncomplete = ['[text folgt]', '[fortsetzung]', '[tbd]', '[todo]'];\nfor (var ci = 0; ci < criticalIncomplete.length; ci++) {\n  if (lower.indexOf(criticalIncomplete[ci]) !== -1) {\n    koFlags.push('[K.O. FACHLICH] Technischer Abbruch: ' + criticalIncomplete[ci]);\n    hasKO = true;\n  }\n}\n\n// Extrem kurz (unter 400 Woerter = kein sinnvoller Inhalt)\nif (wordCount < 400) {\n  koFlags.push('[K.O. FACHLICH] Analyse zu kurz fuer Veroeffentlichung (' + wordCount + ' Woerter)');\n  hasKO = true;\n}\n\n// =====================================================\n// 2. EXPLIZIT ERLAUBTE INHALTE (KEINE Abwertung!)\n// Diese erhoehen die Research-Qualitaet\n// =====================================================\nvar qualityIndicators = [];\n\n// Datenqualitaet partial/mittel ist OK\nif (input.facts && input.facts.meta && input.facts.meta.quality === 'partial') {\n  qualityIndicators.push('Datenqualitaet: partial (akzeptiert)');\n}\n\n// Unsicherheiten sind erwuenscht\nvar uncertaintyWords = ['unsicherheit', 'unklar', 'abhaengig von', 'setzt voraus', 'impliziert', 'unter der annahme'];\nvar hasUncertainty = false;\nfor (var uw = 0; uw < uncertaintyWords.length; uw++) {\n  if (lower.indexOf(uncertaintyWords[uw]) !== -1) {\n    hasUncertainty = true;\n    break;\n  }\n}\nif (hasUncertainty) {\n  qualityIndicators.push('Unsicherheiten benannt (Qualitaetsmerkmal)');\n}\n\n// Szenarien/Risiken sind erwuenscht\nif (lower.indexOf('szenario') !== -1 || lower.indexOf('risiko') !== -1) {\n  qualityIndicators.push('Szenarien/Risiken thematisiert');\n}\n\n// =====================================================\n// 3. ANOMALIE-LOGIK (NEUES VERSTAENDNIS)\n// Erkennen + Einordnen REICHT. Volle Aufloesung NICHT noetig.\n// =====================================================\nvar anomalyDetails = [];\nvar anomaliesTotal = input.anomalies ? input.anomalies.length : 0;\nvar anomaliesHandled = 0;\n\nif (input.anomalies && input.anomalies.length > 0) {\n  for (var k = 0; k < input.anomalies.length; k++) {\n    var anomaly = input.anomalies[k];\n    var field = anomaly.field.toLowerCase().replace(/_/g, ' ');\n    \n    // Anomalie gilt als behandelt wenn:\n    // - Feld erwaehnt wird, ODER\n    // - Erklaerungsversuch/Einordnung vorhanden, ODER\n    // - Als datenbedingt/unsicher gekennzeichnet\n    var fieldMentioned = lower.indexOf(field) !== -1 || lower.indexOf(anomaly.field.toLowerCase()) !== -1;\n    var hasExplanation = lower.indexOf('basiseffekt') !== -1 || \n                         lower.indexOf('einmaleffekt') !== -1 ||\n                         lower.indexOf('bilanzstruktur') !== -1 ||\n                         lower.indexOf('datenbedingt') !== -1;\n    \n    var status = 'nicht_erwaehnt';\n    if (fieldMentioned || hasExplanation) {\n      status = 'behandelt';\n      anomaliesHandled++;\n    }\n    \n    anomalyDetails.push({\n      field: anomaly.field,\n      status: status\n    });\n  }\n}\n\n// Anomalien sind KEIN K.O.-Kriterium!\n\n// =====================================================\n// 4. SCORE (misst ANALYSENTIEFE, nicht Veroeffentlichbarkeit)\n// Score blockiert NIEMALS allein!\n// =====================================================\nvar depthScore = 5; // Basis\nvar scoreReasons = [];\n\n// Positive Faktoren\nif (wordCount >= 1000) { depthScore += 1; scoreReasons.push('+1: Ausfuehrlich (1000+ Woerter)'); }\nif (wordCount >= 1200) { depthScore += 0.5; scoreReasons.push('+0.5: Sehr ausfuehrlich'); }\nif (hasUncertainty) { depthScore += 1; scoreReasons.push('+1: Unsicherheiten benannt'); }\nif (anomaliesHandled === anomaliesTotal && anomaliesTotal > 0) { depthScore += 1; scoreReasons.push('+1: Alle Anomalien eingeordnet'); }\nif (lower.indexOf('gesamteinordnung') !== -1 || lower.indexOf('fazit') !== -1) { depthScore += 0.5; scoreReasons.push('+0.5: Gesamteinordnung vorhanden'); }\nif (input.sourceValidation && input.sourceValidation.primary && input.sourceValidation.primary.length >= 1) { depthScore += 0.5; scoreReasons.push('+0.5: Primaerquellen verwendet'); }\n\n// Leichte Abzuege (informativ, nicht blockierend)\nif (wordCount < 800) { depthScore -= 0.5; scoreReasons.push('-0.5: Unter 800 Woerter'); }\n\n// Superlative als Warnung (nicht blockierend)\nvar superlativeTerms = ['fuehrend', 'dominant', 'einzigartig', 'beste', 'groesste'];\nvar superlativeCount = 0;\nfor (var s = 0; s < superlativeTerms.length; s++) {\n  if (lower.indexOf(superlativeTerms[s]) !== -1) superlativeCount++;\n}\nif (superlativeCount > 2) { depthScore -= 0.5; scoreReasons.push('-0.5: Mehrere Superlative'); }\n\n// Score begrenzen auf 1-10\nvar finalScore = Math.max(1, Math.min(10, Math.round(depthScore * 10) / 10));\n\n// =====================================================\n// 5. FINALE ENTSCHEIDUNG\n// IM ZWEIFEL IMMER VEROEFFENTLICHEN\n// =====================================================\n\n// Nur K.O.-Kriterien blockieren!\nvar publicationReady = !hasKO;\n\nvar statusText;\nif (hasKO) {\n  statusText = 'BLOCKIERT: K.O.-Kriterium erfuellt';\n} else {\n  statusText = 'PUBLIKATIONSFAEHIG';\n}\n\n// Warnings sammeln (informativ, nicht blockierend)\nvar warnings = [];\nif (superlativeCount > 0) warnings.push('Superlative vorhanden (' + superlativeCount + ')');\nif (anomaliesTotal > anomaliesHandled) warnings.push('Nicht alle Anomalien erwaehnt');\nif (wordCount < 800) warnings.push('Unter Ziellaenge (800 Woerter)');\nif (!input.sourceValidation.primary || input.sourceValidation.primary.length === 0) warnings.push('Keine Primaerquellen');\n\nreturn {\n  json: {\n    input: input.input,\n    facts: input.facts,\n    anomalies: input.anomalies,\n    factsBlock: input.factsBlock,\n    finalContent: content,\n    citations: input.sourceValidation.accepted,\n    metrics: {\n      wordCount: wordCount,\n      depthScore: finalScore,\n      scoreDisplay: finalScore + '/10 (Analysentiefe)',\n      scoreReasons: scoreReasons,\n      publicationReady: publicationReady,\n      statusText: statusText,\n      anomaliesTotal: anomaliesTotal,\n      anomaliesHandled: anomaliesHandled\n    },\n    publishPolicy: {\n      hasKO: hasKO,\n      koFlags: koFlags,\n      warnings: warnings,\n      qualityIndicators: qualityIndicators,\n      anomalyDetails: anomalyDetails,\n      principle: 'Im Zweifel IMMER veroeffentlichen'\n    },\n    validation: {\n      koCount: koFlags.length,\n      warningCount: warnings.length,\n      sourceQuality: input.sourceValidation.quality\n    },\n    critique: input.critique,\n    sourceValidation: input.sourceValidation,\n    phase: 'QUALITY_GATE_COMPLETE',\n    pipelineVersion: 'v10.0-publish-policy'\n  }\n};"
      },
      "id": "quality-gate",
      "name": "Quality Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2900, 400]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// HTML RENDERER v10.0 - Publish Policy\n// =====================================================\n\nvar input = $input.item.json;\nvar meta = input.input;\nvar facts = input.facts;\nvar content = input.finalContent;\nvar metrics = input.metrics;\nvar policy = input.publishPolicy;\nvar sourceVal = input.sourceValidation;\n\nfunction textToHtml(text) {\n  var html = text\n    .replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;')\n    .replace(/^(\\d+)\\.\\s+([^\\n]+)$/gm, '</p><h2>$2</h2><p>')\n    .replace(/^([A-Z][A-Z\\s&-]{3,})$/gm, '</p><h2>$1</h2><p>')\n    .replace(/\\n\\n+/g, '</p><p>')\n    .replace(/\\n/g, ' ');\n  html = '<p>' + html + '</p>';\n  html = html.replace(/<p><\\/p>/g, '').replace(/<p>\\s*<h/g, '<h').replace(/<\\/h2>\\s*<\\/p>/g, '</h2>').replace(/\\s+/g, ' ');\n  return html.trim();\n}\n\nvar htmlContent = textToHtml(content || '');\nvar formattedDate = new Date(meta.date).toLocaleDateString('de-DE', { day: '2-digit', month: 'long', year: 'numeric' });\n\nvar statusClass = metrics.publicationReady ? 'ready' : 'blocked';\nvar statusBadge = metrics.publicationReady ? 'Veroeffentlicht' : 'Blockiert';\n\nvar dataBoxHtml = '<div class=\"data-box\">' +\n  '<h3>Datengrundlage</h3>' +\n  '<table class=\"data-table\">' +\n  '<tr><td>Quelle</td><td>' + facts.meta.source + '</td></tr>' +\n  '<tr><td>Stand</td><td>' + new Date(facts.meta.timestamp).toLocaleDateString('de-DE') + '</td></tr>' +\n  '<tr><td>Qualitaet</td><td>' + facts.meta.quality + '</td></tr>' +\n  '</table>' +\n  '<p class=\"data-note\">Alle quantitativen Aussagen basieren auf Drittanbieter-APIs. Keine eigenstaendige Verifizierung durch capitovo.</p>' +\n  '</div>';\n\nvar anomalyHtml = '';\nif (input.anomalies && input.anomalies.length > 0) {\n  anomalyHtml = '<div class=\"anomaly-box\"><h4>Daten-Anomalien (erkannt und eingeordnet)</h4><ul>';\n  for (var i = 0; i < input.anomalies.length; i++) {\n    var a = input.anomalies[i];\n    anomalyHtml += '<li><span class=\"flag flag-' + a.flag.toLowerCase() + '\">' + a.flag + '</span> ' + a.note + '</li>';\n  }\n  anomalyHtml += '</ul></div>';\n}\n\nvar sourcesHtml = '';\nif (input.citations && input.citations.length > 0) {\n  sourcesHtml = '<aside class=\"sources\"><h3>Quellen</h3>';\n  if (sourceVal.primary && sourceVal.primary.length > 0) {\n    sourcesHtml += '<div class=\"source-category\"><span class=\"source-label primary\">Primaer</span>';\n    for (var p = 0; p < sourceVal.primary.length; p++) {\n      try { var h = new URL(sourceVal.primary[p]).hostname.replace('www.', ''); } catch(e) { var h = sourceVal.primary[p]; }\n      sourcesHtml += '<a href=\"' + sourceVal.primary[p] + '\" target=\"_blank\">' + h + '</a> ';\n    }\n    sourcesHtml += '</div>';\n  }\n  if (sourceVal.secondary && sourceVal.secondary.length > 0) {\n    sourcesHtml += '<div class=\"source-category\"><span class=\"source-label secondary\">Sekundaer</span>';\n    for (var s = 0; s < Math.min(sourceVal.secondary.length, 4); s++) {\n      try { var h2 = new URL(sourceVal.secondary[s]).hostname.replace('www.', ''); } catch(e) { var h2 = sourceVal.secondary[s]; }\n      sourcesHtml += '<a href=\"' + sourceVal.secondary[s] + '\" target=\"_blank\">' + h2 + '</a> ';\n    }\n    sourcesHtml += '</div>';\n  }\n  sourcesHtml += '</aside>';\n}\n\n// Quality Indicators (positive Merkmale)\nvar qualityHtml = '';\nif (policy.qualityIndicators && policy.qualityIndicators.length > 0) {\n  qualityHtml = '<div class=\"quality-indicators\"><h4>Research-Qualitaet</h4><ul>';\n  for (var qi = 0; qi < policy.qualityIndicators.length; qi++) {\n    qualityHtml += '<li class=\"positive\">✓ ' + policy.qualityIndicators[qi] + '</li>';\n  }\n  qualityHtml += '</ul></div>';\n}\n\n// Warnings (informativ, nicht blockierend)\nvar warningsHtml = '';\nif (policy.warnings && policy.warnings.length > 0) {\n  warningsHtml = '<div class=\"warnings-box\"><h4>Hinweise</h4><ul>';\n  for (var w = 0; w < policy.warnings.length; w++) {\n    warningsHtml += '<li>' + policy.warnings[w] + '</li>';\n  }\n  warningsHtml += '</ul></div>';\n}\n\nvar html = '<!DOCTYPE html><html lang=\"de\"><head>' +\n  '<meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">' +\n  '<title>' + meta.company + ' (' + meta.ticker + ') - Unternehmensanalyse | capitovo</title>' +\n  '<meta name=\"description\" content=\"Analytische Einordnung von ' + meta.company + '\">' +\n  '<style>' +\n  ':root{--text:#1a1a1a;--text2:#4a5568;--muted:#718096;--border:#e2e8f0;--bg:#f7fafc;--accent:#2563eb;--green:#16a34a;--yellow:#ca8a04;--red:#dc2626}' +\n  '*{box-sizing:border-box;margin:0;padding:0}' +\n  'body{font-family:-apple-system,sans-serif;line-height:1.6;color:var(--text);max-width:52rem;margin:0 auto;padding:2rem 1.5rem}' +\n  '.header{margin-bottom:2rem;padding-bottom:1.5rem;border-bottom:2px solid var(--border)}' +\n  '.meta{font-size:.8rem;color:var(--muted);margin-bottom:.5rem;text-transform:uppercase;letter-spacing:.05em}' +\n  '.title{font-size:1.75rem;font-weight:700;margin-bottom:.25rem}' +\n  '.subtitle{color:var(--text2);font-size:1rem}' +\n  '.badge{display:inline-block;padding:.25rem .75rem;border-radius:2rem;font-size:.75rem;font-weight:600;margin-left:.5rem}' +\n  '.badge.ready{background:#dcfce7;color:var(--green)}.badge.blocked{background:#fee2e2;color:var(--red)}' +\n  '.data-box{background:linear-gradient(135deg,#f8fafc,#f1f5f9);padding:1.25rem;border-radius:.75rem;margin-bottom:1.5rem;border:1px solid var(--border)}' +\n  '.data-box h3{font-size:.9rem;margin-bottom:.75rem;color:var(--text2)}' +\n  '.data-table{width:100%;font-size:.875rem;border-collapse:collapse}' +\n  '.data-table td{padding:.25rem 0;border-bottom:1px solid var(--border)}' +\n  '.data-table td:first-child{color:var(--muted);width:40%}' +\n  '.data-note{font-size:.75rem;color:var(--muted);margin-top:.75rem;padding-top:.5rem;border-top:1px solid var(--border);font-style:italic}' +\n  '.anomaly-box{background:#fef9c3;padding:1rem;border-radius:.5rem;margin-bottom:1.5rem;border-left:4px solid var(--yellow)}' +\n  '.anomaly-box h4{font-size:.85rem;margin-bottom:.5rem;color:#92400e}' +\n  '.anomaly-box ul{font-size:.8rem;padding-left:1rem;color:#78350f}' +\n  '.anomaly-box li{margin:.25rem 0}' +\n  '.flag{display:inline-block;padding:.1rem .4rem;border-radius:.25rem;font-size:.7rem;font-weight:600;margin-right:.25rem}' +\n  '.flag-extrem{background:#fee2e2;color:var(--red)}.flag-auffaellig,.flag-ungewoehnlich,.flag-hoch{background:#fef3c7;color:var(--yellow)}.flag-warnung{background:#fef3c7;color:#b45309}.flag-inkonsistent{background:#fee2e2;color:var(--red)}' +\n  '.body{font-family:Georgia,serif;font-size:1.0625rem;line-height:1.85}' +\n  '.body h2{font-family:-apple-system,sans-serif;font-size:1.2rem;font-weight:600;margin:2.5rem 0 1rem;padding-bottom:.5rem;border-bottom:1px solid var(--border);color:var(--text)}' +\n  '.body p{margin-bottom:1.25rem;text-align:justify;hyphens:auto}' +\n  '.sources{margin-top:2rem;padding:1.25rem;background:var(--bg);border-radius:.5rem}' +\n  '.sources h3{font-size:.9rem;margin-bottom:.75rem;color:var(--text2)}' +\n  '.source-category{margin:.5rem 0;font-size:.8rem}' +\n  '.source-label{display:inline-block;padding:.15rem .5rem;border-radius:.25rem;font-size:.7rem;font-weight:600;margin-right:.5rem}' +\n  '.source-label.primary{background:#dcfce7;color:var(--green)}.source-label.secondary{background:#dbeafe;color:#2563eb}' +\n  '.sources a{color:var(--accent);text-decoration:none;margin-right:.75rem}' +\n  '.quality-indicators{margin-top:1.5rem;padding:1rem;background:#f0fdf4;border-radius:.5rem;border-left:4px solid var(--green)}' +\n  '.quality-indicators h4{font-size:.85rem;margin-bottom:.5rem;color:#166534}' +\n  '.quality-indicators ul{list-style:none;font-size:.8rem;color:#15803d}' +\n  '.quality-indicators li.positive{margin:.25rem 0}' +\n  '.warnings-box{margin-top:1rem;padding:.75rem;background:#fffbeb;border-radius:.5rem;font-size:.8rem;color:#92400e}' +\n  '.warnings-box h4{font-size:.8rem;margin-bottom:.5rem}' +\n  '.warnings-box ul{padding-left:1rem;list-style:disc}' +\n  '.disclaimer{margin-top:2rem;padding:1.25rem;background:var(--bg);border:1px solid var(--border);border-radius:.5rem;font-size:.8rem;color:var(--muted)}' +\n  '.disclaimer strong{color:var(--text2)}' +\n  '.methodology{margin-top:1rem;padding:1rem;background:#f8fafc;border-radius:.5rem;font-size:.75rem;color:var(--muted)}' +\n  '.methodology h5{font-size:.8rem;margin-bottom:.5rem;color:var(--text2)}' +\n  '.footer{margin-top:1.5rem;padding-top:1rem;border-top:1px solid var(--border);font-size:.75rem;color:var(--muted);display:flex;justify-content:space-between;flex-wrap:wrap;gap:.5rem}' +\n  '</style></head><body>' +\n  '<header class=\"header\">' +\n  '<div class=\"meta\">' + meta.sector + ' · ' + meta.ticker + ' · ' + meta.exchange + '</div>' +\n  '<h1 class=\"title\">' + meta.company + '<span class=\"badge ' + statusClass + '\">' + statusBadge + '</span></h1>' +\n  '<p class=\"subtitle\">Analytische Einordnung von Geschaeftsmodell, Fundamentaldaten und Bewertung</p>' +\n  '<div class=\"meta\" style=\"margin-top:.75rem\">capitovo Research · ' + formattedDate + '</div>' +\n  '</header>' +\n  dataBoxHtml +\n  anomalyHtml +\n  '<article class=\"body\">' + htmlContent + '</article>' +\n  sourcesHtml +\n  qualityHtml +\n  warningsHtml +\n  '<div class=\"disclaimer\">' +\n  '<strong>Rechtlicher Hinweis:</strong> Diese Analyse dient ausschliesslich Informationszwecken und stellt <strong>keine Anlageberatung</strong> dar. ' +\n  'Die dargestellten Informationen sind <strong>keine Aufforderung</strong> zum Kauf oder Verkauf von Wertpapieren. ' +\n  'Alle quantitativen Angaben basieren auf <strong>Drittanbieter-Daten</strong> (Alpha Vantage API) ohne eigenstaendige Verifizierung durch capitovo. ' +\n  'capitovo uebernimmt <strong>keine Gewaehr</strong> fuer Richtigkeit, Vollstaendigkeit oder Aktualitaet der Informationen.' +\n  '</div>' +\n  '<div class=\"methodology\">' +\n  '<h5>Methodik</h5>' +\n  'Diese journalistische Unternehmensanalyse wurde durch eine 4-Phasen-Pipeline erstellt: ' +\n  '(1) Automatisierte Datenaggregation mit Anomalie-Erkennung, ' +\n  '(2) Analytische Einordnung mit Fokus auf kausale Zusammenhaenge, ' +\n  '(3) Kritische Pruefinstanz zur Qualitaetssicherung, ' +\n  '(4) Redaktionelle Finalisierung. ' +\n  'Unsicherheiten und Datenluecken werden transparent kommuniziert.' +\n  '</div>' +\n  '<footer class=\"footer\">' +\n  '<span>ID: ' + meta.ticker.toLowerCase() + '-' + meta.date + '</span>' +\n  '<span>' + metrics.wordCount + ' Woerter</span>' +\n  '<span>Tiefe: ' + metrics.depthScore + '/10</span>' +\n  '<span>' + meta.pipelineVersion + '</span>' +\n  '</footer></body></html>';\n\nreturn { json: { ...input, html: html } };"
      },
      "id": "html-renderer",
      "name": "HTML Renderer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3100, 400]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// OUTPUT GENERATOR v10.0 - Publish Policy\n// =====================================================\n\nvar input = $input.item.json;\nvar meta = input.input;\nvar metrics = input.metrics;\nvar policy = input.publishPolicy;\n\nvar status = metrics.publicationReady \n  ? 'VEROEFFENTLICHT (Tiefe: ' + metrics.depthScore + '/10)'\n  : 'BLOCKIERT: ' + (policy.koFlags.length > 0 ? policy.koFlags[0] : 'K.O.-Kriterium');\n\nvar svg = '<svg width=\"640\" height=\"360\" viewBox=\"0 0 640 360\" xmlns=\"http://www.w3.org/2000/svg\">' +\n  '<defs><linearGradient id=\"bg\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"100%\"><stop offset=\"0%\" stop-color=\"#0f172a\"/><stop offset=\"100%\" stop-color=\"#1e293b\"/></linearGradient></defs>' +\n  '<rect width=\"640\" height=\"360\" fill=\"url(#bg)\" rx=\"16\"/>' +\n  '<g font-family=\"-apple-system, sans-serif\">' +\n  '<text x=\"48\" y=\"72\" fill=\"#64748b\" font-size=\"12\" letter-spacing=\"0.1em\">' + meta.ticker + ' · ' + meta.sector.toUpperCase() + '</text>' +\n  '<text x=\"48\" y=\"115\" fill=\"#f1f5f9\" font-size=\"32\" font-weight=\"700\">' + meta.company + '</text>' +\n  '<text x=\"48\" y=\"150\" fill=\"#94a3b8\" font-size=\"15\">Analytische Unternehmenseinordnung</text>' +\n  '<rect x=\"48\" y=\"175\" width=\"60\" height=\"3\" fill=\"#3b82f6\" rx=\"1.5\"/>' +\n  '<text x=\"48\" y=\"220\" fill=\"#64748b\" font-size=\"13\">Geschaeftsmodell · Fundamentaldaten · Bewertung</text>' +\n  '<text x=\"48\" y=\"290\" fill=\"#475569\" font-size=\"11\">capitovo Research · Analysentiefe ' + metrics.depthScore + '/10</text>' +\n  '<text x=\"48\" y=\"310\" fill=\"#64748b\" font-size=\"10\">' + meta.date + ' · ' + meta.pipelineVersion + '</text></g></svg>';\n\nvar jsonEntry = {\n  id: meta.ticker.toLowerCase() + '-' + meta.date,\n  category: meta.sector,\n  title: meta.company + ' - Unternehmensanalyse',\n  summary: 'Analytische Einordnung von ' + meta.company + ' (' + meta.ticker + ').',\n  link: 'Abonenten/' + meta.slug + '.html',\n  image: 'data/vorschaubilder_analysen/' + meta.slug + '.svg',\n  date: meta.date,\n  author: 'capitovo Research',\n  tags: [meta.company, meta.ticker, meta.sector],\n  published: metrics.publicationReady,\n  wordCount: metrics.wordCount,\n  depthScore: metrics.depthScore,\n  hasKO: policy.hasKO,\n  koFlags: policy.koFlags,\n  warnings: policy.warnings,\n  qualityIndicators: policy.qualityIndicators,\n  sourceQuality: input.sourceValidation.quality,\n  pipelineVersion: meta.pipelineVersion,\n  publishPolicy: 'v10.0: Im Zweifel IMMER veroeffentlichen'\n};\n\nreturn {\n  json: {\n    success: metrics.publicationReady,\n    status: status,\n    company: meta.company,\n    ticker: meta.ticker,\n    date: meta.date,\n    pipelineVersion: meta.pipelineVersion,\n    metrics: metrics,\n    publishPolicy: policy,\n    sourceValidation: input.sourceValidation,\n    outputs: {\n      html: input.html,\n      svg: svg,\n      jsonEntry: jsonEntry\n    },\n    filePaths: {\n      html: 'Abonenten/' + meta.slug + '.html',\n      svg: 'data/vorschaubilder_analysen/' + meta.slug + '.svg'\n    }\n  }\n};"
      },
      "id": "output-generator",
      "name": "Output Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3300, 400]
    },
    {
      "parameters": {},
      "id": "output",
      "name": "Output",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3500, 400]
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "0. Input", "type": "main", "index": 0 }]] },
    "0. Input": { "main": [[{ "node": "1a. API Overview", "type": "main", "index": 0 }]] },
    "1a. API Overview": { "main": [[{ "node": "1b. Store", "type": "main", "index": 0 }]] },
    "1b. Store": { "main": [[{ "node": "1c. API Income", "type": "main", "index": 0 }]] },
    "1c. API Income": { "main": [[{ "node": "1d. Fakteninstanz", "type": "main", "index": 0 }]] },
    "1d. Fakteninstanz": { "main": [[{ "node": "1e. Facts Format", "type": "main", "index": 0 }]] },
    "1e. Facts Format": { "main": [[{ "node": "P2. Analyseinstanz", "type": "main", "index": 0 }]] },
    "P2. Analyseinstanz": { "main": [[{ "node": "P2. Extract", "type": "main", "index": 0 }]] },
    "P2. Extract": { "main": [[{ "node": "P3. Kritische Pruefinstanz", "type": "main", "index": 0 }]] },
    "P3. Kritische Pruefinstanz": { "main": [[{ "node": "P3. Extract", "type": "main", "index": 0 }]] },
    "P3. Extract": { "main": [[{ "node": "P3b. Quellenvalidierung", "type": "main", "index": 0 }]] },
    "P3b. Quellenvalidierung": { "main": [[{ "node": "P4. Redaktion", "type": "main", "index": 0 }]] },
    "P4. Redaktion": { "main": [[{ "node": "P4. Extract", "type": "main", "index": 0 }]] },
    "P4. Extract": { "main": [[{ "node": "Quality Gate", "type": "main", "index": 0 }]] },
    "Quality Gate": { "main": [[{ "node": "HTML Renderer", "type": "main", "index": 0 }]] },
    "HTML Renderer": { "main": [[{ "node": "Output Generator", "type": "main", "index": 0 }]] },
    "Output Generator": { "main": [[{ "node": "Output", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "production" }, { "name": "v9.0-research-grade" }]
}
