n8n/n8n_analyse_generator_v12_formular.json
{
  "name": "Capitovo Analyse Generator v12 - Formular",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Neue Unternehmensanalyse erstellen",
        "formDescription": "Gib den Ticker des Unternehmens ein, das analysiert werden soll. Die Analyse wird automatisch erstellt und veröffentlicht.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Ticker-Symbol",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "z.B. AAPL, MSFT, TSLA"
            },
            {
              "fieldLabel": "Unternehmensname (optional)",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "z.B. Apple Inc."
            }
          ]
        },
        "options": {
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "✅ Analyse wird erstellt...\n\nDie Analyse wird jetzt im Hintergrund generiert und automatisch veröffentlicht.\nDies kann 2-3 Minuten dauern.\n\nDu kannst dieses Fenster schließen."
            }
          }
        }
      },
      "id": "form-trigger",
      "name": "Formular - Unternehmen eingeben",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [100, 400],
      "webhookId": "capitovo-analyse-form"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.alphavantage.co/query?function=OVERVIEW&symbol={{ $json['Ticker-Symbol'].toUpperCase().trim() }}&apikey=YO8C9ZRNBDVLAZ83",
        "options": { "timeout": 30000 }
      },
      "id": "api-lookup",
      "name": "1. Unternehmensdaten laden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [340, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var form = $('Formular - Unternehmen eingeben').item.json;\nvar api = $input.item.json;\n\nvar ticker = String(form['Ticker-Symbol'] || '').toUpperCase().trim();\nvar customName = String(form['Unternehmensname (optional)'] || '').trim();\n\n// Bestimme Unternehmensnamen\nvar company = customName || (api && api.Name ? api.Name : ticker);\n\n// Extrahiere Sektor aus API oder verwende Default\nvar sectorMap = {\n  'TECHNOLOGY': 'Technologie',\n  'CONSUMER DISCRETIONARY': 'Zyklischer Konsum',\n  'CONSUMER CYCLICAL': 'Zyklischer Konsum',\n  'HEALTHCARE': 'Gesundheitswesen',\n  'HEALTH CARE': 'Gesundheitswesen',\n  'FINANCIALS': 'Finanzen',\n  'FINANCIAL SERVICES': 'Finanzen',\n  'INDUSTRIALS': 'Industrie',\n  'ENERGY': 'Energie',\n  'MATERIALS': 'Grundstoffe',\n  'UTILITIES': 'Versorger',\n  'REAL ESTATE': 'Immobilien',\n  'COMMUNICATION SERVICES': 'Kommunikation',\n  'CONSUMER STAPLES': 'Basiskonsumgüter'\n};\n\nvar rawSector = api && api.Sector ? String(api.Sector).toUpperCase() : '';\nvar sector = sectorMap[rawSector] || 'Sonstige';\n\n// Börse bestimmen\nvar exchange = api && api.Exchange ? api.Exchange : 'NYSE';\n\n// Währung bestimmen\nvar currency = api && api.Currency ? api.Currency : 'USD';\n\n// WKN/ISIN - Diese werden oft nicht von Alpha Vantage geliefert\n// Für bekannte Ticker können wir sie mappen\nvar knownSecurities = {\n  'AAPL': { wkn: '865985', isin: 'US0378331005' },\n  'MSFT': { wkn: '870747', isin: 'US5949181045' },\n  'GOOGL': { wkn: 'A14Y6F', isin: 'US02079K3059' },\n  'AMZN': { wkn: '906866', isin: 'US0231351067' },\n  'TSLA': { wkn: 'A1CX3T', isin: 'US88160R1014' },\n  'META': { wkn: 'A1JWVX', isin: 'US30303M1027' },\n  'NVDA': { wkn: '918422', isin: 'US67066G1040' },\n  'JPM': { wkn: '850628', isin: 'US46625H1005' },\n  'JNJ': { wkn: '853260', isin: 'US4781601046' },\n  'V': { wkn: 'A0NC7B', isin: 'US92826C8394' },\n  'WMT': { wkn: '860853', isin: 'US9311421039' },\n  'PG': { wkn: '852062', isin: 'US7427181091' },\n  'MA': { wkn: 'A0F602', isin: 'US57636Q1040' },\n  'HD': { wkn: '866953', isin: 'US4370761029' },\n  'DIS': { wkn: '855686', isin: 'US2546871060' },\n  'NFLX': { wkn: '552484', isin: 'US64110L1061' },\n  'ADBE': { wkn: '871981', isin: 'US00724F1012' },\n  'CRM': { wkn: 'A0B87V', isin: 'US79466L3024' },\n  'INTC': { wkn: '855681', isin: 'US4581401001' },\n  'AMD': { wkn: '863186', isin: 'US0079031078' },\n  'BA': { wkn: '850471', isin: 'US0970231058' },\n  'GS': { wkn: '920332', isin: 'US38141G1040' },\n  'RACE': { wkn: 'A2ACKK', isin: 'NL0011585146' },\n  'PAH3': { wkn: 'PAH003', isin: 'DE000PAH0038' }\n};\n\nvar secInfo = knownSecurities[ticker] || { wkn: 'n/a', isin: 'n/a' };\n\n// Datum und Slug generieren\nvar today = new Date().toISOString().split('T')[0];\nvar slug = company.toLowerCase()\n  .replace(/[^a-z0-9]+/g, '_')\n  .replace(/^_|_$/g, '')\n  .substring(0, 20) + '_' + today;\n\nreturn {\n  json: {\n    company: company,\n    ticker: ticker,\n    exchange: exchange,\n    sector: sector,\n    currency: currency,\n    wkn: secInfo.wkn,\n    isin: secInfo.isin,\n    slug: slug,\n    date: today,\n    pipelineVersion: 'v12.0-formular',\n    apiResponse: api\n  }\n};"
      },
      "id": "prepare-input",
      "name": "2. Input vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.alphavantage.co/query?function=INCOME_STATEMENT&symbol={{ $json.ticker }}&apikey=YO8C9ZRNBDVLAZ83",
        "options": { "timeout": 30000 }
      },
      "id": "api-income",
      "name": "3. Finanzdaten laden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var prev = $('2. Input vorbereiten').item.json;\nvar incomeResp = $input.item.json;\nvar overviewResp = prev.apiResponse;\nvar input = prev;\n\nfunction safeNum(val) {\n  if (val === undefined || val === null || val === 'None' || val === '-' || val === '') return null;\n  var n = parseFloat(String(val).replace(/,/g, ''));\n  return isFinite(n) ? n : null;\n}\n\nfunction pct(val) {\n  var n = safeNum(val);\n  if (n === null) return null;\n  return Math.abs(n) <= 1 ? Math.round(n * 1000) / 10 : Math.round(n * 10) / 10;\n}\n\nvar hasOverview = overviewResp && overviewResp.Symbol && !overviewResp.Note;\nvar hasIncome = incomeResp && incomeResp.annualReports && !incomeResp.Note;\nvar ts = new Date().toISOString();\n\nvar facts = {\n  meta: { source: 'Alpha Vantage API', timestamp: ts, quality: hasOverview && hasIncome ? 'complete' : 'partial' },\n  company: { name: input.company, ticker: input.ticker, sector: input.sector, currency: input.currency },\n  fundamentals: {},\n  valuation: {},\n  margins: {},\n  growth: {},\n  history: []\n};\n\nif (hasOverview) {\n  var o = overviewResp;\n  facts.company.industry = o.Industry || null;\n  facts.company.description = o.Description || null;\n  facts.fundamentals = {\n    marketCap: safeNum(o.MarketCapitalization),\n    revenue: safeNum(o.RevenueTTM),\n    ebitda: safeNum(o.EBITDA),\n    eps: safeNum(o.EPS),\n    dividendYield: pct(o.DividendYield),\n    sharesOutstanding: safeNum(o.SharesOutstanding)\n  };\n  facts.valuation = {\n    pe: safeNum(o.PERatio),\n    forwardPE: safeNum(o.ForwardPE),\n    peg: safeNum(o.PEGRatio),\n    pb: safeNum(o.PriceToBookRatio),\n    ps: safeNum(o.PriceToSalesRatioTTM),\n    evEbitda: safeNum(o.EVToEBITDA),\n    evRevenue: safeNum(o.EVToRevenue),\n    beta: safeNum(o.Beta),\n    high52w: safeNum(o['52WeekHigh']),\n    low52w: safeNum(o['52WeekLow'])\n  };\n  facts.margins = {\n    gross: pct(o.GrossProfitMargin),\n    operating: pct(o.OperatingMarginTTM),\n    net: pct(o.ProfitMargin),\n    roe: pct(o.ReturnOnEquityTTM),\n    roa: pct(o.ReturnOnAssetsTTM)\n  };\n  facts.growth = {\n    revenueQoQ: pct(o.QuarterlyRevenueGrowthYOY),\n    earningsQoQ: pct(o.QuarterlyEarningsGrowthYOY)\n  };\n}\n\nif (hasIncome) {\n  facts.history = incomeResp.annualReports.slice(0, 5).map(function(r) {\n    return {\n      year: r.fiscalDateEnding ? r.fiscalDateEnding.substring(0, 4) : null,\n      revenue: safeNum(r.totalRevenue),\n      netIncome: safeNum(r.netIncome),\n      operatingIncome: safeNum(r.operatingIncome)\n    };\n  });\n}\n\nvar anomalies = [];\nif (facts.growth.earningsQoQ !== null && Math.abs(facts.growth.earningsQoQ) > 50) {\n  anomalies.push({ field: 'earningsQoQ', value: facts.growth.earningsQoQ, flag: 'EXTREM', note: 'Gewinnwachstum >50%' });\n}\nif (facts.growth.revenueQoQ !== null && Math.abs(facts.growth.revenueQoQ) > 30) {\n  anomalies.push({ field: 'revenueQoQ', value: facts.growth.revenueQoQ, flag: 'AUFFAELLIG', note: 'Umsatzwachstum >30%' });\n}\nif (facts.margins.roe !== null && (facts.margins.roe < 5 || facts.margins.roe > 100)) {\n  anomalies.push({ field: 'roe', value: facts.margins.roe, flag: 'UNGEWOEHNLICH', note: 'ROE ausserhalb 5-100%' });\n}\nif (facts.valuation.pe !== null && facts.valuation.pe > 50) {\n  anomalies.push({ field: 'pe', value: facts.valuation.pe, flag: 'HOCH', note: 'KGV >50' });\n}\n\nreturn { json: { input: input, facts: facts, anomalies: anomalies, phase: 'P1_FACTS_COMPLETE' } };"
      },
      "id": "facts-engine",
      "name": "4. Fakteninstanz",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "jsCode": "var input = $input.item.json;\nvar f = input.facts;\nvar a = input.anomalies;\n\nfunction fmt(v, suffix) {\n  if (v === null) return 'n/v';\n  if (typeof v === 'number') {\n    if (Math.abs(v) >= 1e12) return (v/1e12).toFixed(1) + ' Bio';\n    if (Math.abs(v) >= 1e9) return (v/1e9).toFixed(1) + ' Mrd';\n    if (Math.abs(v) >= 1e6) return (v/1e6).toFixed(1) + ' Mio';\n    return v.toLocaleString('de-DE');\n  }\n  return String(v) + (suffix || '');\n}\n\nvar factsBlock = [\n  '=== FAKTENBLATT: ' + f.company.name + ' (' + f.company.ticker + ') ===',\n  'Quelle: ' + f.meta.source + ' | Stand: ' + f.meta.timestamp.split('T')[0],\n  'Datenqualitaet: ' + f.meta.quality,\n  '',\n  '--- UNTERNEHMENSBESCHREIBUNG ---',\n  f.company.description || 'Keine Beschreibung verfuegbar.',\n  '',\n  '--- FUNDAMENTALS ---',\n  'Marktkapitalisierung: ' + fmt(f.fundamentals.marketCap) + ' ' + f.company.currency,\n  'Umsatz (TTM): ' + fmt(f.fundamentals.revenue) + ' ' + f.company.currency,\n  'EBITDA: ' + fmt(f.fundamentals.ebitda) + ' ' + f.company.currency,\n  'EPS: ' + fmt(f.fundamentals.eps) + ' ' + f.company.currency,\n  'Dividendenrendite: ' + (f.fundamentals.dividendYield !== null ? f.fundamentals.dividendYield + '%' : 'n/v'),\n  '',\n  '--- BEWERTUNG ---',\n  'KGV: ' + fmt(f.valuation.pe),\n  'Forward KGV: ' + fmt(f.valuation.forwardPE),\n  'PEG: ' + fmt(f.valuation.peg),\n  'P/B: ' + fmt(f.valuation.pb),\n  'P/S: ' + fmt(f.valuation.ps),\n  'EV/EBITDA: ' + fmt(f.valuation.evEbitda),\n  'EV/Revenue: ' + fmt(f.valuation.evRevenue),\n  'Beta: ' + fmt(f.valuation.beta),\n  '52W Hoch: ' + fmt(f.valuation.high52w) + ' ' + f.company.currency,\n  '52W Tief: ' + fmt(f.valuation.low52w) + ' ' + f.company.currency,\n  '',\n  '--- MARGEN & RENDITEN ---',\n  'Bruttomarge: ' + (f.margins.gross !== null ? f.margins.gross + '%' : 'n/v'),\n  'Operative Marge: ' + (f.margins.operating !== null ? f.margins.operating + '%' : 'n/v'),\n  'Nettomarge: ' + (f.margins.net !== null ? f.margins.net + '%' : 'n/v'),\n  'ROE: ' + (f.margins.roe !== null ? f.margins.roe + '%' : 'n/v'),\n  'ROA: ' + (f.margins.roa !== null ? f.margins.roa + '%' : 'n/v'),\n  '',\n  '--- WACHSTUM (Quartal YoY) ---',\n  'Umsatzwachstum: ' + (f.growth.revenueQoQ !== null ? f.growth.revenueQoQ + '%' : 'n/v'),\n  'Gewinnwachstum: ' + (f.growth.earningsQoQ !== null ? f.growth.earningsQoQ + '%' : 'n/v'),\n  ''\n];\n\nif (f.history && f.history.length > 0) {\n  factsBlock.push('--- HISTORIE ---');\n  for (var i = 0; i < f.history.length; i++) {\n    var h = f.history[i];\n    factsBlock.push(h.year + ': Umsatz ' + fmt(h.revenue) + ', Nettogewinn ' + fmt(h.netIncome));\n  }\n  factsBlock.push('');\n}\n\nif (a && a.length > 0) {\n  factsBlock.push('=== ANOMALIEN ===');\n  for (var j = 0; j < a.length; j++) {\n    factsBlock.push('[' + a[j].flag + '] ' + a[j].field + ': ' + a[j].value + ' - ' + a[j].note);\n  }\n}\n\nfactsBlock.push('=== ENDE FAKTENBLATT ===');\n\nreturn { json: { ...input, factsBlock: factsBlock.join('\\n') } };"
      },
      "id": "facts-formatter",
      "name": "5. Facts formatieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1220, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer 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" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.2,\n  \"max_tokens\": 6000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Du bist ein SENIOR EQUITY ANALYST bei einer fuehrenden Investment-Research-Firma. Erstelle analytische Unternehmenseinordnungen auf hoechstem professionellen Niveau. WICHTIG: KEINE Kaufempfehlungen, KEINE Kursziele, KEINE Anlageberatung. Nur sachliche, faktenbasierte Analyse mit professioneller Einordnung. Schreibe auf Deutsch mit korrekter Fachterminologie.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify('Erstelle eine professionelle analytische Unternehmenseinordnung basierend auf diesen Fakten:\\n\\n' + $json.factsBlock + '\\n\\nDie Analyse MUSS exakt diese 5 Abschnitte in dieser Reihenfolge enthalten:\\n\\n1) Geschaeftsmodell-Analyse\\nAnalysiere das Geschaeftsmodell des Unternehmens. Erklaere die Umsatztreiber, Wettbewerbsvorteile (Moats), Abhaengigkeiten und strukturelle Dynamiken. Mindestens 200 Woerter.\\n\\n2) Fundamentaldaten-Einordnung\\nOrdne die Kennzahlen (KGV, Margen, Wachstum, ROE etc.) sachlich ein. Erklaere Anomalien und was sie bedeuten. Vergleiche mit Branchendurchschnitten wo moeglich. Mindestens 200 Woerter.\\n\\n3) Bewertungs-Implikationen\\nAnalysiere, was die aktuelle Bewertung impliziert. Welche Annahmen sind im Kurs eingepreist? Was muesste passieren, damit die Bewertung gerechtfertigt ist? Mindestens 150 Woerter.\\n\\n4) Risiko-Hierarchie\\nIdentifiziere und priorisiere die wichtigsten Risiken: regulatorisch, wettbewerblich, makrooekonomisch, unternehmensspezifisch. Ordne nach Eintrittswahrscheinlichkeit und Auswirkung. Mindestens 150 Woerter.\\n\\n5) Sachliche Gesamteinordnung\\nFasse die strukturellen Staerken und Begrenzungen zusammen. Formuliere die kritischen Annahmen, die fuer die aktuelle Bewertung erfuellt sein muessen. KEINE Empfehlung, nur sachliche Einordnung. Mindestens 150 Woerter.\\n\\nGesamtlaenge: Mindestens 900 Woerter. Schreibe professionell, sachlich und ohne Marketing-Sprache.') }}\n    }\n  ],\n  \"return_citations\": true\n}",
        "options": { "timeout": 180000 }
      },
      "id": "phase2-analyst",
      "name": "6. KI-Analyse erstellen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var prev = $('5. Facts formatieren').item.json;\nvar resp = $input.item.json;\n\nvar content = '';\nvar citations = [];\n\nif (resp && resp.choices && resp.choices[0] && resp.choices[0].message) {\n  content = resp.choices[0].message.content || '';\n  // Markdown-Formatierung entfernen, aber Struktur beibehalten\n  content = content.replace(/\\*\\*([^*]+)\\*\\*/g, '$1').replace(/\\*([^*]+)\\*/g, '$1').replace(/\\[\\d+\\]/g, '').trim();\n  citations = resp.citations || [];\n}\n\nreturn { json: { ...prev, analysisV1: content, citationsP2: citations, phase: 'P2_ANALYSIS_COMPLETE' } };"
      },
      "id": "phase2-extract",
      "name": "7. Analyse extrahieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1660, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer 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" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.15,\n  \"max_tokens\": 5000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Du bist ein kritischer Reviewer fuer Finanzanalysen. Deine Aufgabe: 1) Pruefe auf Vollstaendigkeit aller 5 Pflichtabschnitte, 2) Entferne jegliche Kursziele oder Kaufempfehlungen, 3) Stelle sicher dass die Analyse sachlich und professionell ist, 4) Verbessere die Lesbarkeit ohne den Inhalt zu kuerzen.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify('Pruefe und ueberarbeite diese Analyse:\\n\\nFakten:\\n' + $json.factsBlock + '\\n\\nAnalyse:\\n' + $json.analysisV1 + '\\n\\nLiefere NUR die ueberarbeitete, verbesserte Analyse (900-1200 Woerter). Keine Meta-Kommentare, nur den finalen Text.') }}\n    }\n  ]\n}",
        "options": { "timeout": 180000 }
      },
      "id": "phase3-critic",
      "name": "8. Kritische Pruefung",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1880, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var prev = $('7. Analyse extrahieren').item.json;\nvar resp = $input.item.json;\n\nvar revisedAnalysis = '';\n\nif (resp && resp.choices && resp.choices[0] && resp.choices[0].message) {\n  revisedAnalysis = resp.choices[0].message.content || '';\n  revisedAnalysis = revisedAnalysis.replace(/\\*\\*([^*]+)\\*\\*/g, '$1').replace(/\\*([^*]+)\\*/g, '$1').replace(/\\[\\d+\\]/g, '').trim();\n} else {\n  revisedAnalysis = prev.analysisV1;\n}\n\nreturn { json: { ...prev, analysisV2: revisedAnalysis, phase: 'P3_CRITIQUE_COMPLETE' } };"
      },
      "id": "phase3-extract",
      "name": "9. Ueberarbeitung extrahieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2100, 400]
    },
    {
      "parameters": {
        "jsCode": "var input = $input.item.json;\nvar citations = input.citationsP2 || [];\n\nvar primary = [];\nvar secondary = [];\nvar news = [];\n\nvar primaryPatterns = ['sec.gov', '10-k', '10-q', 'investor.', 'ir.'];\nvar secondaryPatterns = ['reuters.com', 'bloomberg.com', 'wsj.com', 'ft.com', 'morningstar.com', 'yahoo.com/finance'];\n\nfor (var i = 0; i < citations.length; i++) {\n  var url = citations[i].toLowerCase();\n  var categorized = false;\n  \n  for (var p = 0; p < primaryPatterns.length && !categorized; p++) {\n    if (url.indexOf(primaryPatterns[p]) !== -1) { primary.push(citations[i]); categorized = true; }\n  }\n  for (var s = 0; s < secondaryPatterns.length && !categorized; s++) {\n    if (url.indexOf(secondaryPatterns[s]) !== -1) { secondary.push(citations[i]); categorized = true; }\n  }\n  if (!categorized) news.push(citations[i]);\n}\n\nvar allSources = primary.concat(secondary).concat(news.slice(0, 3)).slice(0, 8);\nvar sourceQuality = primary.length >= 1 ? 'hoch' : secondary.length >= 1 ? 'mittel' : 'niedrig';\n\nreturn { json: { ...input, sourceValidation: { primary: primary, secondary: secondary, news: news, quality: sourceQuality, accepted: allSources }, phase: 'P3_SOURCES_VALIDATED' } };"
      },
      "id": "source-validator",
      "name": "10. Quellenvalidierung",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2320, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer 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" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.1,\n  \"max_tokens\": 4000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Du bist ein Redakteur. Verbessere Lesbarkeit ohne inhaltliche Aenderungen oder Kuerzungen. Fuege am Ende einen klar abgesetzten Abschnitt 'Kurz erklaert' hinzu (3-4 Saetze fuer Einsteiger, die erklaeren was das Unternehmen macht und worum es in der Analyse geht).\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify('Finalisiere redaktionell (keine Kuerzungen, nur Verbesserung der Lesbarkeit):\\n\\n' + $json.analysisV2 + '\\n\\nFuege am Ende einen Abschnitt hinzu: Kurz erklaert: [3-4 Saetze fuer Einsteiger]') }}\n    }\n  ]\n}",
        "options": { "timeout": 120000 }
      },
      "id": "phase4-editorial",
      "name": "11. Redaktionelle Finalisierung",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2540, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var prev = $('10. Quellenvalidierung').item.json;\nvar resp = $input.item.json;\n\nvar finalContent = '';\nif (resp && resp.choices && resp.choices[0] && resp.choices[0].message) {\n  finalContent = resp.choices[0].message.content || '';\n  finalContent = finalContent.replace(/\\*\\*([^*]+)\\*\\*/g, '$1').replace(/\\*([^*]+)\\*/g, '$1').replace(/\\[\\d+\\]/g, '').trim();\n} else {\n  finalContent = prev.analysisV2;\n}\n\nreturn { json: { ...prev, finalContent: finalContent, phase: 'P4_EDITORIAL_COMPLETE' } };"
      },
      "id": "phase4-extract",
      "name": "12. Finalen Text extrahieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2760, 400]
    },
    {
      "parameters": {
        "jsCode": "var input = $input.item.json;\nvar content = input.finalContent || '';\nvar lower = content.toLowerCase();\n\nfunction countWords(text) {\n  return (text || '').split(/\\s+/).filter(function(w) { return w.length > 1; }).length;\n}\nvar wordCount = countWords(content);\n\nvar koFlags = [];\nvar hasKO = false;\n\n// Pruefe auf verbotene Empfehlungsterme\nvar empfehlungTerms = ['kaufen', 'verkaufen', 'buy', 'sell', 'strong buy', 'kursziel', 'target price'];\nfor (var e = 0; e < empfehlungTerms.length; e++) {\n  if (lower.indexOf(empfehlungTerms[e]) !== -1) {\n    koFlags.push('[K.O.] Empfehlung gefunden: ' + empfehlungTerms[e]);\n    hasKO = true;\n  }\n}\n\n// Pruefe Mindestlaenge\nif (wordCount < 400) {\n  koFlags.push('[K.O.] Analyse zu kurz: ' + wordCount + ' Woerter');\n  hasKO = true;\n}\n\n// Pruefe Quellen\nvar hasAnySources = input.sourceValidation && (input.sourceValidation.primary.length > 0 || input.sourceValidation.secondary.length > 0 || input.sourceValidation.news.length > 0);\n\n// Berechne Qualitaetsscore\nvar depthScore = 5;\nif (wordCount >= 1000) depthScore += 1;\nif (wordCount >= 1200) depthScore += 0.5;\nif (lower.indexOf('risiko') !== -1 || lower.indexOf('unsicherheit') !== -1) depthScore += 0.5;\nif (lower.indexOf('gesamteinordnung') !== -1 || lower.indexOf('fazit') !== -1) depthScore += 0.5;\nif (input.sourceValidation && input.sourceValidation.primary && input.sourceValidation.primary.length >= 1) depthScore += 0.5;\nif (wordCount < 800) depthScore -= 0.5;\n\nvar finalScore = Math.max(1, Math.min(10, Math.round(depthScore * 10) / 10));\nvar publicationReady = !hasKO;\nvar statusText = hasKO ? 'BLOCKIERT' : 'PUBLIKATIONSFAEHIG';\n\nreturn { json: { input: input.input, facts: input.facts, anomalies: input.anomalies, factsBlock: input.factsBlock, finalContent: content, citations: input.sourceValidation.accepted, metrics: { wordCount: wordCount, depthScore: finalScore, publicationReady: publicationReady, statusText: statusText, koFlags: koFlags }, sourceValidation: input.sourceValidation, phase: 'QUALITY_GATE_COMPLETE' } };"
      },
      "id": "quality-gate",
      "name": "13. Quality Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2980, 400]
    },
    {
      "parameters": {
        "jsCode": "var input = $input.item.json;\nvar meta = input.input;\nvar content = input.finalContent || '';\nvar sourceVal = input.sourceValidation || { primary: [], secondary: [], news: [] };\n\n// Funktion um Fliesstext in strukturiertes HTML zu konvertieren\nfunction textToHtml(text) {\n  if (!text) return '';\n  var cleaned = text.replace(/^#{1,6}\\s*/gm, '').trim();\n  var paragraphs = cleaned.split(/\\n\\n+/);\n  var html = '';\n  var sectionNum = 0;\n  \n  for (var i = 0; i < paragraphs.length; i++) {\n    var p = paragraphs[i].trim();\n    if (!p) continue;\n    \n    // Erkennung von Abschnittsueberschriften\n    var headlineMatch = p.match(/^(\\d+\\)|\\d+\\.)\\s*(.+)$/m);\n    if (headlineMatch || /^[A-Z][A-Za-z\\s-]{5,}$/m.test(p.split('\\n')[0])) {\n      sectionNum++;\n      var lines = p.split('\\n');\n      var headline = headlineMatch ? headlineMatch[2] : lines[0].replace(/^\\d+[\\)\\.]\\s*/, '').trim();\n      html += '<h2>' + sectionNum + ') ' + headline + '</h2>';\n      if (lines.length > 1) {\n        html += '<p>' + lines.slice(1).join(' ').replace(/\\n/g, ' ').trim() + '</p>';\n      }\n    } else if (p.toLowerCase().indexOf('kurz erklaert') !== -1 || p.toLowerCase().indexOf('kurz erklärt') !== -1) {\n      // Kurz erklaert Box\n      var boxContent = p.replace(/kurz erkl[aä]rt:?/i, '').trim();\n      html += '<div style=\"background: #f8fafc; border-radius: 8px; padding: 1.25rem; margin-top: 2rem;\"><p style=\"margin: 0; font-size: 0.95rem;\"><strong>Kurz erklaert:</strong> ' + boxContent + '</p></div>';\n    } else {\n      html += '<p>' + p.replace(/\\n/g, ' ') + '</p>';\n    }\n  }\n  return html;\n}\n\n// Extrahiere Intro (erste 2-3 Saetze)\nfunction getIntro(text) {\n  if (!text) return '';\n  var sentences = text.split(/(?<=[.!?])\\s+/).slice(0, 3);\n  return sentences.join(' ').substring(0, 400);\n}\n\nvar analysisHtml = textToHtml(content);\nvar introText = getIntro(content);\nvar formattedDate = new Date(meta.date).toLocaleDateString('de-DE', { day: '2-digit', month: 'long', year: 'numeric' });\nvar formattedDateShort = new Date(meta.date).toLocaleDateString('de-DE', { day: '2-digit', month: '2-digit', year: 'numeric' });\n\n// Generiere Quellen-Links\nvar allSources = (sourceVal.primary || []).concat(sourceVal.secondary || []).concat((sourceVal.news || []).slice(0, 2));\nvar primarySource = allSources.length > 0 ? allSources[0] : 'https://investor.' + meta.company.toLowerCase().replace(/[^a-z]/g, '') + '.com';\n\n// Generiere Inhaltsverzeichnis\nvar tocSections = [\n  { id: 'section-1', title: 'Geschaeftsmodell-Analyse' },\n  { id: 'section-2', title: 'Fundamentaldaten-Einordnung' },\n  { id: 'section-3', title: 'Bewertungs-Implikationen' },\n  { id: 'section-4', title: 'Risiko-Hierarchie' },\n  { id: 'section-5', title: 'Sachliche Gesamteinordnung' }\n];\n\nvar tocHtml = '<nav aria-label=\"Inhaltsverzeichnis\" style=\"flex:1; min-width:260px; margin:0 0 0 12px; align-self:flex-start; display:flex; flex-direction:column; justify-content:flex-start; position:relative; top:-15px;\">' +\n'<h2 style=\"font-size:1.25rem; font-weight:700; color:#0f172a; margin:0 0 10px 0; border-bottom:2px solid #e2e8f0; padding-bottom:2px;\">Inhalt der Analyse</h2>' +\n'<ol class=\"toc-list\" style=\"margin-top:0; list-style:none; padding:0; display:flex; flex-direction:column; gap:8px;\">';\ntocSections.forEach(function(sec) {\n  tocHtml += '<li><a class=\"toc-link\" href=\"#' + sec.id + '\">' + sec.title + '</a></li>';\n});\ntocHtml += '</ol></nav>';\n\n// Vollstaendiges HTML generieren\nvar html = '<!DOCTYPE html>' +\n'<html lang=\"de\">' +\n'<head>' +\n'<meta charset=\"utf-8\">' +\n'<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">' +\n'<link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"../assets/favicon-32.png?v=2025-12-25b\">' +\n'<link rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"../assets/favicon-16.png?v=2025-12-25b\">' +\n'<link rel=\"shortcut icon\" href=\"../assets/favicon-32.png?v=2025-12-25b\">' +\n'<link rel=\"apple-touch-icon\" sizes=\"180x180\" href=\"../assets/apple-touch-icon.png?v=2025-12-25a\">' +\n'<title>capitovo - ' + meta.company + ' Unternehmensanalyse</title>' +\n'<meta name=\"description\" content=\"Analytische Einordnung von ' + meta.company + ' (' + meta.ticker + ') - Geschaeftsmodell, Fundamentaldaten und Bewertung.\">' +\n'<link href=\"https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css\" rel=\"stylesheet\">' +\n'<link rel=\"stylesheet\" href=\"../style.css\">' +\n'<style>' +\n'#menu-toggle, .menu-toggle { border: none; outline: none; background: transparent; }' +\n'#menu-toggle:focus, .menu-toggle:focus { outline: none; box-shadow: none; }' +\n'#menu-toggle:focus-visible, .menu-toggle:focus-visible { box-shadow: 0 0 0 4px rgba(59,130,246,0.12); border-radius: 8px; }' +\n'header { position: static !important; }' +\n'main { background: transparent; padding-top: 55px !important; }' +\n'.analysis-article { max-width: 1100px; width: 100%; margin: 0 auto; padding: 0; padding-right: 16px; }' +\n'.analysis-article h1 { font-size: 1.8rem; margin: 0 0 0.5rem 0; }' +\n'.analysis-meta { color: #6b7280; margin-bottom: 1rem; }' +\n'.analysis-intro { font-size: 1.05rem; color:#0f172a; margin-bottom:1rem; }' +\n'.analysis-section { margin-top:1rem; }' +\n'.analysis-section h2 { font-size: 1.5rem; font-weight: 700; margin: 2rem 0 1rem 0; color: #0f172a; }' +\n'.analysis-section p { margin-bottom: 1rem; line-height: 1.7; text-align: justify; }' +\n'.hero-media { width: 100%; height: 360px; object-fit: contain; background: #f3f4f6; display: block; border-radius: 8px; }' +\n'.toc-link { display: inline-block; font-size: 1.25rem; font-weight: 500; color: #334155; line-height: 1.5; text-decoration: none; position: relative; padding: 0; background: linear-gradient(110deg, var(--color-accent-blue) 0%, var(--color-accent-blue) 15%, #0ea5e9 20%, var(--color-accent-blue) 25%, var(--color-accent-blue) 40%, #334155 45%, #334155 100%); background-size: 300% 100%; background-position: 100% 0; transition: background-position 550ms cubic-bezier(0.65, 0, 0.35, 1), transform 550ms cubic-bezier(0.65, 0, 0.35, 1); -webkit-background-clip: text; background-clip: text; -webkit-text-fill-color: transparent; }' +\n'.toc-link:hover { background-position: 0 0; transform: translateX(4px); }' +\n'.back-btn-glow { box-shadow: none; transition: box-shadow 0.18s cubic-bezier(0.65,0,0.35,1), background-color 0.14s; }' +\n'.back-btn-glow:hover, .back-btn-glow:focus-visible { box-shadow: 0 0 0 2px rgba(0,145,214,0.10), 0 0 4px 1px rgba(0,145,214,0.08); }' +\n'.cap-outline-btn { border: 1px solid #e2e8f0; border-radius: 0.375rem; background: #ffffff; }' +\n'</style>' +\n'</head>' +\n'<body class=\"bg-white text-gray-900 abonenten-page\">' +\n'<header>' +\n'<div class=\"header-content\">' +\n'<div class=\"logo\">' +\n'<a href=\"./abonenten.html\" class=\"logo-link\">' +\n'<img src=\"../assets/capitovo_logo_weiß.png\" alt=\"capitovo Logo\" class=\"header-logo\">' +\n'</a>' +\n'</div>' +\n'<button class=\"menu-toggle\" id=\"menu-toggle\" aria-controls=\"sidebar\" aria-expanded=\"false\" aria-label=\"Menue oeffnen\">☰</button>' +\n'</div>' +\n'</header>' +\n'<main style=\"padding-top: 55px !important;\">' +\n'<article class=\"analysis-article\" id=\"' + meta.slug + '-analysis\" style=\"margin-top: 0 !important;\">' +\n'<div class=\"mb-2\">' +\n'<div class=\"flex items-start justify-between gap-3 flex-wrap\">' +\n'<div>' +\n'<h1 class=\"text-3xl font-extrabold text-gray-900 mb-1\">' + meta.company + ' - Unternehmensanalyse</h1>' +\n'</div>' +\n'<div class=\"flex items-center gap-2\">' +\n'<a href=\"alle_analysen.html\" class=\"inline-flex items-center gap-2 text-sm font-medium text-gray-700 bg-white rounded-md px-3 py-2 transition-colors back-btn-glow cap-outline-btn\"><span aria-hidden=\"true\">←</span><span>Zurueck</span></a>' +\n'<button id=\"favorite-button\" class=\"inline-flex items-center justify-center w-10 h-10 bg-white rounded-md text-gray-500 hover:text-yellow-400 transition-colors back-btn-glow cap-outline-btn\" style=\"padding:0\" aria-label=\"Zu Favoriten hinzufuegen\" data-title=\"' + meta.slug + '\">' +\n'<svg class=\"w-5 h-5 text-gray-400\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.6\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z\" /></svg>' +\n'</button>' +\n'</div>' +\n'</div>' +\n'<div class=\"text-sm analysis-meta\" style=\"color: #64748b;\">' +\n'<span>' + formattedDateShort + '</span>' +\n'<span class=\"text-gray-400 mx-2\">·</span>' +\n'<span>Ticker: ' + meta.ticker + '</span>' +\n'<span class=\"text-gray-400 mx-2\">·</span>' +\n'<span>WKN: ' + meta.wkn + '</span>' +\n'<span class=\"text-gray-400 mx-2\">·</span>' +\n'<span>ISIN: ' + meta.isin + '</span>' +\n'</div>' +\n'</div>' +\n'<div class=\"hero-intro-wrapper\" style=\"display:flex; gap:24px; margin:24px 0 0 0; align-items:flex-start; flex-wrap:wrap;\">' +\n'<div class=\"analysis-hero\" style=\"flex:1; min-width:300px;\">' +\n'<img src=\"../data/vorschaubilder_analysen/' + meta.slug + '_preview.svg\" alt=\"' + meta.company + ' Vorschaubild\" class=\"hero-media\">' +\n'</div>' +\ntocHtml +\n'</div>' +\n'<p class=\"analysis-intro\" style=\"margin: 24px 0 32px 0; font-size:1.08rem; line-height:1.7; max-width:100%; text-align:justify;\">' + introText + '</p>' +\n'<p style=\"height:1.5em;\"></p>' +\nanalysisHtml +\n'<hr style=\"margin: 3rem 0; border: none; border-top: 1px solid #e2e8f0;\">' +\n'<p style=\"font-size: 0.9rem; color: #64748b;\"><strong>Disclaimer:</strong> Diese Analyse stellt keine Anlageberatung dar. Capitovo erbringt keine regulierten Finanzdienstleistungen. Alle Angaben erfolgen ohne Gewaehr.</p>' +\n'<p style=\"font-size: 0.9rem; color: #64748b;\"><strong>Quellen:</strong> <a href=\"' + primarySource + '\" target=\"_blank\" rel=\"noopener noreferrer\">' + primarySource + '</a></p>' +\n'</article>' +\n'</main>' +\n'<footer class=\"site-footer border-t py-6 mt-12\">' +\n'<div class=\"footer-inner max-w-6xl mx-auto px-6 text-sm text-gray-500 flex items-center justify-between\">' +\n'<div>&copy; 2026 capitovo - Alle Rechte vorbehalten.</div>' +\n'<div class=\"footer-links\">' +\n'<a href=\"../Rechtliches/impressum.html\" class=\"footer-btn\" target=\"_blank\">Impressum</a>' +\n'<a href=\"../Rechtliches/datenschutz.html\" class=\"footer-btn\" target=\"_blank\">Datenschutz</a>' +\n'<a href=\"../Rechtliches/haftung.html\" class=\"footer-btn\" target=\"_blank\">Haftungsausschluss</a>' +\n'<a href=\"../Rechtliches/agb.html\" class=\"footer-btn\" target=\"_blank\">AGB</a>' +\n'</div>' +\n'</div>' +\n'</footer>' +\n'<div class=\"sidebar\" id=\"sidebar\" aria-hidden=\"true\">' +\n'<button class=\"close-button\" id=\"close-sidebar\" aria-label=\"Sidebar schliessen\">&times;</button>' +\n'<nav class=\"sidebar-nav\">' +\n'<ul>' +\n'<li><a href=\"./abonenten.html\"><svg xmlns=\"http://www.w3.org/2000/svg\" class=\"w-5 h-5\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.5\"><path d=\"M3 11.5L12 4l9 7.5\" /><path d=\"M5 10.5v7.5a1 1 0 001 1h3v-5h6v5h3a1 1 0 001-1v-7.5\" /></svg><span>Startseite</span></a></li>' +\n'<li><a href=\"./konto.html\"><svg class=\"w-5 h-5\" viewBox=\"0 0 24 24\" fill=\"none\"><circle cx=\"12\" cy=\"8\" r=\"3\" stroke=\"currentColor\" stroke-width=\"1.5\" /><path d=\"M6 20c0-3.333 3.333-6 6-6s6 2.667 6 6\" stroke=\"currentColor\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/></svg><span>Mein Konto</span></a></li>' +\n'<li><a href=\"./alle_analysen.html\"><svg xmlns=\"http://www.w3.org/2000/svg\" class=\"w-5 h-5\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.5\"><rect x=\"3\" y=\"10\" width=\"4\" height=\"11\" rx=\"0.5\" /><rect x=\"10\" y=\"6\" width=\"4\" height=\"15\" rx=\"0.5\" /><rect x=\"17\" y=\"3\" width=\"4\" height=\"18\" rx=\"0.5\" /></svg><span>Analysen</span></a></li>' +\n'<li><a href=\"./Aktien-Monitor/aktien-monitor.html\"><svg xmlns=\"http://www.w3.org/2000/svg\" class=\"w-5 h-5\" viewBox=\"0 0 24 24\" fill=\"none\"><path d=\"M3 17l6-6 4 4 8-8\" stroke=\"currentColor\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\" /></svg><span>Aktien-Monitor</span></a></li>' +\n'</ul>' +\n'</nav>' +\n'</div>' +\n'<script src=\"../script.js?v=12\"></script>' +\n'</body>' +\n'</html>';\n\nreturn { json: { ...input, htmlPublic: html } };"
      },
      "id": "html-renderer",
      "name": "14. HTML generieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3200, 400]
    },
    {
      "parameters": {
        "jsCode": "var input = $input.item.json;\nvar meta = input.input;\n\nvar displayName = meta.company.length > 25 ? meta.company.substring(0, 22) + '...' : meta.company;\n\nvar svg = '<svg width=\"640\" height=\"360\" viewBox=\"0 0 640 360\" xmlns=\"http://www.w3.org/2000/svg\">' +\n'<defs>' +\n'<linearGradient id=\"bg\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"100%\">' +\n'<stop offset=\"0%\" stop-color=\"#0f172a\"/>' +\n'<stop offset=\"100%\" stop-color=\"#1e293b\"/>' +\n'</linearGradient>' +\n'<linearGradient id=\"accent\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"0%\">' +\n'<stop offset=\"0%\" stop-color=\"#3b82f6\"/>' +\n'<stop offset=\"100%\" stop-color=\"#0ea5e9\"/>' +\n'</linearGradient>' +\n'</defs>' +\n'<rect width=\"640\" height=\"360\" fill=\"url(#bg)\" rx=\"16\"/>' +\n'<g font-family=\"-apple-system, BlinkMacSystemFont, sans-serif\">' +\n'<text x=\"48\" y=\"72\" fill=\"#64748b\" font-size=\"12\" letter-spacing=\"0.1em\">' + meta.ticker + ' · ' + (meta.sector || '').toUpperCase() + '</text>' +\n'<text x=\"48\" y=\"120\" fill=\"#f1f5f9\" font-size=\"36\" font-weight=\"700\">' + displayName + '</text>' +\n'<text x=\"48\" y=\"155\" fill=\"#94a3b8\" font-size=\"15\">Unternehmensanalyse</text>' +\n'<rect x=\"48\" y=\"180\" width=\"80\" height=\"4\" fill=\"url(#accent)\" rx=\"2\"/>' +\n'<text x=\"48\" y=\"230\" fill=\"#64748b\" font-size=\"13\">Geschaeftsmodell · Fundamentaldaten · Bewertung</text>' +\n'<text x=\"48\" y=\"300\" fill=\"#475569\" font-size=\"11\">capitovo Research</text>' +\n'<text x=\"48\" y=\"320\" fill=\"#64748b\" font-size=\"10\">' + meta.date + '</text>' +\n'</g>' +\n'</svg>';\n\nreturn { json: { ...input, svgPreview: svg } };"
      },
      "id": "svg-generator",
      "name": "15. SVG Vorschaubild",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3420, 400]
    },
    {
      "parameters": {
        "jsCode": "var input = $input.item.json;\nvar meta = input.input;\nvar metrics = input.metrics;\n\nvar htmlBase64 = Buffer.from(input.htmlPublic, 'utf8').toString('base64');\nvar svgBase64 = Buffer.from(input.svgPreview, 'utf8').toString('base64');\n\n// Datum formatieren fuer Titel\nvar dateParts = meta.date.split('-');\nvar dateObj = new Date(parseInt(dateParts[0]), parseInt(dateParts[1])-1, parseInt(dateParts[2]));\nvar titleDate = dateObj.toLocaleDateString('de-DE', { day: '2-digit', month: 'long', year: 'numeric' });\n\n// Intro Text (erste 200 Zeichen des Inhalts)\nvar introText = (input.finalContent || '').substring(0, 250).replace(/\\n/g, ' ').trim();\nif (introText.length >= 247) introText = introText.substring(0, introText.lastIndexOf(' ')) + '...';\n\nvar catalogEntry = {\n  id: meta.ticker.toLowerCase() + '-' + meta.date,\n  category: (meta.sector || 'SONSTIGE').toUpperCase(),\n  title: meta.company + ' – Unternehmensanalyse (' + titleDate + ')',\n  summary: introText || ('Analytische Einordnung von ' + meta.company + ' (' + meta.ticker + ') - Geschaeftsmodell, Fundamentaldaten, Bewertungsimplikationen und strukturelle Risiken.'),\n  link: 'Abonenten/' + meta.slug + '.html',\n  image: 'data/vorschaubilder_analysen/' + meta.slug + '_preview.svg',\n  date: meta.date,\n  author: 'capitovo Research',\n  tags: [meta.company, meta.ticker, meta.sector, meta.exchange].filter(Boolean),\n  published: true,\n  wordCount: metrics.wordCount,\n  sourcesCount: input.sourceValidation ? input.sourceValidation.accepted.length : 0\n};\n\nreturn {\n  json: {\n    company: meta.company,\n    ticker: meta.ticker,\n    sector: meta.sector,\n    slug: meta.slug,\n    date: meta.date,\n    wkn: meta.wkn,\n    isin: meta.isin,\n    publicationReady: metrics.publicationReady,\n    statusText: metrics.statusText,\n    htmlPath: 'Abonenten/' + meta.slug + '.html',\n    svgPath: 'data/vorschaubilder_analysen/' + meta.slug + '_preview.svg',\n    htmlBase64: htmlBase64,\n    svgBase64: svgBase64,\n    htmlCommitMsg: 'Analyse: ' + meta.company + ' (' + meta.ticker + ') - ' + meta.date,\n    svgCommitMsg: 'Vorschaubild: ' + meta.company + ' - ' + meta.date,\n    catalogEntry: catalogEntry,\n    metrics: metrics\n  }\n};"
      },
      "id": "base64-encoder",
      "name": "16. Base64 kodieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3640, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.publicationReady }}",
              "value2": true
            }
          ]
        }
      },
      "id": "publish-gate",
      "name": "17. Publish Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3860, 400]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/kw-f8/capitovo/contents/{{ $json.htmlPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "options": { "timeout": 30000 }
      },
      "id": "get-html-sha",
      "name": "18a. Get HTML SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4080, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var prev = $('16. Base64 kodieren').item.json;\nvar resp = $input.item.json;\nvar htmlSha = resp && resp.sha ? resp.sha : null;\nreturn { json: { ...prev, htmlSha: htmlSha } };"
      },
      "id": "extract-html-sha",
      "name": "18b. Extract HTML SHA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4280, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/kw-f8/capitovo/contents/{{ $json.htmlPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.htmlSha ? '{\"message\": \"' + $json.htmlCommitMsg + '\", \"content\": \"' + $json.htmlBase64 + '\", \"sha\": \"' + $json.htmlSha + '\", \"branch\": \"main\"}' : '{\"message\": \"' + $json.htmlCommitMsg + '\", \"content\": \"' + $json.htmlBase64 + '\", \"branch\": \"main\"}' }}",
        "options": { "timeout": 60000 }
      },
      "id": "github-upload-html",
      "name": "19. GitHub Upload HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4480, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "iCAWAEqg10f57flt",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var prev = $('18b. Extract HTML SHA').item.json;\nreturn { json: prev };"
      },
      "id": "pass-after-html",
      "name": "20. Pass Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4680, 300]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/kw-f8/capitovo/contents/{{ $json.svgPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "options": { "timeout": 30000 }
      },
      "id": "get-svg-sha",
      "name": "21a. Get SVG SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4880, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var prev = $('20. Pass Data').item.json;\nvar resp = $input.item.json;\nvar svgSha = resp && resp.sha ? resp.sha : null;\nreturn { json: { ...prev, svgSha: svgSha } };"
      },
      "id": "extract-svg-sha",
      "name": "21b. Extract SVG SHA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5080, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/kw-f8/capitovo/contents/{{ $json.svgPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.svgSha ? '{\"message\": \"' + $json.svgCommitMsg + '\", \"content\": \"' + $json.svgBase64 + '\", \"sha\": \"' + $json.svgSha + '\", \"branch\": \"main\"}' : '{\"message\": \"' + $json.svgCommitMsg + '\", \"content\": \"' + $json.svgBase64 + '\", \"branch\": \"main\"}' }}",
        "options": { "timeout": 60000 }
      },
      "id": "github-upload-svg",
      "name": "22. GitHub Upload SVG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5280, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "iCAWAEqg10f57flt",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/kw-f8/capitovo/contents/data/analysen.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "options": { "timeout": 30000 }
      },
      "id": "get-catalog-sha",
      "name": "23. Get Analysen.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5480, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "iCAWAEqg10f57flt",
          "name": "GitHub Token"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var prev = $('21b. Extract SVG SHA').item.json;\nvar resp = $input.item.json;\n\nvar analysenSha = resp && resp.sha ? resp.sha : null;\nvar existing = [];\n\ntry {\n  if (resp && resp.content) {\n    var decoded = Buffer.from(resp.content, 'base64').toString('utf8');\n    existing = JSON.parse(decoded);\n  }\n} catch(e) { existing = []; }\n\n// Neuen Eintrag vorbereiten\nvar entry = prev.catalogEntry;\n\n// Pruefen ob Eintrag bereits existiert (nach ID oder Link)\nvar idx = -1;\nfor (var i = 0; i < existing.length; i++) {\n  if (existing[i].id === entry.id || existing[i].link === entry.link) {\n    idx = i;\n    break;\n  }\n}\n\n// Update oder Insert\nif (idx >= 0) {\n  existing[idx] = Object.assign({}, existing[idx], entry);\n} else {\n  // Nach der Vorlage einfuegen (Index 1)\n  var insertAt = 0;\n  if (existing[0] && String(existing[0].category || '').toUpperCase() === 'VORLAGE') insertAt = 1;\n  existing.splice(insertAt, 0, entry);\n}\n\nvar updatedJson = JSON.stringify(existing, null, 2);\nvar analysenBase64 = Buffer.from(updatedJson, 'utf8').toString('base64');\n\nreturn {\n  json: {\n    ...prev,\n    analysenPath: 'data/analysen.json',\n    analysenSha: analysenSha,\n    analysenBase64: analysenBase64,\n    analysenCommitMsg: 'Katalog: ' + prev.company + ' (' + prev.ticker + ') hinzugefuegt'\n  }\n};"
      },
      "id": "build-catalog",
      "name": "24. Katalog aktualisieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5680, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/kw-f8/capitovo/contents/{{ $json.analysenPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.analysenCommitMsg }}\",\n  \"content\": \"{{ $json.analysenBase64 }}\",\n  \"sha\": \"{{ $json.analysenSha }}\",\n  \"branch\": \"main\"\n}",
        "options": { "timeout": 60000 }
      },
      "id": "github-upload-catalog",
      "name": "25. GitHub Upload Katalog",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5880, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "iCAWAEqg10f57flt",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "=✅ ERFOLG: {{ $('24. Katalog aktualisieren').item.json.company }} ({{ $('24. Katalog aktualisieren').item.json.ticker }}) veröffentlicht"
            },
            {
              "name": "liveUrl",
              "value": "=https://kw-f8.github.io/capitovo/{{ $('24. Katalog aktualisieren').item.json.htmlPath }}"
            }
          ],
          "number": [
            {
              "name": "qualityScore",
              "value": "={{ $('24. Katalog aktualisieren').item.json.metrics.depthScore }}"
            },
            {
              "name": "wordCount",
              "value": "={{ $('24. Katalog aktualisieren').item.json.metrics.wordCount }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-success",
      "name": "26. Erfolg (Log)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [6100, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "=❌ BLOCKIERT: {{ $json.company }} ({{ $json.ticker }})"
            },
            {
              "name": "reason",
              "value": "={{ $json.statusText }}"
            },
            {
              "name": "problems",
              "value": "={{ $json.metrics.koFlags ? $json.metrics.koFlags.join(', ') : 'Unbekannter Fehler' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-blocked",
      "name": "Blockiert (Log)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [4080, 500]
    }
  ],
  "connections": {
    "Formular - Unternehmen eingeben": { "main": [[{ "node": "1. Unternehmensdaten laden", "type": "main", "index": 0 }]] },
    "1. Unternehmensdaten laden": { "main": [[{ "node": "2. Input vorbereiten", "type": "main", "index": 0 }]] },
    "2. Input vorbereiten": { "main": [[{ "node": "3. Finanzdaten laden", "type": "main", "index": 0 }]] },
    "3. Finanzdaten laden": { "main": [[{ "node": "4. Fakteninstanz", "type": "main", "index": 0 }]] },
    "4. Fakteninstanz": { "main": [[{ "node": "5. Facts formatieren", "type": "main", "index": 0 }]] },
    "5. Facts formatieren": { "main": [[{ "node": "6. KI-Analyse erstellen", "type": "main", "index": 0 }]] },
    "6. KI-Analyse erstellen": { "main": [[{ "node": "7. Analyse extrahieren", "type": "main", "index": 0 }]] },
    "7. Analyse extrahieren": { "main": [[{ "node": "8. Kritische Pruefung", "type": "main", "index": 0 }]] },
    "8. Kritische Pruefung": { "main": [[{ "node": "9. Ueberarbeitung extrahieren", "type": "main", "index": 0 }]] },
    "9. Ueberarbeitung extrahieren": { "main": [[{ "node": "10. Quellenvalidierung", "type": "main", "index": 0 }]] },
    "10. Quellenvalidierung": { "main": [[{ "node": "11. Redaktionelle Finalisierung", "type": "main", "index": 0 }]] },
    "11. Redaktionelle Finalisierung": { "main": [[{ "node": "12. Finalen Text extrahieren", "type": "main", "index": 0 }]] },
    "12. Finalen Text extrahieren": { "main": [[{ "node": "13. Quality Gate", "type": "main", "index": 0 }]] },
    "13. Quality Gate": { "main": [[{ "node": "14. HTML generieren", "type": "main", "index": 0 }]] },
    "14. HTML generieren": { "main": [[{ "node": "15. SVG Vorschaubild", "type": "main", "index": 0 }]] },
    "15. SVG Vorschaubild": { "main": [[{ "node": "16. Base64 kodieren", "type": "main", "index": 0 }]] },
    "16. Base64 kodieren": { "main": [[{ "node": "17. Publish Gate", "type": "main", "index": 0 }]] },
    "17. Publish Gate": {
      "main": [
        [{ "node": "18a. Get HTML SHA", "type": "main", "index": 0 }],
        [{ "node": "Blockiert (Log)", "type": "main", "index": 0 }]
      ]
    },
    "18a. Get HTML SHA": { "main": [[{ "node": "18b. Extract HTML SHA", "type": "main", "index": 0 }]] },
    "18b. Extract HTML SHA": { "main": [[{ "node": "19. GitHub Upload HTML", "type": "main", "index": 0 }]] },
    "19. GitHub Upload HTML": { "main": [[{ "node": "20. Pass Data", "type": "main", "index": 0 }]] },
    "20. Pass Data": { "main": [[{ "node": "21a. Get SVG SHA", "type": "main", "index": 0 }]] },
    "21a. Get SVG SHA": { "main": [[{ "node": "21b. Extract SVG SHA", "type": "main", "index": 0 }]] },
    "21b. Extract SVG SHA": { "main": [[{ "node": "22. GitHub Upload SVG", "type": "main", "index": 0 }]] },
    "22. GitHub Upload SVG": { "main": [[{ "node": "23. Get Analysen.json", "type": "main", "index": 0 }]] },
    "23. Get Analysen.json": { "main": [[{ "node": "24. Katalog aktualisieren", "type": "main", "index": 0 }]] },
    "24. Katalog aktualisieren": { "main": [[{ "node": "25. GitHub Upload Katalog", "type": "main", "index": 0 }]] },
    "25. GitHub Upload Katalog": { "main": [[{ "node": "26. Erfolg (Log)", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": []
}
