n8n/n8n_social_media_monitoring_agent.json
{
  "name": "capitovo Social Media Monitoring Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */6 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Load existing analyses to track companies\nconst fs = require('fs');\nconst analysenPath = '/workspaces/capitovo/data/analysen.json';\n\ntry {\n  const analysenData = fs.readFileSync(analysenPath, 'utf8');\n  const analysen = JSON.parse(analysenData);\n  \n  // Extract tickers for monitoring\n  const existingTickers = analysen.map(a => a.ticker);\n  const existingCompanies = analysen.map(a => ({\n    ticker: a.ticker,\n    company: a.company\n  }));\n  \n  return {\n    json: {\n      existingTickers: existingTickers,\n      existingCompanies: existingCompanies,\n      tickerList: existingTickers.join(', '),\n      totalAnalyses: analysen.length\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      error: error.message,\n      existingTickers: [],\n      existingCompanies: [],\n      tickerList: '',\n      totalAnalyses: 0\n    }\n  };\n}"
      },
      "id": "load-portfolio",
      "name": "Load Portfolio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "perplexityApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$credentials.apiKey}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"messages\": [{\"role\": \"system\", \"content\": \"Du bist ein Social Media Analyst für Finanzmärkte. Analysiere Twitter (X), Reddit WallStreetBets, StockTwits und YouTube für Retail-Investor-Sentiment und virale Trends.\"}, {\"role\": \"user\", \"content\": \"🔥 **SOCIAL MEDIA MONITORING - AKTUELLE PORTFOLIO-AKTIEN**\\n\\n📊 Überwache folgende Aktien: {{$json.tickerList}}\\n\\n---\\n\\n🎯 **Analyse-Auftrag:**\\n\\n1️⃣ **Twitter/X Trending:** Welche dieser Aktien werden aktuell am meisten diskutiert? (letzte 24h)\\n2️⃣ **Reddit WSB:** Welche Aktien haben Posts mit vielen Upvotes? Bullish oder Bearish?\\n3️⃣ **StockTwits Sentiment:** Positive oder negative Stimmung?\\n4️⃣ **Influencer Mentions:** Haben bekannte FinTwit-Accounts (z.B. @elonmusk, @chamath, @CathieDWood) eine dieser Aktien erwähnt?\\n5️⃣ **Unusual Activity:** Plötzliche Spikes in Mentions? Meme-Status?\\n\\n---\\n\\n**Antwortformat:**\\n\\n## 🔥 HOT RIGHT NOW (Top 3)\\n### 1. [TICKER] - [Company]\\n**Mention Spike:** [+X% vs. gestern]\\n**Sentiment:** [Bullish/Bearish/Neutral] (Score: X/10)\\n**Top Post/Tweet:** [Zusammenfassung mit Engagement-Zahlen]\\n**Catalysts:** [Warum trendet es?]\\n**Viral Potential:** [Low/Medium/High]\\n\\n[Wiederhole für #2 und #3]\\n\\n## 📊 Portfolio Sentiment Overview\\n[Alle überwachten Aktien - kurze Sentiment-Zusammenfassung]\\n\\n## 🚨 Alerts & Red Flags\\n[Negative Sentiment-Shifts, FUD, Short-Seller-Kampagnen]\\n\\n## 💡 Content Opportunities\\n[Welche Aktien sollten aufgrund von Social Buzz priorisiert werden?]\"}],\n  \"temperature\": 0.2,\n  \"max_tokens\": 2500,\n  \"search_recency_filter\": \"day\"\n}",
        "options": {}
      },
      "id": "portfolio-monitoring",
      "name": "Portfolio Social Monitoring",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "perplexity-api-key",
          "name": "Perplexity API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "perplexityApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$credentials.apiKey}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"messages\": [{\"role\": \"system\", \"content\": \"Du bist ein Trend-Scout für Finanzmärkte. Identifiziere aufkommende Aktien-Trends BEVOR sie Mainstream werden. Fokus auf Retail-Investoren.\"}, {\"role\": \"user\", \"content\": \"🚀 **TREND DISCOVERY - NEUE AKTIEN MIT MOMENTUM**\\n\\n🔍 **Mission:** Finde Aktien die NICHT in dieser Liste sind, aber gerade viral gehen:\\n{{$json.tickerList}}\\n\\n---\\n\\n**Suchkriterien:**\\n1️⃣ **Reddit WSB:** Neue Ticker mit >500 Upvotes in letzten 48h\\n2️⃣ **Twitter Trending:** Aktien mit plötzlichem Mention-Spike (+200% vs. Vorwoche)\\n3️⃣ **StockTwits:** Watchlist-Adds +50% diese Woche\\n4️⃣ **YouTube:** Neue Videos von großen Finance-Channels (>100k Subs)\\n5️⃣ **Meme-Potential:** Short Interest >20%, kleine Market Cap (<$10B), Story-Potential\\n\\n---\\n\\n**Antwortformat:**\\n\\n## 🚀 EMERGING TRENDS (Top 5)\\n### 1. [TICKER] - [Company]\\n**Sector:** [Kategorie]\\n**Why Trending:** [Catalyst/Reason]\\n**Social Metrics:**\\n  - Reddit Mentions: [Anzahl, Sentiment]\\n  - Twitter Impressions: [Geschätzt]\\n  - StockTwits Watchlists: [+X%]\\n**Viral Score:** [0-10]\\n**Investment Thesis:** [1-2 Sätze]\\n**Risk Level:** [Low/Medium/High]\\n**Action:** [Sofort analysieren / Beobachten / Ignorieren]\\n\\n[Wiederhole für #2-5]\\n\\n## 📈 Trend Categories\\n[Welche Themen dominieren? z.B. AI, Cannabis, EV, Biotech]\\n\\n## ⚠️ Pump & Dump Warnings\\n[Verdächtige Aktien mit koordinierten Pump-Kampagnen]\"}],\n  \"temperature\": 0.3,\n  \"max_tokens\": 3000,\n  \"search_recency_filter\": \"day\"\n}",
        "options": {}
      },
      "id": "trend-discovery",
      "name": "Trend Discovery Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 480],
      "credentials": {
        "httpHeaderAuth": {
          "id": "perplexity-api-key",
          "name": "Perplexity API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "perplexityApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$credentials.apiKey}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"messages\": [{\"role\": \"system\", \"content\": \"Du bist ein Influencer-Monitoring-Spezialist. Tracke wichtige FinTwit-Persönlichkeiten und deren Aktien-Mentions.\"}, {\"role\": \"user\", \"content\": \"👥 **INFLUENCER MONITORING - LETZTE 48H**\\n\\n🎯 **Überwache folgende Accounts:**\\n- Elon Musk (@elonmusk)\\n- Cathie Wood / ARK Invest (@CathieDWood, @ARKInvest)\\n- Chamath Palihapitiya (@chamath)\\n- Bill Ackman (@BillAckman)\\n- Michael Burry (@michaeljburry / BurryArchive)\\n- Jim Cramer (@jimcramer)\\n- Dave Portnoy (@stoolpresidente)\\n- Große deutsche Finanz-Influencer (z.B. Kolja Barghoorn)\\n\\n---\\n\\n**Analyse:**\\n1️⃣ Welche Aktien wurden erwähnt?\\n2️⃣ Bullish oder Bearish Stance?\\n3️⃣ Kaufen/Verkaufen/Halten Signale?\\n4️⃣ Engagement der Tweets (Likes, Retweets)\\n5️⃣ Auswirkung auf Aktienkurs (falls messbar)\\n\\n---\\n\\n**Antwortformat:**\\n\\n## 📢 INFLUENCER ACTIVITY\\n### [Influencer Name]\\n**Mentioned:** [TICKER] - [Company]\\n**Statement:** [Zusammenfassung des Posts]\\n**Stance:** [Bullish/Bearish/Neutral]\\n**Engagement:** [X Likes, Y Retweets]\\n**Market Impact:** [Kurs +/-X% danach]\\n**Relevance Score:** [0-10]\\n\\n[Für jeden relevanten Influencer]\\n\\n## 🔥 Most Impactful Mention\\n[Der Tweet/Post mit größter Wirkung]\\n\\n## 📊 Sentiment Breakdown\\n[Bullish vs. Bearish Ratio bei Influencern]\"}],\n  \"temperature\": 0.1,\n  \"max_tokens\": 2000,\n  \"search_recency_filter\": \"day\"\n}",
        "options": {}
      },
      "id": "influencer-tracking",
      "name": "Influencer Tracking Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 660],
      "credentials": {
        "httpHeaderAuth": {
          "id": "perplexity-api-key",
          "name": "Perplexity API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Parse Portfolio Monitoring Results\nconst response = $input.item.json.choices[0].message.content;\n\nfunction extractTopTrending(text) {\n  const regex = /##\\s*🔥\\s*HOT RIGHT NOW[^#]*([\\s\\S]*?)(?=##|$)/i;\n  const match = text.match(regex);\n  return match ? match[1].trim() : '';\n}\n\nfunction extractSentimentOverview(text) {\n  const regex = /##\\s*📊\\s*Portfolio Sentiment[^#]*([\\s\\S]*?)(?=##|$)/i;\n  const match = text.match(regex);\n  return match ? match[1].trim() : '';\n}\n\nfunction extractAlerts(text) {\n  const regex = /##\\s*🚨\\s*Alerts[^#]*([\\s\\S]*?)(?=##|$)/i;\n  const match = text.match(regex);\n  return match ? match[1].trim() : '';\n}\n\nfunction extractOpportunities(text) {\n  const regex = /##\\s*💡\\s*Content Opportunities[^#]*([\\s\\S]*?)(?=##|$)/i;\n  const match = text.match(regex);\n  return match ? match[1].trim() : '';\n}\n\nreturn {\n  json: {\n    hotTrending: extractTopTrending(response),\n    sentimentOverview: extractSentimentOverview(response),\n    alerts: extractAlerts(response),\n    contentOpportunities: extractOpportunities(response),\n    fullReport: response\n  }\n};"
      },
      "id": "parse-portfolio-monitoring",
      "name": "Parse Portfolio Monitoring",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "functionCode": "// Parse Trend Discovery Results\nconst response = $input.item.json.choices[0].message.content;\n\nfunction extractSection(text, keyword) {\n  const regex = new RegExp(`##\\\\s*${keyword}[^#]*([\\\\s\\\\S]*?)(?=##|$)`, 'i');\n  const match = text.match(regex);\n  return match ? match[1].trim() : '';\n}\n\n// Extract individual trending stocks\nfunction extractTrendingStocks(text) {\n  const stockRegex = /###\\s*(\\d+)\\.\\s*([A-Z]+)\\s*-\\s*([^\\n]+)/g;\n  const stocks = [];\n  let match;\n  \n  while ((match = stockRegex.exec(text)) !== null) {\n    stocks.push({\n      rank: parseInt(match[1]),\n      ticker: match[2],\n      company: match[3].trim()\n    });\n  }\n  \n  return stocks;\n}\n\nconst emergingSection = extractSection(response, '🚀\\\\s*EMERGING TRENDS');\nconst trendingStocks = extractTrendingStocks(emergingSection);\n\nreturn {\n  json: {\n    emergingTrends: emergingSection,\n    trendCategories: extractSection(response, '📈\\\\s*Trend Categories'),\n    pumpWarnings: extractSection(response, '⚠️\\\\s*Pump'),\n    trendingStocks: trendingStocks,\n    topTicker: trendingStocks.length > 0 ? trendingStocks[0].ticker : '',\n    topCompany: trendingStocks.length > 0 ? trendingStocks[0].company : '',\n    fullReport: response\n  }\n};"
      },
      "id": "parse-trend-discovery",
      "name": "Parse Trend Discovery",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 480]
    },
    {
      "parameters": {
        "functionCode": "// Parse Influencer Tracking Results\nconst response = $input.item.json.choices[0].message.content;\n\nfunction extractSection(text, keyword) {\n  const regex = new RegExp(`##\\\\s*${keyword}[^#]*([\\\\s\\\\S]*?)(?=##|$)`, 'i');\n  const match = text.match(regex);\n  return match ? match[1].trim() : '';\n}\n\nreturn {\n  json: {\n    influencerActivity: extractSection(response, '📢\\\\s*INFLUENCER ACTIVITY'),\n    mostImpactful: extractSection(response, '🔥\\\\s*Most Impactful'),\n    sentimentBreakdown: extractSection(response, '📊\\\\s*Sentiment Breakdown'),\n    fullReport: response\n  }\n};"
      },
      "id": "parse-influencer-tracking",
      "name": "Parse Influencer Tracking",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 660]
    },
    {
      "parameters": {
        "functionCode": "// Combine all social media insights\nconst portfolio = $('Parse Portfolio Monitoring').item.json;\nconst trends = $('Parse Trend Discovery').item.json;\nconst influencers = $('Parse Influencer Tracking').item.json;\n\n// Calculate priority scores\nconst hasHotTrending = portfolio.hotTrending.length > 100;\nconst hasNewTrends = trends.trendingStocks.length > 0;\nconst hasInfluencerMentions = influencers.mostImpactful.length > 50;\n\nconst urgencyScore = (hasHotTrending ? 3 : 0) + (hasNewTrends ? 2 : 0) + (hasInfluencerMentions ? 1 : 0);\n\nreturn {\n  json: {\n    // Combined insights\n    portfolioInsights: {\n      trending: portfolio.hotTrending,\n      sentiment: portfolio.sentimentOverview,\n      alerts: portfolio.alerts,\n      opportunities: portfolio.contentOpportunities\n    },\n    \n    newTrends: {\n      emerging: trends.emergingTrends,\n      categories: trends.trendCategories,\n      warnings: trends.pumpWarnings,\n      topPicks: trends.trendingStocks\n    },\n    \n    influencerSignals: {\n      activity: influencers.influencerActivity,\n      impact: influencers.mostImpactful,\n      sentiment: influencers.sentimentBreakdown\n    },\n    \n    // Action items\n    urgencyScore: urgencyScore,\n    urgencyLevel: urgencyScore >= 4 ? 'HIGH' : urgencyScore >= 2 ? 'MEDIUM' : 'LOW',\n    \n    topNewCandidate: trends.topTicker || 'None',\n    topNewCompany: trends.topCompany || 'None',\n    \n    // Full reports for reference\n    reports: {\n      portfolio: portfolio.fullReport,\n      trends: trends.fullReport,\n      influencers: influencers.fullReport\n    },\n    \n    generatedAt: new Date().toISOString(),\n    formattedDate: new Date().toLocaleDateString('de-DE'),\n    formattedTime: new Date().toLocaleTimeString('de-DE')\n  }\n};"
      },
      "id": "combine-insights",
      "name": "Combine Social Insights",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 480]
    },
    {
      "parameters": {
        "functionCode": "// Generate Social Media Report\nconst data = $input.item.json;\n\nconst urgencyEmoji = data.urgencyLevel === 'HIGH' ? '🚨' : data.urgencyLevel === 'MEDIUM' ? '⚠️' : '✅';\n\nconst markdown = `# 🔥 Social Media Monitoring Report\n**Generiert am:** ${data.formattedDate} um ${data.formattedTime}  \n**Urgency Level:** ${urgencyEmoji} ${data.urgencyLevel} (Score: ${data.urgencyScore}/6)\n\n---\n\n## 📊 PORTFOLIO SENTIMENT\n\n### 🔥 Hot Right Now\n${data.portfolioInsights.trending}\n\n### 📈 Sentiment Overview\n${data.portfolioInsights.sentiment}\n\n### 🚨 Alerts & Red Flags\n${data.portfolioInsights.alerts || 'Keine kritischen Alerts'}\n\n### 💡 Content Opportunities\n${data.portfolioInsights.opportunities}\n\n---\n\n## 🚀 NEW EMERGING TRENDS\n\n### Top Discoveries\n${data.newTrends.emerging}\n\n### 📈 Trend Categories\n${data.newTrends.categories}\n\n### ⚠️ Pump & Dump Warnings\n${data.newTrends.warnings || 'Keine verdächtigen Aktivitäten erkannt'}\n\n---\n\n## 👥 INFLUENCER SIGNALS\n\n### 📢 Recent Activity\n${data.influencerSignals.activity}\n\n### 🔥 Most Impactful Mention\n${data.influencerSignals.impact}\n\n### 📊 Sentiment Breakdown\n${data.influencerSignals.sentiment}\n\n---\n\n## 🎯 ACTION ITEMS\n\n### Immediate Actions (${data.urgencyLevel} Priority)\n\n${\n  data.urgencyLevel === 'HIGH' \n    ? '🚨 **URGENT:** Hohe Social Media Aktivität erkannt!\\n\\n1. Portfolio-Aktien mit Trending-Status sofort überprüfen\\n2. Neue Analyse für Top-Trend-Aktie erwägen: **' + data.topNewCandidate + '**\\n3. Social Media Posts vorbereiten (Strike while hot!)\\n4. Newsletter-Update mit aktuellen Trends'\n    : data.urgencyLevel === 'MEDIUM'\n    ? '⚠️ **MODERATE:** Interessante Entwicklungen beobachten\\n\\n1. Top-Trend **' + data.topNewCandidate + '** für spätere Analyse notieren\\n2. Portfolio-Sentiment im Auge behalten\\n3. Bei weiterem Momentum reagieren'\n    : '✅ **NORMAL:** Routine-Monitoring\\n\\n1. Wöchentliche Review der Trends\\n2. Keine sofortigen Aktionen erforderlich\\n3. Nächstes Monitoring abwarten'\n}\n\n### Top New Candidate for Analysis\n${\n  data.topNewCandidate !== 'None'\n    ? `**${data.topNewCandidate}** - ${data.topNewCompany}\\n\\n*Begründung:* Hohe Social Media Aktivität, starkes Momentum, passt zu capitovo Zielgruppe.`\n    : 'Keine herausragenden neuen Kandidaten gefunden.'\n}\n\n---\n\n## 📈 TREND SUMMARY\n\n| Metric | Status |\n|--------|--------|\n| Portfolio Hot Stocks | ${data.portfolioInsights.trending.split('###').length - 1} identifiziert |\n| New Emerging Trends | ${data.newTrends.topPicks.length} Kandidaten |\n| Influencer Mentions | ${data.influencerSignals.activity.length > 100 ? 'Aktiv' : 'Ruhig'} |\n| Alerts & Warnings | ${data.portfolioInsights.alerts.length > 50 || data.newTrends.warnings.length > 50 ? '⚠️ Ja' : '✅ Keine'} |\n| Overall Urgency | ${urgencyEmoji} ${data.urgencyLevel} |\n\n---\n\n## 🔗 Next Steps\n\n1. Review diesen Report\n2. Bei HIGH/MEDIUM Urgency: Content Strategy Agent triggern\n3. Social Media Posts für trending Aktien vorbereiten\n4. Portfolio-Analysen bei negativem Sentiment updaten\n\n---\n\n## 📚 Full Reports\n\n<details>\n<summary>📊 Portfolio Monitoring (Full)</summary>\n\n${data.reports.portfolio}\n\n</details>\n\n<details>\n<summary>🚀 Trend Discovery (Full)</summary>\n\n${data.reports.trends}\n\n</details>\n\n<details>\n<summary>👥 Influencer Tracking (Full)</summary>\n\n${data.reports.influencers}\n\n</details>\n\n---\n\n*Report generiert von capitovo Social Media Monitoring Agent*\n`;\n\nconst fs = require('fs');\nconst timestamp = new Date().toISOString().replace(/[:.]/g, '-').split('T')[0];\nconst reportPath = `/workspaces/capitovo/n8n/social_media_report_${timestamp}.md`;\nfs.writeFileSync(reportPath, markdown, 'utf8');\n\nreturn {\n  json: {\n    markdown: markdown,\n    reportPath: reportPath,\n    urgencyLevel: data.urgencyLevel,\n    urgencyScore: data.urgencyScore,\n    topNewCandidate: data.topNewCandidate,\n    hasAlerts: data.portfolioInsights.alerts.length > 50\n  }\n};"
      },
      "id": "generate-report",
      "name": "Generate Social Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 480]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.urgencyLevel}}",
              "operation": "equals",
              "value2": "HIGH"
            }
          ]
        }
      },
      "id": "check-urgency",
      "name": "High Urgency?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1450, 480]
    },
    {
      "parameters": {
        "content": "=🔥 **SOCIAL MEDIA ALERT - HIGH URGENCY**\\n\\n⚠️ **Urgency Level:** {{$('Generate Social Report').item.json.urgencyLevel}} (Score: {{$('Generate Social Report').item.json.urgencyScore}}/6)\\n\\n🚀 **Top New Trend:** {{$('Generate Social Report').item.json.topNewCandidate}}\\n\\n📊 **Report:** `{{$('Generate Social Report').item.json.reportPath}}`\\n\\n💡 *Empfehlung:* Hohe Social Media Aktivität! Prüfe Portfolio-Aktien und erwäge schnelle Content-Reaktion.\\n\\n🔗 **Action:** Report öffnen und TOP-Trends priorisieren!",
        "additionalFields": {}
      },
      "id": "slack-urgent-alert",
      "name": "Slack: Urgent Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1650, 380],
      "credentials": {
        "slackApi": {
          "id": "slack-webhook",
          "name": "Slack Webhook"
        }
      }
    },
    {
      "parameters": {
        "content": "=📊 **Social Media Monitoring Update**\\n\\n✅ **Urgency Level:** {{$('Generate Social Report').item.json.urgencyLevel}}\\n\\n📈 **Top Trend:** {{$('Generate Social Report').item.json.topNewCandidate || 'Keine besonderen Trends'}}\\n\\n📄 **Report:** `{{$('Generate Social Report').item.json.reportPath}}`\\n\\n*Routine-Monitoring abgeschlossen. Keine dringenden Actions.*",
        "additionalFields": {}
      },
      "id": "slack-routine-update",
      "name": "Slack: Routine Update",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1650, 580],
      "credentials": {
        "slackApi": {
          "id": "slack-webhook",
          "name": "Slack Webhook"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Load Portfolio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Portfolio": {
      "main": [
        [
          {
            "node": "Portfolio Social Monitoring",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trend Discovery Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Influencer Tracking Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Portfolio Social Monitoring": {
      "main": [
        [
          {
            "node": "Parse Portfolio Monitoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trend Discovery Agent": {
      "main": [
        [
          {
            "node": "Parse Trend Discovery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Influencer Tracking Agent": {
      "main": [
        [
          {
            "node": "Parse Influencer Tracking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Portfolio Monitoring": {
      "main": [
        [
          {
            "node": "Combine Social Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Trend Discovery": {
      "main": [
        [
          {
            "node": "Combine Social Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Influencer Tracking": {
      "main": [
        [
          {
            "node": "Combine Social Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Social Insights": {
      "main": [
        [
          {
            "node": "Generate Social Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Social Report": {
      "main": [
        [
          {
            "node": "High Urgency?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Urgency?": {
      "main": [
        [
          {
            "node": "Slack: Urgent Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack: Routine Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-30T00:00:00.000Z",
  "versionId": "1"
}
