n8n/n8n_analyse_publisher_workflow.json
{
  "name": "Analyse Publisher - GitHub Pages",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [100, 400]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// INPUT: Analyse-Daten vom Generator-Workflow\n// =====================================================\n// Hier die Daten vom v10.1 Workflow eintragen oder per Webhook empfangen\n\nreturn {\n  json: {\n    // === PFLICHTFELDER ===\n    company: 'Apple Inc.',\n    ticker: 'AAPL',\n    slug: 'apple',\n    exchange: 'NASDAQ',\n    sector: 'Technologie',\n    currency: 'USD',\n    wkn: '865985',\n    isin: 'US0378331005',\n    date: new Date().toISOString().split('T')[0],\n    \n    // === ANALYSE-INHALT ===\n    // Der vollstaendige Analysetext (wird aus dem Generator uebernommen)\n    analysisContent: `Apple Inc. repraesentiert eines der weltweit fuehrenden Technologieunternehmen mit einer Marktkapitalisierung von ueber 3 Billionen USD. Das Unternehmen hat sich von einem reinen Hardware-Hersteller zu einem diversifizierten Technologiekonzern entwickelt, dessen Geschaeftsmodell zunehmend auf wiederkehrende Umsaetze aus dem Services-Segment setzt.\n\nGESCHAEFTSMODELL UND MARKTPOSITION\n\nDas Kerngeschaeft gliedert sich in fuenf Hauptsegmente: iPhone (etwa 52% des Umsatzes), Services (24%), Mac (8%), iPad (7%) und Wearables/Home/Accessories (9%). Die strategische Verschiebung hin zu Services - mit Angeboten wie Apple Music, iCloud, Apple TV+ und dem App Store - hat die Margenstruktur nachhaltig verbessert. Die Bruttomarge im Services-Bereich liegt bei etwa 70%, verglichen mit rund 36% im Produktgeschaeft.\n\nFINANZIELLE ENTWICKLUNG\n\nIm Geschaeftsjahr 2024 erzielte Apple einen Umsatz von 383 Mrd. USD, was einem leichten Rueckgang von 2,8% gegenueber dem Vorjahr entspricht. Der Nettogewinn belief sich auf 97 Mrd. USD. Die operative Marge lag bei stabilen 30,5%. Der Free Cashflow erreichte 99,6 Mrd. USD, was dem Unternehmen erheblichen finanziellen Spielraum fuer Aktienrueckkaeufe, Dividenden und strategische Investitionen bietet.\n\nBEWERTUNGSKONTEXT\n\nMit einem Forward-KGV von etwa 31x handelt Apple deutlich ueber dem historischen Durchschnitt und dem Branchenmedian. Diese Praemie reflektiert die Markterwartung anhaltender Margenstabilitaet, das wachsende Services-Geschaeft und die starke Markenposition. Kritisch anzumerken ist jedoch, dass das Umsatzwachstum im iPhone-Segment, das noch immer die Haelfte der Erloese ausmacht, stagniert.\n\nRISIKOFAKTOREN\n\nWesentliche Risiken umfassen die hohe Abhaengigkeit vom chinesischen Markt (etwa 19% des Umsatzes), regulatorische Entwicklungen insbesondere im App Store Bereich, sowie die zyklische Natur des Consumer-Electronics-Marktes. Die Konzentration auf wenige Lieferanten, insbesondere in der Halbleiterfertigung, stellt ein weiteres operatives Risiko dar.\n\nZUSAMMENFASSUNG\n\nApple vereint eine starke Bilanz, hohe Cashflow-Generierung und ein zunehmend diversifiziertes Geschaeftsmodell. Die aktuelle Bewertung preist jedoch bereits erhebliche Erwartungen ein. Fuer langfristig orientierte Anleger bietet das Unternehmen ein solides Risiko-Rendite-Profil, wenngleich kurzfristige Ruecksetzer bei Verfehlung der Wachstumserwartungen nicht auszuschliessen sind.`,\n    \n    // === STRUKTURIERTE ABSCHNITTE ===\n    sections: [\n      {\n        id: 'geschaeftsmodell',\n        title: 'Geschaeftsmodell & Marktposition',\n        content: 'Das Kerngeschaeft gliedert sich in fuenf Hauptsegmente: iPhone (etwa 52% des Umsatzes), Services (24%), Mac (8%), iPad (7%) und Wearables/Home/Accessories (9%). Die strategische Verschiebung hin zu Services hat die Margenstruktur nachhaltig verbessert.'\n      },\n      {\n        id: 'finanzen',\n        title: 'Finanzielle Entwicklung',\n        content: 'Im Geschaeftsjahr 2024 erzielte Apple einen Umsatz von 383 Mrd. USD. Der Nettogewinn belief sich auf 97 Mrd. USD bei einer operativen Marge von 30,5%.'\n      },\n      {\n        id: 'bewertung',\n        title: 'Bewertungskontext',\n        content: 'Mit einem Forward-KGV von etwa 31x handelt Apple deutlich ueber dem historischen Durchschnitt. Diese Praemie reflektiert die Markterwartung anhaltender Margenstabilitaet.'\n      },\n      {\n        id: 'risiken',\n        title: 'Risikofaktoren',\n        content: 'Wesentliche Risiken umfassen die hohe Abhaengigkeit vom chinesischen Markt, regulatorische Entwicklungen und die zyklische Natur des Consumer-Electronics-Marktes.'\n      },\n      {\n        id: 'fazit',\n        title: 'Zusammenfassung',\n        content: 'Apple vereint eine starke Bilanz, hohe Cashflow-Generierung und ein zunehmend diversifiziertes Geschaeftsmodell. Die aktuelle Bewertung preist jedoch bereits erhebliche Erwartungen ein.'\n      }\n    ],\n    \n    // === KENNZAHLEN (Optional) ===\n    metrics: {\n      marketCap: '3.1 Bio. USD',\n      revenue: '383 Mrd. USD',\n      netIncome: '97 Mrd. USD',\n      forwardPE: '31x',\n      operatingMargin: '30.5%',\n      freeCashFlow: '99.6 Mrd. USD'\n    },\n    \n    // === QUELLEN ===\n    sources: [\n      'https://investor.apple.com/sec-filings/',\n      'https://www.apple.com/investor/',\n      'https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=0000320193'\n    ],\n    \n    // === VORSCHAUBILD ===\n    previewImage: 'apple_preview.svg'\n  }\n};"
      },
      "id": "input-data",
      "name": "1. Input Daten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 400]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// HTML TEMPLATE RENDERER - capitovo Design\n// =====================================================\n// Generiert eine HTML-Seite im capitovo-Stil\n// Basiert auf vorlage.html / apple.html\n// =====================================================\n\nvar data = $input.item.json;\n\n// Formatierungen\nvar formattedDate = new Date(data.date).toLocaleDateString('de-DE', { \n  day: '2-digit', \n  month: '2-digit', \n  year: 'numeric' \n});\n\n// Analyse-Inhalt in Abschnitte konvertieren\nfunction formatContent(content) {\n  if (!content) return '';\n  \n  // Markdown/Text-Artefakte bereinigen\n  var cleaned = content\n    .replace(/\\*\\*([^*]+)\\*\\*/g, '<strong>$1</strong>')\n    .replace(/\\*([^*]+)\\*/g, '<em>$1</em>')\n    .trim();\n  \n  // Ueberschriften erkennen und formatieren\n  var lines = cleaned.split('\\n');\n  var html = '';\n  var currentParagraph = '';\n  \n  for (var i = 0; i < lines.length; i++) {\n    var line = lines[i].trim();\n    if (!line) {\n      if (currentParagraph) {\n        html += '<p style=\"margin-bottom:1rem; line-height:1.7; text-align:justify;\">' + currentParagraph + '</p>';\n        currentParagraph = '';\n      }\n      continue;\n    }\n    \n    // Erkenne Ueberschriften (GROSSBUCHSTABEN oder Nummerierte Abschnitte)\n    if (/^[A-ZÄÖÜ][A-ZÄÖÜ\\s&-]{5,}$/.test(line) || /^\\d+[\\.\\)]\\s+[A-ZÄÖÜ]/.test(line)) {\n      if (currentParagraph) {\n        html += '<p style=\"margin-bottom:1rem; line-height:1.7; text-align:justify;\">' + currentParagraph + '</p>';\n        currentParagraph = '';\n      }\n      var headlineText = line.replace(/^\\d+[\\.\\)]\\s*/, '').trim();\n      // Capitalize each word\n      headlineText = headlineText.split(' ').map(function(w) {\n        return w.charAt(0).toUpperCase() + w.slice(1).toLowerCase();\n      }).join(' ');\n      html += '<h3 style=\"font-size:1.25rem; font-weight:600; margin:2rem 0 1rem 0; color:#0f172a;\">' + headlineText + '</h3>';\n    } else {\n      currentParagraph += (currentParagraph ? ' ' : '') + line;\n    }\n  }\n  \n  if (currentParagraph) {\n    html += '<p style=\"margin-bottom:1rem; line-height:1.7; text-align:justify;\">' + currentParagraph + '</p>';\n  }\n  \n  return html;\n}\n\n// Quellen-HTML generieren\nfunction formatSources(sources) {\n  if (!sources || sources.length === 0) return '';\n  \n  var html = '<div class=\"refs\" style=\"margin-top:2rem; padding-top:1rem; border-top:1px solid #e2e8f0;\">';\n  html += '<p style=\"font-size:0.875rem; color:#64748b;\"><strong>Quellen:</strong></p>';\n  html += '<ul style=\"font-size:0.875rem; color:#64748b; list-style:disc; margin-left:1.5rem;\">';\n  \n  for (var i = 0; i < sources.length; i++) {\n    try {\n      var hostname = new URL(sources[i]).hostname.replace('www.', '');\n      html += '<li><a href=\"' + sources[i] + '\" target=\"_blank\" rel=\"noopener noreferrer\" style=\"color:#2563eb;\">' + hostname + '</a></li>';\n    } catch(e) {\n      html += '<li>' + sources[i] + '</li>';\n    }\n  }\n  \n  html += '</ul></div>';\n  return html;\n}\n\n// Inhaltsverzeichnis generieren\nfunction generateTOC(sections) {\n  if (!sections || sections.length === 0) return '';\n  \n  var html = '<nav aria-label=\"Inhaltsverzeichnis\" style=\"margin-bottom:2rem;\">';\n  html += '<h2 style=\"font-size:1.1rem; font-weight:600; color:#0f172a; margin-bottom:0.75rem;\">Inhalt</h2>';\n  html += '<ol style=\"list-style:decimal; margin-left:1.25rem; font-size:0.95rem;\">';\n  \n  for (var i = 0; i < sections.length; i++) {\n    html += '<li style=\"margin-bottom:0.5rem;\"><a href=\"#' + sections[i].id + '\" style=\"color:#334155; text-decoration:none;\">' + sections[i].title + '</a></li>';\n  }\n  \n  html += '</ol></nav>';\n  return html;\n}\n\n// Sections HTML generieren\nfunction formatSections(sections) {\n  if (!sections || sections.length === 0) return '';\n  \n  var html = '';\n  for (var i = 0; i < sections.length; i++) {\n    var s = sections[i];\n    html += '<section class=\"analysis-section\" id=\"' + s.id + '\">';\n    html += '<h2>' + (i + 1) + ') ' + s.title + '</h2>';\n    html += '<p style=\"line-height:1.7; text-align:justify;\">' + s.content + '</p>';\n    html += '</section>';\n  }\n  return html;\n}\n\n// Kennzahlen-Tabelle generieren\nfunction formatMetrics(metrics) {\n  if (!metrics) return '';\n  \n  var rows = [\n    ['Marktkapitalisierung', metrics.marketCap],\n    ['Umsatz (TTM)', metrics.revenue],\n    ['Nettogewinn', metrics.netIncome],\n    ['Forward-KGV', metrics.forwardPE],\n    ['Operative Marge', metrics.operatingMargin],\n    ['Free Cashflow', metrics.freeCashFlow]\n  ].filter(function(r) { return r[1]; });\n  \n  if (rows.length === 0) return '';\n  \n  var html = '<table class=\"card-table\" style=\"margin-bottom:2rem;\">';\n  html += '<thead><tr style=\"border-bottom:1px solid rgba(15,23,42,0.08);\"><th style=\"padding:8px 6px; text-align:left;\">Kennzahl</th><th style=\"padding:8px 6px; text-align:left;\">Wert</th></tr></thead>';\n  html += '<tbody>';\n  \n  for (var i = 0; i < rows.length; i++) {\n    html += '<tr style=\"border-bottom:1px solid rgba(15,23,42,0.04);\"><td style=\"padding:8px 6px; color:#64748b;\">' + rows[i][0] + '</td><td style=\"padding:8px 6px; font-weight:500;\">' + rows[i][1] + '</td></tr>';\n  }\n  \n  html += '</tbody></table>';\n  return html;\n}\n\n// Intro-Text extrahieren (erster Absatz)\nfunction getIntro(content) {\n  if (!content) return '';\n  var firstPara = content.split('\\n\\n')[0] || content.split('\\n')[0] || '';\n  return firstPara.slice(0, 400) + (firstPara.length > 400 ? '...' : '');\n}\n\nvar analysisHtml = formatContent(data.analysisContent);\nvar sectionsHtml = data.sections ? formatSections(data.sections) : '';\nvar sourcesHtml = formatSources(data.sources);\nvar tocHtml = data.sections ? generateTOC(data.sections) : '';\nvar metricsHtml = formatMetrics(data.metrics);\nvar introText = getIntro(data.analysisContent);\n\n// Vorschaubild-Pfad\nvar previewImagePath = data.previewImage \n  ? '../data/vorschaubilder_analysen/' + data.previewImage \n  : '../assets/studiodisplay_mockup.svg';\n\n// Vollstaendiges HTML generieren\nvar html = `<!DOCTYPE html>\n<html lang=\"de\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n  <link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"../assets/favicon-32.png\">\n  <link rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"../assets/favicon-16.png\">\n  <link rel=\"shortcut icon\" href=\"../assets/favicon-32.png\">\n  <link rel=\"apple-touch-icon\" sizes=\"180x180\" href=\"../assets/apple-touch-icon.png\">\n  <title>capitovo — ${data.company} Unternehmensanalyse</title>\n  <meta name=\"description\" content=\"Analytische Einordnung von ${data.company} (${data.ticker}) - Geschaeftsmodell, Fundamentaldaten und Bewertung.\">\n  <link href=\"https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css\" rel=\"stylesheet\">\n  <link rel=\"stylesheet\" href=\"../style.css\">\n  <style>\n    #menu-toggle, .menu-toggle { border: none; outline: none; background: transparent; }\n    #menu-toggle:focus, .menu-toggle:focus { outline: none; box-shadow: none; }\n    #menu-toggle:focus-visible, .menu-toggle:focus-visible { box-shadow: 0 0 0 4px rgba(59,130,246,0.12); border-radius: 8px; }\n    header { position: static !important; }\n    main { background: transparent; padding-top: 55px !important; }\n    .analysis-article { max-width: 1100px; width: 100%; margin: 0 auto; padding: 0; padding-right: 16px; }\n    .analysis-article h1 { font-size: 1.8rem; margin: 0 0 0.5rem 0; }\n    .analysis-meta { color: #6b7280; margin-bottom: 1rem; }\n    .analysis-intro { font-size: 1.05rem; color:#0f172a; margin-bottom:1rem; }\n    .analysis-section { margin-top:1.5rem; }\n    .analysis-section h2 { font-size: 1.35rem; font-weight: 700; margin: 2rem 0 1rem 0; color: #0f172a; border-bottom: 2px solid #e2e8f0; padding-bottom: 0.5rem; }\n    .hero-media { width: 100%; height: 320px; object-fit: contain; background: #f3f4f6; display: block; border-radius: 8px; }\n    .card-table { width:100%; border-collapse:collapse; }\n    .card-table th, .card-table td { padding:8px 6px; text-align:left; }\n    .refs, .refs a, .refs li { overflow-wrap: anywhere; word-break: break-word; }\n    .disclaimer-box { background: #f8fafc; border: 1px solid #e2e8f0; border-radius: 8px; padding: 1.25rem; margin: 2rem 0; }\n    .back-btn-glow { box-shadow: none; transition: box-shadow 0.18s; }\n    .back-btn-glow:hover, .back-btn-glow:focus-visible { box-shadow: 0 0 0 2px rgba(0,145,214,0.10), 0 0 4px 1px rgba(0,145,214,0.08); }\n    @media (max-width: 900px) { .hero-media { height: auto; aspect-ratio: 16/9; } }\n  </style>\n</head>\n<body class=\"bg-white text-gray-900 abonenten-page\">\n\n<header>\n  <div class=\"header-content\">\n    <div class=\"logo\">\n      <a href=\"./abonenten.html\" class=\"logo-link\">\n        <img src=\"../assets/capitovo_logo_weiß.png\" alt=\"capitovo Logo\" class=\"header-logo\">\n      </a>\n    </div>\n    <button class=\"menu-toggle\" id=\"menu-toggle\" aria-controls=\"sidebar\" aria-expanded=\"false\" aria-label=\"Menü öffnen\">☰</button>\n  </div>\n</header>\n\n<main style=\"padding-top: 55px !important;\">\n  <article class=\"analysis-article\" style=\"margin-top: 0 !important;\">\n    <div class=\"mb-2\">\n      <div class=\"flex items-start justify-between gap-3 flex-wrap\">\n        <div>\n          <p class=\"text-xs font-semibold uppercase mb-1\" style=\"color: #64748b;\">Unternehmensanalyse <span class=\"text-gray-400 mx-1\">·</span> ${data.ticker}</p>\n          <h1 class=\"text-3xl font-extrabold text-gray-900 mb-1\">${data.company}</h1>\n        </div>\n        <div class=\"flex items-center gap-2\">\n          <a href=\"alle_analysen.html\" id=\"back-button\" class=\"inline-flex items-center gap-2 text-sm font-medium text-gray-700 bg-white border border-2 border-[color:var(--color-accent-blue)] rounded-md px-3 py-2 transition-colors focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-200 back-btn-glow\">← Zurück</a>\n        </div>\n      </div>\n      <div class=\"text-sm analysis-meta\" style=\"color: #64748b;\">\n        <span>${formattedDate}</span>\n        <span class=\"text-gray-400 mx-2\">·</span>\n        <span>Ticker: ${data.ticker}</span>\n        <span class=\"text-gray-400 mx-2\">·</span>\n        <span>WKN: ${data.wkn || '-'}</span>\n        <span class=\"text-gray-400 mx-2\">·</span>\n        <span>ISIN: ${data.isin || '-'}</span>\n      </div>\n    </div>\n\n    <div class=\"hero-intro-wrapper\" style=\"display:flex; gap:24px; margin:24px 0 0 0; align-items:flex-start; flex-wrap:wrap;\">\n      <div class=\"analysis-hero\" style=\"flex:1; min-width:300px;\">\n        <img src=\"${previewImagePath}\" alt=\"${data.company} Analyse\" class=\"hero-media\">\n      </div>\n      <div style=\"flex:1; min-width:260px;\">\n        ${tocHtml}\n      </div>\n    </div>\n\n    <p class=\"analysis-intro\" style=\"margin: 24px 0 16px 0; font-size:1.05rem; line-height:1.7; text-align:justify;\">\n      ${introText}\n    </p>\n\n    ${metricsHtml}\n    \n    ${sectionsHtml || analysisHtml}\n\n    ${sourcesHtml}\n\n    <div class=\"disclaimer-box\">\n      <p style=\"font-size: 0.875rem; color: #64748b; margin: 0;\">\n        <strong>Hinweis:</strong> Diese Analyse dient Informationszwecken und stellt keine Anlageberatung dar. \n        Die Informationen sind keine Aufforderung zum Kauf oder Verkauf von Wertpapieren. \n        Quantitative Angaben basieren auf Drittanbieter-Daten. \n        capitovo uebernimmt keine Gewaehr fuer Richtigkeit oder Vollstaendigkeit.\n      </p>\n    </div>\n  </article>\n</main>\n\n<footer class=\"site-footer border-t py-6 mt-12\">\n  <div class=\"footer-inner max-w-6xl mx-auto px-6 text-sm text-gray-500 flex items-center justify-between\">\n    <div>&copy; ${new Date().getFullYear()} capitovo — Alle Rechte vorbehalten.</div>\n    <div class=\"footer-links\">\n      <a href=\"../Rechtliches/impressum.html\" class=\"footer-btn\" target=\"_blank\" rel=\"noopener noreferrer\">Impressum</a>\n      <a href=\"../Rechtliches/datenschutz.html\" class=\"footer-btn\" target=\"_blank\" rel=\"noopener noreferrer\">Datenschutz</a>\n      <a href=\"../Rechtliches/haftung.html\" class=\"footer-btn\" target=\"_blank\" rel=\"noopener noreferrer\">Haftungsausschluss</a>\n      <a href=\"../Rechtliches/agb.html\" class=\"footer-btn\" target=\"_blank\" rel=\"noopener noreferrer\">AGB</a>\n    </div>\n  </div>\n</footer>\n\n<div class=\"sidebar\" id=\"sidebar\" aria-hidden=\"true\" aria-label=\"Seitenmenü\">\n  <button class=\"close-button\" id=\"close-sidebar\" aria-label=\"Sidebar schließen\">&times;</button>\n  <nav class=\"sidebar-nav\" aria-label=\"Hauptnavigation\">\n    <ul>\n      <li><a href=\"./abonenten.html\" class=\"flex items-center space-x-3\"><svg xmlns=\"http://www.w3.org/2000/svg\" class=\"w-5 h-5\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.5\"><path d=\"M3 11.5L12 4l9 7.5\"/><path d=\"M5 10.5v7.5a1 1 0 001 1h3v-5h6v5h3a1 1 0 001-1v-7.5\"/></svg><span>Startseite</span></a></li>\n      <li><a href=\"./konto.html\" class=\"flex items-center space-x-3\"><svg class=\"w-5 h-5\" viewBox=\"0 0 24 24\" fill=\"none\"><circle cx=\"12\" cy=\"8\" r=\"3\" stroke=\"currentColor\" stroke-width=\"1.5\"/><path d=\"M6 20c0-3.333 3.333-6 6-6s6 2.667 6 6\" stroke=\"currentColor\" stroke-width=\"1.5\" stroke-linecap=\"round\"/></svg><span>Mein Konto</span></a></li>\n      <li><a href=\"./alle_analysen.html\" class=\"flex items-center space-x-3\"><svg xmlns=\"http://www.w3.org/2000/svg\" class=\"w-5 h-5\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.5\"><rect x=\"3\" y=\"10\" width=\"4\" height=\"11\" rx=\"0.5\"/><rect x=\"10\" y=\"6\" width=\"4\" height=\"15\" rx=\"0.5\"/><rect x=\"17\" y=\"3\" width=\"4\" height=\"18\" rx=\"0.5\"/></svg><span>Analysen</span></a></li>\n      <li><a href=\"./Aktien-Monitor/aktien-monitor.html\" class=\"flex items-center space-x-3\"><svg xmlns=\"http://www.w3.org/2000/svg\" class=\"w-5 h-5\" viewBox=\"0 0 24 24\" fill=\"none\"><path d=\"M3 17l6-6 4 4 8-8\" stroke=\"currentColor\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/></svg><span>Aktien-Monitor</span></a></li>\n      <li><a href=\"./earnings_kalender.html\" class=\"flex items-center space-x-3\"><svg xmlns=\"http://www.w3.org/2000/svg\" class=\"w-5 h-5\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.5\"><rect x=\"3\" y=\"4\" width=\"18\" height=\"18\" rx=\"2\"></rect><line x1=\"16\" y1=\"2\" x2=\"16\" y2=\"6\"></line><line x1=\"8\" y1=\"2\" x2=\"8\" y2=\"6\"></line><line x1=\"3\" y1=\"10\" x2=\"21\" y2=\"10\"></line></svg><span>Wirtschaftskalender</span></a></li>\n    </ul>\n  </nav>\n</div>\n\n<script src=\"../script.js?v=10\"></script>\n</body>\n</html>`;\n\nreturn {\n  json: {\n    ...data,\n    html: html,\n    filename: data.slug + '.html',\n    filePath: 'Abonenten/' + data.slug + '.html'\n  }\n};"
      },
      "id": "html-renderer",
      "name": "2. HTML Template Renderer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 400]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// SVG PREVIEW GENERATOR\n// =====================================================\n// Generiert ein Vorschaubild im capitovo-Stil\n// =====================================================\n\nvar data = $input.item.json;\n\n// Kuerze langen Firmennamen\nvar displayName = data.company.length > 25 \n  ? data.company.substring(0, 22) + '...' \n  : data.company;\n\nvar svg = `<svg width=\"640\" height=\"360\" viewBox=\"0 0 640 360\" xmlns=\"http://www.w3.org/2000/svg\">\n  <defs>\n    <linearGradient id=\"bg\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"100%\">\n      <stop offset=\"0%\" stop-color=\"#0f172a\"/>\n      <stop offset=\"100%\" stop-color=\"#1e293b\"/>\n    </linearGradient>\n    <linearGradient id=\"accent\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"0%\">\n      <stop offset=\"0%\" stop-color=\"#3b82f6\"/>\n      <stop offset=\"100%\" stop-color=\"#0ea5e9\"/>\n    </linearGradient>\n  </defs>\n  <rect width=\"640\" height=\"360\" fill=\"url(#bg)\" rx=\"16\"/>\n  <g font-family=\"-apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif\">\n    <text x=\"48\" y=\"72\" fill=\"#64748b\" font-size=\"12\" letter-spacing=\"0.1em\">${data.ticker} · ${data.sector.toUpperCase()}</text>\n    <text x=\"48\" y=\"120\" fill=\"#f1f5f9\" font-size=\"36\" font-weight=\"700\">${displayName}</text>\n    <text x=\"48\" y=\"155\" fill=\"#94a3b8\" font-size=\"15\">Analytische Unternehmenseinordnung</text>\n    <rect x=\"48\" y=\"180\" width=\"80\" height=\"4\" fill=\"url(#accent)\" rx=\"2\"/>\n    <text x=\"48\" y=\"230\" fill=\"#64748b\" font-size=\"13\">Geschaeftsmodell · Fundamentaldaten · Bewertung</text>\n    <text x=\"48\" y=\"300\" fill=\"#475569\" font-size=\"11\">capitovo Research</text>\n    <text x=\"48\" y=\"320\" fill=\"#64748b\" font-size=\"10\">${data.date}</text>\n  </g>\n</svg>`;\n\nreturn {\n  json: {\n    ...data,\n    svg: svg,\n    svgFilename: data.slug + '_preview.svg',\n    svgPath: 'data/vorschaubilder_analysen/' + data.slug + '_preview.svg'\n  }\n};"
      },
      "id": "svg-generator",
      "name": "3. SVG Preview Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 400]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// ANALYSEN.JSON UPDATER\n// =====================================================\n// Generiert den Eintrag fuer analysen.json\n// =====================================================\n\nvar data = $input.item.json;\n\nvar catalogEntry = {\n  id: data.ticker.toLowerCase() + '-' + data.date.replace(/-/g, ''),\n  category: data.sector,\n  title: data.company + ' - Unternehmensanalyse',\n  summary: 'Analytische Einordnung von ' + data.company + ' (' + data.ticker + ') - Geschaeftsmodell, Fundamentaldaten und Bewertung.',\n  link: 'Abonenten/' + data.slug + '.html',\n  image: 'data/vorschaubilder_analysen/' + data.slug + '_preview.svg',\n  date: data.date,\n  author: 'capitovo Research',\n  tags: [data.company, data.ticker, data.sector, data.exchange]\n};\n\nreturn {\n  json: {\n    ...data,\n    catalogEntry: catalogEntry\n  }\n};"
      },
      "id": "catalog-entry",
      "name": "4. Katalog-Eintrag",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 400]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/kw-f8/capitovo/contents/{{ $json.filePath }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"Neue Analyse: {{ $json.company }} ({{ $json.ticker }})\",\n  \"content\": \"{{ $json.html.toString().split('').map(c => c.charCodeAt(0).toString(16).padStart(2, '0')).join('') }}\",\n  \"branch\": \"main\"\n}",
        "options": { "timeout": 60000 }
      },
      "id": "github-upload-html",
      "name": "5a. GitHub Upload HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300],
      "disabled": true
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/kw-f8/capitovo/contents/{{ $json.svgPath }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"Vorschaubild: {{ $json.company }}\",\n  \"content\": \"{{ Buffer.from($json.svg).toString('base64') }}\",\n  \"branch\": \"main\"\n}",
        "options": { "timeout": 60000 }
      },
      "id": "github-upload-svg",
      "name": "5b. GitHub Upload SVG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 500],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// GITHUB UPLOAD PREPARATION (Base64 Encoding)\n// =====================================================\n// GitHub API erwartet Base64-encoded Content\n// =====================================================\n\nvar data = $input.item.json;\n\n// HTML zu Base64\nvar htmlBase64 = Buffer.from(data.html, 'utf8').toString('base64');\n\n// SVG zu Base64\nvar svgBase64 = Buffer.from(data.svg, 'utf8').toString('base64');\n\n// Catalog Entry zu Base64 (als JSON String)\nvar catalogJson = JSON.stringify(data.catalogEntry, null, 2);\nvar catalogBase64 = Buffer.from(catalogJson, 'utf8').toString('base64');\n\nreturn {\n  json: {\n    company: data.company,\n    ticker: data.ticker,\n    date: data.date,\n    \n    // HTML File\n    htmlPath: data.filePath,\n    htmlBase64: htmlBase64,\n    htmlCommitMsg: 'Neue Analyse: ' + data.company + ' (' + data.ticker + ')',\n    \n    // SVG File\n    svgPath: data.svgPath,\n    svgBase64: svgBase64,\n    svgCommitMsg: 'Vorschaubild: ' + data.company,\n    \n    // Catalog Entry\n    catalogEntry: data.catalogEntry,\n    catalogBase64: catalogBase64,\n    \n    // Original Data for reference\n    originalData: data\n  }\n};"
      },
      "id": "base64-encoder",
      "name": "5. Base64 Encoding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 400]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/kw-f8/capitovo/contents/{{ $json.htmlPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.htmlCommitMsg }}\",\n  \"content\": \"{{ $json.htmlBase64 }}\",\n  \"branch\": \"main\"\n}",
        "options": { "timeout": 60000 }
      },
      "id": "github-html-upload",
      "name": "6a. Upload HTML to GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1420, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/kw-f8/capitovo/contents/{{ $json.svgPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.svgCommitMsg }}\",\n  \"content\": \"{{ $json.svgBase64 }}\",\n  \"branch\": \"main\"\n}",
        "options": { "timeout": 60000 }
      },
      "id": "github-svg-upload",
      "name": "6b. Upload SVG to GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1420, 500]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// OUTPUT SUMMARY\n// =====================================================\n\nvar items = $input.all();\nvar htmlResult = items[0] ? items[0].json : {};\nvar svgResult = items[1] ? items[1].json : {};\n\n// Extrahiere die Original-Daten aus einem der Inputs\nvar originalData = htmlResult.originalData || svgResult.originalData || {};\n\nvar htmlSuccess = htmlResult.content && htmlResult.content.html_url;\nvar svgSuccess = svgResult.content && svgResult.content.html_url;\n\nreturn {\n  json: {\n    success: htmlSuccess || svgSuccess,\n    company: originalData.company || 'Unknown',\n    ticker: originalData.ticker || 'Unknown',\n    date: originalData.date || new Date().toISOString().split('T')[0],\n    \n    uploads: {\n      html: {\n        success: !!htmlSuccess,\n        url: htmlSuccess ? 'https://kw-f8.github.io/capitovo/' + (originalData.filePath || '') : null,\n        commitUrl: htmlResult.commit ? htmlResult.commit.html_url : null\n      },\n      svg: {\n        success: !!svgSuccess,\n        url: svgSuccess ? 'https://kw-f8.github.io/capitovo/' + (originalData.svgPath || '') : null,\n        commitUrl: svgResult.commit ? svgResult.commit.html_url : null\n      }\n    },\n    \n    liveUrl: 'https://kw-f8.github.io/capitovo/Abonenten/' + (originalData.slug || 'unknown') + '.html',\n    \n    nextSteps: [\n      'Warte 1-2 Minuten fuer GitHub Pages Deployment',\n      'Pruefe die Live-URL',\n      'Aktualisiere analysen.json mit dem neuen Eintrag'\n    ],\n    \n    catalogEntry: originalData.catalogEntry\n  }\n};"
      },
      "id": "output-summary",
      "name": "7. Output Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1660, 400]
    },
    {
      "parameters": {},
      "id": "output-node",
      "name": "Output",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1880, 400]
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "1. Input Daten", "type": "main", "index": 0 }]] },
    "1. Input Daten": { "main": [[{ "node": "2. HTML Template Renderer", "type": "main", "index": 0 }]] },
    "2. HTML Template Renderer": { "main": [[{ "node": "3. SVG Preview Generator", "type": "main", "index": 0 }]] },
    "3. SVG Preview Generator": { "main": [[{ "node": "4. Katalog-Eintrag", "type": "main", "index": 0 }]] },
    "4. Katalog-Eintrag": { "main": [[{ "node": "5. Base64 Encoding", "type": "main", "index": 0 }]] },
    "5. Base64 Encoding": { "main": [[{ "node": "6a. Upload HTML to GitHub", "type": "main", "index": 0 }, { "node": "6b. Upload SVG to GitHub", "type": "main", "index": 0 }]] },
    "6a. Upload HTML to GitHub": { "main": [[{ "node": "7. Output Summary", "type": "main", "index": 0 }]] },
    "6b. Upload SVG to GitHub": { "main": [[{ "node": "7. Output Summary", "type": "main", "index": 1 }]] },
    "7. Output Summary": { "main": [[{ "node": "Output", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "production" }, { "name": "publisher" }]
}
