n8n/n8n_analyse_generator_workflow_v6_sequential.json
{
  "name": "Capitovo Analyse Generator v6.1 - Sequential Pipeline",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 400]
    },
    {
      "parameters": {
        "jsCode": "// === EINGABE-DATEN ===\nreturn {\n  json: {\n    company: 'Apple',\n    ticker: 'AAPL',\n    exchange: 'NASDAQ',\n    sector: 'Technologie',\n    currency: 'USD',\n    slug: 'apple',\n    fiscalYearEnd: 'September',\n    lastAnalysisDate: null\n  }\n};"
      },
      "id": "input-data",
      "name": "1. Input Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\nconst required = ['company', 'ticker', 'exchange', 'sector', 'currency'];\nconst missing = required.filter(f => !input[f]);\nif (missing.length > 0) {\n  throw new Error(`Fehlende Pflichtfelder: ${missing.join(', ')}`);\n}\n\nconst slug = input.slug || input.company.toLowerCase().replace(/[^a-z0-9]+/g, '-');\nconst date = new Date().toISOString().split('T')[0];\n\nreturn {\n  json: {\n    ...input,\n    slug,\n    date,\n    pipelineVersion: 'v6.1-sequential'\n  }\n};"
      },
      "id": "input-validator",
      "name": "2. Input Validator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst company = input.company;\nconst ticker = input.ticker;\n\n// =====================================================\n// ALLE 5 MODULE-PROMPTS VORBEREITEN\n// =====================================================\n\nconst modules = {\n  facts: {\n    name: 'Fakten',\n    system: `Du bist ein Research Data Analyst. Deine EINZIGE Aufgabe: Fakten sammeln.\n\nREGELN:\n1. NUR verifizierbare Zahlen aus Primärquellen\n2. JEDE Zahl muss eine explizite Quelle haben\n3. KEINE Interpretation, KEINE Meinung, KEINE These\n4. Format: \"[Zahl] (Quelle: [Dokument, Jahr/Quartal])\"\n\nERLAUBTE QUELLEN:\n1. SEC Filings (10-K, 10-Q, 8-K)\n2. Earnings Call Transcripts\n3. Investor Relations Präsentationen\n4. Statista, IDC, Gartner (für Marktdaten)\n\nVERBOTEN: Blogs, Foren, Social Media, Zahlen ohne Quelle`,\n    user: `Sammle alle relevanten Finanzdaten für ${company} (${ticker}):\n\n1. UMSATZ (letzte 5 Geschäftsjahre) - Gesamt + Segmente + Geo\n2. PROFITABILITÄT - Brutto/EBIT/Netto-Marge (5 Jahre)\n3. CASHFLOW - OCF, FCF, Capex (3 Jahre)\n4. BILANZ - Cash, Debt, Net Debt/EBITDA, EK-Quote\n5. AKTIE - Kurs, Marktk., Aktien, EPS\n6. BEWERTUNG - KGV, EV/EBITDA, FCF-Yield, Div-Rendite\n\nJEDE Zahl: \"Wert (Quelle: Dokument, Zeitraum)\"`,\n    minWords: 200\n  },\n  business: {\n    name: 'Geschäftsmodell',\n    system: `Du bist ein Business Model Analyst. Beschreibe das Geschäftsmodell OBJEKTIV.\n\nREGELN:\n1. Beschreibe WAS und WIE, nicht ob es GUT oder SCHLECHT ist\n2. Keine Superlative (\"führend\", \"dominant\", \"einzigartig\")\n3. Wettbewerbsvorteile als beobachtbare Fakten\n4. Jede Aussage über Marktposition mit Quelle\n\nSPRACHE: Nüchtern, präzise, wiederholbar\nMINDESTUMFANG: 350 Wörter`,\n    user: `Beschreibe das Geschäftsmodell von ${company} (${ticker}):\n\n1. WERTSCHÖPFUNGSKETTE - Wie verdient das Unternehmen Geld?\n2. UMSATZSEGMENTE - Alle Segmente mit %-Anteil (Quelle)\n3. KUNDENSTRUKTUR - B2B/B2C, Geo-Verteilung\n4. WETTBEWERBSPOSITION - Hauptwettbewerber, Marktanteile\n5. KOSTENSTRUKTUR - Fix vs. variabel, Skaleneffekte, R&D%\n6. SENSITIVITÄTEN - Externe Faktoren, Währung, Rohstoffe\n\nNüchtern beschreiben, nicht bewerten. Mind. 350 Wörter.`,\n    minWords: 350\n  },\n  valuation: {\n    name: 'Bewertung',\n    system: `Du bist ein Valuation Specialist. Erkläre Bewertungskennzahlen OHNE zu bewerten.\n\nREGELN:\n1. Erkläre WAS der Markt implizit erwartet\n2. Zeige Berechnungswege transparent\n3. Vergleiche mit Historie und Peers (mit Quelle)\n4. KEINE Aussage ob \"teuer\" oder \"günstig\"\n\nSPRACHE:\n- \"Das KGV impliziert...\"\n- \"Im Vergleich zum 5J-Durchschnitt...\"\n- NICHT: \"attraktiv\", \"teuer\", \"unterbewertet\"\n\nMINDESTUMFANG: 350 Wörter`,\n    user: `Analysiere die Bewertung von ${company} (${ticker}):\n\n1. AKTUELLE MULTIPLES - KGV, EV/EBITDA, FCF-Yield, PEG (Stichtag!)\n2. HISTORISCHER VERGLEICH - vs. 5J/10J-Durchschnitt\n3. PEER-VERGLEICH - 3-4 Peers mit deren Multiples\n4. IMPLIZITE ERWARTUNGEN - Welches Wachstum preist der Markt ein?\n5. ROIC vs. WACC - Berechnung zeigen, Spread erklären\n6. SENSITIVITÄTEN - Bei welchem Wachstum/Marge wäre Multiple gerechtfertigt?\n\nErklären, nicht bewerten. Mind. 350 Wörter.`,\n    minWords: 350\n  },\n  thesis: {\n    name: 'These',\n    system: `Du bist ein Senior Research Analyst. Formuliere eine FALSIFIZIERBARE Investment-These.\n\nREGELN:\n1. These muss KONKRET und ÜBERPRÜFBAR sein\n2. Explizite Annahmen auflisten\n3. Konkrete Falsifikationskriterien benennen\n4. KEINE Empfehlung (nicht \"kaufen\", \"verkaufen\")\n\nSTRUKTUR:\n1. Kernaussage (1-2 Sätze)\n2. Tragende Annahmen (nummeriert)\n3. Falsifikationskriterien\n4. Zeithorizont\n\nSPRACHE: Konditional, falsifizierbar, keine Empfehlungen\nMINDESTUMFANG: 250 Wörter`,\n    user: `Formuliere eine Investment-These für ${company} (${ticker}):\n\n1. KERNTHESE - Eine klare, überprüfbare Hauptaussage\n2. TRAGENDE ANNAHMEN - Alle Annahmen die wahr sein müssen\n3. ABWEICHUNG VOM KONSENS - Was übersieht der Markt? (konditional!)\n4. FALSIFIKATIONSKRITERIEN - \"Die These wäre widerlegt, wenn...\"\n5. ZEITHORIZONT - Zeitraum, Katalysatoren\n\nKeine Handlungsempfehlung. Mind. 250 Wörter.`,\n    minWords: 250\n  },\n  scenarios: {\n    name: 'Szenarien',\n    system: `Du bist ein Scenario Analyst. Erstelle drei QUANTIFIZIERTE Entwicklungspfade.\n\nREGELN:\n1. Szenarien müssen ÖKONOMISCH UNTERSCHIEDLICH sein\n2. Jedes braucht konkrete Auslöser\n3. Zahlen konsistent (Wachstum → Marge → FCF → Multiple)\n4. Wahrscheinlichkeiten grob (keine Scheingenauigkeit)\n\nSTRUKTUR pro Szenario:\n- Auslöser: Was muss passieren?\n- Fundamentals: Umsatz, Marge, FCF\n- Bewertung: Multiple-Implikation\n- Wahrscheinlichkeit: Grobe Einordnung\n\nMINDESTUMFANG: 300 Wörter`,\n    user: `Erstelle Szenarien für ${company} (${ticker}):\n\n1. POSITIVES SZENARIO - Auslöser, Umsatz+%, Marge, FCF, Multiple, Wahrscheinlichkeit\n2. BASIS-SZENARIO - Fortschreibung, alle Annahmen explizit\n3. NEGATIVES SZENARIO - Konkrete Auslöser (nicht nur \"sinkt\"), Zahlen\n4. RISIKOMATRIX - Top 5 Risiken (Wahrscheinlichkeit × Impact)\n5. KATALYSATOREN - Positiv/Negativ, Timing\n\nQuantifiziert und konsistent. Mind. 300 Wörter.`,\n    minWords: 300\n  }\n};\n\nreturn {\n  json: {\n    ...input,\n    modulePrompts: modules\n  }\n};"
      },
      "id": "prompt-builder",
      "name": "3. Prompt Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer 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" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.1,\n  \"max_tokens\": 4000,\n  \"messages\": [\n    { \"role\": \"system\", \"content\": {{ JSON.stringify($json.modulePrompts.facts.system) }} },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.modulePrompts.facts.user) }} }\n  ],\n  \"return_citations\": true,\n  \"search_recency_filter\": \"month\"\n}",
        "options": { "timeout": 120000 }
      },
      "id": "api-module1",
      "name": "4a. API: Fakten",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $('3. Prompt Builder').item.json;\nconst response = $input.item.json;\n\nfunction extractContent(resp) {\n  if (!resp || resp.error) return { content: '', citations: [], error: resp?.error || 'No response' };\n  let content = resp.choices?.[0]?.message?.content || '';\n  content = content.replace(/\\*\\*([^*]+)\\*\\*/g, '$1').replace(/\\*([^*]+)\\*/g, '$1').replace(/\\[\\d+\\]/g, '');\n  return { content, citations: resp.citations || [], error: null };\n}\n\nreturn {\n  json: {\n    ...input,\n    module1Result: extractContent(response)\n  }\n};"
      },
      "id": "extract-module1",
      "name": "4a. Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer 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" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.2,\n  \"max_tokens\": 3000,\n  \"messages\": [\n    { \"role\": \"system\", \"content\": {{ JSON.stringify($json.modulePrompts.business.system) }} },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.modulePrompts.business.user) }} }\n  ],\n  \"return_citations\": true,\n  \"search_recency_filter\": \"month\"\n}",
        "options": { "timeout": 120000 }
      },
      "id": "api-module2",
      "name": "4b. API: Geschäftsmodell",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $('4a. Extract').item.json;\nconst response = $input.item.json;\n\nfunction extractContent(resp) {\n  if (!resp || resp.error) return { content: '', citations: [], error: resp?.error || 'No response' };\n  let content = resp.choices?.[0]?.message?.content || '';\n  content = content.replace(/\\*\\*([^*]+)\\*\\*/g, '$1').replace(/\\*([^*]+)\\*/g, '$1').replace(/\\[\\d+\\]/g, '');\n  return { content, citations: resp.citations || [], error: null };\n}\n\nreturn {\n  json: {\n    ...input,\n    module2Result: extractContent(response)\n  }\n};"
      },
      "id": "extract-module2",
      "name": "4b. Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer 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" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.2,\n  \"max_tokens\": 3000,\n  \"messages\": [\n    { \"role\": \"system\", \"content\": {{ JSON.stringify($json.modulePrompts.valuation.system) }} },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.modulePrompts.valuation.user) }} }\n  ],\n  \"return_citations\": true,\n  \"search_recency_filter\": \"month\"\n}",
        "options": { "timeout": 120000 }
      },
      "id": "api-module3",
      "name": "4c. API: Bewertung",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $('4b. Extract').item.json;\nconst response = $input.item.json;\n\nfunction extractContent(resp) {\n  if (!resp || resp.error) return { content: '', citations: [], error: resp?.error || 'No response' };\n  let content = resp.choices?.[0]?.message?.content || '';\n  content = content.replace(/\\*\\*([^*]+)\\*\\*/g, '$1').replace(/\\*([^*]+)\\*/g, '$1').replace(/\\[\\d+\\]/g, '');\n  return { content, citations: resp.citations || [], error: null };\n}\n\nreturn {\n  json: {\n    ...input,\n    module3Result: extractContent(response)\n  }\n};"
      },
      "id": "extract-module3",
      "name": "4c. Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer 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" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.3,\n  \"max_tokens\": 2500,\n  \"messages\": [\n    { \"role\": \"system\", \"content\": {{ JSON.stringify($json.modulePrompts.thesis.system) }} },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.modulePrompts.thesis.user) }} }\n  ],\n  \"return_citations\": true,\n  \"search_recency_filter\": \"month\"\n}",
        "options": { "timeout": 120000 }
      },
      "id": "api-module4",
      "name": "4d. API: These",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $('4c. Extract').item.json;\nconst response = $input.item.json;\n\nfunction extractContent(resp) {\n  if (!resp || resp.error) return { content: '', citations: [], error: resp?.error || 'No response' };\n  let content = resp.choices?.[0]?.message?.content || '';\n  content = content.replace(/\\*\\*([^*]+)\\*\\*/g, '$1').replace(/\\*([^*]+)\\*/g, '$1').replace(/\\[\\d+\\]/g, '');\n  return { content, citations: resp.citations || [], error: null };\n}\n\nreturn {\n  json: {\n    ...input,\n    module4Result: extractContent(response)\n  }\n};"
      },
      "id": "extract-module4",
      "name": "4d. Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer 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" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.3,\n  \"max_tokens\": 3000,\n  \"messages\": [\n    { \"role\": \"system\", \"content\": {{ JSON.stringify($json.modulePrompts.scenarios.system) }} },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.modulePrompts.scenarios.user) }} }\n  ],\n  \"return_citations\": true,\n  \"search_recency_filter\": \"month\"\n}",
        "options": { "timeout": 120000 }
      },
      "id": "api-module5",
      "name": "4e. API: Szenarien",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2600, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $('4d. Extract').item.json;\nconst response = $input.item.json;\n\nfunction extractContent(resp) {\n  if (!resp || resp.error) return { content: '', citations: [], error: resp?.error || 'No response' };\n  let content = resp.choices?.[0]?.message?.content || '';\n  content = content.replace(/\\*\\*([^*]+)\\*\\*/g, '$1').replace(/\\*([^*]+)\\*/g, '$1').replace(/\\[\\d+\\]/g, '');\n  return { content, citations: resp.citations || [], error: null };\n}\n\nreturn {\n  json: {\n    ...input,\n    module5Result: extractContent(response)\n  }\n};"
      },
      "id": "extract-module5",
      "name": "4e. Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2800, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// MODULE ZUSAMMENFÜHREN\n// =====================================================\n\nconst modules = {\n  facts: input.module1Result,\n  business: input.module2Result,\n  valuation: input.module3Result,\n  thesis: input.module4Result,\n  scenarios: input.module5Result\n};\n\nconst countWords = (text) => (text || '').split(/\\s+/).filter(w => w.length > 1).length;\n\nconst wordCounts = {\n  facts: countWords(modules.facts.content),\n  business: countWords(modules.business.content),\n  valuation: countWords(modules.valuation.content),\n  thesis: countWords(modules.thesis.content),\n  scenarios: countWords(modules.scenarios.content)\n};\n\nconst totalWordCount = Object.values(wordCounts).reduce((a, b) => a + b, 0);\n\n// Citations sammeln und deduplizieren\nconst allCitations = [\n  ...(modules.facts.citations || []),\n  ...(modules.business.citations || []),\n  ...(modules.valuation.citations || []),\n  ...(modules.thesis.citations || []),\n  ...(modules.scenarios.citations || [])\n];\nconst uniqueCitations = [...new Set(allCitations)];\n\n// Fehler sammeln\nconst moduleErrors = Object.entries(modules)\n  .filter(([k, v]) => v.error)\n  .map(([k]) => k);\n\nreturn {\n  json: {\n    company: input.company,\n    ticker: input.ticker,\n    exchange: input.exchange,\n    sector: input.sector,\n    currency: input.currency,\n    slug: input.slug,\n    date: input.date,\n    pipelineVersion: input.pipelineVersion,\n    modules,\n    wordCounts,\n    totalWordCount,\n    allCitations: uniqueCitations,\n    moduleErrors\n  }\n};"
      },
      "id": "module-collector",
      "name": "5. Module Collector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3000, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// QUELLEN-VALIDIERUNG\n// =====================================================\n\nconst allContent = Object.values(input.modules).map(m => m.content || '').join('\\n');\nconst factsContent = input.modules.facts.content || '';\n\n// Zahlen zählen\nconst numberPattern = /\\d+[.,]?\\d*\\s*(mrd|mio|%|usd|eur|dollar|euro|billion|million)/gi;\nconst numbersFound = factsContent.match(numberPattern) || [];\nconst totalNumbers = numbersFound.length;\n\n// Quellenverweise zählen\nconst sourcePatterns = [\n  /\\(quelle:[^)]+\\)/gi,\n  /laut\\s+(form\\s+)?10-[kq]/gi,\n  /gemäß\\s+\\w+\\s+\\d{4}/gi,\n  /\\(10-[kq]\\s+\\d{4}\\)/gi,\n  /\\(fy\\d{4}\\)/gi,\n  /\\(q[1-4]\\s+\\d{4}\\)/gi,\n  /earnings\\s+call/gi,\n  /sec\\s+filing/gi,\n  /investor\\s+(relations|presentation)/gi,\n  /statista/gi,\n  /idc/gi,\n  /gartner/gi\n];\n\nlet sourceReferences = 0;\nfor (const pattern of sourcePatterns) {\n  const matches = allContent.match(pattern);\n  if (matches) sourceReferences += matches.length;\n}\n\n// Quellen klassifizieren\nconst citations = input.allCitations || [];\nconst primaryDomains = ['sec.gov', 'investor.apple.com', 'ir.'];\nconst secondaryDomains = ['statista', 'idc.com', 'gartner'];\nconst lowQualityDomains = ['reddit', 'youtube', 'facebook', 'twitter', 'blog', 'forum', 'wikipedia'];\n\nconst sourceCategorization = {\n  primary: citations.filter(url => primaryDomains.some(d => url.toLowerCase().includes(d))),\n  secondary: citations.filter(url => secondaryDomains.some(d => url.toLowerCase().includes(d))),\n  lowQuality: citations.filter(url => lowQualityDomains.some(d => url.toLowerCase().includes(d)))\n};\n\nconst sourceRatio = totalNumbers > 0 ? (sourceReferences / totalNumbers) : 0;\nconst sourceValidationPassed = sourceRatio >= 0.3 && sourceCategorization.lowQuality.length === 0;\n\nreturn {\n  json: {\n    ...input,\n    sourceValidation: {\n      passed: sourceValidationPassed,\n      totalNumbers,\n      sourceReferences,\n      sourceRatio: Math.round(sourceRatio * 100) + '%',\n      categorization: sourceCategorization,\n      issues: [\n        ...(sourceRatio < 0.3 ? [`Quellenratio: ${Math.round(sourceRatio * 100)}%`] : []),\n        ...(sourceCategorization.lowQuality.length > 0 ? [`${sourceCategorization.lowQuality.length} Low-Quality-Quellen`] : [])\n      ]\n    }\n  }\n};"
      },
      "id": "source-validation",
      "name": "6. Source Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3200, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// ANTI-BIAS-PRÜFUNG\n// =====================================================\n\nconst allContent = Object.values(input.modules).map(m => m.content || '').join('\\n').toLowerCase();\n\nconst rhetoricalPhrases = [\n  { phrase: 'führend', severity: 'medium' },\n  { phrase: 'dominant', severity: 'high' },\n  { phrase: 'einzigartig', severity: 'high' },\n  { phrase: 'beeindruckend', severity: 'medium' },\n  { phrase: 'spektakulär', severity: 'high' },\n  { phrase: 'revolutionär', severity: 'high' },\n  { phrase: 'attraktiv', severity: 'high' },\n  { phrase: 'lohnend', severity: 'high' },\n  { phrase: 'eignet sich', severity: 'high' },\n  { phrase: 'bewährungsprobe', severity: 'medium' },\n  { phrase: 'game-changer', severity: 'high' },\n  { phrase: 'paradigmenwechsel', severity: 'high' },\n  { phrase: 'der markt irrt', severity: 'high' },\n  { phrase: 'unterschätzt', severity: 'medium' },\n  { phrase: 'überschätzt', severity: 'medium' },\n  { phrase: 'garantiert', severity: 'high' },\n  { phrase: 'zweifellos', severity: 'high' },\n  { phrase: 'wird steigen', severity: 'medium' },\n  { phrase: 'wird fallen', severity: 'medium' },\n  { phrase: 'kaufen', severity: 'high' },\n  { phrase: 'verkaufen', severity: 'high' }\n];\n\nconst foundPhrases = rhetoricalPhrases.filter(p => allContent.includes(p.phrase));\nconst highSeverity = foundPhrases.filter(p => p.severity === 'high');\nconst mediumSeverity = foundPhrases.filter(p => p.severity === 'medium');\n\nconst antiBiasPassed = highSeverity.length === 0;\nconst antibiasScore = Math.max(0, 10 - (highSeverity.length * 2) - (mediumSeverity.length * 0.5));\n\nreturn {\n  json: {\n    ...input,\n    antiBiasCheck: {\n      passed: antiBiasPassed,\n      score: Math.round(antibiasScore),\n      foundPhrases: foundPhrases.map(p => p.phrase),\n      highSeverity: highSeverity.map(p => p.phrase),\n      mediumSeverity: mediumSeverity.map(p => p.phrase),\n      issues: highSeverity.length > 0 ? [`Kritische Phrasen: ${highSeverity.map(p => p.phrase).join(', ')}`] : []\n    }\n  }\n};"
      },
      "id": "anti-bias-check",
      "name": "7. Anti-Bias Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3400, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// TIEFENPRÜFUNG\n// =====================================================\n\nconst minimums = { facts: 150, business: 300, valuation: 300, thesis: 200, scenarios: 250 };\nconst totalMinimum = 1500;\n\nconst moduleResults = {};\nlet allModulesPassed = true;\n\nfor (const [module, minimum] of Object.entries(minimums)) {\n  const actual = input.wordCounts[module] || 0;\n  const passed = actual >= minimum;\n  if (!passed) allModulesPassed = false;\n  moduleResults[module] = { actual, minimum, passed, deficit: passed ? 0 : minimum - actual };\n}\n\nconst totalPassed = input.totalWordCount >= totalMinimum;\n\nreturn {\n  json: {\n    ...input,\n    depthValidation: {\n      passed: allModulesPassed && totalPassed,\n      moduleResults,\n      total: { actual: input.totalWordCount, minimum: totalMinimum, passed: totalPassed },\n      failedModules: Object.entries(moduleResults).filter(([k, v]) => !v.passed).map(([k, v]) => `${k}: ${v.actual}/${v.minimum}`),\n      issues: [\n        ...(!totalPassed ? [`Gesamtlänge: ${input.totalWordCount}/${totalMinimum}`] : []),\n        ...Object.entries(moduleResults).filter(([k, v]) => !v.passed).map(([k, v]) => `${k}: ${v.actual}/${v.minimum}`)\n      ]\n    }\n  }\n};"
      },
      "id": "depth-validation",
      "name": "8. Depth Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3600, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// PUBLICATION GATE\n// =====================================================\n\nconst gates = {\n  wordCount: { passed: input.depthValidation.total.passed, value: `${input.totalWordCount}/${input.depthValidation.total.minimum}` },\n  allModulesComplete: { passed: input.moduleErrors.length === 0, value: input.moduleErrors.length === 0 ? 'OK' : input.moduleErrors.join(', ') },\n  noCriticalBias: { passed: input.antiBiasCheck.passed, value: input.antiBiasCheck.highSeverity.length === 0 ? 'OK' : input.antiBiasCheck.highSeverity.join(', ') },\n  sourceIntegrity: { passed: input.sourceValidation.passed, value: input.sourceValidation.sourceRatio },\n  noLowQualitySources: { passed: input.sourceValidation.categorization.lowQuality.length === 0, value: input.sourceValidation.categorization.lowQuality.length === 0 ? 'OK' : `${input.sourceValidation.categorization.lowQuality.length} gefunden` }\n};\n\nconst mandatoryPassed = Object.values(gates).every(g => g.passed);\nconst failedMandatory = Object.entries(gates).filter(([k, v]) => !v.passed).map(([k, v]) => `${k}: ${v.value}`);\n\n// Quality Score\nlet qualityScore = 0;\nqualityScore += gates.wordCount.passed ? 2 : 0;\nqualityScore += gates.allModulesComplete.passed ? 2 : 0;\nqualityScore += gates.noCriticalBias.passed ? 2 : 0;\nqualityScore += gates.sourceIntegrity.passed ? 2 : 0;\nqualityScore += input.totalWordCount >= 1800 ? 1 : 0;\nqualityScore += input.antiBiasCheck.score >= 8 ? 1 : 0;\nqualityScore = Math.min(10, qualityScore);\n\nconst publicationReady = mandatoryPassed && qualityScore >= 6;\n\nconst allIssues = [\n  ...failedMandatory,\n  ...(input.sourceValidation.issues || []),\n  ...(input.antiBiasCheck.issues || []),\n  ...(input.depthValidation.issues || [])\n];\n\nreturn {\n  json: {\n    ...input,\n    publicationGate: { publicationReady, mandatoryPassed, qualityScore, gates, failedMandatory, allIssues: [...new Set(allIssues)] },\n    qualityScore,\n    publicationReady\n  }\n};"
      },
      "id": "publication-gate",
      "name": "9. Publication Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3800, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// EDITORIAL ASSEMBLY\n// =====================================================\n\nconst modules = input.modules;\n\n// These extrahieren\nconst thesisContent = modules.thesis.content || '';\nconst thesisMatch = thesisContent.match(/kernthese[^:]*:?\\s*([^\\n]+)/i) ||\n                   thesisContent.match(/zentrale\\s+aussage[^:]*:?\\s*([^\\n]+)/i) ||\n                   thesisContent.match(/hauptaussage[^:]*:?\\s*([^\\n]+)/i);\nconst centralThesis = thesisMatch ? thesisMatch[1].trim() : 'Keine explizite Kernthese extrahiert.';\n\n// Analyse zusammenstellen\nconst assembledAnalysis = `1. Zentrale These und Einordnung\n\n${modules.thesis.content || 'Modul nicht verfügbar'}\n\n2. Geschäftsmodell und ökonomische Logik\n\n${modules.business.content || 'Modul nicht verfügbar'}\n\n3. Fundamentale Daten\n\n${modules.facts.content || 'Modul nicht verfügbar'}\n\n4. Bewertungseinordnung\n\n${modules.valuation.content || 'Modul nicht verfügbar'}\n\n5. Szenarien und Risiken\n\n${modules.scenarios.content || 'Modul nicht verfügbar'}\n\n6. Rechtlicher Hinweis\n\nDiese Analyse dient ausschließlich Informationszwecken und stellt keine Anlageberatung im Sinne des Wertpapierhandelsgesetzes (WpHG) dar. Die bereitgestellten Informationen sind keine Aufforderung zum Kauf oder Verkauf von Wertpapieren.`;\n\n// Quellen filtern\nconst forbiddenDomains = ['reddit', 'youtube', 'facebook', 'twitter', 'blog', 'forum', 'wikipedia'];\nconst filteredCitations = (input.allCitations || [])\n  .filter(url => !forbiddenDomains.some(d => url.toLowerCase().includes(d)))\n  .slice(0, 8);\n\nreturn {\n  json: {\n    ...input,\n    finalContent: assembledAnalysis,\n    centralThesis,\n    citations: filteredCitations\n  }\n};"
      },
      "id": "editorial-assembly",
      "name": "10. Editorial Assembly",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4000, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// HTML RENDERER\n// =====================================================\n\nfunction textToHtml(text) {\n  let html = text\n    .replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;')\n    .replace(/^(\\d+)\\.\\s+([^\\n]+)$/gm, '</p><h2>$2</h2><p>')\n    .replace(/\\n\\n+/g, '</p><p>')\n    .replace(/\\n/g, ' ');\n  html = '<p>' + html + '</p>';\n  html = html.replace(/<p><\\/p>/g, '').replace(/<p>\\s*<h/g, '<h').replace(/<\\/h2>\\s*<\\/p>/g, '</h2>').replace(/\\s+/g, ' ');\n  return html.trim();\n}\n\nconst htmlContent = textToHtml(input.finalContent || '');\nconst citations = input.citations || [];\n\nlet sourcesHtml = '';\nif (citations.length > 0) {\n  sourcesHtml = `<aside class=\"sources-section\"><h3>Quellen</h3><ol class=\"sources-list\">${citations.map(url => {\n    try { return `<li><a href=\"${url}\" target=\"_blank\" rel=\"noopener\">${new URL(url).hostname.replace('www.', '')}</a></li>`; }\n    catch { return `<li><a href=\"${url}\" target=\"_blank\" rel=\"noopener\">${url}</a></li>`; }\n  }).join('')}</ol></aside>`;\n}\n\nconst formattedDate = new Date(input.date).toLocaleDateString('de-DE', { day: '2-digit', month: 'long', year: 'numeric' });\nconst badgeClass = input.publicationReady ? 'high' : 'needs-review';\nconst badgeText = input.publicationReady ? `Score ${input.qualityScore}/10` : 'Review erforderlich';\n\nconst html = `<!DOCTYPE html>\n<html lang=\"de\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <title>${input.company} (${input.ticker}) – Unternehmensanalyse | capitovo</title>\n  <meta name=\"description\" content=\"${input.company} Unternehmensanalyse von capitovo Research.\">\n  <meta name=\"robots\" content=\"noindex, nofollow\">\n  <style>\n    :root { --text-primary: #1a1a1a; --text-secondary: #4a5568; --text-muted: #718096; --border-color: #e2e8f0; --bg-subtle: #f7fafc; --accent: #2563eb; }\n    * { box-sizing: border-box; margin: 0; padding: 0; }\n    body { font-family: -apple-system, BlinkMacSystemFont, sans-serif; line-height: 1.6; color: var(--text-primary); }\n    .container { max-width: 48rem; margin: 0 auto; padding: 2rem 1.5rem; }\n    .header { margin-bottom: 2rem; padding-bottom: 1.5rem; border-bottom: 1px solid var(--border-color); }\n    .meta { font-size: 0.875rem; color: var(--text-muted); margin-bottom: 0.5rem; }\n    .title { font-size: 1.75rem; font-weight: 700; margin-bottom: 0.5rem; }\n    .subtitle { font-size: 1rem; color: var(--text-secondary); }\n    .badge { display: inline-block; padding: 0.25rem 0.5rem; border-radius: 0.25rem; font-size: 0.75rem; font-weight: 500; margin-left: 0.5rem; }\n    .badge.high { background: #dcfce7; color: #166534; }\n    .badge.needs-review { background: #fef3c7; color: #92400e; }\n    .body { font-family: Georgia, serif; font-size: 1.0625rem; line-height: 1.8; }\n    .body h2 { font-family: -apple-system, sans-serif; font-size: 1.25rem; font-weight: 600; margin: 2rem 0 1rem; padding-bottom: 0.5rem; border-bottom: 1px solid var(--border-color); }\n    .body p { margin-bottom: 1rem; text-align: justify; }\n    .sources-section { margin-top: 2rem; padding-top: 1rem; border-top: 1px solid var(--border-color); }\n    .sources-section h3 { font-size: 0.9rem; color: var(--text-secondary); margin-bottom: 0.5rem; }\n    .sources-list { list-style: decimal; padding-left: 1.25rem; font-size: 0.875rem; }\n    .sources-list li { margin: 0.25rem 0; }\n    .sources-list a { color: var(--accent); text-decoration: none; }\n    .disclaimer { margin-top: 2rem; padding: 1rem; background: var(--bg-subtle); border-radius: 0.5rem; font-size: 0.8rem; color: var(--text-muted); }\n    .footer { margin-top: 1rem; font-size: 0.75rem; color: var(--text-muted); }\n  </style>\n</head>\n<body>\n  <main class=\"container\">\n    <header class=\"header\">\n      <div class=\"meta\">${input.sector} · ${input.ticker} · ${input.exchange}</div>\n      <h1 class=\"title\">${input.company} – Unternehmensanalyse <span class=\"badge ${badgeClass}\">${badgeText}</span></h1>\n      <p class=\"subtitle\">Geschäftsmodell, Fundamentaldaten und Bewertungseinordnung</p>\n      <div class=\"meta\" style=\"margin-top: 0.5rem;\">capitovo Research · ${formattedDate}</div>\n    </header>\n    <article class=\"body\">${htmlContent}</article>\n    ${sourcesHtml}\n    <div class=\"disclaimer\"><strong>Rechtlicher Hinweis:</strong> Diese Analyse dient ausschließlich Informationszwecken und stellt keine Anlageberatung dar.</div>\n    <footer class=\"footer\">Analyse-ID: ${input.ticker.toLowerCase()}-${input.date} · ${input.totalWordCount} Wörter · ${citations.length} Quellen · v6.1</footer>\n  </main>\n</body>\n</html>`;\n\nreturn { json: { ...input, html } };"
      },
      "id": "html-renderer",
      "name": "11. HTML Renderer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4200, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// OUTPUT GENERATOR\n// =====================================================\n\nconst svg = `<svg width=\"640\" height=\"360\" viewBox=\"0 0 640 360\" xmlns=\"http://www.w3.org/2000/svg\">\n  <defs><linearGradient id=\"bg\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"100%\"><stop offset=\"0%\" stop-color=\"#0f172a\"/><stop offset=\"100%\" stop-color=\"#1e293b\"/></linearGradient></defs>\n  <rect width=\"640\" height=\"360\" fill=\"url(#bg)\" rx=\"16\"/>\n  <g font-family=\"-apple-system, sans-serif\">\n    <text x=\"48\" y=\"72\" fill=\"#64748b\" font-size=\"13\" letter-spacing=\"0.1em\">${input.ticker} · ${input.sector.toUpperCase()}</text>\n    <text x=\"48\" y=\"120\" fill=\"#f1f5f9\" font-size=\"32\" font-weight=\"700\">${input.company}</text>\n    <text x=\"48\" y=\"156\" fill=\"#94a3b8\" font-size=\"16\">Unternehmensanalyse</text>\n    <rect x=\"48\" y=\"180\" width=\"80\" height=\"3\" fill=\"#3b82f6\" rx=\"1.5\"/>\n    <text x=\"48\" y=\"224\" fill=\"#64748b\" font-size=\"14\">Geschäftsmodell · Fundamentaldaten · Bewertung</text>\n    <text x=\"48\" y=\"296\" fill=\"#475569\" font-size=\"12\">capitovo Research · Score ${input.qualityScore}/10</text>\n    <text x=\"48\" y=\"316\" fill=\"#64748b\" font-size=\"11\">${input.date} · v6.1 Sequential</text>\n  </g>\n</svg>`;\n\nconst jsonEntry = {\n  id: `${input.ticker.toLowerCase()}-${input.date}`,\n  category: input.sector,\n  title: `${input.company} – Unternehmensanalyse`,\n  summary: `Analyse von ${input.company} (${input.ticker}).`,\n  link: `Abonenten/${input.slug}.html`,\n  image: `data/vorschaubilder_analysen/${input.slug}.svg`,\n  date: input.date,\n  author: 'capitovo Research',\n  tags: [input.company, input.ticker, input.sector],\n  published: input.publicationReady,\n  wordCount: input.totalWordCount,\n  sourcesCount: input.citations?.length || 0,\n  qualityScore: input.qualityScore,\n  centralThesis: input.centralThesis\n};\n\nconst status = input.publicationReady \n  ? `✅ Publikationsreif (Score ${input.qualityScore}/10)`\n  : `⚠️ Review erforderlich - ${input.publicationGate.failedMandatory.length} Issues`;\n\nreturn {\n  json: {\n    success: true,\n    status,\n    company: input.company,\n    ticker: input.ticker,\n    date: input.date,\n    metrics: {\n      totalWordCount: input.totalWordCount,\n      wordCountsByModule: input.wordCounts,\n      sourcesCount: input.citations?.length || 0,\n      qualityScore: input.qualityScore,\n      publicationReady: input.publicationReady\n    },\n    validationResults: {\n      sourceValidation: input.sourceValidation,\n      antiBiasCheck: input.antiBiasCheck,\n      depthValidation: input.depthValidation,\n      publicationGate: input.publicationGate\n    },\n    centralThesis: input.centralThesis,\n    allIssues: input.publicationGate.allIssues,\n    outputs: { html: input.html, svg, jsonEntry },\n    filePaths: {\n      html: `Abonenten/${input.slug}.html`,\n      svg: `data/vorschaubilder_analysen/${input.slug}.svg`,\n      json: 'data/analysen.json'\n    },\n    nextSteps: input.publicationReady \n      ? ['HTML speichern', 'SVG speichern', 'analysen.json aktualisieren']\n      : ['Issues beheben', 'Erneut generieren']\n  }\n};"
      },
      "id": "output-generator",
      "name": "12. Output Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4400, 400]
    },
    {
      "parameters": {},
      "id": "output",
      "name": "Output",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [4600, 400]
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "1. Input Data", "type": "main", "index": 0 }]] },
    "1. Input Data": { "main": [[{ "node": "2. Input Validator", "type": "main", "index": 0 }]] },
    "2. Input Validator": { "main": [[{ "node": "3. Prompt Builder", "type": "main", "index": 0 }]] },
    "3. Prompt Builder": { "main": [[{ "node": "4a. API: Fakten", "type": "main", "index": 0 }]] },
    "4a. API: Fakten": { "main": [[{ "node": "4a. Extract", "type": "main", "index": 0 }]] },
    "4a. Extract": { "main": [[{ "node": "4b. API: Geschäftsmodell", "type": "main", "index": 0 }]] },
    "4b. API: Geschäftsmodell": { "main": [[{ "node": "4b. Extract", "type": "main", "index": 0 }]] },
    "4b. Extract": { "main": [[{ "node": "4c. API: Bewertung", "type": "main", "index": 0 }]] },
    "4c. API: Bewertung": { "main": [[{ "node": "4c. Extract", "type": "main", "index": 0 }]] },
    "4c. Extract": { "main": [[{ "node": "4d. API: These", "type": "main", "index": 0 }]] },
    "4d. API: These": { "main": [[{ "node": "4d. Extract", "type": "main", "index": 0 }]] },
    "4d. Extract": { "main": [[{ "node": "4e. API: Szenarien", "type": "main", "index": 0 }]] },
    "4e. API: Szenarien": { "main": [[{ "node": "4e. Extract", "type": "main", "index": 0 }]] },
    "4e. Extract": { "main": [[{ "node": "5. Module Collector", "type": "main", "index": 0 }]] },
    "5. Module Collector": { "main": [[{ "node": "6. Source Validation", "type": "main", "index": 0 }]] },
    "6. Source Validation": { "main": [[{ "node": "7. Anti-Bias Check", "type": "main", "index": 0 }]] },
    "7. Anti-Bias Check": { "main": [[{ "node": "8. Depth Validation", "type": "main", "index": 0 }]] },
    "8. Depth Validation": { "main": [[{ "node": "9. Publication Gate", "type": "main", "index": 0 }]] },
    "9. Publication Gate": { "main": [[{ "node": "10. Editorial Assembly", "type": "main", "index": 0 }]] },
    "10. Editorial Assembly": { "main": [[{ "node": "11. HTML Renderer", "type": "main", "index": 0 }]] },
    "11. HTML Renderer": { "main": [[{ "node": "12. Output Generator", "type": "main", "index": 0 }]] },
    "12. Output Generator": { "main": [[{ "node": "Output", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "production" }, { "name": "v6.1-sequential" }]
}
