n8n/n8n_analyse_generator_workflow_v11.json
{
  "name": "Capitovo Analyse Generator v11 - Auto Publish",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [100, 400]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// INPUT - Nur Identifikation\n// =====================================================\nreturn {\n  json: {\n    company: 'Apple',\n    ticker: 'AAPL',\n    exchange: 'NASDAQ',\n    sector: 'Technologie',\n    currency: 'USD',\n    slug: 'apple',\n    wkn: '865985',\n    isin: 'US0378331005',\n    pipelineVersion: 'v11.0-auto-publish',\n    date: new Date().toISOString().split('T')[0]\n  }\n};"
      },
      "id": "input-data",
      "name": "0. Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.alphavantage.co/query?function=OVERVIEW&symbol={{ $json.ticker }}&apikey=YO8C9ZRNBDVLAZ83",
        "options": { "timeout": 30000 }
      },
      "id": "api-overview",
      "name": "1a. API Overview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var prev = $('0. Input').item.json;\nvar resp = $input.item.json;\nreturn { json: { ...prev, overviewResponse: resp } };"
      },
      "id": "store-overview",
      "name": "1b. Store",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.alphavantage.co/query?function=INCOME_STATEMENT&symbol={{ $json.ticker }}&apikey=YO8C9ZRNBDVLAZ83",
        "options": { "timeout": 30000 }
      },
      "id": "api-income",
      "name": "1c. API Income",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// PHASE 1: FAKTENINSTANZ (rein mechanisch)\n// Aufgabe: Zahlen sammeln, Inkonsistenzen markieren\n// VERBOTEN: Jede Interpretation, jeder Fliesstext\n// =====================================================\n\nvar prev = $('1b. Store').item.json;\nvar incomeResp = $input.item.json;\nvar overviewResp = prev.overviewResponse;\nvar input = prev;\n\nfunction safeNum(val) {\n  if (val === undefined || val === null || val === 'None' || val === '-' || val === '') return null;\n  var n = parseFloat(String(val).replace(/,/g, ''));\n  return isFinite(n) ? n : null;\n}\n\nfunction pct(val) {\n  var n = safeNum(val);\n  if (n === null) return null;\n  return Math.abs(n) <= 1 ? Math.round(n * 1000) / 10 : Math.round(n * 10) / 10;\n}\n\nvar hasOverview = overviewResp && overviewResp.Symbol && !overviewResp.Note;\nvar hasIncome = incomeResp && incomeResp.annualReports && !incomeResp.Note;\nvar ts = new Date().toISOString();\n\n// ROHDATEN - keine Interpretation\nvar facts = {\n  meta: { source: 'Alpha Vantage API', timestamp: ts, quality: hasOverview && hasIncome ? 'complete' : 'partial' },\n  company: { name: input.company, ticker: input.ticker, sector: input.sector, currency: input.currency },\n  fundamentals: {},\n  valuation: {},\n  margins: {},\n  growth: {},\n  history: []\n};\n\nif (hasOverview) {\n  var o = overviewResp;\n  facts.company.industry = o.Industry || null;\n  facts.company.description = o.Description || null;\n  \n  facts.fundamentals = {\n    marketCap: safeNum(o.MarketCapitalization),\n    revenue: safeNum(o.RevenueTTM),\n    ebitda: safeNum(o.EBITDA),\n    eps: safeNum(o.EPS),\n    dividendYield: pct(o.DividendYield),\n    sharesOutstanding: safeNum(o.SharesOutstanding)\n  };\n  \n  facts.valuation = {\n    pe: safeNum(o.PERatio),\n    forwardPE: safeNum(o.ForwardPE),\n    peg: safeNum(o.PEGRatio),\n    pb: safeNum(o.PriceToBookRatio),\n    ps: safeNum(o.PriceToSalesRatioTTM),\n    evEbitda: safeNum(o.EVToEBITDA),\n    evRevenue: safeNum(o.EVToRevenue),\n    beta: safeNum(o.Beta),\n    high52w: safeNum(o['52WeekHigh']),\n    low52w: safeNum(o['52WeekLow'])\n  };\n  \n  facts.margins = {\n    gross: pct(o.GrossProfitMargin),\n    operating: pct(o.OperatingMarginTTM),\n    net: pct(o.ProfitMargin),\n    roe: pct(o.ReturnOnEquityTTM),\n    roa: pct(o.ReturnOnAssetsTTM)\n  };\n  \n  facts.growth = {\n    revenueQoQ: pct(o.QuarterlyRevenueGrowthYOY),\n    earningsQoQ: pct(o.QuarterlyEarningsGrowthYOY)\n  };\n}\n\nif (hasIncome) {\n  facts.history = incomeResp.annualReports.slice(0, 5).map(function(r) {\n    return {\n      year: r.fiscalDateEnding ? r.fiscalDateEnding.substring(0, 4) : null,\n      revenue: safeNum(r.totalRevenue),\n      netIncome: safeNum(r.netIncome),\n      operatingIncome: safeNum(r.operatingIncome)\n    };\n  });\n}\n\n// =====================================================\n// ANOMALIE-ERKENNUNG (mechanisch, regelbasiert)\n// =====================================================\nvar anomalies = [];\n\n// Wachstum\nif (facts.growth.earningsQoQ !== null && Math.abs(facts.growth.earningsQoQ) > 50) {\n  anomalies.push({\n    field: 'earningsQoQ',\n    value: facts.growth.earningsQoQ,\n    flag: 'EXTREM',\n    note: 'Gewinnwachstum >50% - Basiseffekt oder Einmaleffekt pruefen'\n  });\n}\n\nif (facts.growth.revenueQoQ !== null && Math.abs(facts.growth.revenueQoQ) > 30) {\n  anomalies.push({\n    field: 'revenueQoQ',\n    value: facts.growth.revenueQoQ,\n    flag: 'AUFFAELLIG',\n    note: 'Umsatzwachstum >30% - Nachhaltigkeit pruefen'\n  });\n}\n\n// ROE\nif (facts.margins.roe !== null && (facts.margins.roe < 5 || facts.margins.roe > 100)) {\n  anomalies.push({\n    field: 'roe',\n    value: facts.margins.roe,\n    flag: 'UNGEWOEHNLICH',\n    note: 'ROE ausserhalb 5-100% - Kapitalstruktur oder Datenqualitaet pruefen'\n  });\n}\n\n// Bewertung\nif (facts.valuation.pe !== null && facts.valuation.pe > 50) {\n  anomalies.push({\n    field: 'pe',\n    value: facts.valuation.pe,\n    flag: 'HOCH',\n    note: 'KGV >50 - impliziert sehr hohes Wachstum oder Sondersituation'\n  });\n}\n\nif (facts.valuation.pb !== null && facts.valuation.pb > 30) {\n  anomalies.push({\n    field: 'pb',\n    value: facts.valuation.pb,\n    flag: 'EXTREM',\n    note: 'P/B >30 - Asset-Light-Modell oder Ueberbewertung'\n  });\n}\n\n// Margen-Konsistenz\nif (facts.margins.gross !== null && facts.margins.net !== null) {\n  if (facts.margins.net > facts.margins.gross) {\n    anomalies.push({\n      field: 'margins',\n      value: 'net > gross',\n      flag: 'INKONSISTENT',\n      note: 'Nettomarge hoeher als Bruttomarge - Datenfehler wahrscheinlich'\n    });\n  }\n}\n\n// Historie-Trend\nif (facts.history.length >= 3) {\n  var revTrend = [];\n  for (var i = 0; i < facts.history.length - 1; i++) {\n    if (facts.history[i].revenue && facts.history[i+1].revenue) {\n      revTrend.push(facts.history[i].revenue > facts.history[i+1].revenue ? 'up' : 'down');\n    }\n  }\n  var downs = revTrend.filter(function(t) { return t === 'down'; }).length;\n  if (downs >= 2) {\n    anomalies.push({\n      field: 'revenue_trend',\n      value: downs + ' Jahre ruecklaeufig',\n      flag: 'WARNUNG',\n      note: 'Umsatz mehrfach ruecklaeufig - strukturelles Problem moeglich'\n    });\n  }\n}\n\nreturn {\n  json: {\n    input: input,\n    facts: facts,\n    anomalies: anomalies,\n    phase: 'P1_FACTS_COMPLETE'\n  }\n};"
      },
      "id": "facts-engine",
      "name": "1d. Fakteninstanz",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// FAKTEN-FORMATIERUNG fuer Analyseinstanz\n// Strukturierter Input - KEIN Fliesstext\n// =====================================================\n\nvar input = $input.item.json;\nvar f = input.facts;\nvar a = input.anomalies;\n\nfunction fmt(v, suffix) {\n  if (v === null) return 'n/v';\n  if (typeof v === 'number') {\n    if (Math.abs(v) >= 1e12) return (v/1e12).toFixed(1) + ' Bio';\n    if (Math.abs(v) >= 1e9) return (v/1e9).toFixed(1) + ' Mrd';\n    if (Math.abs(v) >= 1e6) return (v/1e6).toFixed(1) + ' Mio';\n    return v.toLocaleString('de-DE');\n  }\n  return String(v) + (suffix || '');\n}\n\nvar factsBlock = [\n  '=== FAKTENBLATT: ' + f.company.name + ' (' + f.company.ticker + ') ===',\n  'Quelle: ' + f.meta.source + ' | Stand: ' + f.meta.timestamp.split('T')[0],\n  'Datenqualitaet: ' + f.meta.quality,\n  '',\n  '--- FUNDAMENTALS ---',\n  'Marktkapitalisierung: ' + fmt(f.fundamentals.marketCap) + ' ' + f.company.currency,\n  'Umsatz (TTM): ' + fmt(f.fundamentals.revenue) + ' ' + f.company.currency,\n  'EBITDA: ' + fmt(f.fundamentals.ebitda) + ' ' + f.company.currency,\n  'EPS: ' + fmt(f.fundamentals.eps) + ' ' + f.company.currency,\n  'Dividendenrendite: ' + (f.fundamentals.dividendYield !== null ? f.fundamentals.dividendYield + '%' : 'n/v'),\n  '',\n  '--- BEWERTUNG ---',\n  'KGV: ' + fmt(f.valuation.pe),\n  'Forward KGV: ' + fmt(f.valuation.forwardPE),\n  'PEG: ' + fmt(f.valuation.peg),\n  'P/B: ' + fmt(f.valuation.pb),\n  'P/S: ' + fmt(f.valuation.ps),\n  'EV/EBITDA: ' + fmt(f.valuation.evEbitda),\n  'EV/Revenue: ' + fmt(f.valuation.evRevenue),\n  'Beta: ' + fmt(f.valuation.beta),\n  '52W Hoch: ' + fmt(f.valuation.high52w) + ' ' + f.company.currency,\n  '52W Tief: ' + fmt(f.valuation.low52w) + ' ' + f.company.currency,\n  '',\n  '--- MARGEN & RENDITEN ---',\n  'Bruttomarge: ' + (f.margins.gross !== null ? f.margins.gross + '%' : 'n/v'),\n  'Operative Marge: ' + (f.margins.operating !== null ? f.margins.operating + '%' : 'n/v'),\n  'Nettomarge: ' + (f.margins.net !== null ? f.margins.net + '%' : 'n/v'),\n  'ROE: ' + (f.margins.roe !== null ? f.margins.roe + '%' : 'n/v'),\n  'ROA: ' + (f.margins.roa !== null ? f.margins.roa + '%' : 'n/v'),\n  '',\n  '--- WACHSTUM (Quartal YoY) ---',\n  'Umsatzwachstum: ' + (f.growth.revenueQoQ !== null ? f.growth.revenueQoQ + '%' : 'n/v'),\n  'Gewinnwachstum: ' + (f.growth.earningsQoQ !== null ? f.growth.earningsQoQ + '%' : 'n/v'),\n  ''\n];\n\nif (f.history && f.history.length > 0) {\n  factsBlock.push('--- HISTORIE ---');\n  for (var i = 0; i < f.history.length; i++) {\n    var h = f.history[i];\n    factsBlock.push(h.year + ': Umsatz ' + fmt(h.revenue) + ', Nettogewinn ' + fmt(h.netIncome));\n  }\n  factsBlock.push('');\n}\n\nif (a && a.length > 0) {\n  factsBlock.push('=== ANOMALIEN (automatisch erkannt) ===');\n  for (var j = 0; j < a.length; j++) {\n    factsBlock.push('[' + a[j].flag + '] ' + a[j].field + ': ' + a[j].value + ' - ' + a[j].note);\n  }\n  factsBlock.push('');\n}\n\nfactsBlock.push('=== ENDE FAKTENBLATT ===');\n\nreturn {\n  json: {\n    ...input,\n    factsBlock: factsBlock.join('\\n')\n  }\n};"
      },
      "id": "facts-formatter",
      "name": "1e. Facts Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer 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" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.2,\n  \"max_tokens\": 6000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Du bist ein SENIOR EQUITY ANALYST mit 15 Jahren Erfahrung. Deine Aufgabe ist ANALYSE, nicht Beschreibung.\\n\\n=== FUNDAMENTALER UNTERSCHIED ===\\nBESCHREIBUNG (VERBOTEN): 'Das KGV betraegt 35, das ist hoch fuer den Sektor.'\\nANALYSE (GEFORDERT): 'Das KGV von 35 impliziert, dass der Markt zweistelliges Gewinnwachstum fuer die naechsten 3-5 Jahre einpreist. Bei aktuellem EPS-Wachstum von X% waere das nur gerechtfertigt, wenn [konkrete Bedingung]. Das zentrale Risiko ist daher [X].'\\n\\n=== ABSOLUTE PFLICHT ===\\nDu MUSST jeden Abschnitt VOLLSTAENDIG ausformulieren.\\nKEINE Platzhalter wie '[Text folgt]' oder '...'\\nKEINE abgebrochenen Saetze\\nKEINE offenen Gedankengaenge\\nJeder begonnene Punkt MUSS abgeschlossen werden.\\n\\n=== QUELLEN-MINDESTSTANDARD ===\\nVERWENDE fuer deine Recherche MINDESTENS:\\n- 1 PRIMAERQUELLE (Investor Relations, SEC Filing, 10-K/10-Q, Earnings Call Transcript)\\n- 1 SEKUNDAERQUELLE (Reuters, Bloomberg, WSJ, FT, Morningstar, Research-Report)\\nNEWS-QUELLEN (finanzen.net, onvista, etc.) nur als ERGAENZUNG, nicht als Hauptquelle.\\n\\n=== DEINE KERNAUFGABEN ===\\n1. KAUSALE ZUSAMMENHAENGE herstellen (Warum ist X so? Was folgt daraus?)\\n2. PRIORITAETEN setzen (Was ist ENTSCHEIDEND vs. nur interessant?)\\n3. WIDERSPRUECHE erklaeren (Hohe Marge + niedriger ROE = warum?)\\n4. UNSICHERHEITEN explizit benennen (Was wissen wir NICHT?)\\n5. SZENARIEN durchdenken (Was muesste passieren, damit X eintritt?)\\n\\n=== VERBOTEN (STRIKT) ===\\n- Reine Zahlenwiedergabe ohne Interpretation\\n- Generische Aussagen ('typisch fuer Tech-Sektor')\\n- Aufzaehlungen ohne Gewichtung\\n- Kursziele (NIEMALS konkrete USD/EUR-Betraege fuer erwartete Kurse)\\n- Analystenkonsens mit Zahlen (NIEMALS 'durchschnittliches Kursziel von X USD')\\n- Prozentangaben fuer erwartete Kursentwicklung (NIEMALS '+14%' o.ae.)\\n- Kauf-/Verkaufsempfehlungen\\n- Superlative ('fuehrend', 'einzigartig', 'dominant')\\n- Unvollstaendige Saetze oder Abschnitte\\n\\nWenn Markterwartungen thematisiert werden muessen, NUR so:\\n'Marktseitig existieren heterogene Erwartungen zur kuenftigen Entwicklung.'\\n\\n=== QUALITAETSSTANDARD ===\\nJeder Absatz muss eine THESE enthalten, die falsifizierbar ist.\\nJede These muss mit Daten BEGRUENDET sein.\\nJede Begruendung muss EINSCHRAENKUNGEN nennen.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify('AUFGABE: Erstelle eine VOLLSTAENDIGE analytische Unternehmenseinordnung.\\n\\n' + $json.factsBlock + '\\n\\n=== STRUKTUR (strikt einhalten, ALLE Sektionen vollstaendig) ===\\n\\n1. GESCHAEFTSMODELL-ANALYSE (250+ Woerter)\\nNICHT: Was macht das Unternehmen?\\nSONDERN: Was sind die OEKONOMISCHEN TREIBER des Geschaeftsmodells?\\n- Welche 2-3 Faktoren bestimmen 80% des Unternehmenswerts?\\n- Wo liegt der GRENZNUTZEN neuer Produkte/Services?\\n- Welche ABHAENGIGKEITEN existieren?\\n- Was passiert, wenn der Hauptumsatztraeger stagniert?\\n\\n2. FUNDAMENTALDATEN-EINORDNUNG (250+ Woerter)\\nNICHT: Aufzaehlung der Kennzahlen\\nSONDERN: Was bedeuten die Zahlen FUER DIE ZUKUNFT?\\n- Welche Kennzahl ist ENTSCHEIDEND fuer die naechsten 3-5 Jahre?\\n- ANOMALIEN: Fuer JEDE im Faktenblatt markierte Anomalie MUSS eine kausale Erklaerung geliefert werden. Wenn keine sichere Erklaerung moeglich: explizit als Unsicherheit kennzeichnen mit Begruendung WARUM unklar.\\n- Wie nachhaltig sind die aktuellen Margen?\\n\\n3. BEWERTUNGS-IMPLIKATIONEN (200+ Woerter)\\nNICHT: KGV ist hoch/niedrig\\nSONDERN: Was preist der Markt ein?\\n- Welches Wachstum ist bei aktuellem KGV impliziert?\\n- Was MUESSTE PASSIEREN, damit die Bewertung nicht mehr gerechtfertigt ist?\\n\\n4. RISIKO-HIERARCHIE (150+ Woerter)\\nNICHT: Liste von Risiken\\nSONDERN: Priorisierte Analyse\\n- Was ist das EINE Risiko, das den Investment Case zerstoeren wuerde?\\n- Zeithorizont: Kurzfristig vs. strukturell?\\n\\n5. SACHLICHE GESAMTEINORDNUNG (PFLICHT, 200+ Woerter)\\nDiese Sektion ist ZWINGEND ERFORDERLICH. Sie muss enthalten:\\n- Was ist STRUKTURELL STARK an diesem Unternehmen?\\n- Was ist STRUKTURELL BEGRENZT?\\n- Welche ANNAHMEN tragen die aktuelle Bewertung?\\n- Welche dieser Annahmen sind UNSICHER?\\nKEINE Empfehlung. KEINE Prognose. NUR sachliche Einordnung.\\n\\n=== MINDESTANFORDERUNGEN ===\\n- Gesamtlaenge: 900-1200 Woerter\\n- ALLE 5 Sektionen muessen vollstaendig sein\\n- KEINE abgebrochenen Saetze\\n- JEDE Anomalie muss adressiert werden\\n- Die GESAMTEINORDNUNG am Ende ist PFLICHT\\n- QUELLEN: Mind. 1 Primaerquelle + 1 Sekundaerquelle\\n\\nEine unvollstaendige Analyse ist WERTLOS.') }}\n    }\n  ],\n  \"return_citations\": true\n}",
        "options": { "timeout": 180000 }
      },
      "id": "phase2-analyst",
      "name": "P2. Analyseinstanz",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var prev = $('1e. Facts Format').item.json;\nvar resp = $input.item.json;\n\nvar content = '';\nvar citations = [];\n\nif (resp && resp.choices && resp.choices[0] && resp.choices[0].message) {\n  content = resp.choices[0].message.content || '';\n  content = content.replace(/\\*\\*([^*]+)\\*\\*/g, '$1').replace(/\\*([^*]+)\\*/g, '$1').replace(/\\[\\d+\\]/g, '').trim();\n  citations = resp.citations || [];\n}\n\nreturn {\n  json: {\n    ...prev,\n    analysisV1: content,\n    citationsP2: citations,\n    phase: 'P2_ANALYSIS_COMPLETE'\n  }\n};"
      },
      "id": "phase2-extract",
      "name": "P2. Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer 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" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.15,\n  \"max_tokens\": 5000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Du bist ein KRITISCHER REVIEWER fuer Finanzanalysen. Dein Job ist es, SCHWAECHEN aufzudecken - nicht zu loben.\\n\\n=== DEINE PRUEFKRITERIEN ===\\n\\n1. VOLLSTAENDIGKEIT-CHECK (WICHTIGSTER PUNKT)\\n- Sind ALLE 5 Pflicht-Sektionen vorhanden?\\n- Gibt es abgebrochene Saetze oder Platzhalter?\\n- Fehlt die SACHLICHE GESAMTEINORDNUNG am Ende?\\n- Wenn ja: [UNVOLLSTAENDIG] markieren - das ist ein KRITISCHER Fehler\\n\\n2. SUBSTANZ-CHECK\\n- Enthaelt der Absatz eine THESE oder nur Beschreibung?\\n- Ist die These BEGRUENDET oder nur behauptet?\\n- Gibt es EVIDENZ oder nur Meinung?\\n\\n3. ANOMALIEN-CHECK\\n- Werden ALLE im Faktenblatt markierten Anomalien adressiert?\\n- Wird fuer jede Anomalie eine ERKLAERUNG oder UNSICHERHEIT benannt?\\n- Wenn Anomalien ignoriert werden: [LUECKE] markieren\\n\\n4. GENERIK-CHECK\\n- Koennte dieser Satz fuer JEDES Unternehmen der Branche gelten?\\n- Wenn ja: [GENERISCH] markieren\\n\\n5. COMPLIANCE-CHECK (KRITISCH - K.O.-KRITERIUM)\\n- Enthaltene KURSZIELE mit konkreten Zahlen? -> SOFORT ENTFERNEN\\n- Analystenkonsens mit USD/EUR-Betraegen? -> NEUTRALISIEREN\\n- Prozentangaben fuer erwartete Kursentwicklung? -> ENTFERNEN\\n- Implizite Empfehlungen? Bewertende Sprache?\\n\\nWenn Kursziel/Analystenprognose gefunden, ERSETZE durch:\\n'Marktseitig existieren heterogene Erwartungen zur kuenftigen Entwicklung.'\\n\\n=== OUTPUT-FORMAT ===\\nDu musst ZWEI Dinge liefern:\\n\\nTEIL A: KRITIK-PROTOKOLL\\nListe jeden problematischen Abschnitt mit:\\n[UNVOLLSTAENDIG/SCHWACH/GENERISCH/UNBEGRUENDET/LUECKE/COMPLIANCE]\\nZitat des Problems\\nWas fehlt / was waere besser\\n\\nTEIL B: UEBERARBEITETE ANALYSE\\nSchreibe die gesamte Analyse NEU - VOLLSTAENDIG mit allen Verbesserungen.\\nDie ueberarbeitete Version MUSS:\\n- ALLE 5 Sektionen enthalten (inkl. SACHLICHE GESAMTEINORDNUNG)\\n- 900-1200 Woerter haben\\n- Alle Kritikpunkte adressieren\\n- ALLE Anomalien behandeln\\n- KEINE abgebrochenen Saetze haben\\n- KEINE Kursziele oder Analystenkonsens-Zahlen enthalten\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify('PRUEFE UND UEBERARBEITE DIESE ANALYSE KRITISCH:\\n\\n=== FAKTENGRUNDLAGE ===\\n' + $json.factsBlock + '\\n\\n=== ZU PRUEFENDE ANALYSE ===\\n' + $json.analysisV1 + '\\n\\n=== AUFGABE ===\\n1. Erstelle zunaechst das KRITIK-PROTOKOLL (mind. 5 konkrete Kritikpunkte)\\n   BESONDERS PRUEFEN: Vollstaendigkeit, Anomalie-Behandlung, Gesamteinordnung vorhanden?\\n   KRITISCH: Kursziele/Analystenkonsens mit Zahlen muessen ENTFERNT werden!\\n2. Dann die UEBERARBEITETE ANALYSE (900-1200 Woerter, ALLE 5 Sektionen)\\n\\nWICHTIG: Wenn die Originalanalyse unvollstaendig ist, MUSST du sie vollstaendig neu schreiben.\\nDie SACHLICHE GESAMTEINORDNUNG am Ende ist PFLICHT.\\nKEINE Kursziele, KEINE Analystenkonsens-Zahlen in der finalen Version!') }}\n    }\n  ]\n}",
        "options": { "timeout": 180000 }
      },
      "id": "phase3-critic",
      "name": "P3. Kritische Pruefinstanz",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1900, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// PHASE 3 EXTRAKTION - Kritik + ueberarbeitete Analyse\n// =====================================================\n\nvar prev = $('P2. Extract').item.json;\nvar resp = $input.item.json;\n\nvar fullResponse = '';\nvar critique = '';\nvar revisedAnalysis = '';\n\nif (resp && resp.choices && resp.choices[0] && resp.choices[0].message) {\n  fullResponse = resp.choices[0].message.content || '';\n  fullResponse = fullResponse.replace(/\\*\\*([^*]+)\\*\\*/g, '$1').replace(/\\*([^*]+)\\*/g, '$1').replace(/\\[\\d+\\]/g, '').trim();\n  \n  // Trenne Kritik von ueberarbeiteter Analyse\n  var markers = [\n    'TEIL B:',\n    'UEBERARBEITETE ANALYSE',\n    'ÜBERARBEITETE ANALYSE',\n    '=== UEBERARBEITETE',\n    '=== ÜBERARBEITETE',\n    'Teil B:'\n  ];\n  \n  var splitIndex = -1;\n  for (var i = 0; i < markers.length; i++) {\n    var idx = fullResponse.indexOf(markers[i]);\n    if (idx !== -1) {\n      splitIndex = idx;\n      break;\n    }\n  }\n  \n  if (splitIndex !== -1) {\n    critique = fullResponse.substring(0, splitIndex).trim();\n    revisedAnalysis = fullResponse.substring(splitIndex).trim();\n    // Entferne den Marker selbst\n    revisedAnalysis = revisedAnalysis.replace(/^(TEIL B:|UEBERARBEITETE ANALYSE|ÜBERARBEITETE ANALYSE|=== UEBERARBEITETE.*|=== ÜBERARBEITETE.*|Teil B:)/i, '').trim();\n  } else {\n    // Fallback: Alles ist Analyse\n    revisedAnalysis = fullResponse;\n    critique = 'Kritik-Protokoll konnte nicht extrahiert werden.';\n  }\n}\n\n// Zaehle Kritikpunkte\nvar critiqueLines = critique.split('\\n');\nvar critiqueCount = 0;\nvar critiqueTypes = { schwach: 0, generisch: 0, unbegruendet: 0, luecke: 0, compliance: 0 };\n\nfor (var j = 0; j < critiqueLines.length; j++) {\n  var line = critiqueLines[j].toLowerCase();\n  if (line.indexOf('[schwach]') !== -1) { critiqueCount++; critiqueTypes.schwach++; }\n  if (line.indexOf('[generisch]') !== -1) { critiqueCount++; critiqueTypes.generisch++; }\n  if (line.indexOf('[unbegruendet]') !== -1) { critiqueCount++; critiqueTypes.unbegruendet++; }\n  if (line.indexOf('[luecke]') !== -1 || line.indexOf('[lücke]') !== -1) { critiqueCount++; critiqueTypes.luecke++; }\n  if (line.indexOf('[compliance]') !== -1) { critiqueCount++; critiqueTypes.compliance++; }\n}\n\nreturn {\n  json: {\n    ...prev,\n    critique: critique,\n    critiqueCount: critiqueCount,\n    critiqueTypes: critiqueTypes,\n    analysisV2: revisedAnalysis,\n    phase: 'P3_CRITIQUE_COMPLETE'\n  }\n};"
      },
      "id": "phase3-extract",
      "name": "P3. Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2100, 400]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// QUELLEN-VALIDIERUNG\n// Unterscheidet Primaer/Sekundaer/News-Quellen\n// =====================================================\n\nvar input = $input.item.json;\nvar citations = input.citationsP2 || [];\n\n// Quellenkategorien\nvar primary = []; // 10-K, IR, SEC, Official\nvar secondary = []; // Reuters, Bloomberg, WSJ, FT, Research\nvar news = []; // Blogs, Retail-News\nvar forbidden = []; // Reddit, Social Media\n\nvar primaryPatterns = ['sec.gov', '10-k', '10-q', 'investor.', 'ir.', 'annual report', 'earnings call'];\nvar secondaryPatterns = ['reuters.com', 'bloomberg.com', 'wsj.com', 'ft.com', 'morningstar.com', 'statista.com', 'mckinsey', 'deloitte', 'gartner', 'idc.com'];\nvar forbiddenPatterns = ['reddit', 'twitter', 'facebook', 'tiktok', 'youtube', 'forum', 'blog'];\nvar newsPatterns = ['news', 'insider', 'sharedeals', 'finanzen.net', 'onvista', 'wallstreet-online', 'apfelnews', 'macerkopf', 'markteinblicke'];\n\nfor (var i = 0; i < citations.length; i++) {\n  var url = citations[i].toLowerCase();\n  var categorized = false;\n  \n  // Check forbidden first\n  for (var f = 0; f < forbiddenPatterns.length; f++) {\n    if (url.indexOf(forbiddenPatterns[f]) !== -1) {\n      forbidden.push(citations[i]);\n      categorized = true;\n      break;\n    }\n  }\n  if (categorized) continue;\n  \n  // Check primary\n  for (var p = 0; p < primaryPatterns.length; p++) {\n    if (url.indexOf(primaryPatterns[p]) !== -1) {\n      primary.push(citations[i]);\n      categorized = true;\n      break;\n    }\n  }\n  if (categorized) continue;\n  \n  // Check secondary\n  for (var s = 0; s < secondaryPatterns.length; s++) {\n    if (url.indexOf(secondaryPatterns[s]) !== -1) {\n      secondary.push(citations[i]);\n      categorized = true;\n      break;\n    }\n  }\n  if (categorized) continue;\n  \n  // Check news\n  for (var n = 0; n < newsPatterns.length; n++) {\n    if (url.indexOf(newsPatterns[n]) !== -1) {\n      news.push(citations[i]);\n      categorized = true;\n      break;\n    }\n  }\n  if (categorized) continue;\n  \n  // Default: news\n  news.push(citations[i]);\n}\n\n// Berechne Quellenqualitaet\nvar sourceScore = 0;\nsourceScore += primary.length * 3;\nsourceScore += secondary.length * 2;\nsourceScore += news.length * 0.5;\nsourceScore -= forbidden.length * 5;\n\nvar sourceQuality = 'niedrig';\nif (sourceScore >= 8 && primary.length >= 1) sourceQuality = 'hoch';\nelse if (sourceScore >= 4) sourceQuality = 'mittel';\n\nvar sourceIssues = [];\nif (primary.length === 0) {\n  sourceIssues.push('KRITISCH: Keine Primaerquellen (IR, SEC, 10-K)');\n}\nif (forbidden.length > 0) {\n  sourceIssues.push('VERBOTEN: ' + forbidden.length + ' unzulaessige Quellen');\n}\nif (news.length > secondary.length + primary.length) {\n  sourceIssues.push('WARNUNG: Mehr News-Quellen als Research-Quellen');\n}\n\n// Filtere Quellen fuer Output (nur akzeptable)\nvar acceptedSources = primary.concat(secondary).concat(news.slice(0, 3));\n\nreturn {\n  json: {\n    ...input,\n    sourceValidation: {\n      primary: primary,\n      secondary: secondary,\n      news: news,\n      forbidden: forbidden,\n      score: sourceScore,\n      quality: sourceQuality,\n      issues: sourceIssues,\n      accepted: acceptedSources.slice(0, 8)\n    },\n    phase: 'P3_SOURCES_VALIDATED'\n  }\n};"
      },
      "id": "source-validator",
      "name": "P3b. Quellenvalidierung",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2300, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer 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" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.1,\n  \"max_tokens\": 4000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Du bist ein REDAKTEUR fuer einen professionellen Finanz-Newsletter.\\n\\nDeine Aufgaben:\\n1. Lesbarkeit und Stringenz verbessern\\n2. KURZE EINORDNUNG FUER EINSTEIGER hinzufuegen (max 3-4 Saetze)\\n\\n=== ERLAUBT ===\\n- Grammatik korrigieren\\n- Satzstruktur verbessern\\n- Absaetze besser gliedern\\n- Uebergaenge verbessern\\n- Wiederholungen entfernen\\n- Klarere Formulierungen\\n\\n=== STRIKT VERBOTEN ===\\n- Inhaltliche Aenderungen\\n- Neue Fakten oder Zahlen\\n- Neue Bewertungen\\n- Empfehlungen hinzufuegen\\n- Kursziele einfuegen\\n- Aussagen abschwaechen oder verstaerken\\n- Text KUERZEN (Laenge beibehalten!)\\n\\n=== NEUE PFLICHT: EINORDNUNG FUER EINSTEIGER ===\\nFuege AM ENDE (nach der Gesamteinordnung) einen kurzen Absatz hinzu:\\n\\n'--- Kurz erklaert ---'\\nMax. 3-4 Saetze fuer Leser ohne Finanzvorwissen:\\n- Was macht das Unternehmen (1 Satz)?\\n- Was ist der Kern dieser Analyse (1-2 Saetze)?\\n- KEINE Vereinfachung des Haupttexts, KEINE Empfehlung\\n\\n=== ZIEL ===\\nDer Text muss:\\n- Professionell und sachlich klingen\\n- Gut lesbar fuer informierte Privatanleger sein\\n- Klare Struktur haben\\n- Frei von Redundanzen sein\\n- Die VOLLSTAENDIGE Laenge des Inputs behalten\\n- Die Einsteiger-Einordnung am Ende haben\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify('FINALISIERE DIESEN TEXT REDAKTIONELL (NUR Lesbarkeit, KEINE Kuerzungen, VOLLSTAENDIGEN Text ausgeben).\\n\\nWICHTIG: Fuege am Ende einen Abschnitt \"--- Kurz erklaert ---\" hinzu (max 3-4 Saetze fuer Nicht-Experten).\\n\\n' + $json.analysisV2) }}\n    }\n  ]\n}",
        "options": { "timeout": 120000 }
      },
      "id": "phase4-editorial",
      "name": "P4. Redaktion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2500, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var prev = $('P3b. Quellenvalidierung').item.json;\nvar resp = $input.item.json;\n\nvar finalContent = '';\n\nif (resp && resp.choices && resp.choices[0] && resp.choices[0].message) {\n  finalContent = resp.choices[0].message.content || '';\n  finalContent = finalContent.replace(/\\*\\*([^*]+)\\*\\*/g, '$1').replace(/\\*([^*]+)\\*/g, '$1').replace(/\\[\\d+\\]/g, '').trim();\n} else {\n  finalContent = prev.analysisV2; // Fallback\n}\n\nreturn {\n  json: {\n    ...prev,\n    finalContent: finalContent,\n    phase: 'P4_EDITORIAL_COMPLETE'\n  }\n};"
      },
      "id": "phase4-extract",
      "name": "P4. Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2700, 400]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// QUALITY GATE v11.0 - PUBLISH POLICY\n// =====================================================\n\nvar input = $input.item.json;\nvar content = input.finalContent || '';\nvar lower = content.toLowerCase();\n\nfunction countWords(text) {\n  return (text || '').split(/\\s+/).filter(function(w) { return w.length > 1; }).length;\n}\nvar wordCount = countWords(content);\n\n// K.O.-KRITERIEN\nvar koFlags = [];\nvar hasKO = false;\n\nvar empfehlungTerms = [\n  { term: 'kaufen', reason: 'Explizite Kaufempfehlung' },\n  { term: 'verkaufen', reason: 'Explizite Verkaufsempfehlung' },\n  { term: 'buy', reason: 'Explizite Kaufempfehlung (EN)' },\n  { term: 'sell', reason: 'Explizite Verkaufsempfehlung (EN)' },\n  { term: 'unterbewertet', reason: 'Implizite Kaufempfehlung' },\n  { term: 'ueberbewertet', reason: 'Implizite Verkaufsempfehlung' },\n  { term: 'attraktiv bewertet', reason: 'Implizite Kaufempfehlung' },\n  { term: 'guenstig bewertet', reason: 'Implizite Kaufempfehlung' },\n  { term: 'chance', reason: 'Implizite Empfehlung' },\n  { term: 'lohnt sich', reason: 'Implizite Empfehlung' },\n  { term: 'kursziel', reason: 'Prognose/Empfehlung' }\n];\n\nfor (var e = 0; e < empfehlungTerms.length; e++) {\n  if (lower.indexOf(empfehlungTerms[e].term) !== -1) {\n    koFlags.push('[K.O. RECHTLICH] ' + empfehlungTerms[e].reason + ': \"' + empfehlungTerms[e].term + '\"');\n    hasKO = true;\n  }\n}\n\nvar hasAnySources = input.sourceValidation && \n  (input.sourceValidation.primary.length > 0 || \n   input.sourceValidation.secondary.length > 0 || \n   input.sourceValidation.news.length > 0);\nif (!hasAnySources) {\n  koFlags.push('[K.O. FACHLICH] Keine Quellenangaben vorhanden');\n  hasKO = true;\n}\n\nvar criticalIncomplete = ['[text folgt]', '[fortsetzung]', '[tbd]', '[todo]'];\nfor (var ci = 0; ci < criticalIncomplete.length; ci++) {\n  if (lower.indexOf(criticalIncomplete[ci]) !== -1) {\n    koFlags.push('[K.O. FACHLICH] Technischer Abbruch: ' + criticalIncomplete[ci]);\n    hasKO = true;\n  }\n}\n\nif (wordCount < 400) {\n  koFlags.push('[K.O. FACHLICH] Analyse zu kurz fuer Veroeffentlichung (' + wordCount + ' Woerter)');\n  hasKO = true;\n}\n\n// QUALITY INDICATORS\nvar qualityIndicators = [];\nvar uncertaintyWords = ['unsicherheit', 'unklar', 'abhaengig von', 'setzt voraus', 'impliziert', 'unter der annahme'];\nvar hasUncertainty = false;\nfor (var uw = 0; uw < uncertaintyWords.length; uw++) {\n  if (lower.indexOf(uncertaintyWords[uw]) !== -1) {\n    hasUncertainty = true;\n    break;\n  }\n}\nif (hasUncertainty) {\n  qualityIndicators.push('Unsicherheiten benannt (Qualitaetsmerkmal)');\n}\n\n// ANOMALIE-HANDLING\nvar anomalyDetails = [];\nvar anomaliesTotal = input.anomalies ? input.anomalies.length : 0;\nvar anomaliesHandled = 0;\n\nif (input.anomalies && input.anomalies.length > 0) {\n  for (var k = 0; k < input.anomalies.length; k++) {\n    var anomaly = input.anomalies[k];\n    var field = anomaly.field.toLowerCase().replace(/_/g, ' ');\n    var fieldMentioned = lower.indexOf(field) !== -1 || lower.indexOf(anomaly.field.toLowerCase()) !== -1;\n    var hasExplanation = lower.indexOf('basiseffekt') !== -1 || \n                         lower.indexOf('einmaleffekt') !== -1 ||\n                         lower.indexOf('bilanzstruktur') !== -1;\n    \n    var status = 'nicht_erwaehnt';\n    if (fieldMentioned || hasExplanation) {\n      status = 'behandelt';\n      anomaliesHandled++;\n    }\n    anomalyDetails.push({ field: anomaly.field, status: status });\n  }\n}\n\n// SCORE\nvar depthScore = 5;\nvar scoreReasons = [];\n\nif (wordCount >= 1000) { depthScore += 1; scoreReasons.push('+1: Ausfuehrlich (1000+ Woerter)'); }\nif (wordCount >= 1200) { depthScore += 0.5; scoreReasons.push('+0.5: Sehr ausfuehrlich'); }\nif (hasUncertainty) { depthScore += 1; scoreReasons.push('+1: Unsicherheiten benannt'); }\nif (anomaliesHandled === anomaliesTotal && anomaliesTotal > 0) { depthScore += 1; scoreReasons.push('+1: Alle Anomalien eingeordnet'); }\nif (lower.indexOf('gesamteinordnung') !== -1 || lower.indexOf('fazit') !== -1) { depthScore += 0.5; scoreReasons.push('+0.5: Gesamteinordnung vorhanden'); }\nif (input.sourceValidation && input.sourceValidation.primary && input.sourceValidation.primary.length >= 1) { depthScore += 0.5; scoreReasons.push('+0.5: Primaerquellen verwendet'); }\nif (wordCount < 800) { depthScore -= 0.5; scoreReasons.push('-0.5: Unter 800 Woerter'); }\n\nvar finalScore = Math.max(1, Math.min(10, Math.round(depthScore * 10) / 10));\n\n// DECISION\nvar publicationReady = !hasKO;\nvar statusText = hasKO ? 'BLOCKIERT: K.O.-Kriterium erfuellt' : 'PUBLIKATIONSFAEHIG';\n\nvar warnings = [];\nvar superlativeTerms = ['fuehrend', 'dominant', 'einzigartig', 'beste', 'groesste'];\nvar superlativeCount = 0;\nfor (var s = 0; s < superlativeTerms.length; s++) {\n  if (lower.indexOf(superlativeTerms[s]) !== -1) superlativeCount++;\n}\nif (superlativeCount > 0) warnings.push('Superlative vorhanden (' + superlativeCount + ')');\nif (anomaliesTotal > anomaliesHandled) warnings.push('Nicht alle Anomalien erwaehnt');\nif (wordCount < 800) warnings.push('Unter Ziellaenge (800 Woerter)');\nif (!input.sourceValidation.primary || input.sourceValidation.primary.length === 0) warnings.push('Keine Primaerquellen');\n\nreturn {\n  json: {\n    input: input.input,\n    facts: input.facts,\n    anomalies: input.anomalies,\n    factsBlock: input.factsBlock,\n    finalContent: content,\n    citations: input.sourceValidation.accepted,\n    metrics: {\n      wordCount: wordCount,\n      depthScore: finalScore,\n      scoreDisplay: finalScore + '/10 (Analysentiefe)',\n      scoreReasons: scoreReasons,\n      publicationReady: publicationReady,\n      statusText: statusText,\n      anomaliesTotal: anomaliesTotal,\n      anomaliesHandled: anomaliesHandled\n    },\n    publishPolicy: {\n      hasKO: hasKO,\n      koFlags: koFlags,\n      warnings: warnings,\n      qualityIndicators: qualityIndicators,\n      anomalyDetails: anomalyDetails,\n      principle: 'Im Zweifel IMMER veroeffentlichen'\n    },\n    validation: {\n      koCount: koFlags.length,\n      warningCount: warnings.length,\n      sourceQuality: input.sourceValidation.quality\n    },\n    critique: input.critique,\n    sourceValidation: input.sourceValidation,\n    phase: 'QUALITY_GATE_COMPLETE',\n    pipelineVersion: 'v11.0-auto-publish'\n  }\n};"
      },
      "id": "quality-gate",
      "name": "Quality Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2900, 400]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// HTML RENDERER v11 - Kapitovo Template Style\n// =====================================================\n// Generiert HTML im kapitovo-Design fuer GitHub Pages\n// =====================================================\n\nvar input = $input.item.json;\nvar meta = input.input;\nvar facts = input.facts;\nvar content = input.finalContent;\nvar sourceVal = input.sourceValidation;\n\n// Text-zu-HTML Konvertierung\nfunction textToHtml(text) {\n  if (!text) return '';\n  \n  var cleaned = text\n    .replace(/^#{1,6}\\s*/gm, '')\n    .replace(/\\*\\*([^*]+)\\*\\*/g, '$1')\n    .replace(/\\*([^*]+)\\*/g, '$1')\n    .replace(/---+/g, '')\n    .trim();\n  \n  cleaned = cleaned.replace(/\\d+-\\s*$/g, '.');\n  \n  var paragraphs = cleaned.split(/\\n\\n+/);\n  var html = '';\n  \n  for (var i = 0; i < paragraphs.length; i++) {\n    var p = paragraphs[i].trim();\n    if (!p) continue;\n    \n    if (/^\\d+\\.\\s+[A-Z]/.test(p) || /^[A-ZÄÖÜ][A-ZÄÖÜ\\s-]{5,}$/.test(p.split('\\n')[0])) {\n      var lines = p.split('\\n');\n      var headline = lines[0].replace(/^\\d+\\.\\s*/, '').trim();\n      html += '<h2>' + headline + '</h2>';\n      if (lines.length > 1) {\n        html += '<p>' + lines.slice(1).join(' ').replace(/\\n/g, ' ').trim() + '</p>';\n      }\n    } else {\n      html += '<p>' + p.replace(/\\n/g, ' ') + '</p>';\n    }\n  }\n  \n  return html;\n}\n\nvar htmlContent = textToHtml(content);\nvar formattedDate = new Date(meta.date).toLocaleDateString('de-DE', { day: '2-digit', month: '2-digit', year: 'numeric' });\n\n// Quellen HTML\nvar sourcesHtml = '';\nvar allSources = (sourceVal.primary || []).concat(sourceVal.secondary || []).slice(0, 6);\nif (allSources.length > 0) {\n  sourcesHtml = '<div class=\"refs\" style=\"margin-top:2rem; padding-top:1rem; border-top:1px solid #e2e8f0;\"><p style=\"font-size:0.875rem; color:#64748b;\"><strong>Quellen:</strong></p><ul style=\"font-size:0.875rem; color:#64748b; list-style:disc; margin-left:1.5rem;\">';\n  for (var s = 0; s < allSources.length; s++) {\n    try { var hostname = new URL(allSources[s]).hostname.replace('www.', ''); } catch(e) { var hostname = allSources[s]; }\n    sourcesHtml += '<li><a href=\"' + allSources[s] + '\" target=\"_blank\" rel=\"noopener noreferrer\" style=\"color:#2563eb;\">' + hostname + '</a></li>';\n  }\n  sourcesHtml += '</ul></div>';\n}\n\n// Intro extrahieren\nfunction getIntro(text) {\n  if (!text) return '';\n  var firstPara = text.split('\\n\\n')[0] || text.split('\\n')[0] || '';\n  return firstPara.slice(0, 400) + (firstPara.length > 400 ? '...' : '');\n}\nvar introText = getIntro(content);\n\n// Vollstaendiges HTML\nvar html = `<!DOCTYPE html>\n<html lang=\"de\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n  <link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"../assets/favicon-32.png\">\n  <link rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"../assets/favicon-16.png\">\n  <link rel=\"shortcut icon\" href=\"../assets/favicon-32.png\">\n  <link rel=\"apple-touch-icon\" sizes=\"180x180\" href=\"../assets/apple-touch-icon.png\">\n  <title>capitovo — ${meta.company} Unternehmensanalyse</title>\n  <meta name=\"description\" content=\"Analytische Einordnung von ${meta.company} (${meta.ticker}) - Geschaeftsmodell, Fundamentaldaten und Bewertung.\">\n  <link href=\"https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css\" rel=\"stylesheet\">\n  <link rel=\"stylesheet\" href=\"../style.css\">\n  <style>\n    #menu-toggle, .menu-toggle { border: none; outline: none; background: transparent; }\n    #menu-toggle:focus, .menu-toggle:focus { outline: none; box-shadow: none; }\n    header { position: static !important; }\n    main { background: transparent; padding-top: 55px !important; }\n    .analysis-article { max-width: 1100px; width: 100%; margin: 0 auto; padding: 0 16px; }\n    .analysis-article h1 { font-size: 1.8rem; margin: 0 0 0.5rem 0; }\n    .analysis-meta { color: #6b7280; margin-bottom: 1rem; }\n    .analysis-intro { font-size: 1.05rem; color:#0f172a; margin-bottom:1rem; }\n    .analysis-section { margin-top:1.5rem; }\n    .analysis-section h2 { font-size: 1.35rem; font-weight: 700; margin: 2rem 0 1rem 0; color: #0f172a; border-bottom: 2px solid #e2e8f0; padding-bottom: 0.5rem; }\n    article p { margin-bottom: 1rem; line-height: 1.7; text-align: justify; }\n    .disclaimer-box { background: #f8fafc; border: 1px solid #e2e8f0; border-radius: 8px; padding: 1.25rem; margin: 2rem 0; }\n    .back-btn-glow { box-shadow: none; transition: box-shadow 0.18s; }\n    .back-btn-glow:hover { box-shadow: 0 0 0 2px rgba(0,145,214,0.10); }\n  </style>\n</head>\n<body class=\"bg-white text-gray-900 abonenten-page\">\n\n<header>\n  <div class=\"header-content\">\n    <div class=\"logo\">\n      <a href=\"./abonenten.html\" class=\"logo-link\">\n        <img src=\"../assets/capitovo_logo_weiß.png\" alt=\"capitovo Logo\" class=\"header-logo\">\n      </a>\n    </div>\n    <button class=\"menu-toggle\" id=\"menu-toggle\" aria-controls=\"sidebar\" aria-expanded=\"false\" aria-label=\"Menü öffnen\">☰</button>\n  </div>\n</header>\n\n<main style=\"padding-top: 55px !important;\">\n  <article class=\"analysis-article\">\n    <div class=\"mb-2\">\n      <div class=\"flex items-start justify-between gap-3 flex-wrap\">\n        <div>\n          <p class=\"text-xs font-semibold uppercase mb-1\" style=\"color: #64748b;\">Unternehmensanalyse <span class=\"text-gray-400 mx-1\">·</span> ${meta.ticker}</p>\n          <h1 class=\"text-3xl font-extrabold text-gray-900 mb-1\">${meta.company}</h1>\n        </div>\n        <div class=\"flex items-center gap-2\">\n          <a href=\"alle_analysen.html\" class=\"inline-flex items-center gap-2 text-sm font-medium text-gray-700 bg-white border border-2 border-[color:var(--color-accent-blue)] rounded-md px-3 py-2 back-btn-glow\">← Zurück</a>\n        </div>\n      </div>\n      <div class=\"text-sm analysis-meta\" style=\"color: #64748b;\">\n        <span>${formattedDate}</span>\n        <span class=\"text-gray-400 mx-2\">·</span>\n        <span>Ticker: ${meta.ticker}</span>\n        <span class=\"text-gray-400 mx-2\">·</span>\n        <span>WKN: ${meta.wkn || '-'}</span>\n        <span class=\"text-gray-400 mx-2\">·</span>\n        <span>ISIN: ${meta.isin || '-'}</span>\n      </div>\n    </div>\n\n    <p class=\"analysis-intro\" style=\"margin: 24px 0 16px 0; font-size:1.05rem; line-height:1.7; text-align:justify;\">\n      ${introText}\n    </p>\n    \n    <div class=\"analysis-content\">\n      ${htmlContent}\n    </div>\n\n    ${sourcesHtml}\n\n    <div class=\"disclaimer-box\">\n      <p style=\"font-size: 0.875rem; color: #64748b; margin: 0;\">\n        <strong>Hinweis:</strong> Diese Analyse dient Informationszwecken und stellt keine Anlageberatung dar. \n        Die Informationen sind keine Aufforderung zum Kauf oder Verkauf von Wertpapieren. \n        Quantitative Angaben basieren auf Drittanbieter-Daten. \n        capitovo uebernimmt keine Gewaehr fuer Richtigkeit oder Vollstaendigkeit.\n      </p>\n    </div>\n  </article>\n</main>\n\n<footer class=\"site-footer border-t py-6 mt-12\">\n  <div class=\"footer-inner max-w-6xl mx-auto px-6 text-sm text-gray-500 flex items-center justify-between\">\n    <div>&copy; ${new Date().getFullYear()} capitovo — Alle Rechte vorbehalten.</div>\n    <div class=\"footer-links\">\n      <a href=\"../Rechtliches/impressum.html\" class=\"footer-btn\" target=\"_blank\">Impressum</a>\n      <a href=\"../Rechtliches/datenschutz.html\" class=\"footer-btn\" target=\"_blank\">Datenschutz</a>\n      <a href=\"../Rechtliches/haftung.html\" class=\"footer-btn\" target=\"_blank\">Haftungsausschluss</a>\n      <a href=\"../Rechtliches/agb.html\" class=\"footer-btn\" target=\"_blank\">AGB</a>\n    </div>\n  </div>\n</footer>\n\n<div class=\"sidebar\" id=\"sidebar\" aria-hidden=\"true\">\n  <button class=\"close-button\" id=\"close-sidebar\" aria-label=\"Sidebar schließen\">&times;</button>\n  <nav class=\"sidebar-nav\">\n    <ul>\n      <li><a href=\"./abonenten.html\"><span>Startseite</span></a></li>\n      <li><a href=\"./konto.html\"><span>Mein Konto</span></a></li>\n      <li><a href=\"./alle_analysen.html\"><span>Analysen</span></a></li>\n      <li><a href=\"./Aktien-Monitor/aktien-monitor.html\"><span>Aktien-Monitor</span></a></li>\n      <li><a href=\"./earnings_kalender.html\"><span>Wirtschaftskalender</span></a></li>\n    </ul>\n  </nav>\n</div>\n\n<script src=\"../script.js?v=11\"></script>\n</body>\n</html>`;\n\nreturn { json: { ...input, htmlPublic: html } };"
      },
      "id": "html-renderer",
      "name": "HTML Renderer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3100, 400]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// SVG PREVIEW GENERATOR v11\n// =====================================================\n\nvar input = $input.item.json;\nvar meta = input.input;\n\nvar displayName = meta.company.length > 25 \n  ? meta.company.substring(0, 22) + '...' \n  : meta.company;\n\nvar svg = '<svg width=\"640\" height=\"360\" viewBox=\"0 0 640 360\" xmlns=\"http://www.w3.org/2000/svg\">' +\n  '<defs><linearGradient id=\"bg\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"100%\"><stop offset=\"0%\" stop-color=\"#0f172a\"/><stop offset=\"100%\" stop-color=\"#1e293b\"/></linearGradient>' +\n  '<linearGradient id=\"accent\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"0%\"><stop offset=\"0%\" stop-color=\"#3b82f6\"/><stop offset=\"100%\" stop-color=\"#0ea5e9\"/></linearGradient></defs>' +\n  '<rect width=\"640\" height=\"360\" fill=\"url(#bg)\" rx=\"16\"/>' +\n  '<g font-family=\"-apple-system, BlinkMacSystemFont, sans-serif\">' +\n  '<text x=\"48\" y=\"72\" fill=\"#64748b\" font-size=\"12\" letter-spacing=\"0.1em\">' + meta.ticker + ' · ' + meta.sector.toUpperCase() + '</text>' +\n  '<text x=\"48\" y=\"120\" fill=\"#f1f5f9\" font-size=\"36\" font-weight=\"700\">' + displayName + '</text>' +\n  '<text x=\"48\" y=\"155\" fill=\"#94a3b8\" font-size=\"15\">Analytische Unternehmenseinordnung</text>' +\n  '<rect x=\"48\" y=\"180\" width=\"80\" height=\"4\" fill=\"url(#accent)\" rx=\"2\"/>' +\n  '<text x=\"48\" y=\"230\" fill=\"#64748b\" font-size=\"13\">Geschaeftsmodell · Fundamentaldaten · Bewertung</text>' +\n  '<text x=\"48\" y=\"300\" fill=\"#475569\" font-size=\"11\">capitovo Research</text>' +\n  '<text x=\"48\" y=\"320\" fill=\"#64748b\" font-size=\"10\">' + meta.date + '</text></g></svg>';\n\nreturn { json: { ...input, svgPreview: svg } };"
      },
      "id": "svg-generator",
      "name": "SVG Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3300, 400]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// BASE64 ENCODER + PUBLISH PREPARATION v11\n// =====================================================\n\nvar input = $input.item.json;\nvar meta = input.input;\nvar metrics = input.metrics;\n\n// Encode HTML and SVG to Base64 for GitHub API\nvar htmlBase64 = Buffer.from(input.htmlPublic, 'utf8').toString('base64');\nvar svgBase64 = Buffer.from(input.svgPreview, 'utf8').toString('base64');\n\n// Catalog Entry for analysen.json\nvar catalogEntry = {\n  id: meta.ticker.toLowerCase() + '-' + meta.date.replace(/-/g, ''),\n  category: meta.sector,\n  title: meta.company + ' - Unternehmensanalyse',\n  summary: 'Analytische Einordnung von ' + meta.company + ' (' + meta.ticker + ') - Geschaeftsmodell, Fundamentaldaten und Bewertung.',\n  link: 'Abonenten/' + meta.slug + '.html',\n  image: 'data/vorschaubilder_analysen/' + meta.slug + '_preview.svg',\n  date: meta.date,\n  author: 'capitovo Research',\n  tags: [meta.company, meta.ticker, meta.sector, meta.exchange]\n};\n\nreturn {\n  json: {\n    // Meta\n    company: meta.company,\n    ticker: meta.ticker,\n    slug: meta.slug,\n    date: meta.date,\n    \n    // Publication Status\n    publicationReady: metrics.publicationReady,\n    statusText: metrics.statusText,\n    \n    // File Paths\n    htmlPath: 'Abonenten/' + meta.slug + '.html',\n    svgPath: 'data/vorschaubilder_analysen/' + meta.slug + '_preview.svg',\n    \n    // Base64 Content for GitHub API\n    htmlBase64: htmlBase64,\n    svgBase64: svgBase64,\n    \n    // Commit Messages\n    htmlCommitMsg: 'Neue Analyse: ' + meta.company + ' (' + meta.ticker + ') - Auto-Publish v11',\n    svgCommitMsg: 'Vorschaubild: ' + meta.company + ' - Auto-Publish v11',\n    \n    // Catalog\n    catalogEntry: catalogEntry,\n    \n    // Summary\n    summary: {\n      status: metrics.publicationReady ? 'READY' : 'BLOCKED',\n      company: meta.company,\n      ticker: meta.ticker,\n      wordCount: metrics.wordCount,\n      depthScore: metrics.depthScore\n    }\n  }\n};"
      },
      "id": "base64-encoder",
      "name": "Base64 Encoder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3500, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.publicationReady }}",
              "value2": true
            }
          ]
        }
      },
      "id": "publish-gate",
      "name": "Publish Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3700, 400]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/kw-f8/capitovo/contents/{{ $json.htmlPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.htmlCommitMsg }}\",\n  \"content\": \"{{ $json.htmlBase64 }}\",\n  \"branch\": \"main\"\n}",
        "options": { "timeout": 60000 }
      },
      "id": "github-upload-html",
      "name": "GitHub Upload HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3920, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/kw-f8/capitovo/contents/{{ $json.svgPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.svgCommitMsg }}\",\n  \"content\": \"{{ $json.svgBase64 }}\",\n  \"branch\": \"main\"\n}",
        "options": { "timeout": 60000 }
      },
      "id": "github-upload-svg",
      "name": "GitHub Upload SVG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4140, 300]
    },
    {
      "parameters": {
        "mode": "wait"
      },
      "id": "merge-uploads",
      "name": "Merge Uploads",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [4360, 400]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// FINAL OUTPUT - Success Summary\n// =====================================================\n\nvar prev = $('Base64 Encoder').item.json;\n\nvar liveUrl = 'https://kw-f8.github.io/capitovo/' + prev.htmlPath;\n\nreturn {\n  json: {\n    status: 'PUBLISHED',\n    message: 'Analyse erfolgreich veroeffentlicht!',\n    company: prev.company,\n    ticker: prev.ticker,\n    date: prev.date,\n    liveUrl: liveUrl,\n    files: {\n      html: prev.htmlPath,\n      svg: prev.svgPath\n    },\n    catalogEntry: prev.catalogEntry,\n    pipelineVersion: 'v11.0-auto-publish'\n  }\n};"
      },
      "id": "output-success",
      "name": "Output Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4560, 300]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// BLOCKED OUTPUT - Quality Gate Failed\n// =====================================================\n\nvar prev = $('Base64 Encoder').item.json;\n\nreturn {\n  json: {\n    status: 'BLOCKED',\n    message: 'Analyse wurde NICHT veroeffentlicht (Quality Gate)',\n    company: prev.company,\n    ticker: prev.ticker,\n    date: prev.date,\n    reason: prev.statusText,\n    pipelineVersion: 'v11.0-auto-publish'\n  }\n};"
      },
      "id": "output-blocked",
      "name": "Output Blocked",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3920, 500]
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "0. Input", "type": "main", "index": 0 }]] },
    "0. Input": { "main": [[{ "node": "1a. API Overview", "type": "main", "index": 0 }]] },
    "1a. API Overview": { "main": [[{ "node": "1b. Store", "type": "main", "index": 0 }]] },
    "1b. Store": { "main": [[{ "node": "1c. API Income", "type": "main", "index": 0 }]] },
    "1c. API Income": { "main": [[{ "node": "1d. Fakteninstanz", "type": "main", "index": 0 }]] },
    "1d. Fakteninstanz": { "main": [[{ "node": "1e. Facts Format", "type": "main", "index": 0 }]] },
    "1e. Facts Format": { "main": [[{ "node": "P2. Analyseinstanz", "type": "main", "index": 0 }]] },
    "P2. Analyseinstanz": { "main": [[{ "node": "P2. Extract", "type": "main", "index": 0 }]] },
    "P2. Extract": { "main": [[{ "node": "P3. Kritische Pruefinstanz", "type": "main", "index": 0 }]] },
    "P3. Kritische Pruefinstanz": { "main": [[{ "node": "P3. Extract", "type": "main", "index": 0 }]] },
    "P3. Extract": { "main": [[{ "node": "P3b. Quellenvalidierung", "type": "main", "index": 0 }]] },
    "P3b. Quellenvalidierung": { "main": [[{ "node": "P4. Redaktion", "type": "main", "index": 0 }]] },
    "P4. Redaktion": { "main": [[{ "node": "P4. Extract", "type": "main", "index": 0 }]] },
    "P4. Extract": { "main": [[{ "node": "Quality Gate", "type": "main", "index": 0 }]] },
    "Quality Gate": { "main": [[{ "node": "HTML Renderer", "type": "main", "index": 0 }]] },
    "HTML Renderer": { "main": [[{ "node": "SVG Generator", "type": "main", "index": 0 }]] },
    "SVG Generator": { "main": [[{ "node": "Base64 Encoder", "type": "main", "index": 0 }]] },
    "Base64 Encoder": { "main": [[{ "node": "Publish Gate", "type": "main", "index": 0 }]] },
    "Publish Gate": { 
      "main": [
        [
          { "node": "GitHub Upload HTML", "type": "main", "index": 0 },
          { "node": "GitHub Upload SVG", "type": "main", "index": 0 }
        ],
        [{ "node": "Output Blocked", "type": "main", "index": 0 }]
      ] 
    },
    "GitHub Upload HTML": { "main": [[{ "node": "Merge Uploads", "type": "main", "index": 0 }]] },
    "GitHub Upload SVG": { "main": [[{ "node": "Merge Uploads", "type": "main", "index": 1 }]] },
    "Merge Uploads": { "main": [[{ "node": "Output Success", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "production" }, { "name": "v11.0-auto-publish" }]
}
