n8n/n8n_analyse_generator_workflow_v7.json
{
  "name": "Capitovo Analyse Generator v7 - Data-First Architecture",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 400]
    },
    {
      "parameters": {
        "jsCode": "// === EINGABE-DATEN ===\n// Hier werden Unternehmensdaten eingegeben\nreturn {\n  json: {\n    company: 'Apple',\n    ticker: 'AAPL',\n    exchange: 'NASDAQ',\n    sector: 'Technologie',\n    currency: 'USD',\n    slug: 'apple',\n    fiscalYearEnd: 'September',\n    // Optional: Manuelle Finanzdaten falls API nicht verfügbar\n    manualFinancials: null\n  }\n};"
      },
      "id": "input-data",
      "name": "1. Input Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\nconst required = ['company', 'ticker', 'exchange', 'sector', 'currency'];\nconst missing = required.filter(f => !input[f]);\nif (missing.length > 0) {\n  throw new Error(`Fehlende Pflichtfelder: ${missing.join(', ')}`);\n}\n\nconst slug = input.slug || input.company.toLowerCase().replace(/[^a-z0-9]+/g, '-');\nconst date = new Date().toISOString().split('T')[0];\n\nreturn {\n  json: {\n    ...input,\n    slug,\n    date,\n    pipelineVersion: 'v7.0-data-first'\n  }\n};"
      },
      "id": "input-validator",
      "name": "2. Input Validator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.alphavantage.co/query?function=OVERVIEW&symbol={{ $json.ticker }}&apikey={{ $env.ALPHA_VANTAGE_KEY }}",
        "options": { "timeout": 30000 }
      },
      "id": "api-alpha-overview",
      "name": "3a. Alpha Vantage Overview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.alphavantage.co/query?function=INCOME_STATEMENT&symbol={{ $json.ticker }}&apikey={{ $env.ALPHA_VANTAGE_KEY }}",
        "options": { "timeout": 30000 }
      },
      "id": "api-alpha-income",
      "name": "3b. Alpha Vantage Income",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// FINANZDATEN-AGGREGATOR\n// Konsolidiert Daten aus Alpha Vantage + Fallback\n// =====================================================\n\nconst input = $('2. Input Validator').item.json;\nconst overviewResp = $('3a. Alpha Vantage Overview').item.json;\nconst incomeResp = $('3b. Alpha Vantage Income').item.json;\n\nfunction safeNum(val, fallback = null) {\n  if (val === undefined || val === null || val === 'None' || val === '-') return fallback;\n  const n = parseFloat(String(val).replace(/,/g, ''));\n  return isFinite(n) ? n : fallback;\n}\n\nfunction safePercent(val) {\n  const n = safeNum(val);\n  if (n === null) return null;\n  // Wenn Wert zwischen 0 und 1, als Prozent interpretieren\n  if (Math.abs(n) <= 1) return Math.round(n * 1000) / 10;\n  return Math.round(n * 10) / 10;\n}\n\n// Prüfen ob API-Daten verfügbar\nconst hasOverview = overviewResp && overviewResp.Symbol && !overviewResp.Note && !overviewResp['Error Message'];\nconst hasIncome = incomeResp && incomeResp.annualReports && !incomeResp.Note;\n\nlet financials = {\n  dataSource: 'none',\n  dataQuality: 'missing',\n  retrievedAt: new Date().toISOString(),\n  company: {\n    name: input.company,\n    ticker: input.ticker,\n    sector: input.sector,\n    currency: input.currency,\n    exchange: input.exchange\n  },\n  fundamentals: {},\n  income: {},\n  valuation: {},\n  growth: {},\n  margins: {}\n};\n\nif (hasOverview) {\n  financials.dataSource = 'alpha_vantage';\n  financials.dataQuality = 'api';\n  \n  const o = overviewResp;\n  \n  // Unternehmensdaten\n  financials.company.description = o.Description || null;\n  financials.company.industry = o.Industry || null;\n  financials.company.fiscalYearEnd = o.FiscalYearEnd || input.fiscalYearEnd;\n  financials.company.employees = safeNum(o.FullTimeEmployees);\n  \n  // Fundamentals mit expliziter Quelle\n  financials.fundamentals = {\n    marketCap: { value: safeNum(o.MarketCapitalization), source: 'Alpha Vantage OVERVIEW', asOf: financials.retrievedAt },\n    sharesOutstanding: { value: safeNum(o.SharesOutstanding), source: 'Alpha Vantage OVERVIEW', asOf: financials.retrievedAt },\n    bookValue: { value: safeNum(o.BookValue), source: 'Alpha Vantage OVERVIEW', asOf: financials.retrievedAt },\n    dividendPerShare: { value: safeNum(o.DividendPerShare), source: 'Alpha Vantage OVERVIEW', asOf: financials.retrievedAt },\n    dividendYield: { value: safePercent(o.DividendYield), source: 'Alpha Vantage OVERVIEW', asOf: financials.retrievedAt },\n    eps: { value: safeNum(o.EPS), source: 'Alpha Vantage OVERVIEW', asOf: financials.retrievedAt },\n    revenuePerShare: { value: safeNum(o.RevenuePerShareTTM), source: 'Alpha Vantage OVERVIEW', asOf: financials.retrievedAt },\n    revenueTTM: { value: safeNum(o.RevenueTTM), source: 'Alpha Vantage OVERVIEW', asOf: financials.retrievedAt },\n    ebitda: { value: safeNum(o.EBITDA), source: 'Alpha Vantage OVERVIEW', asOf: financials.retrievedAt },\n    grossProfit: { value: safeNum(o.GrossProfitTTM), source: 'Alpha Vantage OVERVIEW', asOf: financials.retrievedAt }\n  };\n  \n  // Bewertung\n  financials.valuation = {\n    peRatio: { value: safeNum(o.PERatio), source: 'Alpha Vantage OVERVIEW', asOf: financials.retrievedAt },\n    forwardPE: { value: safeNum(o.ForwardPE), source: 'Alpha Vantage OVERVIEW', asOf: financials.retrievedAt },\n    pegRatio: { value: safeNum(o.PEGRatio), source: 'Alpha Vantage OVERVIEW', asOf: financials.retrievedAt },\n    priceToBook: { value: safeNum(o.PriceToBookRatio), source: 'Alpha Vantage OVERVIEW', asOf: financials.retrievedAt },\n    priceToSales: { value: safeNum(o.PriceToSalesRatioTTM), source: 'Alpha Vantage OVERVIEW', asOf: financials.retrievedAt },\n    evToRevenue: { value: safeNum(o.EVToRevenue), source: 'Alpha Vantage OVERVIEW', asOf: financials.retrievedAt },\n    evToEbitda: { value: safeNum(o.EVToEBITDA), source: 'Alpha Vantage OVERVIEW', asOf: financials.retrievedAt },\n    analystTargetPrice: { value: safeNum(o.AnalystTargetPrice), source: 'Alpha Vantage OVERVIEW', asOf: financials.retrievedAt },\n    beta: { value: safeNum(o.Beta), source: 'Alpha Vantage OVERVIEW', asOf: financials.retrievedAt },\n    fiftyTwoWeekHigh: { value: safeNum(o['52WeekHigh']), source: 'Alpha Vantage OVERVIEW', asOf: financials.retrievedAt },\n    fiftyTwoWeekLow: { value: safeNum(o['52WeekLow']), source: 'Alpha Vantage OVERVIEW', asOf: financials.retrievedAt }\n  };\n  \n  // Margen\n  financials.margins = {\n    grossMargin: { value: safePercent(o.GrossProfitMargin), source: 'Alpha Vantage OVERVIEW', asOf: financials.retrievedAt },\n    operatingMargin: { value: safePercent(o.OperatingMarginTTM), source: 'Alpha Vantage OVERVIEW', asOf: financials.retrievedAt },\n    profitMargin: { value: safePercent(o.ProfitMargin), source: 'Alpha Vantage OVERVIEW', asOf: financials.retrievedAt },\n    returnOnAssets: { value: safePercent(o.ReturnOnAssetsTTM), source: 'Alpha Vantage OVERVIEW', asOf: financials.retrievedAt },\n    returnOnEquity: { value: safePercent(o.ReturnOnEquityTTM), source: 'Alpha Vantage OVERVIEW', asOf: financials.retrievedAt }\n  };\n  \n  // Wachstum\n  financials.growth = {\n    quarterlyEarningsGrowth: { value: safePercent(o.QuarterlyEarningsGrowthYOY), source: 'Alpha Vantage OVERVIEW', asOf: financials.retrievedAt },\n    quarterlyRevenueGrowth: { value: safePercent(o.QuarterlyRevenueGrowthYOY), source: 'Alpha Vantage OVERVIEW', asOf: financials.retrievedAt }\n  };\n}\n\n// Income Statement Historie hinzufügen falls verfügbar\nif (hasIncome && incomeResp.annualReports) {\n  const reports = incomeResp.annualReports.slice(0, 5); // Letzte 5 Jahre\n  financials.incomeHistory = reports.map(r => ({\n    fiscalYear: r.fiscalDateEnding ? r.fiscalDateEnding.substring(0, 4) : null,\n    totalRevenue: { value: safeNum(r.totalRevenue), source: 'Alpha Vantage INCOME_STATEMENT' },\n    grossProfit: { value: safeNum(r.grossProfit), source: 'Alpha Vantage INCOME_STATEMENT' },\n    operatingIncome: { value: safeNum(r.operatingIncome), source: 'Alpha Vantage INCOME_STATEMENT' },\n    netIncome: { value: safeNum(r.netIncome), source: 'Alpha Vantage INCOME_STATEMENT' },\n    ebitda: { value: safeNum(r.ebitda), source: 'Alpha Vantage INCOME_STATEMENT' }\n  }));\n  financials.dataQuality = 'api_full';\n}\n\n// Fallback auf manuelle Daten\nif (financials.dataSource === 'none' && input.manualFinancials) {\n  financials = { ...financials, ...input.manualFinancials };\n  financials.dataSource = 'manual';\n  financials.dataQuality = 'manual';\n}\n\n// Validierung: Mindestens Basisdaten müssen vorhanden sein\nconst hasMinimumData = financials.fundamentals.revenueTTM?.value || \n                       financials.fundamentals.marketCap?.value ||\n                       financials.dataSource === 'manual';\n\nreturn {\n  json: {\n    ...input,\n    financials,\n    financialsValid: hasMinimumData,\n    financialsIssues: hasMinimumData ? [] : ['Keine Finanzdaten verfügbar - API-Fehler oder Ticker ungültig']\n  }\n};"
      },
      "id": "financials-aggregator",
      "name": "4. Financials Aggregator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst f = input.financials;\n\nif (!input.financialsValid) {\n  throw new Error('ABBRUCH: Keine validen Finanzdaten. ' + (input.financialsIssues || []).join(', '));\n}\n\n// =====================================================\n// FAKTEN-JSON FÜR LLM ERSTELLEN\n// Diese Daten darf das LLM NUR erklären, NICHT ergänzen\n// =====================================================\n\nfunction fmt(obj) {\n  if (!obj || obj.value === null || obj.value === undefined) return 'n/v';\n  const v = obj.value;\n  if (typeof v === 'number') {\n    if (Math.abs(v) >= 1e12) return (v/1e12).toFixed(1) + ' Bio';\n    if (Math.abs(v) >= 1e9) return (v/1e9).toFixed(1) + ' Mrd';\n    if (Math.abs(v) >= 1e6) return (v/1e6).toFixed(1) + ' Mio';\n    return v.toLocaleString('de-DE');\n  }\n  return String(v);\n}\n\nfunction src(obj) {\n  if (!obj || !obj.source) return '';\n  return ` (Quelle: ${obj.source}, ${obj.asOf ? obj.asOf.split('T')[0] : 'aktuell'})`;\n}\n\n// Strukturiertes Fakten-Objekt für die Module\nconst factsForLLM = {\n  company: f.company,\n  dataSource: f.dataSource,\n  dataQuality: f.dataQuality,\n  retrievedAt: f.retrievedAt,\n  \n  // Formatierte Fakten mit Quellen\n  keyFacts: [\n    `Marktkapitalisierung: ${fmt(f.fundamentals?.marketCap)} ${input.currency}${src(f.fundamentals?.marketCap)}`,\n    `Umsatz (TTM): ${fmt(f.fundamentals?.revenueTTM)} ${input.currency}${src(f.fundamentals?.revenueTTM)}`,\n    `EBITDA: ${fmt(f.fundamentals?.ebitda)} ${input.currency}${src(f.fundamentals?.ebitda)}`,\n    `EPS: ${f.fundamentals?.eps?.value || 'n/v'} ${input.currency}${src(f.fundamentals?.eps)}`,\n    `Dividende/Aktie: ${f.fundamentals?.dividendPerShare?.value || 'n/v'} ${input.currency}${src(f.fundamentals?.dividendPerShare)}`,\n    `Dividendenrendite: ${f.fundamentals?.dividendYield?.value || 'n/v'}%${src(f.fundamentals?.dividendYield)}`\n  ].filter(x => !x.includes('n/v')),\n  \n  keyValuation: [\n    `KGV (P/E): ${f.valuation?.peRatio?.value || 'n/v'}${src(f.valuation?.peRatio)}`,\n    `Forward P/E: ${f.valuation?.forwardPE?.value || 'n/v'}${src(f.valuation?.forwardPE)}`,\n    `PEG Ratio: ${f.valuation?.pegRatio?.value || 'n/v'}${src(f.valuation?.pegRatio)}`,\n    `EV/EBITDA: ${f.valuation?.evToEbitda?.value || 'n/v'}${src(f.valuation?.evToEbitda)}`,\n    `EV/Revenue: ${f.valuation?.evToRevenue?.value || 'n/v'}${src(f.valuation?.evToRevenue)}`,\n    `Kurs/Buchwert: ${f.valuation?.priceToBook?.value || 'n/v'}${src(f.valuation?.priceToBook)}`,\n    `52W Hoch: ${f.valuation?.fiftyTwoWeekHigh?.value || 'n/v'} ${input.currency}${src(f.valuation?.fiftyTwoWeekHigh)}`,\n    `52W Tief: ${f.valuation?.fiftyTwoWeekLow?.value || 'n/v'} ${input.currency}${src(f.valuation?.fiftyTwoWeekLow)}`,\n    `Analysten-Kursziel: ${f.valuation?.analystTargetPrice?.value || 'n/v'} ${input.currency}${src(f.valuation?.analystTargetPrice)}`,\n    `Beta: ${f.valuation?.beta?.value || 'n/v'}${src(f.valuation?.beta)}`\n  ].filter(x => !x.includes('n/v')),\n  \n  keyMargins: [\n    `Bruttomarge: ${f.margins?.grossMargin?.value || 'n/v'}%${src(f.margins?.grossMargin)}`,\n    `Operative Marge: ${f.margins?.operatingMargin?.value || 'n/v'}%${src(f.margins?.operatingMargin)}`,\n    `Nettomarge: ${f.margins?.profitMargin?.value || 'n/v'}%${src(f.margins?.profitMargin)}`,\n    `ROE: ${f.margins?.returnOnEquity?.value || 'n/v'}%${src(f.margins?.returnOnEquity)}`,\n    `ROA: ${f.margins?.returnOnAssets?.value || 'n/v'}%${src(f.margins?.returnOnAssets)}`\n  ].filter(x => !x.includes('n/v')),\n  \n  keyGrowth: [\n    `Umsatzwachstum (QoQ YoY): ${f.growth?.quarterlyRevenueGrowth?.value || 'n/v'}%${src(f.growth?.quarterlyRevenueGrowth)}`,\n    `Gewinnwachstum (QoQ YoY): ${f.growth?.quarterlyEarningsGrowth?.value || 'n/v'}%${src(f.growth?.quarterlyEarningsGrowth)}`\n  ].filter(x => !x.includes('n/v')),\n  \n  incomeHistory: f.incomeHistory || []\n};\n\n// Zählen wie viele Datenpunkte wir haben\nconst dataPointCount = factsForLLM.keyFacts.length + \n                       factsForLLM.keyValuation.length + \n                       factsForLLM.keyMargins.length + \n                       factsForLLM.keyGrowth.length;\n\nreturn {\n  json: {\n    ...input,\n    factsForLLM,\n    dataPointCount,\n    factsText: [\n      '=== UNTERNEHMENSDATEN (VERIFIZIERT) ===',\n      `Unternehmen: ${f.company.name} (${f.company.ticker})`,\n      `Sektor: ${f.company.sector}`,\n      `Branche: ${f.company.industry || 'n/v'}`,\n      `Währung: ${f.company.currency}`,\n      '',\n      '=== FUNDAMENTALS ===',\n      ...factsForLLM.keyFacts,\n      '',\n      '=== BEWERTUNG ===',\n      ...factsForLLM.keyValuation,\n      '',\n      '=== MARGEN & RENDITEN ===',\n      ...factsForLLM.keyMargins,\n      '',\n      '=== WACHSTUM ===',\n      ...factsForLLM.keyGrowth,\n      '',\n      `Datenquelle: ${f.dataSource}`,\n      `Datenqualität: ${f.dataQuality}`,\n      `Abgerufen: ${f.retrievedAt}`\n    ].join('\\n')\n  }\n};"
      },
      "id": "facts-formatter",
      "name": "5. Facts Formatter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst company = input.company;\nconst ticker = input.ticker;\nconst factsText = input.factsText;\n\n// =====================================================\n// MODULE-PROMPTS (v7 - DATA-FIRST)\n// Kernprinzip: LLM erklärt, erfindet KEINE Zahlen\n// =====================================================\n\nconst strictDataRule = `\n\nKRITISCHE REGEL - DATENINTEGRITÄT:\n1. Du DARFST NUR die Zahlen aus dem bereitgestellten Fakten-Block verwenden\n2. Du DARFST KEINE zusätzlichen Zahlen recherchieren oder erfinden\n3. Jede Zahl im Text MUSS mit \"(Quelle: ...)\" aus den Fakten stammen\n4. Wenn eine Info fehlt, schreibe \"Keine Daten verfügbar\" - NICHT improvisieren\n5. Bei Unsicherheit: Weglassen ist besser als Erfinden\n`;\n\nconst modules = {\n  business: {\n    name: 'Geschäftsmodell',\n    system: `Du bist ein Business Model Analyst. Beschreibe das Geschäftsmodell OBJEKTIV.\n\nREGELN:\n1. Beschreibe WAS und WIE, nicht ob es GUT oder SCHLECHT ist\n2. Keine Superlative (\"führend\", \"dominant\", \"einzigartig\")\n3. Wettbewerbsvorteile als beobachtbare Fakten\n4. Allgemeinwissen über das Unternehmen ist erlaubt\n\nSPRACHE: Nüchtern, präzise, wiederholbar\nMINDESTUMFANG: 400 Wörter`,\n    user: `Beschreibe das Geschäftsmodell von ${company} (${ticker}):\n\n1. WERTSCHÖPFUNGSKETTE - Wie verdient das Unternehmen Geld?\n2. UMSATZSEGMENTE - Bekannte Segmente (Hardware, Services, etc.)\n3. KUNDENSTRUKTUR - B2B/B2C, Geo-Verteilung\n4. WETTBEWERBSPOSITION - Hauptwettbewerber\n5. ÖKOSYSTEM - Verbundeffekte, Lock-in\n\nNüchtern beschreiben, nicht bewerten. Mind. 400 Wörter.`,\n    minWords: 400\n  },\n  fundamentals: {\n    name: 'Fundamentaldaten',\n    system: `Du bist ein Equity Research Analyst. Deine Aufgabe: Die bereitgestellten Finanzdaten ERKLÄREN und EINORDNEN.\n${strictDataRule}\n\nERLAUBT:\n- Erklärung was die Kennzahlen bedeuten\n- Historische Einordnung (\"typisch für Tech-Sektor\")\n- Vergleich mit Branchendurchschnitten (allgemein bekannt)\n\nVERBOTEN:\n- Neue Zahlen hinzufügen\n- Zahlen ohne (Quelle: ...) Tag\n- Spekulation über zukünftige Entwicklung`,\n    user: `VERFÜGBARE FAKTEN (NUR DIESE VERWENDEN):\n\n${factsText}\n\n---\n\nErkläre und ordne diese Fundamentaldaten von ${company} (${ticker}) ein:\n\n1. UMSATZ & PROFITABILITÄT - Was sagen die Margen über das Geschäftsmodell?\n2. CASHFLOW - Interpretation der Cash-Generierung\n3. RENDITEKENNZAHLEN - ROE/ROA Einordnung\n4. KAPITALSTRUKTUR - Falls Daten verfügbar\n\nJEDE Zahl muss aus den obigen Fakten stammen. Keine neuen Zahlen. Mind. 350 Wörter.`,\n    minWords: 350\n  },\n  valuation: {\n    name: 'Bewertung',\n    system: `Du bist ein Valuation Specialist. Erkläre die bereitgestellten Bewertungskennzahlen.\n${strictDataRule}\n\nREGELN:\n1. Erkläre WAS der Markt implizit erwartet\n2. Vergleiche mit typischen Sektormultiples\n3. KEINE Aussage ob \"teuer\" oder \"günstig\" oder \"attraktiv\"\n4. Konditionale Sprache: \"Das KGV impliziert...\"\n\nVERBOTEN:\n- \"kaufenswert\", \"attraktiv\", \"unterbewertet\"`,\n    user: `VERFÜGBARE BEWERTUNGSDATEN (NUR DIESE VERWENDEN):\n\n${factsText}\n\n---\n\nAnalysiere die Bewertung von ${company} (${ticker}):\n\n1. AKTUELLE MULTIPLES - Erklärung der verfügbaren Kennzahlen\n2. IMPLIZITE ERWARTUNGEN - Was preist der Markt ein?\n3. PEER-KONTEXT - Typische Multiples im Sektor (allgemein bekannt)\n4. SENSITIVITÄTEN - Was müsste passieren für Rechtfertigung?\n\nNUR bereitgestellte Zahlen verwenden. Erklären, nicht bewerten. Mind. 350 Wörter.`,\n    minWords: 350\n  },\n  thesis: {\n    name: 'These',\n    system: `Du bist ein Senior Research Analyst. Formuliere eine FALSIFIZIERBARE Investment-These.\n${strictDataRule}\n\nREGELN:\n1. These muss KONKRET und ÜBERPRÜFBAR sein\n2. Explizite Annahmen auflisten\n3. Konkrete Falsifikationskriterien benennen\n4. KEINE Empfehlung (nicht \"kaufen\", \"verkaufen\")\n\nSTRUKTUR:\n1. Kernaussage (1-2 Sätze)\n2. Tragende Annahmen (nummeriert)\n3. Falsifikationskriterien\n4. Zeithorizont`,\n    user: `VERFÜGBARE DATEN:\n\n${factsText}\n\n---\n\nFormuliere eine Investment-These für ${company} (${ticker}):\n\n1. KERNTHESE - Eine klare, überprüfbare Hauptaussage\n2. TRAGENDE ANNAHMEN - Was muss wahr sein?\n3. FALSIFIKATIONSKRITERIEN - \"Die These wäre widerlegt, wenn...\"\n4. ZEITHORIZONT - Zeitraum, Katalysatoren\n\nKeine Handlungsempfehlung. Mind. 300 Wörter.`,\n    minWords: 300\n  },\n  scenarios: {\n    name: 'Szenarien',\n    system: `Du bist ein Scenario Analyst. Erstelle drei qualitative Entwicklungspfade.\n${strictDataRule}\n\nREGELN:\n1. Szenarien müssen ÖKONOMISCH UNTERSCHIEDLICH sein\n2. Jedes braucht konkrete Auslöser\n3. KEINE präzisen Kursziele (das wäre Scheingenauigkeit)\n4. Beschreibe Richtung und Größenordnung, nicht exakte Zahlen\n\nSTRUKTUR pro Szenario:\n- Auslöser: Was muss passieren?\n- Auswirkung: Auf Fundamentals\n- Zeitrahmen: Wann relevant?`,\n    user: `VERFÜGBARE DATEN:\n\n${factsText}\n\n---\n\nErstelle Szenarien für ${company} (${ticker}):\n\n1. POSITIVES SZENARIO - Auslöser, Auswirkung auf Geschäft\n2. BASIS-SZENARIO - Fortschreibung aktueller Trends\n3. NEGATIVES SZENARIO - Konkrete Risiken\n4. HAUPTRISIKEN - Top 3 mit Begründung\n\nQualitativ argumentieren, keine Schein-Präzision. Mind. 300 Wörter.`,\n    minWords: 300\n  }\n};\n\nreturn {\n  json: {\n    ...input,\n    modulePrompts: modules\n  }\n};"
      },
      "id": "prompt-builder",
      "name": "6. Prompt Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.PERPLEXITY_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.2,\n  \"max_tokens\": 3000,\n  \"messages\": [\n    { \"role\": \"system\", \"content\": {{ JSON.stringify($json.modulePrompts.business.system) }} },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.modulePrompts.business.user) }} }\n  ],\n  \"return_citations\": true\n}",
        "options": { "timeout": 120000 }
      },
      "id": "api-module-business",
      "name": "7a. API: Geschäftsmodell",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.PERPLEXITY_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.1,\n  \"max_tokens\": 3000,\n  \"messages\": [\n    { \"role\": \"system\", \"content\": {{ JSON.stringify($json.modulePrompts.fundamentals.system) }} },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.modulePrompts.fundamentals.user) }} }\n  ],\n  \"return_citations\": true\n}",
        "options": { "timeout": 120000 }
      },
      "id": "api-module-fundamentals",
      "name": "7b. API: Fundamentals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.PERPLEXITY_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.1,\n  \"max_tokens\": 3000,\n  \"messages\": [\n    { \"role\": \"system\", \"content\": {{ JSON.stringify($json.modulePrompts.valuation.system) }} },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.modulePrompts.valuation.user) }} }\n  ],\n  \"return_citations\": true\n}",
        "options": { "timeout": 120000 }
      },
      "id": "api-module-valuation",
      "name": "7c. API: Bewertung",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.PERPLEXITY_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.2,\n  \"max_tokens\": 2500,\n  \"messages\": [\n    { \"role\": \"system\", \"content\": {{ JSON.stringify($json.modulePrompts.thesis.system) }} },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.modulePrompts.thesis.user) }} }\n  ],\n  \"return_citations\": true\n}",
        "options": { "timeout": 120000 }
      },
      "id": "api-module-thesis",
      "name": "7d. API: These",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 600],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.PERPLEXITY_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.2,\n  \"max_tokens\": 2500,\n  \"messages\": [\n    { \"role\": \"system\", \"content\": {{ JSON.stringify($json.modulePrompts.scenarios.system) }} },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.modulePrompts.scenarios.user) }} }\n  ],\n  \"return_citations\": true\n}",
        "options": { "timeout": 120000 }
      },
      "id": "api-module-scenarios",
      "name": "7e. API: Szenarien",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 700],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $('6. Prompt Builder').item.json;\n\nfunction extractContent(resp) {\n  if (!resp || resp.error) return { content: '', citations: [], error: resp?.error || 'No response' };\n  let content = resp.choices?.[0]?.message?.content || '';\n  // Markdown-Formatierung entfernen\n  content = content\n    .replace(/\\*\\*([^*]+)\\*\\*/g, '$1')\n    .replace(/\\*([^*]+)\\*/g, '$1')\n    .replace(/\\[\\d+\\]/g, '')\n    .replace(/^#+\\s*/gm, '')\n    .trim();\n  return { content, citations: resp.citations || [], error: null };\n}\n\nconst modules = {\n  business: extractContent($('7a. API: Geschäftsmodell').item.json),\n  fundamentals: extractContent($('7b. API: Fundamentals').item.json),\n  valuation: extractContent($('7c. API: Bewertung').item.json),\n  thesis: extractContent($('7d. API: These').item.json),\n  scenarios: extractContent($('7e. API: Szenarien').item.json)\n};\n\nconst countWords = (text) => (text || '').split(/\\s+/).filter(w => w.length > 1).length;\n\nconst wordCounts = {\n  business: countWords(modules.business.content),\n  fundamentals: countWords(modules.fundamentals.content),\n  valuation: countWords(modules.valuation.content),\n  thesis: countWords(modules.thesis.content),\n  scenarios: countWords(modules.scenarios.content)\n};\n\nconst totalWordCount = Object.values(wordCounts).reduce((a, b) => a + b, 0);\n\n// Citations sammeln und deduplizieren\nconst allCitations = [\n  ...(modules.business.citations || []),\n  ...(modules.fundamentals.citations || []),\n  ...(modules.valuation.citations || []),\n  ...(modules.thesis.citations || []),\n  ...(modules.scenarios.citations || [])\n];\nconst uniqueCitations = [...new Set(allCitations)];\n\n// Fehler sammeln\nconst moduleErrors = Object.entries(modules)\n  .filter(([k, v]) => v.error)\n  .map(([k]) => k);\n\nreturn {\n  json: {\n    ...input,\n    modules,\n    wordCounts,\n    totalWordCount,\n    allCitations: uniqueCitations,\n    moduleErrors\n  }\n};"
      },
      "id": "module-collector",
      "name": "8. Module Collector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.PERPLEXITY_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.1,\n  \"max_tokens\": 2000,\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"Du bist ein kritischer Qualitätsprüfer für Finanzanalysen. Deine Aufgabe ist es, logische Brüche, unbelegte Behauptungen und implizite Empfehlungen zu finden.\\n\\nPRÜFKRITERIEN:\\n1. LOGISCHE KONSISTENZ - Widersprechen sich Aussagen?\\n2. UNBELEGTE ZAHLEN - Gibt es Zahlen ohne (Quelle: ...)?\\n3. IMPLIZITE EMPFEHLUNGEN - Versteckte Kaufsignale?\\n4. ÜBERTREIBUNGEN - Superlative, Marketing-Sprache?\\n5. FALSIFIZIERBARKEIT - Ist die These überprüfbar?\\n\\nAntworte STRUKTURIERT mit:\\n- GEFUNDENE PROBLEME (nummeriert)\\n- SCHWEREGRAD (kritisch/mittel/gering)\\n- EMPFOHLENE KORREKTUR\" },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify('Prüfe diese Analyse auf Qualitätsmängel:\\n\\n' + $json.modules.thesis.content + '\\n\\n' + $json.modules.fundamentals.content + '\\n\\n' + $json.modules.valuation.content) }} }\n  ]\n}",
        "options": { "timeout": 90000 }
      },
      "id": "critic-agent",
      "name": "9. Kritik-Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $('8. Module Collector').item.json;\nconst criticResp = $input.item.json;\n\n// =====================================================\n// KRITIK-AGENT AUSWERTUNG\n// =====================================================\n\nlet criticContent = '';\nlet criticIssues = [];\nlet hasCriticalIssues = false;\n\nif (criticResp && criticResp.choices && criticResp.choices[0]) {\n  criticContent = criticResp.choices[0].message?.content || '';\n  \n  // Kritische Probleme erkennen\n  const criticalPatterns = [\n    /kritisch/gi,\n    /schwerwiegend/gi,\n    /unbelegte.*zahl/gi,\n    /ohne.*quelle/gi,\n    /empfehlung.*versteckt/gi,\n    /kaufsignal/gi,\n    /implizite.*empfehlung/gi\n  ];\n  \n  for (const pattern of criticalPatterns) {\n    if (pattern.test(criticContent)) {\n      hasCriticalIssues = true;\n      const matches = criticContent.match(pattern);\n      if (matches) criticIssues.push(...matches.map(m => m.toLowerCase()));\n    }\n  }\n  \n  // Probleme aus strukturierter Antwort extrahieren\n  const problemMatches = criticContent.match(/\\d+\\.\\s*([^\\n]+)/g) || [];\n  criticIssues = [...new Set([...criticIssues, ...problemMatches.slice(0, 5)])];\n}\n\nreturn {\n  json: {\n    ...input,\n    criticAgent: {\n      content: criticContent,\n      issues: criticIssues,\n      hasCriticalIssues,\n      issueCount: criticIssues.length\n    }\n  }\n};"
      },
      "id": "critic-evaluator",
      "name": "9b. Kritik Evaluator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// DATENINTEGRITÄTS-PRÜFUNG (v7 - verschärft)\n// =====================================================\n\nconst factsText = input.factsText || '';\nconst allContent = Object.values(input.modules).map(m => m.content || '').join('\\n');\n\n// 1. Zahlen aus dem API-Faktenblock extrahieren\nconst apiNumbers = new Set();\nconst apiNumberPattern = /([\\d.,]+)\\s*(mrd|mio|bio|%|usd|eur)?/gi;\nlet match;\nwhile ((match = apiNumberPattern.exec(factsText)) !== null) {\n  const num = match[1].replace(/\\./g, '').replace(',', '.');\n  if (parseFloat(num) > 0) apiNumbers.add(parseFloat(num).toFixed(2));\n}\n\n// 2. Zahlen im LLM-Output finden\nconst outputNumbers = [];\nconst outputPattern = /([\\d.,]+)\\s*(mrd|mio|bio|%|usd|eur|dollar|euro|billion|million)?/gi;\nwhile ((match = outputPattern.exec(allContent)) !== null) {\n  const num = match[1].replace(/\\./g, '').replace(',', '.');\n  const parsed = parseFloat(num);\n  if (parsed > 0 && parsed !== 1 && parsed !== 2 && parsed !== 3) { // Ignoriere triviale Zahlen\n    outputNumbers.push({\n      raw: match[0],\n      value: parsed.toFixed(2),\n      inApiData: apiNumbers.has(parsed.toFixed(2))\n    });\n  }\n}\n\n// 3. Quellenverweise prüfen\nconst sourceRefPattern = /\\(quelle:[^)]+\\)/gi;\nconst sourceRefs = allContent.match(sourceRefPattern) || [];\n\n// 4. Unverified Numbers identifizieren (Zahlen die NICHT aus API stammen)\nconst unverifiedNumbers = outputNumbers.filter(n => !n.inApiData && n.value > 10);\n\n// 5. Score berechnen (v7 - strenger)\nconst totalSignificantNumbers = outputNumbers.filter(n => n.value > 10).length;\nconst verifiedNumbers = outputNumbers.filter(n => n.inApiData && n.value > 10).length;\nconst verificationRate = totalSignificantNumbers > 0 ? verifiedNumbers / totalSignificantNumbers : 1;\n\nconst dataIntegrityPassed = verificationRate >= 0.7 && unverifiedNumbers.length <= 3;\n\nreturn {\n  json: {\n    ...input,\n    dataIntegrity: {\n      passed: dataIntegrityPassed,\n      apiDataPoints: apiNumbers.size,\n      totalOutputNumbers: totalSignificantNumbers,\n      verifiedNumbers,\n      unverifiedNumbers: unverifiedNumbers.slice(0, 10).map(n => n.raw),\n      verificationRate: Math.round(verificationRate * 100) + '%',\n      sourceReferences: sourceRefs.length,\n      issues: [\n        ...(verificationRate < 0.7 ? [`Nur ${Math.round(verificationRate * 100)}% der Zahlen verifiziert`] : []),\n        ...(unverifiedNumbers.length > 3 ? [`${unverifiedNumbers.length} nicht-verifizierte Zahlen`] : [])\n      ]\n    }\n  }\n};"
      },
      "id": "data-integrity",
      "name": "10. Data Integrity Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// QUELLEN-VALIDIERUNG (v7 - kuratiert)\n// =====================================================\n\nconst citations = input.allCitations || [];\n\n// Erlaubte Domains (Whitelist)\nconst primaryDomains = [\n  'sec.gov', 'investor.apple.com', 'ir.', 'investors.',\n  'alphavantage.co', 'financialmodelingprep.com'\n];\nconst secondaryDomains = [\n  'reuters.com', 'bloomberg.com', 'wsj.com', 'ft.com',\n  'statista.com', 'idc.com', 'gartner.com',\n  'morningstar.com', 'seekingalpha.com', 'yahoo.com/finance'\n];\n\n// Verbotene Domains (Blacklist)\nconst forbiddenDomains = [\n  'reddit', 'youtube', 'facebook', 'twitter', 'tiktok',\n  'blog', 'forum', 'wikipedia', 'quora',\n  'medium.com', 'substack', 'discord'\n];\n\n// Irrelevante Domains (Disney, etc.)\nconst irrelevantPatterns = [\n  /disney/i, /netflix/i, /amazon(?!.*investor)/i,\n  /thedisneycompany/i\n];\n\nconst categorized = {\n  primary: [],\n  secondary: [],\n  forbidden: [],\n  irrelevant: [],\n  other: []\n};\n\nfor (const url of citations) {\n  const lower = url.toLowerCase();\n  \n  if (forbiddenDomains.some(d => lower.includes(d))) {\n    categorized.forbidden.push(url);\n  } else if (irrelevantPatterns.some(p => p.test(lower))) {\n    categorized.irrelevant.push(url);\n  } else if (primaryDomains.some(d => lower.includes(d))) {\n    categorized.primary.push(url);\n  } else if (secondaryDomains.some(d => lower.includes(d))) {\n    categorized.secondary.push(url);\n  } else {\n    categorized.other.push(url);\n  }\n}\n\n// Bewertung\nconst hasForbidden = categorized.forbidden.length > 0;\nconst hasIrrelevant = categorized.irrelevant.length > 0;\nconst hasPrimary = categorized.primary.length > 0;\nconst qualityScore = categorized.primary.length * 3 + categorized.secondary.length * 2 - categorized.forbidden.length * 5 - categorized.irrelevant.length * 3;\n\nconst sourceValidationPassed = !hasForbidden && !hasIrrelevant && qualityScore >= 0;\n\n// Gefilterte Quellen für Output\nconst filteredCitations = [\n  ...categorized.primary,\n  ...categorized.secondary,\n  ...categorized.other.slice(0, 3)\n].slice(0, 8);\n\nreturn {\n  json: {\n    ...input,\n    sourceValidation: {\n      passed: sourceValidationPassed,\n      categorized,\n      qualityScore,\n      filteredCitations,\n      issues: [\n        ...(hasForbidden ? [`${categorized.forbidden.length} verbotene Quellen: ${categorized.forbidden.join(', ')}`] : []),\n        ...(hasIrrelevant ? [`${categorized.irrelevant.length} irrelevante Quellen: ${categorized.irrelevant.join(', ')}`] : []),\n        ...(!hasPrimary ? ['Keine Primärquellen gefunden'] : [])\n      ]\n    }\n  }\n};"
      },
      "id": "source-validation",
      "name": "11. Source Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2600, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// ANTI-BIAS-PRÜFUNG (v7 - erweitert)\n// =====================================================\n\nconst allContent = Object.values(input.modules).map(m => m.content || '').join('\\n').toLowerCase();\n\nconst biasPatterns = [\n  // Superlative (high severity)\n  { pattern: /\\bführend\\b/g, severity: 'high', type: 'superlativ' },\n  { pattern: /\\bdominant\\b/g, severity: 'high', type: 'superlativ' },\n  { pattern: /\\beinzigartig\\b/g, severity: 'high', type: 'superlativ' },\n  { pattern: /\\bbeeindruckend\\b/g, severity: 'high', type: 'superlativ' },\n  { pattern: /\\bspektakulär\\b/g, severity: 'high', type: 'superlativ' },\n  { pattern: /\\brevolutionär\\b/g, severity: 'high', type: 'superlativ' },\n  { pattern: /\\bgame-?changer\\b/g, severity: 'high', type: 'superlativ' },\n  { pattern: /\\bparadigmenwechsel\\b/g, severity: 'high', type: 'superlativ' },\n  \n  // Direkte Empfehlungen (critical)\n  { pattern: /\\bkaufen\\b/g, severity: 'critical', type: 'empfehlung' },\n  { pattern: /\\bverkaufen\\b/g, severity: 'critical', type: 'empfehlung' },\n  { pattern: /\\battraktiv(e|es|er)?\\b/g, severity: 'critical', type: 'empfehlung' },\n  { pattern: /\\blohnend\\b/g, severity: 'critical', type: 'empfehlung' },\n  { pattern: /\\bempfehlenswert\\b/g, severity: 'critical', type: 'empfehlung' },\n  { pattern: /\\beigent sich/g, severity: 'critical', type: 'empfehlung' },\n  { pattern: /\\bunterbewertet\\b/g, severity: 'critical', type: 'empfehlung' },\n  { pattern: /\\büberbewertet\\b/g, severity: 'critical', type: 'empfehlung' },\n  \n  // Überzeugungs-Sprache (medium)\n  { pattern: /\\bgarantiert\\b/g, severity: 'medium', type: 'überzeugung' },\n  { pattern: /\\bzweifellos\\b/g, severity: 'medium', type: 'überzeugung' },\n  { pattern: /\\bsicher(lich)?\\b/g, severity: 'medium', type: 'überzeugung' },\n  { pattern: /\\bwird steigen\\b/g, severity: 'medium', type: 'prognose' },\n  { pattern: /\\bwird fallen\\b/g, severity: 'medium', type: 'prognose' },\n  { pattern: /\\bder markt irrt\\b/g, severity: 'high', type: 'arroganz' }\n];\n\nconst foundBias = [];\nfor (const bp of biasPatterns) {\n  const matches = allContent.match(bp.pattern);\n  if (matches) {\n    foundBias.push({\n      phrase: matches[0],\n      severity: bp.severity,\n      type: bp.type,\n      count: matches.length\n    });\n  }\n}\n\nconst critical = foundBias.filter(b => b.severity === 'critical');\nconst high = foundBias.filter(b => b.severity === 'high');\nconst medium = foundBias.filter(b => b.severity === 'medium');\n\nconst antiBiasPassed = critical.length === 0 && high.length <= 1;\nconst biasScore = Math.max(0, 10 - (critical.length * 4) - (high.length * 2) - (medium.length * 0.5));\n\nreturn {\n  json: {\n    ...input,\n    antiBiasCheck: {\n      passed: antiBiasPassed,\n      score: Math.round(biasScore * 10) / 10,\n      critical: critical.map(b => b.phrase),\n      high: high.map(b => b.phrase),\n      medium: medium.map(b => b.phrase),\n      totalIssues: foundBias.length,\n      issues: [\n        ...(critical.length > 0 ? [`KRITISCH: ${critical.map(b => b.phrase).join(', ')}`] : []),\n        ...(high.length > 1 ? [`Zu viele Superlative: ${high.map(b => b.phrase).join(', ')}`] : [])\n      ]\n    }\n  }\n};"
      },
      "id": "anti-bias-check",
      "name": "12. Anti-Bias Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2800, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// TIEFENPRÜFUNG (v7)\n// =====================================================\n\nconst minimums = {\n  business: 350,\n  fundamentals: 300,\n  valuation: 300,\n  thesis: 250,\n  scenarios: 250\n};\nconst totalMinimum = 1500;\n\nconst moduleResults = {};\nlet allModulesPassed = true;\n\nfor (const [module, minimum] of Object.entries(minimums)) {\n  const actual = input.wordCounts[module] || 0;\n  const passed = actual >= minimum;\n  if (!passed) allModulesPassed = false;\n  moduleResults[module] = { actual, minimum, passed, deficit: passed ? 0 : minimum - actual };\n}\n\nconst totalPassed = input.totalWordCount >= totalMinimum;\n\nreturn {\n  json: {\n    ...input,\n    depthValidation: {\n      passed: allModulesPassed && totalPassed,\n      moduleResults,\n      total: { actual: input.totalWordCount, minimum: totalMinimum, passed: totalPassed },\n      issues: [\n        ...(!totalPassed ? [`Gesamtlänge: ${input.totalWordCount}/${totalMinimum}`] : []),\n        ...Object.entries(moduleResults)\n          .filter(([k, v]) => !v.passed)\n          .map(([k, v]) => `${k}: ${v.actual}/${v.minimum}`)\n      ]\n    }\n  }\n};"
      },
      "id": "depth-validation",
      "name": "13. Depth Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3000, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// PUBLICATION GATE v7\n// Neue Gewichtung: 40% Fakten, 25% Quellen, 20% Logik, 15% Stil\n// =====================================================\n\n// Einzelprüfungen\nconst checks = {\n  // Harte Gates (müssen alle bestanden werden)\n  dataAvailable: {\n    passed: input.financialsValid,\n    weight: 0,\n    mandatory: true,\n    label: 'API-Daten verfügbar'\n  },\n  allModulesComplete: {\n    passed: input.moduleErrors.length === 0,\n    weight: 0,\n    mandatory: true,\n    label: 'Alle Module generiert'\n  },\n  noCriticalBias: {\n    passed: input.antiBiasCheck.critical?.length === 0,\n    weight: 0,\n    mandatory: true,\n    label: 'Keine kritischen Bias-Phrasen'\n  },\n  noForbiddenSources: {\n    passed: input.sourceValidation.categorized?.forbidden?.length === 0,\n    weight: 0,\n    mandatory: true,\n    label: 'Keine verbotenen Quellen'\n  },\n  \n  // Score-relevante Prüfungen\n  dataIntegrity: {\n    passed: input.dataIntegrity.passed,\n    score: input.dataIntegrity.passed ? 40 : (parseFloat(input.dataIntegrity.verificationRate) / 100) * 40,\n    weight: 40,\n    label: 'Datenintegrität (40%)'\n  },\n  sourceQuality: {\n    passed: input.sourceValidation.passed,\n    score: input.sourceValidation.passed ? 25 : Math.max(0, 25 + input.sourceValidation.qualityScore),\n    weight: 25,\n    label: 'Quellenqualität (25%)'\n  },\n  logicConsistency: {\n    passed: !input.criticAgent.hasCriticalIssues,\n    score: input.criticAgent.hasCriticalIssues ? 10 : (20 - input.criticAgent.issueCount * 2),\n    weight: 20,\n    label: 'Logik/Konsistenz (20%)'\n  },\n  styleBias: {\n    passed: input.antiBiasCheck.passed,\n    score: input.antiBiasCheck.score * 1.5, // Max 15\n    weight: 15,\n    label: 'Stil/Bias (15%)'\n  },\n  depth: {\n    passed: input.depthValidation.passed,\n    score: input.depthValidation.passed ? 10 : 5, // Bonus\n    weight: 0,\n    label: 'Analysetiefe (Bonus)'\n  }\n};\n\n// Mandatory Gates prüfen\nconst mandatoryChecks = Object.entries(checks).filter(([k, v]) => v.mandatory);\nconst mandatoryPassed = mandatoryChecks.every(([k, v]) => v.passed);\nconst failedMandatory = mandatoryChecks.filter(([k, v]) => !v.passed).map(([k, v]) => v.label);\n\n// Quality Score berechnen (0-100, dann auf 0-10 skalieren)\nlet rawScore = 0;\nfor (const [key, check] of Object.entries(checks)) {\n  if (check.score !== undefined) {\n    rawScore += Math.max(0, Math.min(check.weight, check.score));\n  }\n}\n\n// Bonus für Tiefe\nif (checks.depth.passed) rawScore += 10;\n\n// Auf 0-10 skalieren\nconst qualityScore = Math.min(10, Math.round(rawScore / 10));\n\n// Publication Ready: Mandatory + Score >= 6\nconst publicationReady = mandatoryPassed && qualityScore >= 6;\n\n// Alle Issues sammeln\nconst allIssues = [\n  ...failedMandatory,\n  ...(input.dataIntegrity.issues || []),\n  ...(input.sourceValidation.issues || []),\n  ...(input.antiBiasCheck.issues || []),\n  ...(input.depthValidation.issues || []),\n  ...(input.criticAgent.issues?.slice(0, 3) || [])\n].filter(Boolean);\n\nreturn {\n  json: {\n    ...input,\n    publicationGate: {\n      publicationReady,\n      mandatoryPassed,\n      qualityScore,\n      rawScore: Math.round(rawScore),\n      checks,\n      failedMandatory,\n      allIssues: [...new Set(allIssues)]\n    },\n    qualityScore,\n    publicationReady\n  }\n};"
      },
      "id": "publication-gate",
      "name": "14. Publication Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3200, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// EDITORIAL ASSEMBLY v7\n// =====================================================\n\nconst modules = input.modules;\nconst f = input.financials;\n\n// These extrahieren\nconst thesisContent = modules.thesis.content || '';\nconst thesisMatch = thesisContent.match(/kernthese[^:]*:?\\s*([^\\n]+)/i) ||\n                   thesisContent.match(/zentrale\\s+aussage[^:]*:?\\s*([^\\n]+)/i) ||\n                   thesisContent.match(/hauptaussage[^:]*:?\\s*([^\\n]+)/i);\nconst centralThesis = thesisMatch ? thesisMatch[1].trim().substring(0, 300) : 'Kernthese siehe Abschnitt 1.';\n\n// Analyse zusammenstellen\nconst assembledAnalysis = `1. Investment-These\n\n${modules.thesis.content || 'Modul nicht verfügbar'}\n\n2. Geschäftsmodell\n\n${modules.business.content || 'Modul nicht verfügbar'}\n\n3. Fundamentaldaten\n\n${modules.fundamentals.content || 'Modul nicht verfügbar'}\n\n4. Bewertungseinordnung\n\n${modules.valuation.content || 'Modul nicht verfügbar'}\n\n5. Szenarien und Risiken\n\n${modules.scenarios.content || 'Modul nicht verfügbar'}`;\n\nreturn {\n  json: {\n    ...input,\n    finalContent: assembledAnalysis,\n    centralThesis,\n    citations: input.sourceValidation.filteredCitations || []\n  }\n};"
      },
      "id": "editorial-assembly",
      "name": "15. Editorial Assembly",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3400, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst f = input.financials;\n\n// =====================================================\n// HTML RENDERER v7\n// Mit Daten-Header und verbessertem Disclaimer\n// =====================================================\n\nfunction textToHtml(text) {\n  let html = text\n    .replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;')\n    .replace(/^(\\d+)\\.\\s+([^\\n]+)$/gm, '</p><h2>$2</h2><p>')\n    .replace(/\\n\\n+/g, '</p><p>')\n    .replace(/\\n/g, ' ');\n  html = '<p>' + html + '</p>';\n  html = html.replace(/<p><\\/p>/g, '').replace(/<p>\\s*<h/g, '<h').replace(/<\\/h2>\\s*<\\/p>/g, '</h2>').replace(/\\s+/g, ' ');\n  return html.trim();\n}\n\nconst htmlContent = textToHtml(input.finalContent || '');\nconst citations = input.citations || [];\n\n// Daten-Header für Transparenz\nlet dataHeaderHtml = '';\nif (f && f.dataSource !== 'none') {\n  dataHeaderHtml = `<div class=\"data-header\">\n    <h3>Verwendete Datenquellen</h3>\n    <ul>\n      <li><strong>Primärquelle:</strong> ${f.dataSource === 'alpha_vantage' ? 'Alpha Vantage API' : f.dataSource}</li>\n      <li><strong>Datenqualität:</strong> ${f.dataQuality}</li>\n      <li><strong>Abrufzeitpunkt:</strong> ${f.retrievedAt ? new Date(f.retrievedAt).toLocaleString('de-DE') : 'n/v'}</li>\n      <li><strong>Datenpunkte:</strong> ${input.dataPointCount || 'n/v'}</li>\n    </ul>\n  </div>`;\n}\n\nlet sourcesHtml = '';\nif (citations.length > 0) {\n  sourcesHtml = `<aside class=\"sources-section\"><h3>Quellen</h3><ol class=\"sources-list\">${citations.map(url => {\n    try { return `<li><a href=\"${url}\" target=\"_blank\" rel=\"noopener\">${new URL(url).hostname.replace('www.', '')}</a></li>`; }\n    catch { return `<li><a href=\"${url}\" target=\"_blank\" rel=\"noopener\">${url}</a></li>`; }\n  }).join('')}</ol></aside>`;\n}\n\nconst formattedDate = new Date(input.date).toLocaleDateString('de-DE', { day: '2-digit', month: 'long', year: 'numeric' });\nconst scoreClass = input.qualityScore >= 7 ? 'high' : (input.qualityScore >= 5 ? 'medium' : 'low');\nconst badgeText = input.publicationReady ? `Score ${input.qualityScore}/10` : `Review (${input.qualityScore}/10)`;\n\nconst html = `<!DOCTYPE html>\n<html lang=\"de\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <title>${input.company} (${input.ticker}) – Unternehmensanalyse | capitovo</title>\n  <meta name=\"description\" content=\"Unabhängige Analyse von ${input.company} (${input.ticker}) - Geschäftsmodell, Fundamentaldaten und Bewertungseinordnung.\">\n  <meta name=\"robots\" content=\"noindex, nofollow\">\n  <style>\n    :root { --text-primary: #1a1a1a; --text-secondary: #4a5568; --text-muted: #718096; --border-color: #e2e8f0; --bg-subtle: #f7fafc; --accent: #2563eb; }\n    * { box-sizing: border-box; margin: 0; padding: 0; }\n    body { font-family: -apple-system, BlinkMacSystemFont, sans-serif; line-height: 1.6; color: var(--text-primary); }\n    .container { max-width: 48rem; margin: 0 auto; padding: 2rem 1.5rem; }\n    .header { margin-bottom: 2rem; padding-bottom: 1.5rem; border-bottom: 1px solid var(--border-color); }\n    .meta { font-size: 0.875rem; color: var(--text-muted); margin-bottom: 0.5rem; }\n    .title { font-size: 1.75rem; font-weight: 700; margin-bottom: 0.5rem; }\n    .subtitle { font-size: 1rem; color: var(--text-secondary); }\n    .badge { display: inline-block; padding: 0.25rem 0.5rem; border-radius: 0.25rem; font-size: 0.75rem; font-weight: 500; margin-left: 0.5rem; }\n    .badge.high { background: #dcfce7; color: #166534; }\n    .badge.medium { background: #fef3c7; color: #92400e; }\n    .badge.low { background: #fee2e2; color: #991b1b; }\n    .data-header { background: #f1f5f9; padding: 1rem; border-radius: 0.5rem; margin-bottom: 1.5rem; font-size: 0.875rem; }\n    .data-header h3 { font-size: 0.9rem; margin-bottom: 0.5rem; color: var(--text-secondary); }\n    .data-header ul { list-style: none; }\n    .data-header li { margin: 0.25rem 0; }\n    .body { font-family: Georgia, serif; font-size: 1.0625rem; line-height: 1.8; }\n    .body h2 { font-family: -apple-system, sans-serif; font-size: 1.25rem; font-weight: 600; margin: 2rem 0 1rem; padding-bottom: 0.5rem; border-bottom: 1px solid var(--border-color); }\n    .body p { margin-bottom: 1rem; text-align: justify; }\n    .sources-section { margin-top: 2rem; padding-top: 1rem; border-top: 1px solid var(--border-color); }\n    .sources-section h3 { font-size: 0.9rem; color: var(--text-secondary); margin-bottom: 0.5rem; }\n    .sources-list { list-style: decimal; padding-left: 1.25rem; font-size: 0.875rem; }\n    .sources-list li { margin: 0.25rem 0; }\n    .sources-list a { color: var(--accent); text-decoration: none; }\n    .disclaimer { margin-top: 2rem; padding: 1rem; background: var(--bg-subtle); border: 1px solid var(--border-color); border-radius: 0.5rem; font-size: 0.8rem; color: var(--text-muted); }\n    .disclaimer strong { color: var(--text-secondary); }\n    .footer { margin-top: 1rem; font-size: 0.75rem; color: var(--text-muted); }\n  </style>\n</head>\n<body>\n  <main class=\"container\">\n    <header class=\"header\">\n      <div class=\"meta\">${input.sector} · ${input.ticker} · ${input.exchange}</div>\n      <h1 class=\"title\">${input.company} – Unternehmensanalyse <span class=\"badge ${scoreClass}\">${badgeText}</span></h1>\n      <p class=\"subtitle\">Geschäftsmodell, Fundamentaldaten und Bewertungseinordnung</p>\n      <div class=\"meta\" style=\"margin-top: 0.5rem;\">capitovo Research · ${formattedDate}</div>\n    </header>\n    ${dataHeaderHtml}\n    <article class=\"body\">${htmlContent}</article>\n    ${sourcesHtml}\n    <div class=\"disclaimer\">\n      <strong>Rechtlicher Hinweis:</strong> Diese Analyse dient ausschließlich Informationszwecken und stellt keine Anlageberatung im Sinne des Wertpapierhandelsgesetzes (WpHG) dar. Die bereitgestellten Informationen sind keine Aufforderung zum Kauf oder Verkauf von Wertpapieren. capitovo übernimmt keine Gewähr für die Richtigkeit, Vollständigkeit oder Aktualität der dargestellten Inhalte.\n      <br><br>\n      <strong>Datenquellen:</strong> Finanzdaten wurden automatisiert über ${f?.dataSource === 'alpha_vantage' ? 'Alpha Vantage' : f?.dataSource || 'externe APIs'} abgerufen. Qualitative Einordnungen wurden durch KI-gestützte Analyse erstellt und sollten nicht als alleinige Entscheidungsgrundlage dienen.\n    </div>\n    <footer class=\"footer\">Analyse-ID: ${input.ticker.toLowerCase()}-${input.date} · ${input.totalWordCount} Wörter · ${citations.length} Quellen · Pipeline v7.0</footer>\n  </main>\n</body>\n</html>`;\n\nreturn { json: { ...input, html } };"
      },
      "id": "html-renderer",
      "name": "16. HTML Renderer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3600, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// OUTPUT GENERATOR v7\n// =====================================================\n\nconst svg = `<svg width=\"640\" height=\"360\" viewBox=\"0 0 640 360\" xmlns=\"http://www.w3.org/2000/svg\">\n  <defs><linearGradient id=\"bg\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"100%\"><stop offset=\"0%\" stop-color=\"#0f172a\"/><stop offset=\"100%\" stop-color=\"#1e293b\"/></linearGradient></defs>\n  <rect width=\"640\" height=\"360\" fill=\"url(#bg)\" rx=\"16\"/>\n  <g font-family=\"-apple-system, sans-serif\">\n    <text x=\"48\" y=\"72\" fill=\"#64748b\" font-size=\"13\" letter-spacing=\"0.1em\">${input.ticker} · ${input.sector.toUpperCase()}</text>\n    <text x=\"48\" y=\"120\" fill=\"#f1f5f9\" font-size=\"32\" font-weight=\"700\">${input.company}</text>\n    <text x=\"48\" y=\"156\" fill=\"#94a3b8\" font-size=\"16\">Unternehmensanalyse</text>\n    <rect x=\"48\" y=\"180\" width=\"80\" height=\"3\" fill=\"#3b82f6\" rx=\"1.5\"/>\n    <text x=\"48\" y=\"224\" fill=\"#64748b\" font-size=\"14\">Geschäftsmodell · Fundamentaldaten · Bewertung</text>\n    <text x=\"48\" y=\"296\" fill=\"#475569\" font-size=\"12\">capitovo Research · Score ${input.qualityScore}/10</text>\n    <text x=\"48\" y=\"316\" fill=\"#64748b\" font-size=\"11\">${input.date} · Pipeline v7.0 Data-First</text>\n  </g>\n</svg>`;\n\nconst jsonEntry = {\n  id: `${input.ticker.toLowerCase()}-${input.date}`,\n  category: input.sector,\n  title: `${input.company} – Unternehmensanalyse`,\n  summary: `Unabhängige Analyse von ${input.company} (${input.ticker}).`,\n  link: `Abonenten/${input.slug}.html`,\n  image: `data/vorschaubilder_analysen/${input.slug}.svg`,\n  date: input.date,\n  author: 'capitovo Research',\n  tags: [input.company, input.ticker, input.sector],\n  published: input.publicationReady,\n  wordCount: input.totalWordCount,\n  sourcesCount: input.citations?.length || 0,\n  qualityScore: input.qualityScore,\n  dataSource: input.financials?.dataSource || 'unknown',\n  dataQuality: input.financials?.dataQuality || 'unknown',\n  centralThesis: input.centralThesis,\n  pipelineVersion: input.pipelineVersion\n};\n\nconst status = input.publicationReady \n  ? `✅ Publikationsreif (Score ${input.qualityScore}/10)`\n  : `⚠️ Review erforderlich - Score ${input.qualityScore}/10`;\n\nreturn {\n  json: {\n    success: true,\n    status,\n    company: input.company,\n    ticker: input.ticker,\n    date: input.date,\n    pipelineVersion: input.pipelineVersion,\n    metrics: {\n      totalWordCount: input.totalWordCount,\n      wordCountsByModule: input.wordCounts,\n      sourcesCount: input.citations?.length || 0,\n      qualityScore: input.qualityScore,\n      rawScore: input.publicationGate?.rawScore || 0,\n      publicationReady: input.publicationReady,\n      dataPointCount: input.dataPointCount,\n      dataSource: input.financials?.dataSource,\n      dataQuality: input.financials?.dataQuality\n    },\n    validationResults: {\n      dataIntegrity: input.dataIntegrity,\n      sourceValidation: input.sourceValidation,\n      antiBiasCheck: input.antiBiasCheck,\n      depthValidation: input.depthValidation,\n      criticAgent: {\n        hasCriticalIssues: input.criticAgent?.hasCriticalIssues,\n        issueCount: input.criticAgent?.issueCount\n      },\n      publicationGate: input.publicationGate\n    },\n    centralThesis: input.centralThesis,\n    allIssues: input.publicationGate?.allIssues || [],\n    outputs: { html: input.html, svg, jsonEntry },\n    filePaths: {\n      html: `Abonenten/${input.slug}.html`,\n      svg: `data/vorschaubilder_analysen/${input.slug}.svg`,\n      json: 'data/analysen.json'\n    },\n    nextSteps: input.publicationReady \n      ? ['HTML speichern', 'SVG speichern', 'analysen.json aktualisieren']\n      : ['Issues beheben: ' + (input.publicationGate?.allIssues?.slice(0, 3).join(', ') || 'Siehe Validierung')]\n  }\n};"
      },
      "id": "output-generator",
      "name": "17. Output Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3800, 400]
    },
    {
      "parameters": {},
      "id": "output",
      "name": "Output",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [4000, 400]
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "1. Input Data", "type": "main", "index": 0 }]] },
    "1. Input Data": { "main": [[{ "node": "2. Input Validator", "type": "main", "index": 0 }]] },
    "2. Input Validator": { "main": [[{ "node": "3a. Alpha Vantage Overview", "type": "main", "index": 0 }, { "node": "3b. Alpha Vantage Income", "type": "main", "index": 0 }]] },
    "3a. Alpha Vantage Overview": { "main": [[{ "node": "4. Financials Aggregator", "type": "main", "index": 0 }]] },
    "3b. Alpha Vantage Income": { "main": [[{ "node": "4. Financials Aggregator", "type": "main", "index": 1 }]] },
    "4. Financials Aggregator": { "main": [[{ "node": "5. Facts Formatter", "type": "main", "index": 0 }]] },
    "5. Facts Formatter": { "main": [[{ "node": "6. Prompt Builder", "type": "main", "index": 0 }]] },
    "6. Prompt Builder": { "main": [[{ "node": "7a. API: Geschäftsmodell", "type": "main", "index": 0 }, { "node": "7b. API: Fundamentals", "type": "main", "index": 0 }, { "node": "7c. API: Bewertung", "type": "main", "index": 0 }, { "node": "7d. API: These", "type": "main", "index": 0 }, { "node": "7e. API: Szenarien", "type": "main", "index": 0 }]] },
    "7a. API: Geschäftsmodell": { "main": [[{ "node": "8. Module Collector", "type": "main", "index": 0 }]] },
    "7b. API: Fundamentals": { "main": [[{ "node": "8. Module Collector", "type": "main", "index": 1 }]] },
    "7c. API: Bewertung": { "main": [[{ "node": "8. Module Collector", "type": "main", "index": 2 }]] },
    "7d. API: These": { "main": [[{ "node": "8. Module Collector", "type": "main", "index": 3 }]] },
    "7e. API: Szenarien": { "main": [[{ "node": "8. Module Collector", "type": "main", "index": 4 }]] },
    "8. Module Collector": { "main": [[{ "node": "9. Kritik-Agent", "type": "main", "index": 0 }]] },
    "9. Kritik-Agent": { "main": [[{ "node": "9b. Kritik Evaluator", "type": "main", "index": 0 }]] },
    "9b. Kritik Evaluator": { "main": [[{ "node": "10. Data Integrity Check", "type": "main", "index": 0 }]] },
    "10. Data Integrity Check": { "main": [[{ "node": "11. Source Validation", "type": "main", "index": 0 }]] },
    "11. Source Validation": { "main": [[{ "node": "12. Anti-Bias Check", "type": "main", "index": 0 }]] },
    "12. Anti-Bias Check": { "main": [[{ "node": "13. Depth Validation", "type": "main", "index": 0 }]] },
    "13. Depth Validation": { "main": [[{ "node": "14. Publication Gate", "type": "main", "index": 0 }]] },
    "14. Publication Gate": { "main": [[{ "node": "15. Editorial Assembly", "type": "main", "index": 0 }]] },
    "15. Editorial Assembly": { "main": [[{ "node": "16. HTML Renderer", "type": "main", "index": 0 }]] },
    "16. HTML Renderer": { "main": [[{ "node": "17. Output Generator", "type": "main", "index": 0 }]] },
    "17. Output Generator": { "main": [[{ "node": "Output", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "production" }, { "name": "v7.0-data-first" }]
}
