n8n/n8n_analyse_generator_workflow_v6.json
{
  "name": "Capitovo Analyse Generator v6 - Modular Research Pipeline",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 600]
    },
    {
      "parameters": {
        "jsCode": "// === EINGABE-DATEN ===\nreturn {\n  json: {\n    company: 'Apple',\n    ticker: 'AAPL',\n    exchange: 'NASDAQ',\n    sector: 'Technologie',\n    currency: 'USD',\n    slug: 'apple',\n    fiscalYearEnd: 'September',\n    lastAnalysisDate: null\n  }\n};"
      },
      "id": "input-data",
      "name": "1. Input Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 600]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\nconst required = ['company', 'ticker', 'exchange', 'sector', 'currency'];\nconst missing = required.filter(f => !input[f]);\nif (missing.length > 0) {\n  throw new Error(`Fehlende Pflichtfelder: ${missing.join(', ')}`);\n}\n\nconst slug = input.slug || input.company.toLowerCase().replace(/[^a-z0-9]+/g, '-');\nconst date = new Date().toISOString().split('T')[0];\n\nreturn {\n  json: {\n    ...input,\n    slug,\n    date,\n    pipelineVersion: 'v6-modular'\n  }\n};"
      },
      "id": "input-validator",
      "name": "2. Input Validator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 600]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// MODUL 1: FAKTENSAMMLUNG (Data Layer)\n// Nur Zahlen + Quellen, keine Interpretation\n// =====================================================\n\nconst systemPrompt = `Du bist ein Research Data Analyst. Deine EINZIGE Aufgabe: Fakten sammeln.\n\nREGELN:\n1. NUR verifizierbare Zahlen aus Primärquellen\n2. JEDE Zahl muss eine explizite Quelle haben\n3. KEINE Interpretation, KEINE Meinung, KEINE These\n4. Format: \"[Zahl] (Quelle: [Dokument, Jahr/Quartal])\"\n\nERLAUBTE QUELLEN (in dieser Reihenfolge bevorzugen):\n1. SEC Filings (10-K, 10-Q, 8-K)\n2. Earnings Call Transcripts\n3. Investor Relations Präsentationen\n4. Statista, IDC, Gartner (für Marktdaten)\n\nVERBOTEN:\n- Nachrichtenartikel ohne Primärdaten\n- Blogs, Foren, Social Media\n- Schätzungen ohne Kennzeichnung\n- Zahlen ohne Quelle\n\nOUTPUT-FORMAT:\nStrukturierte Liste, keine Fließtexte.`;\n\nconst userPrompt = `Sammle alle relevanten Finanzdaten für ${input.company} (${input.ticker}):\n\n1. UMSATZ (letzte 5 Geschäftsjahre)\n- Gesamtumsatz pro Jahr\n- Segmentumsätze mit %-Anteil\n- Geografische Verteilung\n\n2. PROFITABILITÄT\n- Bruttomarge (5 Jahre)\n- EBIT-Marge (5 Jahre)\n- Nettomarge (5 Jahre)\n\n3. CASHFLOW\n- Operating Cashflow (3 Jahre)\n- Free Cashflow (3 Jahre)\n- Capex (3 Jahre)\n\n4. BILANZ\n- Cash & Equivalents (aktuell)\n- Total Debt (aktuell)\n- Net Debt / EBITDA\n- Eigenkapitalquote\n\n5. AKTIE\n- Aktueller Kurs (Datum angeben)\n- Marktkapitalisierung\n- Ausstehende Aktien\n- EPS (letztes FY)\n\n6. BEWERTUNGSKENNZAHLEN\n- KGV (aktuell vs. 5J-Durchschnitt)\n- EV/EBITDA\n- FCF-Yield\n- Dividendenrendite\n\nJEDE Zahl im Format: \"Wert (Quelle: Dokument, Zeitraum)\"\nKeine Zahl ohne Quelle.`;\n\nreturn {\n  json: {\n    ...input,\n    module1SystemPrompt: systemPrompt,\n    module1UserPrompt: userPrompt\n  }\n};"
      },
      "id": "module1-facts-prompt",
      "name": "3a. Modul 1: Fakten-Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// MODUL 2: GESCHÄFTSMODELL (Business Model Layer)\n// Ökonomische Logik, keine Meinung\n// =====================================================\n\nconst systemPrompt = `Du bist ein Business Model Analyst. Deine Aufgabe: Das Geschäftsmodell objektiv beschreiben.\n\nREGELN:\n1. Beschreibe WAS und WIE, nicht ob es GUT oder SCHLECHT ist\n2. Keine Superlative (\"führend\", \"dominant\", \"einzigartig\")\n3. Wettbewerbsvorteile als beobachtbare Fakten, nicht als Wertung\n4. Jede Aussage über Marktposition mit Quelle\n\nSPRACHE:\n- Nüchtern, präzise, wiederholbar\n- \"Das Unternehmen erzielt X% der Umsätze durch Y\"\n- \"Die Kostenstruktur basiert auf Z\"\n- NICHT: \"Die starke Position...\" oder \"Der beeindruckende Moat...\"\n\nMINDESTUMFANG: 350 Wörter`;\n\nconst userPrompt = `Beschreibe das Geschäftsmodell von ${input.company} (${input.ticker}):\n\n1. WERTSCHÖPFUNGSKETTE\n- Wie verdient das Unternehmen Geld?\n- Welche Aktivitäten führt es selbst durch vs. outsourcing?\n- Wo sitzt die Marge in der Kette?\n\n2. UMSATZSEGMENTE\n- Alle Segmente mit %-Anteil (Quelle angeben)\n- Wachstumsraten pro Segment (historisch)\n- Margenunterschiede zwischen Segmenten\n\n3. KUNDENSTRUKTUR\n- B2B vs. B2C\n- Geografische Verteilung (mit Quelle)\n- Abhängigkeit von Großkunden\n\n4. WETTBEWERBSPOSITION\n- Hauptwettbewerber benennen\n- Marktanteile (mit Quelle)\n- Faktoren, die Marktanteile historisch beeinflusst haben\n\n5. KOSTENSTRUKTUR\n- Fixkosten vs. variable Kosten\n- Skaleneffekte (wo messbar?)\n- R&D als % vom Umsatz\n\n6. ÖKONOMISCHE SENSITIVITÄTEN\n- Von welchen externen Faktoren hängt das Modell ab?\n- Währungsrisiken\n- Rohstoffabhängigkeiten\n\nNüchtern beschreiben, nicht bewerten. Mindestens 350 Wörter.`;\n\nreturn {\n  json: {\n    ...input,\n    module2SystemPrompt: systemPrompt,\n    module2UserPrompt: userPrompt\n  }\n};"
      },
      "id": "module2-business-prompt",
      "name": "3b. Modul 2: Geschäftsmodell-Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 600]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// MODUL 3: BEWERTUNGSLOGIK (Valuation Layer)\n// Kennzahlen erklären, nicht bewerten\n// =====================================================\n\nconst systemPrompt = `Du bist ein Valuation Specialist. Deine Aufgabe: Bewertungskennzahlen erklären und einordnen.\n\nREGELN:\n1. Erkläre, WAS der Markt implizit erwartet (nicht ob das richtig ist)\n2. Zeige Berechnungswege transparent\n3. Vergleiche mit historischen Werten und Peers (mit Quelle)\n4. KEINE Aussage ob \"teuer\" oder \"günstig\"\n\nSPRACHE:\n- \"Das aktuelle KGV von Xx impliziert, dass...\"\n- \"Im Vergleich zum 5-Jahres-Durchschnitt von Yx...\"\n- \"Peer A handelt bei Zx, was eine Differenz von W% bedeutet\"\n- NICHT: \"attraktiv bewertet\", \"zu teuer\", \"unterbewertet\"\n\nMINDESTUMFANG: 350 Wörter`;\n\nconst userPrompt = `Analysiere die Bewertung von ${input.company} (${input.ticker}):\n\n1. AKTUELLE MULTIPLES (Stichtag angeben)\n- KGV: Wert + was er impliziert\n- EV/EBITDA: Wert + was er impliziert\n- FCF-Yield: Wert + was er impliziert\n- PEG: Berechnung zeigen\n\n2. HISTORISCHER VERGLEICH\n- Aktuelles KGV vs. 5-Jahres-Durchschnitt\n- Aktuelles KGV vs. 10-Jahres-Durchschnitt\n- Wann war das Multiple höher/niedriger? (Kontext)\n\n3. PEER-VERGLEICH\n- 3-4 vergleichbare Unternehmen\n- Deren aktuelle Multiples\n- Faktoren, die Unterschiede erklären könnten\n\n4. IMPLIZITE ERWARTUNGEN\n- Welches Wachstum preist der Markt ein?\n- Welche Margenentwicklung ist impliziert?\n- Reverse-DCF-Logik (vereinfacht erklären)\n\n5. ROIC vs. WACC\n- ROIC berechnen/schätzen (Rechenweg zeigen)\n- WACC-Annahmen offenlegen\n- Was impliziert der Spread?\n\n6. SENSITIVITÄTEN\n- Bei welchem Wachstum wäre das Multiple gerechtfertigt?\n- Bei welcher Marge?\n\nErklären und einordnen, nicht bewerten. Mindestens 350 Wörter.`;\n\nreturn {\n  json: {\n    ...input,\n    module3SystemPrompt: systemPrompt,\n    module3UserPrompt: userPrompt\n  }\n};"
      },
      "id": "module3-valuation-prompt",
      "name": "3c. Modul 3: Bewertungs-Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 800]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// MODUL 4: THESE (Thesis Layer)\n// Erst hier kommt eine Meinung\n// =====================================================\n\nconst systemPrompt = `Du bist ein Senior Research Analyst. Deine Aufgabe: Eine falsifizierbare Investment-These formulieren.\n\nREGELN:\n1. Die These muss KONKRET und ÜBERPRÜFBAR sein\n2. Explizite Annahmen auflisten\n3. Konkrete Falsifikationskriterien benennen\n4. KEINE Empfehlung (nicht \"kaufen\", \"verkaufen\")\n\nTHESE-STRUKTUR:\n1. Kernaussage (1-2 Sätze)\n2. Tragende Annahmen (nummeriert)\n3. Falsifikationskriterien (\"Die These wäre widerlegt, wenn...\")\n4. Zeithorizont\n\nSPRACHE:\n- Konditional (\"Unter der Annahme, dass...\")\n- Falsifizierbar (\"Dies setzt voraus, dass X über Y bleibt\")\n- NICHT: absolute Aussagen, Superlative, Empfehlungen\n\nMINDESTUMFANG: 250 Wörter`;\n\nconst userPrompt = `Formuliere eine Investment-These für ${input.company} (${input.ticker}):\n\n1. KERNTHESE\n- Eine klare, überprüfbare Hauptaussage\n- Was ist die zentrale Erkenntnis?\n- Warum ist diese These jetzt relevant?\n\n2. TRAGENDE ANNAHMEN\n- Liste alle Annahmen auf, die wahr sein müssen\n- Für jede Annahme: Wie wahrscheinlich ist sie?\n- Welche Annahme ist am kritischsten?\n\n3. ABWEICHUNG VOM KONSENS\n- Was glaubst du, dass der Markt übersieht? (konditional formulieren)\n- Warum könnte der Markt falsch liegen?\n- Welche Informationsasymmetrie existiert?\n\n4. FALSIFIKATIONSKRITERIEN\n- \"Die These wäre widerlegt, wenn...\"\n- Konkrete Zahlen/Ereignisse benennen\n- Zeithorizont für Überprüfung\n\n5. ZEITHORIZONT\n- Über welchen Zeitraum gilt die These?\n- Welche Katalysatoren könnten die These beschleunigen?\n- Welche könnten sie verzögern?\n\nKeine Handlungsempfehlung. Mindestens 250 Wörter.`;\n\nreturn {\n  json: {\n    ...input,\n    module4SystemPrompt: systemPrompt,\n    module4UserPrompt: userPrompt\n  }\n};"
      },
      "id": "module4-thesis-prompt",
      "name": "3d. Modul 4: These-Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 1000]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// MODUL 5: SZENARIEN & RISIKEN (Scenario Layer)\n// Quantifizierte Entwicklungspfade\n// =====================================================\n\nconst systemPrompt = `Du bist ein Scenario Analyst. Deine Aufgabe: Drei quantifizierte Entwicklungspfade erstellen.\n\nREGELN:\n1. Szenarien müssen ÖKONOMISCH UNTERSCHIEDLICH sein (nicht nur optimistisch/pessimistisch)\n2. Jedes Szenario braucht konkrete Auslöser\n3. Zahlen müssen konsistent sein (Wachstum → Marge → FCF → Multiple)\n4. Wahrscheinlichkeiten als grobe Einschätzung (nicht Scheingenauigkeit)\n\nSZENARIO-STRUKTUR:\n- Auslöser: Was muss passieren?\n- Fundamentals: Umsatz, Marge, FCF\n- Bewertung: Implikation für Multiples\n- Wahrscheinlichkeit: Grobe Einordnung\n\nMINDESTUMFANG: 300 Wörter`;\n\nconst userPrompt = `Erstelle Szenarien für ${input.company} (${input.ticker}):\n\n1. POSITIVES SZENARIO\n- Konkrete Auslöser (was muss passieren?)\n- Umsatzwachstum: X%\n- Margenentwicklung: Y%\n- FCF-Implikation\n- Multiple-Implikation\n- Wahrscheinlichkeit (grob)\n- Historische Parallele (wann war das zuletzt so?)\n\n2. BASIS-SZENARIO\n- Fortschreibung aktueller Trends\n- Annahmen explizit machen\n- Umsatzwachstum: X%\n- Margenentwicklung: Y%\n- FCF-Implikation\n- Multiple-Implikation\n- Warum ist das der wahrscheinlichste Pfad?\n\n3. NEGATIVES SZENARIO\n- Konkrete Auslöser (NICHT nur \"Umsatz sinkt\")\n- Was würde das verursachen?\n- Umsatzwachstum: X%\n- Margenentwicklung: Y%\n- FCF-Implikation\n- Multiple-Implikation\n- Wahrscheinlichkeit (grob)\n- Historische Parallele\n\n4. RISIKOMATRIX\n- Top 5 Risiken, priorisiert\n- Für jedes Risiko: Wahrscheinlichkeit × Impact\n- Welches Risiko ist am meisten unterschätzt?\n\n5. KATALYSATOREN\n- Positive: Was könnte die These beschleunigen?\n- Negative: Was könnte die These gefährden?\n- Timing: Wann werden diese sichtbar?\n\nQuantifiziert und konsistent. Mindestens 300 Wörter.`;\n\nreturn {\n  json: {\n    ...input,\n    module5SystemPrompt: systemPrompt,\n    module5UserPrompt: userPrompt\n  }\n};"
      },
      "id": "module5-scenarios-prompt",
      "name": "3e. Modul 5: Szenarien-Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 1200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer 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" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.1,\n  \"max_tokens\": 4000,\n  \"messages\": [\n    { \"role\": \"system\", \"content\": {{ JSON.stringify($json.module1SystemPrompt) }} },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.module1UserPrompt) }} }\n  ],\n  \"return_citations\": true,\n  \"search_recency_filter\": \"month\"\n}",
        "options": { "timeout": 120000 }
      },
      "id": "module1-api",
      "name": "4a. Modul 1: API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer 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" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.2,\n  \"max_tokens\": 3000,\n  \"messages\": [\n    { \"role\": \"system\", \"content\": {{ JSON.stringify($json.module2SystemPrompt) }} },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.module2UserPrompt) }} }\n  ],\n  \"return_citations\": true,\n  \"search_recency_filter\": \"month\"\n}",
        "options": { "timeout": 120000 }
      },
      "id": "module2-api",
      "name": "4b. Modul 2: API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 600],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer 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" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.2,\n  \"max_tokens\": 3000,\n  \"messages\": [\n    { \"role\": \"system\", \"content\": {{ JSON.stringify($json.module3SystemPrompt) }} },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.module3UserPrompt) }} }\n  ],\n  \"return_citations\": true,\n  \"search_recency_filter\": \"month\"\n}",
        "options": { "timeout": 120000 }
      },
      "id": "module3-api",
      "name": "4c. Modul 3: API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 800],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer 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" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.3,\n  \"max_tokens\": 2500,\n  \"messages\": [\n    { \"role\": \"system\", \"content\": {{ JSON.stringify($json.module4SystemPrompt) }} },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.module4UserPrompt) }} }\n  ],\n  \"return_citations\": true,\n  \"search_recency_filter\": \"month\"\n}",
        "options": { "timeout": 120000 }
      },
      "id": "module4-api",
      "name": "4d. Modul 4: API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 1000],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer 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" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.3,\n  \"max_tokens\": 3000,\n  \"messages\": [\n    { \"role\": \"system\", \"content\": {{ JSON.stringify($json.module5SystemPrompt) }} },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.module5UserPrompt) }} }\n  ],\n  \"return_citations\": true,\n  \"search_recency_filter\": \"month\"\n}",
        "options": { "timeout": 120000 }
      },
      "id": "module5-api",
      "name": "4e. Modul 5: API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 1200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "waitForAll",
        "options": {}
      },
      "id": "merge-modules",
      "name": "4f. Merge All Modules",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1200, 800]
    },
    {
      "parameters": {
        "jsCode": "// Alle Module aus den Merge-Inputs sammeln\nconst items = $input.all();\nconst input = $('2. Input Validator').item.json;\n\nfunction extractContent(response) {\n  if (!response || response.error) return { content: '', citations: [], error: response?.error || 'No response' };\n  let content = response.choices?.[0]?.message?.content || '';\n  content = content.replace(/\\*\\*([^*]+)\\*\\*/g, '$1').replace(/\\*([^*]+)\\*/g, '$1').replace(/\\[\\d+\\]/g, '');\n  return { content, citations: response.citations || [], error: null };\n}\n\n// Die Items kommen in der Reihenfolge der Merge-Inputs\n// Index 0 = Modul 1, Index 1 = Modul 2, etc.\nconst m1 = items[0]?.json || {};\nconst m2 = items[1]?.json || {};\nconst m3 = items[2]?.json || {};\nconst m4 = items[3]?.json || {};\nconst m5 = items[4]?.json || {};\n\nconst modules = {\n  facts: extractContent(m1),\n  business: extractContent(m2),\n  valuation: extractContent(m3),\n  thesis: extractContent(m4),\n  scenarios: extractContent(m5)\n};\n\n// Wortzahlen pro Modul\nconst countWords = (text) => text.split(/\\s+/).filter(w => w.length > 1).length;\n\nconst wordCounts = {\n  facts: countWords(modules.facts.content),\n  business: countWords(modules.business.content),\n  valuation: countWords(modules.valuation.content),\n  thesis: countWords(modules.thesis.content),\n  scenarios: countWords(modules.scenarios.content)\n};\n\nconst totalWordCount = Object.values(wordCounts).reduce((a, b) => a + b, 0);\n\n// Alle Citations sammeln\nconst allCitations = [\n  ...modules.facts.citations,\n  ...modules.business.citations,\n  ...modules.valuation.citations,\n  ...modules.thesis.citations,\n  ...modules.scenarios.citations\n];\n\n// Deduplizieren\nconst uniqueCitations = [...new Set(allCitations)];\n\nreturn {\n  json: {\n    ...input,\n    modules,\n    wordCounts,\n    totalWordCount,\n    allCitations: uniqueCitations,\n    moduleErrors: Object.entries(modules).filter(([k, v]) => v.error).map(([k]) => k)\n  }\n};"
      },
      "id": "module-collector",
      "name": "5. Module Collector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 800]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// QUELLEN-VALIDIERUNG (Source Validation Unit)\n// Jede Zahl braucht eine verifizierbare Quelle\n// =====================================================\n\nconst factsContent = input.modules.facts.content || '';\nconst allContent = Object.values(input.modules).map(m => m.content).join('\\n');\n\n// 1. Zahlen im Faktenmodul zählen\nconst numberPattern = /\\d+[.,]?\\d*\\s*(mrd|mio|%|usd|eur|dollar|euro|billion|million)/gi;\nconst numbersFound = factsContent.match(numberPattern) || [];\nconst totalNumbers = numbersFound.length;\n\n// 2. Quellenverweise zählen\nconst sourcePatterns = [\n  /\\(quelle:[^)]+\\)/gi,\n  /laut\\s+(form\\s+)?10-[kq]/gi,\n  /gemäß\\s+\\w+\\s+\\d{4}/gi,\n  /\\(10-[kq]\\s+\\d{4}\\)/gi,\n  /\\(fy\\d{4}\\)/gi,\n  /\\(q[1-4]\\s+\\d{4}\\)/gi,\n  /earnings\\s+call\\s+q?\\d/gi,\n  /sec\\s+filing/gi,\n  /investor\\s+(relations|presentation)/gi,\n  /statista/gi,\n  /idc/gi,\n  /gartner/gi\n];\n\nlet sourceReferences = 0;\nfor (const pattern of sourcePatterns) {\n  const matches = allContent.match(pattern);\n  if (matches) sourceReferences += matches.length;\n}\n\n// 3. Quellen klassifizieren\nconst citations = input.allCitations || [];\n\nconst primarySourceDomains = ['sec.gov', 'investor.apple.com', 'ir.'];\nconst secondarySourceDomains = ['statista', 'idc.com', 'gartner'];\nconst lowQualityDomains = ['reddit', 'youtube', 'facebook', 'twitter', 'blog', 'forum', 'wikipedia'];\n\nconst sourceCategorization = {\n  primary: citations.filter(url => primarySourceDomains.some(d => url.toLowerCase().includes(d))),\n  secondary: citations.filter(url => secondarySourceDomains.some(d => url.toLowerCase().includes(d))),\n  lowQuality: citations.filter(url => lowQualityDomains.some(d => url.toLowerCase().includes(d))),\n  other: citations.filter(url => \n    !primarySourceDomains.some(d => url.toLowerCase().includes(d)) &&\n    !secondarySourceDomains.some(d => url.toLowerCase().includes(d)) &&\n    !lowQualityDomains.some(d => url.toLowerCase().includes(d))\n  )\n};\n\n// 4. Validierungsergebnis\nconst sourceRatio = totalNumbers > 0 ? (sourceReferences / totalNumbers) : 0;\nconst hasPrimarySources = sourceCategorization.primary.length >= 2;\nconst hasNoLowQuality = sourceCategorization.lowQuality.length === 0;\nconst hasEnoughReferences = sourceReferences >= 10;\n\nconst sourceValidationPassed = sourceRatio >= 0.5 && hasPrimarySources && hasNoLowQuality;\n\nreturn {\n  json: {\n    ...input,\n    sourceValidation: {\n      passed: sourceValidationPassed,\n      totalNumbers,\n      sourceReferences,\n      sourceRatio: Math.round(sourceRatio * 100) + '%',\n      categorization: sourceCategorization,\n      issues: [\n        ...(sourceRatio < 0.5 ? [`Nur ${Math.round(sourceRatio * 100)}% der Zahlen haben Quellenverweise`] : []),\n        ...(!hasPrimarySources ? ['Weniger als 2 Primärquellen (SEC, IR)'] : []),\n        ...(!hasNoLowQuality ? [`Low-Quality-Quellen gefunden: ${sourceCategorization.lowQuality.length}`] : []),\n        ...(!hasEnoughReferences ? [`Nur ${sourceReferences} Quellenverweise (min. 10)`] : [])\n      ]\n    }\n  }\n};"
      },
      "id": "source-validation",
      "name": "6. Source Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 800]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// ANTI-BIAS-PRÜFUNG (Rhetoric Detection)\n// Rhetorische Phrasen und implizite Meinungen markieren\n// =====================================================\n\nconst allContent = Object.values(input.modules).map(m => m.content).join('\\n').toLowerCase();\n\n// Rhetorische Phrasen (sollten nicht in trockenem Research vorkommen)\nconst rhetoricalPhrases = [\n  // Superlative/Wertungen\n  { phrase: 'führend', category: 'superlative', severity: 'medium' },\n  { phrase: 'dominant', category: 'superlative', severity: 'high' },\n  { phrase: 'einzigartig', category: 'superlative', severity: 'high' },\n  { phrase: 'unübertroffen', category: 'superlative', severity: 'high' },\n  { phrase: 'beeindruckend', category: 'superlative', severity: 'medium' },\n  { phrase: 'herausragend', category: 'superlative', severity: 'medium' },\n  { phrase: 'spektakulär', category: 'superlative', severity: 'high' },\n  { phrase: 'revolutionär', category: 'superlative', severity: 'high' },\n  \n  // Implizite Empfehlungen\n  { phrase: 'attraktiv', category: 'recommendation', severity: 'high' },\n  { phrase: 'lohnend', category: 'recommendation', severity: 'high' },\n  { phrase: 'interessant für anleger', category: 'recommendation', severity: 'high' },\n  { phrase: 'eignet sich', category: 'recommendation', severity: 'high' },\n  { phrase: 'bietet potenzial', category: 'recommendation', severity: 'medium' },\n  \n  // Dramatisierende Sprache\n  { phrase: 'bewährungsprobe', category: 'dramatic', severity: 'medium' },\n  { phrase: 'schicksalsjahr', category: 'dramatic', severity: 'high' },\n  { phrase: 'wendepunkt', category: 'dramatic', severity: 'medium' },\n  { phrase: 'game-changer', category: 'dramatic', severity: 'high' },\n  { phrase: 'paradigmenwechsel', category: 'dramatic', severity: 'high' },\n  { phrase: 'disruption', category: 'dramatic', severity: 'medium' },\n  \n  // Marktmeinung-Phrasen\n  { phrase: 'der markt irrt', category: 'opinion', severity: 'high' },\n  { phrase: 'unterschätzt', category: 'opinion', severity: 'medium' },\n  { phrase: 'überschätzt', category: 'opinion', severity: 'medium' },\n  { phrase: 'blinder fleck', category: 'opinion', severity: 'medium' },\n  { phrase: 'konsens liegt falsch', category: 'opinion', severity: 'high' },\n  \n  // Absolute Aussagen\n  { phrase: 'garantiert', category: 'absolute', severity: 'high' },\n  { phrase: 'zweifellos', category: 'absolute', severity: 'high' },\n  { phrase: 'unbestritten', category: 'absolute', severity: 'medium' },\n  { phrase: 'offensichtlich', category: 'absolute', severity: 'medium' },\n  { phrase: 'wird steigen', category: 'absolute', severity: 'medium' },\n  { phrase: 'wird fallen', category: 'absolute', severity: 'medium' }\n];\n\n// Phrasen im Text finden\nconst foundPhrases = [];\nfor (const item of rhetoricalPhrases) {\n  if (allContent.includes(item.phrase)) {\n    foundPhrases.push(item);\n  }\n}\n\n// Nach Severity gruppieren\nconst highSeverity = foundPhrases.filter(p => p.severity === 'high');\nconst mediumSeverity = foundPhrases.filter(p => p.severity === 'medium');\n\n// Validierungsergebnis\nconst antiBiasPassed = highSeverity.length === 0;\nconst antibiasScore = 10 - (highSeverity.length * 2) - (mediumSeverity.length * 0.5);\n\nreturn {\n  json: {\n    ...input,\n    antiBiasCheck: {\n      passed: antiBiasPassed,\n      score: Math.max(0, Math.round(antibiasScore)),\n      foundPhrases: foundPhrases.map(p => p.phrase),\n      highSeverity: highSeverity.map(p => p.phrase),\n      mediumSeverity: mediumSeverity.map(p => p.phrase),\n      byCategory: {\n        superlative: foundPhrases.filter(p => p.category === 'superlative').map(p => p.phrase),\n        recommendation: foundPhrases.filter(p => p.category === 'recommendation').map(p => p.phrase),\n        dramatic: foundPhrases.filter(p => p.category === 'dramatic').map(p => p.phrase),\n        opinion: foundPhrases.filter(p => p.category === 'opinion').map(p => p.phrase),\n        absolute: foundPhrases.filter(p => p.category === 'absolute').map(p => p.phrase)\n      },\n      issues: [\n        ...(highSeverity.length > 0 ? [`Kritische rhetorische Phrasen: ${highSeverity.map(p => p.phrase).join(', ')}`] : []),\n        ...(mediumSeverity.length > 3 ? [`Zu viele mittelkritische Phrasen: ${mediumSeverity.length}`] : [])\n      ]\n    }\n  }\n};"
      },
      "id": "anti-bias-check",
      "name": "7. Anti-Bias Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 800]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// MINDESTTIEFE-PRÜFUNG (Depth Validation)\n// Harte Wortgrenzen pro Modul\n// =====================================================\n\nconst minimumWordCounts = {\n  facts: 200,      // Fakten: mindestens 200 Wörter\n  business: 350,   // Geschäftsmodell: mindestens 350 Wörter\n  valuation: 350,  // Bewertung: mindestens 350 Wörter\n  thesis: 250,     // These: mindestens 250 Wörter\n  scenarios: 300   // Szenarien: mindestens 300 Wörter\n};\n\nconst totalMinimum = 1800; // Gesamtminimum\n\nconst wordCounts = input.wordCounts;\nconst totalWordCount = input.totalWordCount;\n\n// Pro-Modul-Prüfung\nconst moduleResults = {};\nlet allModulesPassed = true;\n\nfor (const [module, minimum] of Object.entries(minimumWordCounts)) {\n  const actual = wordCounts[module] || 0;\n  const passed = actual >= minimum;\n  if (!passed) allModulesPassed = false;\n  \n  moduleResults[module] = {\n    actual,\n    minimum,\n    passed,\n    deficit: passed ? 0 : minimum - actual\n  };\n}\n\nconst totalPassed = totalWordCount >= totalMinimum;\n\nreturn {\n  json: {\n    ...input,\n    depthValidation: {\n      passed: allModulesPassed && totalPassed,\n      moduleResults,\n      total: {\n        actual: totalWordCount,\n        minimum: totalMinimum,\n        passed: totalPassed,\n        deficit: totalPassed ? 0 : totalMinimum - totalWordCount\n      },\n      failedModules: Object.entries(moduleResults)\n        .filter(([k, v]) => !v.passed)\n        .map(([k, v]) => `${k}: ${v.actual}/${v.minimum}`),\n      issues: [\n        ...(!totalPassed ? [`Gesamtlänge: ${totalWordCount}/${totalMinimum} Wörter`] : []),\n        ...Object.entries(moduleResults)\n          .filter(([k, v]) => !v.passed)\n          .map(([k, v]) => `${k} zu kurz: ${v.actual}/${v.minimum} Wörter`)\n      ]\n    }\n  }\n};"
      },
      "id": "depth-validation",
      "name": "8. Depth Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 800]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// PUBLICATION GATE (Finale Freigabeprüfung)\n// Strikte Kriterien - alle müssen erfüllt sein\n// =====================================================\n\nconst gates = {\n  // Pflichtkriterien (alle müssen bestanden werden)\n  mandatory: {\n    wordCount: {\n      passed: input.depthValidation.total.passed,\n      reason: 'Mindestwortzahl erreicht',\n      value: `${input.totalWordCount}/${input.depthValidation.total.minimum}`\n    },\n    allModulesComplete: {\n      passed: input.moduleErrors.length === 0,\n      reason: 'Alle Module erfolgreich generiert',\n      value: input.moduleErrors.length === 0 ? 'OK' : `Fehler: ${input.moduleErrors.join(', ')}`\n    },\n    noCriticalBias: {\n      passed: input.antiBiasCheck.passed,\n      reason: 'Keine kritischen rhetorischen Phrasen',\n      value: input.antiBiasCheck.highSeverity.length === 0 ? 'OK' : input.antiBiasCheck.highSeverity.join(', ')\n    },\n    sourceIntegrity: {\n      passed: input.sourceValidation.passed,\n      reason: 'Quellen-Integrität gewährleistet',\n      value: `Ratio: ${input.sourceValidation.sourceRatio}`\n    },\n    noLowQualitySources: {\n      passed: input.sourceValidation.categorization.lowQuality.length === 0,\n      reason: 'Keine Low-Quality-Quellen',\n      value: input.sourceValidation.categorization.lowQuality.length === 0 ? 'OK' : `${input.sourceValidation.categorization.lowQuality.length} gefunden`\n    },\n    hasPrimarySources: {\n      passed: input.sourceValidation.categorization.primary.length >= 2,\n      reason: 'Mindestens 2 Primärquellen',\n      value: `${input.sourceValidation.categorization.primary.length} Primärquellen`\n    }\n  },\n  \n  // Qualitätskriterien (Punktesystem)\n  quality: {\n    excellentDepth: {\n      points: input.totalWordCount >= 2000 ? 2 : (input.totalWordCount >= 1800 ? 1 : 0),\n      max: 2,\n      reason: 'Überdurchschnittliche Tiefe'\n    },\n    cleanLanguage: {\n      points: input.antiBiasCheck.score >= 9 ? 2 : (input.antiBiasCheck.score >= 7 ? 1 : 0),\n      max: 2,\n      reason: 'Saubere, neutrale Sprache'\n    },\n    strongSources: {\n      points: input.sourceValidation.categorization.primary.length >= 4 ? 2 : (input.sourceValidation.categorization.primary.length >= 2 ? 1 : 0),\n      max: 2,\n      reason: 'Starke Primärquellen'\n    },\n    allModulesDeep: {\n      points: input.depthValidation.failedModules.length === 0 ? 2 : 0,\n      max: 2,\n      reason: 'Alle Module ausreichend tief'\n    },\n    highSourceRatio: {\n      points: parseInt(input.sourceValidation.sourceRatio) >= 70 ? 2 : (parseInt(input.sourceValidation.sourceRatio) >= 50 ? 1 : 0),\n      max: 2,\n      reason: 'Hohe Quellendichte'\n    }\n  }\n};\n\n// Pflichtkriterien auswerten\nconst mandatoryPassed = Object.values(gates.mandatory).every(g => g.passed);\nconst failedMandatory = Object.entries(gates.mandatory)\n  .filter(([k, v]) => !v.passed)\n  .map(([k, v]) => `${v.reason}: ${v.value}`);\n\n// Qualitätspunkte summieren\nconst qualityPoints = Object.values(gates.quality).reduce((sum, g) => sum + g.points, 0);\nconst maxQualityPoints = Object.values(gates.quality).reduce((sum, g) => sum + g.max, 0);\nconst qualityScore = Math.round((qualityPoints / maxQualityPoints) * 10);\n\n// Gesamtergebnis\nconst publicationReady = mandatoryPassed && qualityScore >= 6;\n\n// Alle Issues sammeln\nconst allIssues = [\n  ...failedMandatory,\n  ...(input.sourceValidation.issues || []),\n  ...(input.antiBiasCheck.issues || []),\n  ...(input.depthValidation.issues || [])\n];\n\nreturn {\n  json: {\n    ...input,\n    publicationGate: {\n      publicationReady,\n      mandatoryPassed,\n      qualityScore,\n      qualityPoints: `${qualityPoints}/${maxQualityPoints}`,\n      gates,\n      failedMandatory,\n      allIssues: [...new Set(allIssues)] // Deduplizieren\n    },\n    // Für Output\n    qualityScore,\n    publicationReady\n  }\n};"
      },
      "id": "publication-gate",
      "name": "9. Publication Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 800]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// EDITORIAL ASSEMBLY - Module zusammenführen\n// Trockene Zusammenstellung, kein narratives Polieren\n// =====================================================\n\nconst modules = input.modules;\n\n// These extrahieren (falls vorhanden)\nconst thesisContent = modules.thesis.content || '';\nconst thesisMatch = thesisContent.match(/kernthese[^:]*:?\\s*([^\\n]+)/i) ||\n                   thesisContent.match(/1\\..*?kernaussage[^:]*:?\\s*([^\\n]+)/i) ||\n                   thesisContent.match(/zentrale\\s+aussage[^:]*:?\\s*([^\\n]+)/i);\nconst centralThesis = thesisMatch ? thesisMatch[1].trim() : 'Keine explizite Kernthese extrahiert.';\n\n// Finale Analyse zusammenstellen (trocken, modular)\nconst assembledAnalysis = `1. Zentrale These und Einordnung\n\n${thesisContent}\n\n2. Geschäftsmodell und ökonomische Logik\n\n${modules.business.content}\n\n3. Fundamentale Daten\n\n${modules.facts.content}\n\n4. Bewertungseinordnung\n\n${modules.valuation.content}\n\n5. Szenarien und Risiken\n\n${modules.scenarios.content}\n\n6. Rechtlicher Hinweis\n\nDiese Analyse dient ausschließlich Informationszwecken und stellt keine Anlageberatung im Sinne des Wertpapierhandelsgesetzes (WpHG) dar. Die bereitgestellten Informationen sind keine Aufforderung zum Kauf oder Verkauf von Wertpapieren. Anlageentscheidungen sollten auf Basis eigener Recherche und gegebenenfalls professioneller Beratung getroffen werden.`;\n\n// Quellen filtern und deduplizieren\nconst citations = input.allCitations || [];\nconst forbiddenDomains = ['reddit', 'youtube', 'facebook', 'twitter', 'blog', 'forum', 'wikipedia', 'finanzen100', 'wallstreet-online'];\nconst filteredCitations = citations\n  .filter(url => !forbiddenDomains.some(d => url.toLowerCase().includes(d)))\n  .slice(0, 8);\n\nreturn {\n  json: {\n    ...input,\n    finalContent: assembledAnalysis,\n    centralThesis,\n    citations: filteredCitations,\n    finalWordCount: input.totalWordCount\n  }\n};"
      },
      "id": "editorial-assembly",
      "name": "10. Editorial Assembly",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 800]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// HTML RENDERER\n// =====================================================\n\nfunction textToHtml(text) {\n  let html = text\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/^(\\d+)\\.\\s+([^\\n]+)$/gm, '</p><h2>$2</h2><p>')\n    .replace(/\\n\\n+/g, '</p><p>')\n    .replace(/\\n/g, ' ');\n  \n  html = '<p>' + html + '</p>';\n  html = html.replace(/<p><\\/p>/g, '').replace(/<p>\\s*<h/g, '<h').replace(/<\\/h2>\\s*<\\/p>/g, '</h2>').replace(/<p>\\s*<\\/p>/g, '').replace(/\\s+/g, ' ');\n  \n  return html.trim();\n}\n\nconst htmlContent = textToHtml(input.finalContent || '');\nconst citations = input.citations || [];\n\nlet sourcesHtml = '';\nif (citations.length > 0) {\n  sourcesHtml = `\n    <aside class=\"sources-section\">\n      <h3>Quellen</h3>\n      <ol class=\"sources-list\">\n        ${citations.map((url) => {\n          try {\n            const domain = new URL(url).hostname.replace('www.', '');\n            return `<li><a href=\"${url}\" target=\"_blank\" rel=\"noopener noreferrer\">${domain}</a></li>`;\n          } catch {\n            return `<li><a href=\"${url}\" target=\"_blank\" rel=\"noopener noreferrer\">${url}</a></li>`;\n          }\n        }).join('\\n        ')}\n      </ol>\n    </aside>`;\n}\n\nconst dateObj = new Date(input.date);\nconst formattedDate = dateObj.toLocaleDateString('de-DE', { day: '2-digit', month: 'long', year: 'numeric' });\n\n// Quality Badge\nconst badgeClass = input.publicationReady ? 'high' : 'needs-review';\nconst badgeText = input.publicationReady ? `Score ${input.qualityScore}/10` : 'Review erforderlich';\n\nconst html = `<!DOCTYPE html>\n<html lang=\"de\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <title>${input.company} (${input.ticker}) – Unternehmensanalyse | capitovo</title>\n  <meta name=\"description\" content=\"${input.company} (${input.ticker}) Unternehmensanalyse: Geschäftsmodell, Fundamentaldaten, Bewertungseinordnung. Equity Research von capitovo.\">\n  <meta name=\"robots\" content=\"noindex, nofollow\">\n  <link rel=\"stylesheet\" href=\"../style.css\">\n  <style>\n    :root { --text-primary: #1a1a1a; --text-secondary: #4a5568; --text-muted: #718096; --border-color: #e2e8f0; --bg-subtle: #f7fafc; --accent: #2563eb; }\n    .analysis-container { max-width: 48rem; margin: 0 auto; padding: 2rem 1.5rem; }\n    .analysis-header { margin-bottom: 2.5rem; padding-bottom: 1.5rem; border-bottom: 1px solid var(--border-color); }\n    .analysis-meta { display: flex; flex-wrap: wrap; gap: 0.75rem; font-size: 0.875rem; color: var(--text-muted); margin-bottom: 1rem; font-family: -apple-system, BlinkMacSystemFont, sans-serif; }\n    .analysis-meta span:not(:last-child)::after { content: '·'; margin-left: 0.75rem; }\n    .analysis-title { font-size: 2rem; font-weight: 700; color: var(--text-primary); line-height: 1.25; margin: 0 0 0.75rem 0; font-family: -apple-system, BlinkMacSystemFont, sans-serif; }\n    .analysis-subtitle { font-size: 1.125rem; color: var(--text-secondary); margin: 0; }\n    .analysis-body { font-family: Georgia, 'Times New Roman', serif; font-size: 1.0625rem; line-height: 1.8; color: var(--text-primary); }\n    .analysis-body h2 { font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-size: 1.25rem; font-weight: 600; color: var(--text-primary); margin: 2.5rem 0 1rem 0; padding-bottom: 0.5rem; border-bottom: 1px solid var(--border-color); }\n    .analysis-body h2:first-of-type { margin-top: 0; }\n    .analysis-body p { margin: 0 0 1.25rem 0; text-align: justify; hyphens: auto; }\n    .sources-section { margin-top: 3rem; padding-top: 1.5rem; border-top: 1px solid var(--border-color); }\n    .sources-section h3 { font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-size: 0.9375rem; font-weight: 600; color: var(--text-secondary); margin: 0 0 1rem 0; }\n    .sources-list { list-style: decimal; padding-left: 1.25rem; margin: 0; font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-size: 0.875rem; }\n    .sources-list li { margin: 0.375rem 0; color: var(--text-muted); }\n    .sources-list a { color: var(--accent); text-decoration: none; word-break: break-all; }\n    .sources-list a:hover { text-decoration: underline; }\n    .disclaimer { margin-top: 2.5rem; padding: 1.25rem; background: var(--bg-subtle); border-radius: 0.5rem; font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-size: 0.8125rem; color: var(--text-muted); line-height: 1.6; }\n    .disclaimer strong { color: var(--text-secondary); }\n    .analysis-footer { margin-top: 1.5rem; font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-size: 0.75rem; color: var(--text-muted); }\n    .back-link { display: inline-flex; align-items: center; gap: 0.25rem; font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-size: 0.875rem; color: var(--accent); text-decoration: none; margin-bottom: 1.5rem; }\n    .back-link:hover { text-decoration: underline; }\n    .quality-badge { display: inline-block; padding: 0.25rem 0.5rem; border-radius: 0.25rem; font-size: 0.75rem; font-weight: 500; margin-left: 0.5rem; }\n    .quality-badge.high { background: #dcfce7; color: #166534; }\n    .quality-badge.needs-review { background: #fef3c7; color: #92400e; }\n  </style>\n</head>\n<body>\n  <header class=\"site-header\">\n    <div class=\"header-content\">\n      <div class=\"logo\"><a href=\"./abonenten.html\"><img src=\"../assets/capitovo_logo_weiß.png\" alt=\"capitovo Logo\" class=\"header-logo\"></a></div>\n    </div>\n  </header>\n  \n  <main class=\"analysis-container\">\n    <a href=\"./alle_analysen.html\" class=\"back-link\">← Zurück zur Übersicht</a>\n    \n    <article>\n      <header class=\"analysis-header\">\n        <div class=\"analysis-meta\">\n          <span>${input.sector}</span>\n          <span>${input.ticker}</span>\n          <span>${input.exchange}</span>\n        </div>\n        <h1 class=\"analysis-title\">${input.company} – Unternehmensanalyse <span class=\"quality-badge ${badgeClass}\">${badgeText}</span></h1>\n        <p class=\"analysis-subtitle\">Geschäftsmodell, Fundamentaldaten und Bewertungseinordnung</p>\n        <div class=\"analysis-meta\" style=\"margin-top: 1rem; margin-bottom: 0;\">\n          <span>capitovo Research</span>\n          <time datetime=\"${input.date}\">${formattedDate}</time>\n        </div>\n      </header>\n      \n      <div class=\"analysis-body\">\n        ${htmlContent}\n      </div>\n      \n      ${sourcesHtml}\n      \n      <div class=\"disclaimer\">\n        <strong>Rechtlicher Hinweis:</strong> Diese Analyse dient ausschließlich Informationszwecken und stellt keine Anlageberatung im Sinne des Wertpapierhandelsgesetzes (WpHG) dar. Die bereitgestellten Informationen sind keine Aufforderung zum Kauf oder Verkauf von Wertpapieren. Anlageentscheidungen sollten auf Basis eigener Recherche und gegebenenfalls professioneller Beratung getroffen werden.\n      </div>\n      \n      <footer class=\"analysis-footer\">\n        Analyse-ID: ${input.ticker.toLowerCase()}-${input.date} · ${input.finalWordCount} Wörter · ${citations.length} Quellen · Pipeline v6\n      </footer>\n    </article>\n  </main>\n  \n  <footer style=\"border-top: 1px solid #e2e8f0; padding: 1.5rem; text-align: center; color: #718096; font-size: 0.875rem; font-family: -apple-system, sans-serif;\">\n    © ${new Date().getFullYear()} capitovo – Alle Rechte vorbehalten.\n  </footer>\n  \n  <script src=\"../script.js\"></script>\n</body>\n</html>`;\n\nreturn {\n  json: {\n    ...input,\n    html\n  }\n};"
      },
      "id": "html-renderer",
      "name": "11. HTML Renderer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2600, 800]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// OUTPUT GENERATOR\n// =====================================================\n\nconst svg = `<svg width=\"640\" height=\"360\" viewBox=\"0 0 640 360\" xmlns=\"http://www.w3.org/2000/svg\">\n  <defs>\n    <linearGradient id=\"bg-gradient\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"100%\">\n      <stop offset=\"0%\" stop-color=\"#0f172a\"/>\n      <stop offset=\"100%\" stop-color=\"#1e293b\"/>\n    </linearGradient>\n  </defs>\n  <rect width=\"640\" height=\"360\" fill=\"url(#bg-gradient)\" rx=\"16\"/>\n  <g font-family=\"-apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif\">\n    <text x=\"48\" y=\"72\" fill=\"#64748b\" font-size=\"13\" letter-spacing=\"0.1em\" font-weight=\"500\">${input.ticker} · ${input.sector.toUpperCase()}</text>\n    <text x=\"48\" y=\"120\" fill=\"#f1f5f9\" font-size=\"32\" font-weight=\"700\">${input.company}</text>\n    <text x=\"48\" y=\"156\" fill=\"#94a3b8\" font-size=\"16\">Unternehmensanalyse</text>\n    <rect x=\"48\" y=\"180\" width=\"80\" height=\"3\" fill=\"#3b82f6\" rx=\"1.5\"/>\n    <text x=\"48\" y=\"224\" fill=\"#64748b\" font-size=\"14\">Geschäftsmodell · Fundamentaldaten · Bewertung</text>\n    <g transform=\"translate(48, 296)\">\n      <text x=\"0\" y=\"0\" fill=\"#475569\" font-size=\"12\">capitovo Research · Score ${input.qualityScore}/10</text>\n      <text x=\"0\" y=\"20\" fill=\"#64748b\" font-size=\"11\">${input.date} · v6 Modular Pipeline</text>\n    </g>\n  </g>\n</svg>`;\n\nconst jsonEntry = {\n  id: `${input.ticker.toLowerCase()}-${input.date}`,\n  category: input.sector,\n  title: `${input.company} – Unternehmensanalyse`,\n  summary: `Modulare Analyse des Geschäftsmodells, der Fundamentaldaten und Bewertungseinordnung von ${input.company} (${input.ticker}).`,\n  link: `Abonenten/${input.slug}.html`,\n  image: `data/vorschaubilder_analysen/${input.slug}.svg`,\n  date: input.date,\n  author: 'capitovo Research',\n  tags: [input.company, input.ticker, input.sector],\n  published: input.publicationReady,\n  wordCount: input.finalWordCount,\n  sourcesCount: input.citations?.length || 0,\n  qualityScore: input.qualityScore,\n  publicationReady: input.publicationReady,\n  centralThesis: input.centralThesis,\n  pipelineVersion: 'v6-modular'\n};\n\nconst statusEmoji = input.publicationReady ? '✅' : '⚠️';\nconst statusText = input.publicationReady \n  ? `Publikationsreif (Score ${input.qualityScore}/10)`\n  : `Review erforderlich - ${input.publicationGate.failedMandatory.length} Pflichtkriterien nicht erfüllt`;\n\nreturn {\n  json: {\n    success: true,\n    status: statusEmoji + ' ' + statusText,\n    company: input.company,\n    ticker: input.ticker,\n    date: input.date,\n    pipelineVersion: 'v6-modular',\n    \n    metrics: {\n      totalWordCount: input.finalWordCount,\n      wordCountsByModule: input.wordCounts,\n      sourcesCount: input.citations?.length || 0,\n      qualityScore: input.qualityScore,\n      publicationReady: input.publicationReady\n    },\n    \n    validationResults: {\n      sourceValidation: input.sourceValidation,\n      antiBiasCheck: input.antiBiasCheck,\n      depthValidation: input.depthValidation,\n      publicationGate: input.publicationGate\n    },\n    \n    centralThesis: input.centralThesis,\n    allIssues: input.publicationGate.allIssues,\n    \n    outputs: {\n      html: input.html,\n      svg: svg,\n      jsonEntry: jsonEntry\n    },\n    \n    filePaths: {\n      html: `Abonenten/${input.slug}.html`,\n      svg: `data/vorschaubilder_analysen/${input.slug}.svg`,\n      json: 'data/analysen.json'\n    },\n    \n    nextSteps: input.publicationReady \n      ? ['HTML-Datei speichern', 'SVG speichern', 'analysen.json aktualisieren', 'Veröffentlichen']\n      : ['Issues beheben: ' + input.publicationGate.allIssues.slice(0, 3).join(', '), 'Erneut generieren']\n  }\n};"
      },
      "id": "output-generator",
      "name": "12. Output Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2800, 800]
    },
    {
      "parameters": {},
      "id": "output",
      "name": "Output",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3000, 800]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "1. Input Data", "type": "main", "index": 0 }]]
    },
    "1. Input Data": {
      "main": [[{ "node": "2. Input Validator", "type": "main", "index": 0 }]]
    },
    "2. Input Validator": {
      "main": [
        [
          { "node": "3a. Modul 1: Fakten-Prompt", "type": "main", "index": 0 },
          { "node": "3b. Modul 2: Geschäftsmodell-Prompt", "type": "main", "index": 0 },
          { "node": "3c. Modul 3: Bewertungs-Prompt", "type": "main", "index": 0 },
          { "node": "3d. Modul 4: These-Prompt", "type": "main", "index": 0 },
          { "node": "3e. Modul 5: Szenarien-Prompt", "type": "main", "index": 0 }
        ]
      ]
    },
    "3a. Modul 1: Fakten-Prompt": {
      "main": [[{ "node": "4a. Modul 1: API Call", "type": "main", "index": 0 }]]
    },
    "3b. Modul 2: Geschäftsmodell-Prompt": {
      "main": [[{ "node": "4b. Modul 2: API Call", "type": "main", "index": 0 }]]
    },
    "3c. Modul 3: Bewertungs-Prompt": {
      "main": [[{ "node": "4c. Modul 3: API Call", "type": "main", "index": 0 }]]
    },
    "3d. Modul 4: These-Prompt": {
      "main": [[{ "node": "4d. Modul 4: API Call", "type": "main", "index": 0 }]]
    },
    "3e. Modul 5: Szenarien-Prompt": {
      "main": [[{ "node": "4e. Modul 5: API Call", "type": "main", "index": 0 }]]
    },
    "4a. Modul 1: API Call": {
      "main": [[{ "node": "4f. Merge All Modules", "type": "main", "index": 0 }]]
    },
    "4b. Modul 2: API Call": {
      "main": [[{ "node": "4f. Merge All Modules", "type": "main", "index": 1 }]]
    },
    "4c. Modul 3: API Call": {
      "main": [[{ "node": "4f. Merge All Modules", "type": "main", "index": 2 }]]
    },
    "4d. Modul 4: API Call": {
      "main": [[{ "node": "4f. Merge All Modules", "type": "main", "index": 3 }]]
    },
    "4e. Modul 5: API Call": {
      "main": [[{ "node": "4f. Merge All Modules", "type": "main", "index": 4 }]]
    },
    "4f. Merge All Modules": {
      "main": [[{ "node": "5. Module Collector", "type": "main", "index": 0 }]]
    },
    "5. Module Collector": {
      "main": [[{ "node": "6. Source Validation", "type": "main", "index": 0 }]]
    },
    "6. Source Validation": {
      "main": [[{ "node": "7. Anti-Bias Check", "type": "main", "index": 0 }]]
    },
    "7. Anti-Bias Check": {
      "main": [[{ "node": "8. Depth Validation", "type": "main", "index": 0 }]]
    },
    "8. Depth Validation": {
      "main": [[{ "node": "9. Publication Gate", "type": "main", "index": 0 }]]
    },
    "9. Publication Gate": {
      "main": [[{ "node": "10. Editorial Assembly", "type": "main", "index": 0 }]]
    },
    "10. Editorial Assembly": {
      "main": [[{ "node": "11. HTML Renderer", "type": "main", "index": 0 }]]
    },
    "11. HTML Renderer": {
      "main": [[{ "node": "12. Output Generator", "type": "main", "index": 0 }]]
    },
    "12. Output Generator": {
      "main": [[{ "node": "Output", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "production" },
    { "name": "v6-modular" }
  ]
}
