n8n/n8n_analyse_generator_workflow_v11.json
{
  "name": "Capitovo Analyse Generator v11 - Auto Publish",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [100, 400]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// INPUT - Nur Identifikation\n// =====================================================\nreturn {\n  json: {\n    company: 'Apple',\n    ticker: 'AAPL',\n    exchange: 'NASDAQ',\n    sector: 'Technologie',\n    currency: 'USD',\n    slug: 'apple',\n    wkn: '865985',\n    isin: 'US0378331005',\n    pipelineVersion: 'v11.0-auto-publish',\n    date: new Date().toISOString().split('T')[0]\n  }\n};"
      },
      "id": "input-data",
      "name": "0. Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.alphavantage.co/query?function=OVERVIEW&symbol={{ $json.ticker }}&apikey=YO8C9ZRNBDVLAZ83",
        "options": { "timeout": 30000 }
      },
      "id": "api-overview",
      "name": "1a. API Overview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var prev = $('0. Input').item.json;\nvar resp = $input.item.json;\nreturn { json: { ...prev, overviewResponse: resp } };"
      },
      "id": "store-overview",
      "name": "1b. Store",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.alphavantage.co/query?function=INCOME_STATEMENT&symbol={{ $json.ticker }}&apikey=YO8C9ZRNBDVLAZ83",
        "options": { "timeout": 30000 }
      },
      "id": "api-income",
      "name": "1c. API Income",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var prev = $('1b. Store').item.json;\nvar incomeResp = $input.item.json;\nvar overviewResp = prev.overviewResponse;\nvar input = prev;\n\nfunction safeNum(val) {\n  if (val === undefined || val === null || val === 'None' || val === '-' || val === '') return null;\n  var n = parseFloat(String(val).replace(/,/g, ''));\n  return isFinite(n) ? n : null;\n}\n\nfunction pct(val) {\n  var n = safeNum(val);\n  if (n === null) return null;\n  return Math.abs(n) <= 1 ? Math.round(n * 1000) / 10 : Math.round(n * 10) / 10;\n}\n\nvar hasOverview = overviewResp && overviewResp.Symbol && !overviewResp.Note;\nvar hasIncome = incomeResp && incomeResp.annualReports && !incomeResp.Note;\nvar ts = new Date().toISOString();\n\nvar facts = {\n  meta: { source: 'Alpha Vantage API', timestamp: ts, quality: hasOverview && hasIncome ? 'complete' : 'partial' },\n  company: { name: input.company, ticker: input.ticker, sector: input.sector, currency: input.currency },\n  fundamentals: {},\n  valuation: {},\n  margins: {},\n  growth: {},\n  history: []\n};\n\nif (hasOverview) {\n  var o = overviewResp;\n  facts.company.industry = o.Industry || null;\n  facts.company.description = o.Description || null;\n  facts.fundamentals = {\n    marketCap: safeNum(o.MarketCapitalization),\n    revenue: safeNum(o.RevenueTTM),\n    ebitda: safeNum(o.EBITDA),\n    eps: safeNum(o.EPS),\n    dividendYield: pct(o.DividendYield),\n    sharesOutstanding: safeNum(o.SharesOutstanding)\n  };\n  facts.valuation = {\n    pe: safeNum(o.PERatio),\n    forwardPE: safeNum(o.ForwardPE),\n    peg: safeNum(o.PEGRatio),\n    pb: safeNum(o.PriceToBookRatio),\n    ps: safeNum(o.PriceToSalesRatioTTM),\n    evEbitda: safeNum(o.EVToEBITDA),\n    evRevenue: safeNum(o.EVToRevenue),\n    beta: safeNum(o.Beta),\n    high52w: safeNum(o['52WeekHigh']),\n    low52w: safeNum(o['52WeekLow'])\n  };\n  facts.margins = {\n    gross: pct(o.GrossProfitMargin),\n    operating: pct(o.OperatingMarginTTM),\n    net: pct(o.ProfitMargin),\n    roe: pct(o.ReturnOnEquityTTM),\n    roa: pct(o.ReturnOnAssetsTTM)\n  };\n  facts.growth = {\n    revenueQoQ: pct(o.QuarterlyRevenueGrowthYOY),\n    earningsQoQ: pct(o.QuarterlyEarningsGrowthYOY)\n  };\n}\n\nif (hasIncome) {\n  facts.history = incomeResp.annualReports.slice(0, 5).map(function(r) {\n    return {\n      year: r.fiscalDateEnding ? r.fiscalDateEnding.substring(0, 4) : null,\n      revenue: safeNum(r.totalRevenue),\n      netIncome: safeNum(r.netIncome),\n      operatingIncome: safeNum(r.operatingIncome)\n    };\n  });\n}\n\nvar anomalies = [];\nif (facts.growth.earningsQoQ !== null && Math.abs(facts.growth.earningsQoQ) > 50) {\n  anomalies.push({ field: 'earningsQoQ', value: facts.growth.earningsQoQ, flag: 'EXTREM', note: 'Gewinnwachstum >50%' });\n}\nif (facts.growth.revenueQoQ !== null && Math.abs(facts.growth.revenueQoQ) > 30) {\n  anomalies.push({ field: 'revenueQoQ', value: facts.growth.revenueQoQ, flag: 'AUFFAELLIG', note: 'Umsatzwachstum >30%' });\n}\nif (facts.margins.roe !== null && (facts.margins.roe < 5 || facts.margins.roe > 100)) {\n  anomalies.push({ field: 'roe', value: facts.margins.roe, flag: 'UNGEWOEHNLICH', note: 'ROE ausserhalb 5-100%' });\n}\nif (facts.valuation.pe !== null && facts.valuation.pe > 50) {\n  anomalies.push({ field: 'pe', value: facts.valuation.pe, flag: 'HOCH', note: 'KGV >50' });\n}\n\nreturn { json: { input: input, facts: facts, anomalies: anomalies, phase: 'P1_FACTS_COMPLETE' } };"
      },
      "id": "facts-engine",
      "name": "1d. Fakteninstanz",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "jsCode": "var input = $input.item.json;\nvar f = input.facts;\nvar a = input.anomalies;\n\nfunction fmt(v, suffix) {\n  if (v === null) return 'n/v';\n  if (typeof v === 'number') {\n    if (Math.abs(v) >= 1e12) return (v/1e12).toFixed(1) + ' Bio';\n    if (Math.abs(v) >= 1e9) return (v/1e9).toFixed(1) + ' Mrd';\n    if (Math.abs(v) >= 1e6) return (v/1e6).toFixed(1) + ' Mio';\n    return v.toLocaleString('de-DE');\n  }\n  return String(v) + (suffix || '');\n}\n\nvar factsBlock = [\n  '=== FAKTENBLATT: ' + f.company.name + ' (' + f.company.ticker + ') ===',\n  'Quelle: ' + f.meta.source + ' | Stand: ' + f.meta.timestamp.split('T')[0],\n  'Datenqualitaet: ' + f.meta.quality,\n  '',\n  '--- FUNDAMENTALS ---',\n  'Marktkapitalisierung: ' + fmt(f.fundamentals.marketCap) + ' ' + f.company.currency,\n  'Umsatz (TTM): ' + fmt(f.fundamentals.revenue) + ' ' + f.company.currency,\n  'EBITDA: ' + fmt(f.fundamentals.ebitda) + ' ' + f.company.currency,\n  'EPS: ' + fmt(f.fundamentals.eps) + ' ' + f.company.currency,\n  'Dividendenrendite: ' + (f.fundamentals.dividendYield !== null ? f.fundamentals.dividendYield + '%' : 'n/v'),\n  '',\n  '--- BEWERTUNG ---',\n  'KGV: ' + fmt(f.valuation.pe),\n  'Forward KGV: ' + fmt(f.valuation.forwardPE),\n  'PEG: ' + fmt(f.valuation.peg),\n  'P/B: ' + fmt(f.valuation.pb),\n  'P/S: ' + fmt(f.valuation.ps),\n  'EV/EBITDA: ' + fmt(f.valuation.evEbitda),\n  'EV/Revenue: ' + fmt(f.valuation.evRevenue),\n  'Beta: ' + fmt(f.valuation.beta),\n  '52W Hoch: ' + fmt(f.valuation.high52w) + ' ' + f.company.currency,\n  '52W Tief: ' + fmt(f.valuation.low52w) + ' ' + f.company.currency,\n  '',\n  '--- MARGEN & RENDITEN ---',\n  'Bruttomarge: ' + (f.margins.gross !== null ? f.margins.gross + '%' : 'n/v'),\n  'Operative Marge: ' + (f.margins.operating !== null ? f.margins.operating + '%' : 'n/v'),\n  'Nettomarge: ' + (f.margins.net !== null ? f.margins.net + '%' : 'n/v'),\n  'ROE: ' + (f.margins.roe !== null ? f.margins.roe + '%' : 'n/v'),\n  'ROA: ' + (f.margins.roa !== null ? f.margins.roa + '%' : 'n/v'),\n  '',\n  '--- WACHSTUM (Quartal YoY) ---',\n  'Umsatzwachstum: ' + (f.growth.revenueQoQ !== null ? f.growth.revenueQoQ + '%' : 'n/v'),\n  'Gewinnwachstum: ' + (f.growth.earningsQoQ !== null ? f.growth.earningsQoQ + '%' : 'n/v'),\n  ''\n];\n\nif (f.history && f.history.length > 0) {\n  factsBlock.push('--- HISTORIE ---');\n  for (var i = 0; i < f.history.length; i++) {\n    var h = f.history[i];\n    factsBlock.push(h.year + ': Umsatz ' + fmt(h.revenue) + ', Nettogewinn ' + fmt(h.netIncome));\n  }\n  factsBlock.push('');\n}\n\nif (a && a.length > 0) {\n  factsBlock.push('=== ANOMALIEN ===');\n  for (var j = 0; j < a.length; j++) {\n    factsBlock.push('[' + a[j].flag + '] ' + a[j].field + ': ' + a[j].value + ' - ' + a[j].note);\n  }\n}\n\nfactsBlock.push('=== ENDE FAKTENBLATT ===');\n\nreturn { json: { ...input, factsBlock: factsBlock.join('\\n') } };"
      },
      "id": "facts-formatter",
      "name": "1e. Facts Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer 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" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.2,\n  \"max_tokens\": 6000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Du bist ein SENIOR EQUITY ANALYST. Erstelle analytische Unternehmenseinordnungen. KEINE Empfehlungen, KEINE Kursziele. Nur sachliche Analyse mit Fakten.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify('Erstelle eine analytische Unternehmenseinordnung basierend auf diesen Fakten:\\n\\n' + $json.factsBlock + '\\n\\nStruktur: 1. Geschaeftsmodell-Analyse, 2. Fundamentaldaten-Einordnung, 3. Bewertungs-Implikationen, 4. Risiko-Hierarchie, 5. Sachliche Gesamteinordnung. Mindestens 900 Woerter.') }}\n    }\n  ],\n  \"return_citations\": true\n}",
        "options": { "timeout": 180000 }
      },
      "id": "phase2-analyst",
      "name": "P2. Analyseinstanz",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var prev = $('1e. Facts Format').item.json;\nvar resp = $input.item.json;\n\nvar content = '';\nvar citations = [];\n\nif (resp && resp.choices && resp.choices[0] && resp.choices[0].message) {\n  content = resp.choices[0].message.content || '';\n  content = content.replace(/\\*\\*([^*]+)\\*\\*/g, '$1').replace(/\\*([^*]+)\\*/g, '$1').replace(/\\[\\d+\\]/g, '').trim();\n  citations = resp.citations || [];\n}\n\nreturn { json: { ...prev, analysisV1: content, citationsP2: citations, phase: 'P2_ANALYSIS_COMPLETE' } };"
      },
      "id": "phase2-extract",
      "name": "P2. Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer 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" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.15,\n  \"max_tokens\": 5000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Du bist ein kritischer Reviewer fuer Finanzanalysen. Pruefe auf Vollstaendigkeit, entferne Kursziele/Empfehlungen, und liefere eine ueberarbeitete Version.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify('Pruefe und ueberarbeite diese Analyse:\\n\\nFakten:\\n' + $json.factsBlock + '\\n\\nAnalyse:\\n' + $json.analysisV1 + '\\n\\nLiefere: TEIL A: Kritik-Protokoll, TEIL B: Ueberarbeitete Analyse (900-1200 Woerter)') }}\n    }\n  ]\n}",
        "options": { "timeout": 180000 }
      },
      "id": "phase3-critic",
      "name": "P3. Kritische Pruefinstanz",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1900, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var prev = $('P2. Extract').item.json;\nvar resp = $input.item.json;\n\nvar fullResponse = '';\nvar critique = '';\nvar revisedAnalysis = '';\n\nif (resp && resp.choices && resp.choices[0] && resp.choices[0].message) {\n  fullResponse = resp.choices[0].message.content || '';\n  fullResponse = fullResponse.replace(/\\*\\*([^*]+)\\*\\*/g, '$1').replace(/\\*([^*]+)\\*/g, '$1').replace(/\\[\\d+\\]/g, '').trim();\n  \n  var markers = ['TEIL B:', 'UEBERARBEITETE ANALYSE', 'Teil B:'];\n  var splitIndex = -1;\n  for (var i = 0; i < markers.length; i++) {\n    var idx = fullResponse.indexOf(markers[i]);\n    if (idx !== -1) { splitIndex = idx; break; }\n  }\n  \n  if (splitIndex !== -1) {\n    critique = fullResponse.substring(0, splitIndex).trim();\n    revisedAnalysis = fullResponse.substring(splitIndex).replace(/^(TEIL B:|UEBERARBEITETE ANALYSE|Teil B:)/i, '').trim();\n  } else {\n    revisedAnalysis = fullResponse;\n    critique = 'Kritik nicht extrahiert';\n  }\n}\n\nreturn { json: { ...prev, critique: critique, analysisV2: revisedAnalysis, phase: 'P3_CRITIQUE_COMPLETE' } };"
      },
      "id": "phase3-extract",
      "name": "P3. Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2100, 400]
    },
    {
      "parameters": {
        "jsCode": "var input = $input.item.json;\nvar citations = input.citationsP2 || [];\n\nvar primary = [];\nvar secondary = [];\nvar news = [];\n\nvar primaryPatterns = ['sec.gov', '10-k', '10-q', 'investor.', 'ir.'];\nvar secondaryPatterns = ['reuters.com', 'bloomberg.com', 'wsj.com', 'ft.com', 'morningstar.com'];\n\nfor (var i = 0; i < citations.length; i++) {\n  var url = citations[i].toLowerCase();\n  var categorized = false;\n  \n  for (var p = 0; p < primaryPatterns.length && !categorized; p++) {\n    if (url.indexOf(primaryPatterns[p]) !== -1) { primary.push(citations[i]); categorized = true; }\n  }\n  for (var s = 0; s < secondaryPatterns.length && !categorized; s++) {\n    if (url.indexOf(secondaryPatterns[s]) !== -1) { secondary.push(citations[i]); categorized = true; }\n  }\n  if (!categorized) news.push(citations[i]);\n}\n\nvar sourceScore = primary.length * 3 + secondary.length * 2 + news.length * 0.5;\nvar sourceQuality = sourceScore >= 8 && primary.length >= 1 ? 'hoch' : sourceScore >= 4 ? 'mittel' : 'niedrig';\n\nreturn { json: { ...input, sourceValidation: { primary: primary, secondary: secondary, news: news, quality: sourceQuality, accepted: primary.concat(secondary).concat(news.slice(0, 3)).slice(0, 8) }, phase: 'P3_SOURCES_VALIDATED' } };"
      },
      "id": "source-validator",
      "name": "P3b. Quellenvalidierung",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2300, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "Bearer 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" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.1,\n  \"max_tokens\": 4000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Du bist ein Redakteur. Verbessere Lesbarkeit ohne inhaltliche Aenderungen. Fuege am Ende einen Abschnitt 'Kurz erklaert' fuer Einsteiger hinzu (3-4 Saetze).\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify('Finalisiere redaktionell (keine Kuerzungen):\\n\\n' + $json.analysisV2) }}\n    }\n  ]\n}",
        "options": { "timeout": 120000 }
      },
      "id": "phase4-editorial",
      "name": "P4. Redaktion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2500, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var prev = $('P3b. Quellenvalidierung').item.json;\nvar resp = $input.item.json;\n\nvar finalContent = '';\nif (resp && resp.choices && resp.choices[0] && resp.choices[0].message) {\n  finalContent = resp.choices[0].message.content || '';\n  finalContent = finalContent.replace(/\\*\\*([^*]+)\\*\\*/g, '$1').replace(/\\*([^*]+)\\*/g, '$1').replace(/\\[\\d+\\]/g, '').trim();\n} else {\n  finalContent = prev.analysisV2;\n}\n\nreturn { json: { ...prev, finalContent: finalContent, phase: 'P4_EDITORIAL_COMPLETE' } };"
      },
      "id": "phase4-extract",
      "name": "P4. Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2700, 400]
    },
    {
      "parameters": {
        "jsCode": "var input = $input.item.json;\nvar content = input.finalContent || '';\nvar lower = content.toLowerCase();\n\nfunction countWords(text) {\n  return (text || '').split(/\\s+/).filter(function(w) { return w.length > 1; }).length;\n}\nvar wordCount = countWords(content);\n\nvar koFlags = [];\nvar hasKO = false;\n\nvar empfehlungTerms = ['kaufen', 'verkaufen', 'buy', 'sell', 'unterbewertet', 'ueberbewertet', 'kursziel'];\nfor (var e = 0; e < empfehlungTerms.length; e++) {\n  if (lower.indexOf(empfehlungTerms[e]) !== -1) {\n    koFlags.push('[K.O.] Empfehlung gefunden: ' + empfehlungTerms[e]);\n    hasKO = true;\n  }\n}\n\nif (wordCount < 400) {\n  koFlags.push('[K.O.] Analyse zu kurz: ' + wordCount + ' Woerter');\n  hasKO = true;\n}\n\nvar hasAnySources = input.sourceValidation && (input.sourceValidation.primary.length > 0 || input.sourceValidation.secondary.length > 0 || input.sourceValidation.news.length > 0);\nif (!hasAnySources) {\n  koFlags.push('[K.O.] Keine Quellen');\n  hasKO = true;\n}\n\nvar depthScore = 5;\nif (wordCount >= 1000) depthScore += 1;\nif (wordCount >= 1200) depthScore += 0.5;\nif (lower.indexOf('unsicherheit') !== -1 || lower.indexOf('abhaengig') !== -1) depthScore += 1;\nif (lower.indexOf('gesamteinordnung') !== -1 || lower.indexOf('fazit') !== -1) depthScore += 0.5;\nif (input.sourceValidation && input.sourceValidation.primary && input.sourceValidation.primary.length >= 1) depthScore += 0.5;\nif (wordCount < 800) depthScore -= 0.5;\n\nvar finalScore = Math.max(1, Math.min(10, Math.round(depthScore * 10) / 10));\nvar publicationReady = !hasKO;\nvar statusText = hasKO ? 'BLOCKIERT' : 'PUBLIKATIONSFAEHIG';\n\nreturn { json: { input: input.input, facts: input.facts, anomalies: input.anomalies, factsBlock: input.factsBlock, finalContent: content, citations: input.sourceValidation.accepted, metrics: { wordCount: wordCount, depthScore: finalScore, publicationReady: publicationReady, statusText: statusText }, sourceValidation: input.sourceValidation, phase: 'QUALITY_GATE_COMPLETE' } };"
      },
      "id": "quality-gate",
      "name": "Quality Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2900, 400]
    },
    {
      "parameters": {
        "jsCode": "var fs = require('fs');\nvar input = $input.item.json;\nvar meta = input.input;\nvar content = input.finalContent || '';\nvar sourceVal = input.sourceValidation || { primary: [], secondary: [], news: [] };\n\nfunction textToHtml(text) {\n  if (!text) return '';\n  var cleaned = text.replace(/^#{1,6}\\s*/gm, '').replace(/\\*\\*([^*]+)\\*\\*/g, '$1').replace(/\\*([^*]+)\\*/g, '$1').replace(/---+/g, '').trim();\n  var paragraphs = cleaned.split(/\\n\\n+/);\n  var html = '';\n  for (var i = 0; i < paragraphs.length; i++) {\n    var p = paragraphs[i].trim();\n    if (!p) continue;\n    if (/^\\d+\\.\\s+[A-Z]/.test(p) || /^[A-Z][A-Z\\s-]{5,}$/.test(p.split('\\n')[0])) {\n      var lines = p.split('\\n');\n      var headline = lines[0].replace(/^\\d+\\.\\s*/, '').trim();\n      html += '<h3>' + headline + '</h3>';\n      if (lines.length > 1) html += '<p>' + lines.slice(1).join(' ').replace(/\\n/g, ' ').trim() + '</p>';\n    } else {\n      html += '<p>' + p.replace(/\\n/g, ' ') + '</p>';\n    }\n  }\n  return html;\n}\n\nfunction getIntro(text) {\n  if (!text) return '';\n  var firstPara = text.split('\\n\\n')[0] || text.split('\\n')[0] || '';\n  return firstPara.slice(0, 400) + (firstPara.length > 400 ? '...' : '');\n}\n\nfunction getSummary(text) {\n  if (!text) return '';\n  var parts = text.split('\\n\\n').filter(function(p) { return p.trim(); });\n  return parts.length ? parts[parts.length - 1].trim() : '';\n}\n\nvar analysisHtml = textToHtml(content);\nvar introText = getIntro(content);\nvar summaryText = getSummary(content);\nvar formattedDate = new Date(meta.date).toLocaleDateString('de-DE', { day: '2-digit', month: '2-digit', year: 'numeric' });\nvar imagePath = '../data/vorschaubilder_analysen/' + meta.slug + '_preview.svg';\n\nvar allSources = (sourceVal.primary || []).concat(sourceVal.secondary || []).concat((sourceVal.news || []).slice(0, 2));\nvar sourcesText = allSources.length ? allSources.join(', ') : 'Keine Quellen angegeben.';\n\nvar contentSections = '<section class=\"analysis-section\"><h2>Analyse</h2>' + analysisHtml + '</section><section class=\"analysis-section\"><h2>Schlussfolgerungen</h2><p>' + summaryText + '</p><hr style=\"margin: 3rem 0; border: none; border-top: 1px solid #e2e8f0;\"><p style=\"font-size: 0.9rem; color: #64748b;\"><strong>Disclaimer:</strong> Diese Analyse stellt keine Anlageberatung dar.</p><p style=\"font-size: 0.9rem; color: #64748b;\"><strong>Quellen:</strong> ' + sourcesText + '</p></section>';\n\nvar templatePath = '/Users/kevinwaibel/Dokumente/capitovo/Code/capitovo/Abonenten/analyse_vorlage.html';\nvar template;\ntry {\n  template = fs.readFileSync(templatePath, 'utf8');\n} catch(e) {\n  template = '<!DOCTYPE html><html><head><title>[TITEL]</title></head><body><h1>[UNTERNEHMENSNAME]</h1><!-- Content Sections --></article></body></html>';\n}\n\nvar html = template\n  .replace(/\\[TITEL EINFUEGEN\\]/g, meta.company + ' Unternehmensanalyse')\n  .replace(/\\[TITEL EINFÜGEN\\]/g, meta.company + ' Unternehmensanalyse')\n  .replace(/\\[KATEGORIE IN GROSSBUCHSTABEN\\]/g, String(meta.sector || '').toUpperCase())\n  .replace(/\\[UNTERNEHMENSNAME\\]/g, meta.company)\n  .replace(/\\[Titel der Analyse\\]/g, meta.company + ' Unternehmensanalyse')\n  .replace(/\\[DATUM im Format DD\\.MM\\.YYYY\\]/g, formattedDate)\n  .replace(/\\[ID-EINFUEGEN\\]/g, meta.slug)\n  .replace(/\\[ID-EINFÜGEN\\]/g, meta.slug)\n  .replace(/\\.\\.\\/ data\\/vorschaubilder_analysen\\/\\[BILDNAME\\]\\.png/g, imagePath)\n  .replace(/\\[ALT-TEXT\\]/g, meta.company + ' Analyse')\n  .replace(/\\[Einleitender Absatz[^\\]]*\\]/g, introText);\n\nvar contentMarker = '<!-- Content Sections -->';\nvar articleEnd = '</article>';\nvar markerIdx = html.indexOf(contentMarker);\nif (markerIdx !== -1) {\n  var endIdx = html.indexOf(articleEnd, markerIdx);\n  if (endIdx !== -1) {\n    html = html.substring(0, markerIdx) + contentMarker + '\\n' + contentSections + '\\n' + html.substring(endIdx);\n  }\n}\n\nreturn { json: { ...input, htmlPublic: html } };"
      },
      "id": "template-renderer",
      "name": "Template Renderer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3100, 400]
    },
    {
      "parameters": {
        "jsCode": "var input = $input.item.json;\nvar meta = input.input;\n\nvar displayName = meta.company.length > 25 ? meta.company.substring(0, 22) + '...' : meta.company;\n\nvar svg = '<svg width=\"640\" height=\"360\" viewBox=\"0 0 640 360\" xmlns=\"http://www.w3.org/2000/svg\"><defs><linearGradient id=\"bg\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"100%\"><stop offset=\"0%\" stop-color=\"#0f172a\"/><stop offset=\"100%\" stop-color=\"#1e293b\"/></linearGradient><linearGradient id=\"accent\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"0%\"><stop offset=\"0%\" stop-color=\"#3b82f6\"/><stop offset=\"100%\" stop-color=\"#0ea5e9\"/></linearGradient></defs><rect width=\"640\" height=\"360\" fill=\"url(#bg)\" rx=\"16\"/><g font-family=\"-apple-system, BlinkMacSystemFont, sans-serif\"><text x=\"48\" y=\"72\" fill=\"#64748b\" font-size=\"12\" letter-spacing=\"0.1em\">' + meta.ticker + ' - ' + (meta.sector || '').toUpperCase() + '</text><text x=\"48\" y=\"120\" fill=\"#f1f5f9\" font-size=\"36\" font-weight=\"700\">' + displayName + '</text><text x=\"48\" y=\"155\" fill=\"#94a3b8\" font-size=\"15\">Analytische Unternehmenseinordnung</text><rect x=\"48\" y=\"180\" width=\"80\" height=\"4\" fill=\"url(#accent)\" rx=\"2\"/><text x=\"48\" y=\"230\" fill=\"#64748b\" font-size=\"13\">Geschaeftsmodell - Fundamentaldaten - Bewertung</text><text x=\"48\" y=\"300\" fill=\"#475569\" font-size=\"11\">capitovo Research</text><text x=\"48\" y=\"320\" fill=\"#64748b\" font-size=\"10\">' + meta.date + '</text></g></svg>';\n\nreturn { json: { ...input, svgPreview: svg } };"
      },
      "id": "svg-generator",
      "name": "SVG Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3300, 400]
    },
    {
      "parameters": {
        "jsCode": "var input = $input.item.json;\nvar meta = input.input;\nvar metrics = input.metrics;\n\nvar htmlBase64 = Buffer.from(input.htmlPublic, 'utf8').toString('base64');\nvar svgBase64 = Buffer.from(input.svgPreview, 'utf8').toString('base64');\n\nvar catalogEntry = {\n  id: meta.ticker.toLowerCase() + '-' + meta.date.replace(/-/g, ''),\n  category: meta.sector,\n  title: meta.company + ' - Unternehmensanalyse',\n  summary: 'Analytische Einordnung von ' + meta.company + ' (' + meta.ticker + ')',\n  link: 'Abonenten/' + meta.slug + '.html',\n  image: 'data/vorschaubilder_analysen/' + meta.slug + '_preview.svg',\n  date: meta.date,\n  author: 'capitovo Research',\n  tags: [meta.company, meta.ticker, meta.sector, meta.exchange]\n};\n\nreturn {\n  json: {\n    company: meta.company,\n    ticker: meta.ticker,\n    slug: meta.slug,\n    date: meta.date,\n    publicationReady: metrics.publicationReady,\n    statusText: metrics.statusText,\n    htmlPath: 'Abonenten/' + meta.slug + '.html',\n    svgPath: 'data/vorschaubilder_analysen/' + meta.slug + '_preview.svg',\n    htmlBase64: htmlBase64,\n    svgBase64: svgBase64,\n    htmlCommitMsg: 'Neue Analyse: ' + meta.company + ' (' + meta.ticker + ') - Auto-Publish v11',\n    svgCommitMsg: 'Vorschaubild: ' + meta.company + ' - Auto-Publish v11',\n    catalogEntry: catalogEntry,\n    summary: { status: metrics.publicationReady ? 'READY' : 'BLOCKED', company: meta.company, ticker: meta.ticker, wordCount: metrics.wordCount, depthScore: metrics.depthScore }\n  }\n};"
      },
      "id": "base64-encoder",
      "name": "Base64 Encoder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3500, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.publicationReady }}",
              "value2": true
            }
          ]
        }
      },
      "id": "publish-gate",
      "name": "Publish Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3700, 400]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/kw-f8/capitovo/contents/{{ $json.htmlPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.htmlCommitMsg }}\",\n  \"content\": \"{{ $json.htmlBase64 }}\",\n  \"branch\": \"main\"\n}",
        "options": { "timeout": 60000 }
      },
      "id": "github-upload-html",
      "name": "GitHub Upload HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3920, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/kw-f8/capitovo/contents/{{ $json.svgPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.svgCommitMsg }}\",\n  \"content\": \"{{ $json.svgBase64 }}\",\n  \"branch\": \"main\"\n}",
        "options": { "timeout": 60000 }
      },
      "id": "github-upload-svg",
      "name": "GitHub Upload SVG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4140, 300]
    },
    {
      "parameters": {
        "jsCode": "var prev = $('Base64 Encoder').item.json;\nvar liveUrl = 'https://kw-f8.github.io/capitovo/' + prev.htmlPath;\n\nreturn {\n  json: {\n    status: 'PUBLISHED',\n    message: 'Analyse erfolgreich veroeffentlicht!',\n    company: prev.company,\n    ticker: prev.ticker,\n    date: prev.date,\n    liveUrl: liveUrl,\n    files: { html: prev.htmlPath, svg: prev.svgPath },\n    catalogEntry: prev.catalogEntry,\n    pipelineVersion: 'v11.0-auto-publish'\n  }\n};"
      },
      "id": "output-success",
      "name": "Output Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4360, 300]
    },
    {
      "parameters": {
        "jsCode": "var prev = $('Base64 Encoder').item.json;\n\nreturn {\n  json: {\n    status: 'BLOCKED',\n    message: 'Analyse wurde NICHT veroeffentlicht (Quality Gate)',\n    company: prev.company,\n    ticker: prev.ticker,\n    date: prev.date,\n    reason: prev.statusText,\n    pipelineVersion: 'v11.0-auto-publish'\n  }\n};"
      },
      "id": "output-blocked",
      "name": "Output Blocked",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3920, 500]
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "0. Input", "type": "main", "index": 0 }]] },
    "0. Input": { "main": [[{ "node": "1a. API Overview", "type": "main", "index": 0 }]] },
    "1a. API Overview": { "main": [[{ "node": "1b. Store", "type": "main", "index": 0 }]] },
    "1b. Store": { "main": [[{ "node": "1c. API Income", "type": "main", "index": 0 }]] },
    "1c. API Income": { "main": [[{ "node": "1d. Fakteninstanz", "type": "main", "index": 0 }]] },
    "1d. Fakteninstanz": { "main": [[{ "node": "1e. Facts Format", "type": "main", "index": 0 }]] },
    "1e. Facts Format": { "main": [[{ "node": "P2. Analyseinstanz", "type": "main", "index": 0 }]] },
    "P2. Analyseinstanz": { "main": [[{ "node": "P2. Extract", "type": "main", "index": 0 }]] },
    "P2. Extract": { "main": [[{ "node": "P3. Kritische Pruefinstanz", "type": "main", "index": 0 }]] },
    "P3. Kritische Pruefinstanz": { "main": [[{ "node": "P3. Extract", "type": "main", "index": 0 }]] },
    "P3. Extract": { "main": [[{ "node": "P3b. Quellenvalidierung", "type": "main", "index": 0 }]] },
    "P3b. Quellenvalidierung": { "main": [[{ "node": "P4. Redaktion", "type": "main", "index": 0 }]] },
    "P4. Redaktion": { "main": [[{ "node": "P4. Extract", "type": "main", "index": 0 }]] },
    "P4. Extract": { "main": [[{ "node": "Quality Gate", "type": "main", "index": 0 }]] },
    "Quality Gate": { "main": [[{ "node": "Template Renderer", "type": "main", "index": 0 }]] },
    "Template Renderer": { "main": [[{ "node": "SVG Generator", "type": "main", "index": 0 }]] },
    "SVG Generator": { "main": [[{ "node": "Base64 Encoder", "type": "main", "index": 0 }]] },
    "Base64 Encoder": { "main": [[{ "node": "Publish Gate", "type": "main", "index": 0 }]] },
    "Publish Gate": {
      "main": [
        [{ "node": "GitHub Upload HTML", "type": "main", "index": 0 }],
        [{ "node": "Output Blocked", "type": "main", "index": 0 }]
      ]
    },
    "GitHub Upload HTML": { "main": [[{ "node": "GitHub Upload SVG", "type": "main", "index": 0 }]] },
    "GitHub Upload SVG": { "main": [[{ "node": "Output Success", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": []
}
