n8n/n8n_analyse_generator_workflow_v4.json
{
  "name": "Capitovo Analyse Generator v4 - Final",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 400]
    },
    {
      "parameters": {
        "jsCode": "// === EINGABE-DATEN ===\n// Hier die Aktie eintragen, die analysiert werden soll:\n\nreturn {\n  json: {\n    company: 'Apple',\n    ticker: 'AAPL',\n    exchange: 'NASDAQ',\n    sector: 'Technologie',\n    currency: 'USD',\n    slug: 'apple',\n    \n    // Optional: Infos zur letzten Analyse (für Serien-Logik)\n    lastAnalysisDate: null,  // z.B. '2025-12-15'\n    lastAnalysisHighlights: null  // z.B. 'Fokus auf iPhone 16 Launch'\n  }\n};"
      },
      "id": "input-data",
      "name": "1. Input Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// Validierung\nconst required = ['company', 'ticker', 'exchange', 'sector', 'currency'];\nconst missing = required.filter(f => !input[f]);\n\nif (missing.length > 0) {\n  throw new Error(`Fehlende Pflichtfelder: ${missing.join(', ')}`);\n}\n\nconst slug = input.slug || input.company.toLowerCase().replace(/[^a-z0-9]+/g, '-');\nconst date = new Date().toISOString().split('T')[0];\n\n// Serien-Kontext aufbauen\nlet seriesContext = '';\nif (input.lastAnalysisDate) {\n  seriesContext = `\\n\\n**SERIEN-KONTEXT:**\\nLetzte Analyse: ${input.lastAnalysisDate}\\n`;\n  if (input.lastAnalysisHighlights) {\n    seriesContext += `Schwerpunkte damals: ${input.lastAnalysisHighlights}\\n`;\n  }\n  seriesContext += `Vergleiche explizit mit dieser vorherigen Analyse und benenne Veränderungen.`;\n} else {\n  seriesContext = `\\n\\n**SERIEN-KONTEXT:**\\nDies ist die erste Analyse zu diesem Unternehmen in der Serie. Etabliere eine solide Basis für künftige Vergleiche.`;\n}\n\nreturn {\n  json: {\n    ...input,\n    slug,\n    date,\n    seriesContext,\n    isFirstAnalysis: !input.lastAnalysisDate\n  }\n};"
      },
      "id": "input-validator",
      "name": "2. Input Validator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [620, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// FINALER STEUER-PROMPT v9 - INSTITUTIONAL COMPLIANCE GRADE\n// =====================================================\n\nconst systemPrompt = `Du agierst als Senior Research Editor eines Asset Managers mit Buy-Side-Hintergrund.\nDein Ziel ist eine Unternehmensanalyse, die BELASTBAR statt spektakulär wirkt - so, dass sie ohne Reputationsrisiko an institutionelle Kunden versendet werden könnte.\n\nInstitutionelle Qualität wird gemessen an: Verlässlichkeit × Nachvollziehbarkeit × Quellenhygiene.\n\nKRITISCHE ARBEITSANWEISUNGEN\n\n1. QUELLENQUALITÄT (höchste Priorität)\nNUR Primärquellen mit direktem Unternehmensbezug verwenden:\n- Form 10-K, 10-Q, Annual Reports (Jahr angeben)\n- Earnings Call Transcripts\n- Investor Relations Präsentationen\n- SEC Filings, ESMA-Dokumente\n- Statista, IDC, Gartner NUR für Marktgrößen\n\nVERBOTEN als Quellen:\n- Community-Blogs, Foren, Wikifolio\n- Studentische Plattformen (Studocu etc.)\n- Podcast-Transkripte\n- Nachrichtenportale ohne Primärdaten\n- Seiten ohne direkten Bezug zum analysierten Unternehmen\n\nMaximal 5-7 hochwertige Quellen. Lieber 4 gute als 12 irrelevante.\n\n2. TRENNUNG VON FAKT, SCHÄTZUNG, MEINUNG\nJede Aussage muss sprachlich eingeordnet werden:\n\nFAKTEN (belegbar):\n\"Laut 10-K 2024...\", \"Das Unternehmen berichtet...\", \"Die SEC-Filings zeigen...\"\n\nSCHÄTZUNGEN (abgeleitet):\n\"Dies impliziert...\", \"Unter der Annahme von...\", \"Daraus lässt sich ableiten...\"\n\nINTERPRETATIONEN (Einschätzung):\n\"Dies deutet darauf hin...\", \"Eine mögliche Erklärung...\", \"Die Daten legen nahe...\"\n\nNIEMALS absolute Aussagen ohne Beleg:\n❌ \"Der Marktkonsens überschätzt...\"\n✅ \"Die aktuelle Bewertung impliziert Wachstumsraten, die historisch selten erreicht wurden.\"\n\n3. VERMEIDUNG VON SCHEINGENAUIGKEIT\nKeine überpräzisen Zahlen ohne Primärquelle:\n❌ \"Customer Lifetime Value von 10.847 Dollar\"\n✅ \"Customer Lifetime Value im mittleren vierstelligen bis niedrigen fünfstelligen Bereich\"\n\n❌ \"PEG-Ratio von 4,37x\"\n✅ \"PEG-Ratio im Bereich von 4-5x\"\n\n❌ \"Fair-PE von 37,5x\"\n✅ \"Historischer Bewertungskorridor zwischen 25x und 35x\"\n\nBandbreiten und Größenordnungen statt Punktschätzungen.\nRunden auf sinnvolle Genauigkeit.\n\n4. TON-DISZIPLIN (sehr wichtig)\nVERBOTENE wertende Formulierungen:\n- \"blinder Fleck\", \"überschätzt\", \"unterschätzt\"\n- \"Game-Changer\", \"Paradigmenwechsel\"\n- \"spektakulär\", \"beeindruckend\", \"enttäuschend\"\n- \"der Markt irrt\", \"Konsens liegt falsch\"\n\nERLAUBTE nüchterne Formulierungen:\n- \"Die Daten zeigen eine Abweichung von...\"\n- \"Historisch lag dieser Wert bei...\"\n- \"Die implizite Erwartung setzt voraus...\"\n- \"Ein differenzierter Blick zeigt...\"\n- \"Weniger beachtet wird der Aspekt...\"\n\n5. FORMALE KONSISTENZ\n- Alle Kennzahlen auf ein Referenzdatum beziehen\n- Marktkapitalisierung, Kurs, Multiples konsistent halten\n- Wachstumsraten nicht widersprüchlich verwenden\n- Keine Diskrepanz zwischen Text und Metadaten\n\n6. SZENARIO-SPRACHE\nSzenarien beschreiben, was passieren MÜSSTE, nicht was passieren WIRD:\n❌ \"Im positiven Szenario steigt der Kurs auf...\"\n✅ \"Ein positives Szenario würde voraussetzen, dass...\"\n\nCOMPLIANCE (K.O.-Kriterien)\n\nVerboten:\n- Anleger sollten, eignet sich für, attraktiv, lohnend\n- Kauf, Verkauf, Einstieg, Ausstieg, Buy, Sell, Hold\n- Kursziel, Price Target, Fair Value, fairer Wert\n- unterbewertet, überbewertet, zu teuer, zu günstig\n- Sicherheitsmarge, Margin of Safety\n- Empfehlungen jeder Art, auch implizit\n\nKein Verweis auf KI, Automatisierung, Prompts oder die Erstellung der Analyse.`;\n\nconst userPrompt = `Erstelle eine institutionelle Unternehmensanalyse für:\n\nUnternehmen: ${input.company} (${input.ticker})\nBörse: ${input.exchange}\nSektor: ${input.sector}\n\nZiel: Eine Analyse, die auch ohne Layout oder Branding als ernstzunehmendes Research-Dokument bestehen würde.\n\nSTRUKTUR\n\n1. Einordnung und zentrale These\n\nMarktposition, Wettbewerbsumfeld, Branchenreifegrad.\nFormuliere eine spezifische These für dieses Unternehmen zum aktuellen Zeitpunkt.\nZeige, wo die Einschätzung vom Marktkonsens abweichen KÖNNTE (nicht: abweicht).\n\n2. Geschäftsmodell und ökonomische Logik\n\nUmsatzsegmente mit Anteilen (Quelle: letzter Geschäftsbericht).\nWertschöpfungstiefe und Preissetzungsmacht - woher konkret?\nGeografische Exponierung mit Währungs-/Regulierungsrisiken.\nStrukturelle Wettbewerbsvorteile:\n- Warum existiert der Moat? (mit Beleg)\n- Wie stabil ist er? (Zeitliche Dimension)\n- Unter welchen Bedingungen könnte er erodieren? (Sensitivität)\n\nAnalytisch verknüpfter Fließtext.\n\n3. Fundamentale Entwicklung\n\nLetzte 3-5 Jahre, Fokus auf:\n- Umsatzentwicklung: organisch vs. akquisitionsgetrieben\n- Margenstruktur (Brutto, EBIT, Netto): Treiber und Nachhaltigkeit\n- Free-Cashflow: Qualität, Conversion Rate\n- ROIC: Entwicklung, Vergleich mit Kapitalkosten\n- Kapitalstruktur: Verschuldungsgrad, Fälligkeiten\n\nJede Kennzahl erklären: Ursprung, Bedeutung, Limitation.\nUnterscheide strukturelle von zyklischen Effekten.\nVerwende Bandbreiten wo keine exakten Primärdaten vorliegen.\n\n4. Bewertungseinordnung\n\nMethodisch sauber, ohne Wertung:\n- Aktuelle Multiples (KGV, EV/EBITDA, FCF-Yield) mit Stichtag\n- Historischer Vergleich: aktuell vs. 5-Jahres-Durchschnitt\n- Peer-Vergleich: 2-3 Wettbewerber mit Begründung für Premium/Discount\n- Implizite Markterwartung: Welches Wachstum ist eingepreist?\n- ROIC vs. WACC: Was impliziert das Verhältnis?\n\nFormulierung: \"Der Markt preist derzeit X ein\" statt \"Die Aktie ist Y.\"\n\n5. Szenario-Analyse\n\nDrei qualitative Entwicklungspfade:\n\nPOSITIVES SZENARIO:\n\"Dieses Szenario würde voraussetzen, dass...\" (Bedingungen benennen)\n\nBASSISSZENARIO:\nFortsetzung Status quo. Welche Annahmen sind realistisch?\n\nNEGATIVES SZENARIO:\nWelche Risiken könnten eintreten? Wie resilient ist das Geschäftsmodell?\n\nKeine Kursvorhersagen. Nur: Was müsste passieren?\n\n6. Wachstumstreiber und Risiken\n\nPriorisiert nach Werthebel.\nWechselwirkungen darstellen.\nSymmetrisch: Chancen UND Gegenargumente.\nKausale Analyse statt Schlagwortlisten.\n\n7. Strukturelle Einordnung\n\nOhne Empfehlung:\n- Typisches Halter-Profil (nicht: eignet sich für)\n- Zyklizität und Marktsensitivität\n- Offene Fragen und echte Unsicherheiten\n\n8. Rechtlicher Hinweis\n\n\"Diese Analyse dient ausschließlich Informationszwecken und stellt keine Anlageberatung im Sinne des Wertpapierhandelsgesetzes (WpHG) dar.\"\n\n9. Quellen\n\nNUR Primärquellen mit direktem Unternehmensbezug:\n- Form 10-K, 10-Q (Jahr angeben)\n- Earnings Call Transcripts (Datum)\n- Investor Relations Material\n- SEC Filings\n\nMaximal 5-7 hochwertige Quellen.\nKeine Blogs, Foren, Podcasts, studentische Plattformen.\n\nFORMALE ANFORDERUNGEN\n\n- Zielumfang: 1.600-2.000 Wörter\n- Sprache: Deutsch, sachlich-professionell\n- Keine Empfehlungen, keine Anlegeransprache\n- Alle Zahlen konsistent und auf gleiches Referenzdatum bezogen\n- Bandbreiten statt Scheingenauigkeit\n\nOUTPUT\n\nReiner Text. Keine HTML-Tags, kein Markdown.\nStruktur über nummerierte Überschriften.\nJeder Abschnitt muss nachvollziehbar und belegbar sein.${input.seriesContext}`;\n\nreturn {\n  json: {\n    ...input,\n    systemPrompt,\n    userPrompt\n  }\n};"
      },
      "id": "prompt-builder",
      "name": "3. Prompt Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"temperature\": 0.2,\n  \"max_tokens\": 8000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": {{ JSON.stringify($json.systemPrompt) }}\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.userPrompt) }}\n    }\n  ],\n  \"return_citations\": true,\n  \"search_recency_filter\": \"week\"\n}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "perplexity-api",
      "name": "4. Perplexity API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1060, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $('3. Prompt Builder').item.json;\nconst response = $input.item.json;\n\n// API-Fehler abfangen\nif (response.error) {\n  throw new Error(`Perplexity API Fehler: ${response.error.message || JSON.stringify(response.error)}`);\n}\n\nconst content = response.choices?.[0]?.message?.content || '';\nconst citations = response.citations || [];\nconst usage = response.usage || {};\n\n// Wörter zählen\nconst wordCount = content.split(/\\s+/).filter(w => w.length > 0).length;\n\nreturn {\n  json: {\n    ...input,\n    rawContent: content,\n    citations,\n    tokensUsed: (usage.prompt_tokens || 0) + (usage.completion_tokens || 0),\n    wordCount\n  }\n};"
      },
      "id": "content-extractor",
      "name": "5. Content Extractor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1280, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// COMPLIANCE CHECK v2 - Erweiterte Prüfung\n// =====================================================\n\nconst content = (input.rawContent || '').toLowerCase();\nconst contentOriginal = input.rawContent || '';\nconst citations = input.citations || [];\n\n// ===== 1. VERBOTENE PHRASEN =====\nconst forbiddenPhrases = [\n  'einstieg könnte sinnvoll',\n  'ausstieg könnte erwogen',\n  'einstieg könnte sich lohnen',\n  'kaufen',\n  'verkaufen',\n  'halten',\n  'buy',\n  'sell',\n  'hold',\n  'kursziel',\n  'price target',\n  'fair value',\n  'fairer wert',\n  'unterbewertet',\n  'überbewertet',\n  'fair bewertet',\n  'attraktiv bewertet',\n  'unattraktiv',\n  'sicherheitsmarge',\n  'margin of safety',\n  'rechtfertigt die bewertung',\n  'rechtfertigen die bewertung',\n  'bewertung rechtfertigt',\n  'zu teuer',\n  'zu günstig',\n  'bietet potenzial',\n  'anleger sollten',\n  'game-changer',\n  'paradigmenwechsel',\n  'blinder fleck',\n  'der markt irrt',\n  'konsens liegt falsch'\n];\n\nconst allowedContextPatterns = [\n  /morgan stanley.{0,30}(kursziel|kaufen|halten|verkaufen)/gi,\n  /goldman sachs.{0,30}(kursziel|kaufen|halten|verkaufen)/gi,\n  /jp morgan.{0,30}(kursziel|kaufen|halten|verkaufen)/gi,\n  /analyst.{0,50}(kursziel|stuft|bewertet)/gi\n];\n\nlet phraseViolations = [];\nfor (const phrase of forbiddenPhrases) {\n  if (content.includes(phrase)) {\n    const index = content.indexOf(phrase);\n    const contextWindow = content.substring(Math.max(0, index - 80), Math.min(content.length, index + 80));\n    let isAllowed = allowedContextPatterns.some(p => p.test(contextWindow));\n    if (!isAllowed) phraseViolations.push(phrase);\n  }\n}\nphraseViolations = [...new Set(phraseViolations)];\n\n// ===== 2. QUELLENQUALITÄT PRÜFEN =====\nconst lowQualityDomains = [\n  'studocu', 'wikifolio', 'boerse-social', 'rtl.de', 'bild.de',\n  'focus.de/finanzen', 'reddit', 'facebook', 'twitter', 'x.com',\n  'youtube', 'tiktok', 'instagram', 'podcast', 'community',\n  'forum', 'blog', 'medium.com', 'substack'\n];\n\nconst highQualityDomains = [\n  'sec.gov', 'investor', 'ir.', 'annualreport', '10-k', '10-q',\n  'earnings', 'statista', 'idc.com', 'gartner', 'mckinsey',\n  'bcg.com', 'bain.com', 'reuters', 'bloomberg', 'wsj.com',\n  'ft.com', 'economist'\n];\n\nlet lowQualitySources = [];\nlet highQualitySources = [];\nlet companyRelevantSources = 0;\n\nconst companyName = (input.company || '').toLowerCase();\nconst ticker = (input.ticker || '').toLowerCase();\n\nfor (const url of citations) {\n  const urlLower = url.toLowerCase();\n  \n  // Low Quality Check\n  if (lowQualityDomains.some(d => urlLower.includes(d))) {\n    lowQualitySources.push(url);\n  }\n  \n  // High Quality Check\n  if (highQualityDomains.some(d => urlLower.includes(d))) {\n    highQualitySources.push(url);\n  }\n  \n  // Company Relevance Check\n  if (urlLower.includes(companyName) || urlLower.includes(ticker) || \n      urlLower.includes('sec.gov') || urlLower.includes('investor')) {\n    companyRelevantSources++;\n  }\n}\n\nconst sourceQualityPassed = lowQualitySources.length === 0;\nconst hasHighQualitySources = highQualitySources.length >= 2;\nconst hasRelevantSources = companyRelevantSources >= 2;\n\n// ===== 3. SCHEINGENAUIGKEIT PRÜFEN =====\nconst overPrecisePatterns = [\n  /\\d{1,3},\\d{3}\\s*(dollar|euro|usd|eur)/gi,  // z.B. \"10,847 Dollar\"\n  /\\d+[,.]\\d{2,}x/gi,  // z.B. \"4,37x\" - zu präzise Multiples\n  /fair[- ]?pe\\s+von\\s+\\d+[,.]\\d+/gi,  // \"Fair-PE von 37,5\"\n  /clv\\s+(von\\s+)?\\d{4,}/gi,  // \"CLV von 10000\"\n];\n\nlet precisionWarnings = [];\nfor (const pattern of overPrecisePatterns) {\n  const matches = contentOriginal.match(pattern);\n  if (matches) {\n    precisionWarnings.push(...matches.slice(0, 2));\n  }\n}\nprecisionWarnings = [...new Set(precisionWarnings)];\nconst precisionPassed = precisionWarnings.length === 0;\n\n// ===== 4. GESAMTBEWERTUNG =====\nconst compliancePassed = phraseViolations.length === 0 && \n                         sourceQualityPassed && \n                         precisionPassed;\n\nconst wordCount = input.wordCount || 0;\nconst lengthPassed = wordCount >= 1400;\nconst citationCount = citations.length;\nconst optimalSourceCount = citationCount >= 4 && citationCount <= 8;\n\n// Quality Score (0-10)\nlet qualityScore = 0;\nqualityScore += phraseViolations.length === 0 ? 3 : 0;\nqualityScore += sourceQualityPassed ? 2 : 0;\nqualityScore += hasHighQualitySources ? 1 : 0;\nqualityScore += hasRelevantSources ? 1 : 0;\nqualityScore += precisionPassed ? 1 : 0;\nqualityScore += lengthPassed ? 1 : 0;\nqualityScore += optimalSourceCount ? 1 : 0;\nqualityScore = Math.min(10, qualityScore);\n\n// Quality Comment\nlet issues = [];\nif (phraseViolations.length > 0) issues.push(`Verbotene Phrasen: ${phraseViolations.join(', ')}`);\nif (!sourceQualityPassed) issues.push(`Low-Quality-Quellen: ${lowQualitySources.length}`);\nif (!precisionPassed) issues.push(`Scheingenauigkeit: ${precisionWarnings.join(', ')}`);\nif (!lengthPassed) issues.push(`Zu kurz: ${wordCount} Wörter`);\nif (citationCount > 8) issues.push(`Zu viele Quellen: ${citationCount} (max 8)`);\n\nlet qualityComment = '';\nif (issues.length === 0) {\n  qualityComment = `✅ Analyse compliant. ${wordCount} Wörter, ${citationCount} Quellen (${highQualitySources.length} hochwertig).`;\n} else {\n  qualityComment = `⚠️ ISSUES: ${issues.join(' | ')}`;\n}\n\nreturn {\n  json: {\n    ...input,\n    compliancePassed,\n    complianceViolations: phraseViolations,\n    sourceQuality: {\n      passed: sourceQualityPassed,\n      lowQuality: lowQualitySources,\n      highQuality: highQualitySources,\n      companyRelevant: companyRelevantSources\n    },\n    precisionCheck: {\n      passed: precisionPassed,\n      warnings: precisionWarnings\n    },\n    lengthPassed,\n    hasEnoughSources: citationCount >= 3,\n    qualityScore,\n    qualityComment\n  }\n};"
      },
      "id": "compliance-check",
      "name": "6. Compliance Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// HTML RENDERER - Konvertiert Klartext zu HTML\n// =====================================================\n\nfunction textToHtml(text) {\n  let html = text\n    // HTML-Entities escapen\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    // Nummerierte Überschriften erkennen (1. Titel, 2. Titel etc.)\n    .replace(/^(\\d+)\\.\\s+([^\\n]+)$/gm, '</p><h2>$2</h2><p>')\n    // Absätze bei Doppel-Zeilenumbrüchen\n    .replace(/\\n\\n+/g, '</p><p>')\n    // Einzelne Zeilenumbrüche als Leerzeichen\n    .replace(/\\n/g, ' ');\n  \n  // Wrapper\n  html = '<p>' + html + '</p>';\n  \n  // Cleanup: Leere Paragraphen entfernen\n  html = html.replace(/<p><\\/p>/g, '');\n  html = html.replace(/<p>\\s*<h/g, '<h');\n  html = html.replace(/<\\/h2>\\s*<\\/p>/g, '</h2>');\n  html = html.replace(/<p>\\s*<\\/p>/g, '');\n  html = html.replace(/\\s+/g, ' ');\n  \n  return html.trim();\n}\n\nconst htmlContent = textToHtml(input.rawContent || '');\n\n// Quellen aus Perplexity citations\nlet sourcesHtml = '';\nif (input.citations && input.citations.length > 0) {\n  sourcesHtml = `\n    <aside class=\"sources-section\">\n      <h3>Quellen</h3>\n      <ol class=\"sources-list\">\n        ${input.citations.map((url, i) => {\n          try {\n            const domain = new URL(url).hostname.replace('www.', '');\n            return `<li><a href=\"${url}\" target=\"_blank\" rel=\"noopener noreferrer\">${domain}</a></li>`;\n          } catch {\n            return `<li><a href=\"${url}\" target=\"_blank\" rel=\"noopener noreferrer\">${url}</a></li>`;\n          }\n        }).join('\\n        ')}\n      </ol>\n    </aside>`;\n}\n\nconst dateObj = new Date(input.date);\nconst formattedDate = dateObj.toLocaleDateString('de-DE', {\n  day: '2-digit',\n  month: 'long',\n  year: 'numeric'\n});\n\nconst html = `<!DOCTYPE html>\n<html lang=\"de\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <title>${input.company} (${input.ticker}) – Unternehmensanalyse | capitovo</title>\n  <meta name=\"description\" content=\"${input.company} (${input.ticker}) Unternehmensanalyse: Geschäftsmodell, Fundamentaldaten, Bewertungseinordnung. Equity Research von capitovo.\">\n  <meta name=\"robots\" content=\"noindex, nofollow\">\n  <link rel=\"stylesheet\" href=\"../style.css\">\n  <style>\n    :root {\n      --text-primary: #1a1a1a;\n      --text-secondary: #4a5568;\n      --text-muted: #718096;\n      --border-color: #e2e8f0;\n      --bg-subtle: #f7fafc;\n      --accent: #2563eb;\n    }\n    .analysis-container { max-width: 48rem; margin: 0 auto; padding: 2rem 1.5rem; }\n    .analysis-header { margin-bottom: 2.5rem; padding-bottom: 1.5rem; border-bottom: 1px solid var(--border-color); }\n    .analysis-meta { display: flex; flex-wrap: wrap; gap: 0.75rem; font-size: 0.875rem; color: var(--text-muted); margin-bottom: 1rem; font-family: -apple-system, BlinkMacSystemFont, sans-serif; }\n    .analysis-meta span:not(:last-child)::after { content: '·'; margin-left: 0.75rem; }\n    .analysis-title { font-size: 2rem; font-weight: 700; color: var(--text-primary); line-height: 1.25; margin: 0 0 0.75rem 0; font-family: -apple-system, BlinkMacSystemFont, sans-serif; }\n    .analysis-subtitle { font-size: 1.125rem; color: var(--text-secondary); margin: 0; }\n    .analysis-body { font-family: Georgia, 'Times New Roman', serif; font-size: 1.0625rem; line-height: 1.8; color: var(--text-primary); }\n    .analysis-body h2 { font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-size: 1.25rem; font-weight: 600; color: var(--text-primary); margin: 2.5rem 0 1rem 0; padding-bottom: 0.5rem; border-bottom: 1px solid var(--border-color); }\n    .analysis-body h2:first-of-type { margin-top: 0; }\n    .analysis-body p { margin: 0 0 1.25rem 0; text-align: justify; hyphens: auto; }\n    .sources-section { margin-top: 3rem; padding-top: 1.5rem; border-top: 1px solid var(--border-color); }\n    .sources-section h3 { font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-size: 0.9375rem; font-weight: 600; color: var(--text-secondary); margin: 0 0 1rem 0; }\n    .sources-list { list-style: decimal; padding-left: 1.25rem; margin: 0; font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-size: 0.875rem; }\n    .sources-list li { margin: 0.375rem 0; color: var(--text-muted); }\n    .sources-list a { color: var(--accent); text-decoration: none; word-break: break-all; }\n    .sources-list a:hover { text-decoration: underline; }\n    .disclaimer { margin-top: 2.5rem; padding: 1.25rem; background: var(--bg-subtle); border-radius: 0.5rem; font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-size: 0.8125rem; color: var(--text-muted); line-height: 1.6; }\n    .disclaimer strong { color: var(--text-secondary); }\n    .analysis-footer { margin-top: 1.5rem; font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-size: 0.75rem; color: var(--text-muted); }\n    .back-link { display: inline-flex; align-items: center; gap: 0.25rem; font-family: -apple-system, BlinkMacSystemFont, sans-serif; font-size: 0.875rem; color: var(--accent); text-decoration: none; margin-bottom: 1.5rem; }\n    .back-link:hover { text-decoration: underline; }\n  </style>\n</head>\n<body>\n  <header class=\"site-header\">\n    <div class=\"header-content\">\n      <div class=\"logo\">\n        <a href=\"./abonenten.html\">\n          <img src=\"../assets/capitovo_logo_weiß.png\" alt=\"capitovo Logo\" class=\"header-logo\">\n        </a>\n      </div>\n    </div>\n  </header>\n  \n  <main class=\"analysis-container\">\n    <a href=\"./alle_analysen.html\" class=\"back-link\">← Zurück zur Übersicht</a>\n    \n    <article>\n      <header class=\"analysis-header\">\n        <div class=\"analysis-meta\">\n          <span>${input.sector}</span>\n          <span>${input.ticker}</span>\n          <span>${input.exchange}</span>\n        </div>\n        <h1 class=\"analysis-title\">${input.company} – Unternehmensanalyse</h1>\n        <p class=\"analysis-subtitle\">Geschäftsmodell, Fundamentaldaten und Bewertungseinordnung</p>\n        <div class=\"analysis-meta\" style=\"margin-top: 1rem; margin-bottom: 0;\">\n          <span>capitovo Research</span>\n          <time datetime=\"${input.date}\">${formattedDate}</time>\n        </div>\n      </header>\n      \n      <div class=\"analysis-body\">\n        ${htmlContent}\n      </div>\n      \n      ${sourcesHtml}\n      \n      <div class=\"disclaimer\">\n        <strong>Rechtlicher Hinweis:</strong> Diese Analyse dient ausschließlich Informationszwecken und stellt keine Anlageberatung im Sinne des Wertpapierhandelsgesetzes (WpHG) dar. Die bereitgestellten Informationen sind keine Aufforderung zum Kauf oder Verkauf von Wertpapieren. Anlageentscheidungen sollten auf Basis eigener Recherche und gegebenenfalls professioneller Beratung getroffen werden.\n      </div>\n      \n      <footer class=\"analysis-footer\">\n        Analyse-ID: ${input.ticker.toLowerCase()}-${input.date} · ${input.wordCount} Wörter · ${input.citations?.length || 0} Quellen\n      </footer>\n    </article>\n  </main>\n  \n  <footer style=\"border-top: 1px solid #e2e8f0; padding: 1.5rem; text-align: center; color: #718096; font-size: 0.875rem; font-family: -apple-system, sans-serif;\">\n    © ${new Date().getFullYear()} capitovo – Alle Rechte vorbehalten.\n  </footer>\n  \n  <script src=\"../script.js\"></script>\n</body>\n</html>`;\n\nreturn {\n  json: {\n    ...input,\n    html\n  }\n};"
      },
      "id": "html-renderer",
      "name": "7. HTML Renderer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1720, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\n\n// =====================================================\n// OUTPUT GENERATOR - Alle Ausgabe-Artefakte\n// =====================================================\n\n// SVG Vorschaubild (clean, ohne Empfehlung)\nconst svg = `<svg width=\"640\" height=\"360\" viewBox=\"0 0 640 360\" xmlns=\"http://www.w3.org/2000/svg\">\n  <defs>\n    <linearGradient id=\"bg-gradient\" x1=\"0%\" y1=\"0%\" x2=\"100%\" y2=\"100%\">\n      <stop offset=\"0%\" stop-color=\"#0f172a\"/>\n      <stop offset=\"100%\" stop-color=\"#1e293b\"/>\n    </linearGradient>\n  </defs>\n  <rect width=\"640\" height=\"360\" fill=\"url(#bg-gradient)\" rx=\"16\"/>\n  <g font-family=\"-apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif\">\n    <text x=\"48\" y=\"72\" fill=\"#64748b\" font-size=\"13\" letter-spacing=\"0.1em\" font-weight=\"500\">${input.ticker} · ${input.sector.toUpperCase()}</text>\n    <text x=\"48\" y=\"120\" fill=\"#f1f5f9\" font-size=\"32\" font-weight=\"700\">${input.company}</text>\n    <text x=\"48\" y=\"156\" fill=\"#94a3b8\" font-size=\"16\">Unternehmensanalyse</text>\n    <rect x=\"48\" y=\"180\" width=\"80\" height=\"3\" fill=\"#3b82f6\" rx=\"1.5\"/>\n    <text x=\"48\" y=\"224\" fill=\"#64748b\" font-size=\"14\">Geschäftsmodell · Fundamentaldaten · Bewertung</text>\n    <g transform=\"translate(48, 296)\">\n      <text x=\"0\" y=\"0\" fill=\"#475569\" font-size=\"12\">capitovo Research</text>\n      <text x=\"0\" y=\"20\" fill=\"#64748b\" font-size=\"11\">${input.date}</text>\n    </g>\n  </g>\n</svg>`;\n\n// JSON-Eintrag für analysen.json\nconst jsonEntry = {\n  id: `${input.ticker.toLowerCase()}-${input.date}`,\n  category: input.sector,\n  title: `${input.company} – Unternehmensanalyse`,\n  summary: `Analyse des Geschäftsmodells, der Fundamentaldaten und Bewertungseinordnung von ${input.company} (${input.ticker}).`,\n  link: `Abonenten/${input.slug}.html`,\n  image: `data/vorschaubilder_analysen/${input.slug}.svg`,\n  date: input.date,\n  author: 'capitovo Research',\n  tags: [input.company, input.ticker, input.sector],\n  published: input.compliancePassed, // Nur veröffentlichen wenn compliant\n  wordCount: input.wordCount,\n  sourcesCount: input.citations?.length || 0,\n  qualityScore: input.qualityScore,\n  compliancePassed: input.compliancePassed\n};\n\n// Status-Nachricht\nlet statusEmoji = input.compliancePassed ? '✅' : '⚠️';\nlet statusText = input.compliancePassed \n  ? `Analyse erfolgreich generiert`\n  : `Analyse generiert mit Compliance-Warnung`;\n\nreturn {\n  json: {\n    success: true,\n    status: statusEmoji + ' ' + statusText,\n    company: input.company,\n    ticker: input.ticker,\n    date: input.date,\n    metrics: {\n      wordCount: input.wordCount,\n      sourcesCount: input.citations?.length || 0,\n      qualityScore: input.qualityScore,\n      compliancePassed: input.compliancePassed\n    },\n    complianceViolations: input.complianceViolations || [],\n    qualityComment: input.qualityComment,\n    outputs: {\n      html: input.html,\n      svg: svg,\n      jsonEntry: jsonEntry\n    },\n    filePaths: {\n      html: `Abonenten/${input.slug}.html`,\n      svg: `data/vorschaubilder_analysen/${input.slug}.svg`,\n      json: 'data/analysen.json'\n    },\n    nextSteps: input.compliancePassed \n      ? ['HTML-Datei speichern', 'SVG speichern', 'analysen.json aktualisieren']\n      : ['Analyse manuell überprüfen', 'Verbotene Phrasen entfernen', 'Erneut generieren']\n  }\n};"
      },
      "id": "output-generator",
      "name": "8. Output Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1940, 400]
    },
    {
      "parameters": {},
      "id": "output",
      "name": "Output",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2160, 400]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "1. Input Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Input Data": {
      "main": [
        [
          {
            "node": "2. Input Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Input Validator": {
      "main": [
        [
          {
            "node": "3. Prompt Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Prompt Builder": {
      "main": [
        [
          {
            "node": "4. Perplexity API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Perplexity API": {
      "main": [
        [
          {
            "node": "5. Content Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Content Extractor": {
      "main": [
        [
          {
            "node": "6. Compliance Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Compliance Check": {
      "main": [
        [
          {
            "node": "7. HTML Renderer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. HTML Renderer": {
      "main": [
        [
          {
            "node": "8. Output Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8. Output Generator": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "production"
    },
    {
      "name": "v4-final"
    }
  ]
}
